spec/spec/OmniChannelIss/3.0/svxp_omni_iss_product_3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bpc.ru/SVXP/omnichannels/product"
        xmlns:tns="http://bpc.ru/SVXP/omnichannels/product"
        elementFormDefault="qualified">

    <element name="requestProducts" type="tns:request_products"/>
    <element name="products" type="tns:products"/>


    <complexType name="request_products">
        <sequence>
            <element minOccurs="0" maxOccurs="1" name="inst_id" type="tns:short_id"/>
            <element minOccurs="0" maxOccurs="1" name="lang" type="tns:language"/>
            <element minOccurs="1" maxOccurs="1" name="omni_version" type="string"/>
        </sequence>
    </complexType>

    <complexType name="products">
        <sequence>
            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTPPROD"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="inst_id"   type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="file_id"   type="tns:long_id" minOccurs="1" maxOccurs="1"/>

            <element name="product" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="product">
        <sequence>
            <element name="product_type" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
            <element name="contract_type" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
            <element name="customer_types" type="tns:customer_types" minOccurs="1" maxOccurs="1"/>
            <element name="product_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="product_name" type="tns:product_service_name" minOccurs="0" maxOccurs="1"/>
            <element name="product_status" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>

            <!-- Complex-->
            <element name="product_service" type="tns:product_service" minOccurs="0" maxOccurs="unbounded" />
            <element name="product_accounts" type="tns:product_accounts" minOccurs="0" maxOccurs="unbounded" />
            <element name="product_cards" type="tns:product_cards" minOccurs="0" maxOccurs="unbounded" />
            <element name="product" type="tns:product" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="product_service">
        <sequence>
            <element name="service_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1" />
            <element name="service_type_id" type="tns:medium_id" minOccurs="1" maxOccurs="1"/>
            <element name="service_status" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
            <element name="min_count" type="tns:short_id_zero" minOccurs="1" maxOccurs="1"/>
            <element name="max_count" type="tns:short_id_zero" minOccurs="1" maxOccurs="1"/>
            <element name="service_name" type="tns:product_service_name" minOccurs="0" maxOccurs="999"/>
            <element name="attribute_value" type="tns:attribute_value" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="product_accounts">
        <sequence>
            <element name="account_type" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
            <element name="account_type_name" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="currency" type="tns:currency_code" minOccurs="1" maxOccurs="1"/>
            <element name="service_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="product_cards">
        <sequence>
            <element name="card_type_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="card_type_name" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="service_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="customer_types">
        <sequence>
            <element name="customer_type" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="product_service_name">
        <sequence>
            <element name="name" type="tns:string_200_type" minOccurs="1" maxOccurs="1" />
            <element name="description" type="tns:string_2000_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language" use="required"></attribute>
    </complexType>

    <complexType name="attribute_value">
        <sequence>
            <element name="attribute_name" type="tns:string_200_type" minOccurs="1" maxOccurs="1" />
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1" />
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1" /> 
            <choice minOccurs="0" maxOccurs="1">
                <element name="value_char" type="tns:string_0_200_type"/>
                <element name="value_num" type="decimal"/>
                <element name="value_date" type="date"/>
                <element name="value_cycle" type="tns:value_cycle"/>
                <element name="value_limit" type="tns:value_limit"/>
                <element name="value_fee" type="tns:value_fee"/>
            </choice>
            <element name="modifier_flag" type="tns:bool" minOccurs="0" maxOccurs="1"/>
            <element name="definition_level" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="entity_type" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="object_id" type="tns:long_id" minOccurs="0" maxOccurs="1"/>
            <element name="object_number" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
        </sequence>	
    </complexType>

    <simpleType name="length_type">
        <restriction base="tns:symbol_code_8_type">
            <enumeration value="LNGT0001"><!-- Hour --></enumeration>
            <enumeration value="LNGT0002"><!-- Day --></enumeration>
            <enumeration value="LNGT0003"><!-- Week --></enumeration>
            <enumeration value="LNGT0004"><!-- Month --></enumeration>
            <enumeration value="LNGT0005"><!-- Year --></enumeration>
            <enumeration value="LNGT0006"><!-- Minute --></enumeration>
            <enumeration value="LNGT0007"><!-- Second --></enumeration>
        </restriction>
    </simpleType>

    <complexType name="value_cycle">
        <sequence>
            <element name="cycle_length_type" type="tns:length_type" minOccurs="1" maxOccurs="1" />
            <element name="cycle_length" type="tns:short_id_zero" minOccurs="1" maxOccurs="1"/>
            <element name="cycle_trunc_type" type="tns:length_type" minOccurs="0" maxOccurs="1" />
            <element name="workdays_only" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift" type="tns:shift" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="shift">
        <sequence>
            <element name="shift_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CSHTENDM"><!-- End of month --></enumeration>
                        <enumeration value="CSHTMDAY"><!-- Shift to exact day of month --></enumeration>
                        <enumeration value="CSHTPERD"><!-- Shift by period --></enumeration>
                        <enumeration value="CSHTWDAY"><!-- Shift to exact day of week --></enumeration>
                        <enumeration value="CSHTWRKD"><!-- Shift to certain workday --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_priority" type="tns:short_id_zero" minOccurs="1" maxOccurs="1"/>
            <element name="shift_sign" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="1" /> <!-- Forward -->
                        <enumeration value="-1" /> <!-- Backward -->
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length_type" type="tns:length_type" minOccurs="0" maxOccurs="1" />
            <element name="shift_length" type="tns:short_id_zero" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="value_limit">
        <sequence>
            <element name="limit_sum_value" type="long" minOccurs="0" maxOccurs="1" />
            <element name="limit_count_value" type="nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <element name="limit_check_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="LCHT0001"><!-- Both thresholds are exceeded (sum and count) --></enumeration>
                        <enumeration value="LCHT0002"><!-- One of the thresholds is exceeded (sum or count) --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" type="tns:currency_code" minOccurs="1" maxOccurs="1" />
            <element name="limit_base" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="limit_rate" type="decimal" minOccurs="0" maxOccurs="1" />
            <element name="value_cycle" type="tns:value_cycle" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="value_fee">
        <sequence>
            <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="FEEM0001"><!--  Percentage value --></enumeration>
                        <enumeration value="FEEM0002"><!--  Fixed value --></enumeration>
                        <enumeration value="FEEM0003"><!--  Minimum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0004"><!--  Maximum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0005"><!--  Sum of percent and fixed value --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="fee_base_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="FEEB0001"><!-- Incoming amount --></enumeration>
                        <enumeration value="FEEB0002"><!-- Difference between incoming amount and lower threshold --></enumeration>
                        <enumeration value="FEEB0003"><!-- Lower threshold --></enumeration>
                        <enumeration value="FEEB0004"><!-- Tired basis --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" type="tns:currency_code" minOccurs="1" maxOccurs="1" />
            <element name="tier" type="tns:fee_tier" minOccurs="1" maxOccurs="unbounded" />
            <element name="value_limit" type="tns:value_limit" minOccurs="0" maxOccurs="1" />
            <element name="value_cycle" type="tns:value_cycle" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="fee_tier">
        <sequence>
            <element name="fixed_rate" type="long" minOccurs="0" maxOccurs="1" />
            <element name="percent_rate" type="float" minOccurs="0" maxOccurs="1" />
            <element name="min_value" type="long" minOccurs="0" maxOccurs="1" />
            <element name="max_value" type="long" minOccurs="0" maxOccurs="1" />
            <element name="length_type" type="tns:length_type" minOccurs="0" maxOccurs="1" />
            <element name="sum_threshold" type="long" minOccurs="0" maxOccurs="1" />
            <element name="count_threshold" type="long" minOccurs="0" maxOccurs="1" />
            <element name="length_type_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="NDYR0001"><!-- The actual quantity --></enumeration>
                        <enumeration value="NDYR0002"><!-- 365 days --></enumeration>
                        <enumeration value="NDYR0003"><!-- 360 days --></enumeration>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="string_200_type">
        <restriction base="string">
            <minLength value="1"></minLength>
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="string_0_200_type">
        <restriction base="string">
            <minLength value="0"></minLength>
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="string_2000_type">
        <restriction base="string">
            <minLength value="0"></minLength>
            <maxLength value="2000"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="string">
            <minLength value="5"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="bool">
        <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>

    <simpleType name="short_id_zero">
        <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>

    <simpleType name="medium_id">
        <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="99999999"/>
        </restriction>
    </simpleType>

    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="1" />
            <maxInclusive value="9999999999999999" />
        </restriction>
    </simpleType>

    <simpleType name="unsigned_long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="currency_code">
        <restriction base="string">
            <minLength value="3"></minLength>
            <maxLength value="3"></maxLength>
        </restriction>
    </simpleType>

</schema>
