spec/spec/OmniChannelIss/3.0/svxp_omni_iss_product_3.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://bpc.ru/SVXP/omnichannels"
                  targetNamespace="http://bpc.ru/SVXP/omnichannels"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:prd="http://bpc.ru/SVXP/omnichannels/product"
                  name="omni-channels">
    <wsdl:types>
        <xsd:schema targetNamespace="http://bpc.ru/SVXP/omnichannels">
            <xsd:import namespace="http://bpc.ru/SVXP/omnichannels/product" schemaLocation="svxp_omni_iss_product_3.0.xsd" />

            <xsd:complexType name="fault">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="OmniChannelsException" type="tns:fault" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="requestProducts">
        <wsdl:part element="prd:requestProducts" name="request" />
    </wsdl:message>
    <wsdl:message name="responseProducts">
        <wsdl:part element="prd:products" name="response" />
    </wsdl:message>
    <wsdl:message name="OmniChannelsException">
        <wsdl:part element="tns:OmniChannelsException" name="fault"/>
    </wsdl:message>

    <wsdl:portType name="OmniChannelsWS">
        <wsdl:operation name="products">
            <wsdl:input message="tns:requestProducts" />
            <wsdl:output message="tns:responseProducts" />
            <wsdl:fault message="tns:OmniChannelsException" name="fault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SoapBinding" type="tns:OmniChannelsWS">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="products">
            <soap:operation soapAction="http://bpc.ru/SVXP/omnichannels/product" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OmniChannelsWS">
        <wsdl:port binding="tns:SoapBinding" name="OmniChannelsSOAP">
            <soap:address location="http://localhost:7001/sv/OmniChannelsWS" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
