spec/spec/SVWS/CoreServices/clearingWS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpc.ru/SVXP/clearing/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="clearing" targetNamespace="http://bpc.ru/SVXP/clearing/ws">
  <wsdl:types>
    <xsd:schema xmlns:tns1="http://bpc.ru/SVXP/clearing/" targetNamespace="http://bpc.ru/SVXP/clearing/ws">
      <xsd:import namespace="http://bpc.ru/SVXP/clearing/" schemaLocation="svxp_svfe_clearing.xsd"/>
      <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="operation" type="tns1:operation"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="operation_response" type="tns1:operation_result"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="999" minOccurs="1" name="operations" type="tns1:operation"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="999" minOccurs="1" name="operations_response" type="tns1:operation_result"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Fault" type="tns:fault"/>
      <xsd:complexType name="fault">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="tns:operationRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="tns:operationResponse" name="response"/>
  </wsdl:message>
  <wsdl:message name="operationsRequest">
    <wsdl:part element="tns:operationsRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="operationsResponse">
    <wsdl:part element="tns:operationsResponse" name="response"/>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part element="tns:Fault" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="ClearingWS">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest"/>
      <wsdl:output message="tns:operationResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="operations">
      <wsdl:input message="tns:operationsRequest"/>
      <wsdl:output message="tns:operationsResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapBinding" type="tns:ClearingWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operation">
      <soap:operation soapAction="http://bpc.ru/SVXP/clearing/ws/operation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="operations">
      <soap:operation soapAction="http://bpc.ru/SVXP/clearing/ws/operations"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClearingWS">
    <wsdl:port binding="tns:SoapBinding" name="ClearingWSSOAP">
      <soap:address location="http://localhost:7001/sv/ClearingWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
