spec/spec/SVWS/CoreServices/processesWS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpc.ru/sv/processesWS/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  name="Processes" targetNamespace="http://bpc.ru/sv/processesWS/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://bpc.ru/sv/processesWS/" schemaLocation="processesWS_processesWS.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc.ru/sv/processesWS/">
			<xsd:complexType name="FaultType">
				<xsd:sequence>
					<xsd:element name="text" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ProcessesException" type="tns:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProcessesException">
		<wsdl:part element="tns:ProcessesException" name="fault"/>
	</wsdl:message>
	<wsdl:message name="runProcessRequest">
		<wsdl:part element="tns:runProcessRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="runProcessResponse">
		<wsdl:part element="tns:runProcessResponse" name="response"/>
	</wsdl:message>
	<wsdl:portType name="Processes">
		<wsdl:operation name="runProcess">
			<wsdl:input message="tns:runProcessRequest"/>
			<wsdl:output message="tns:runProcessResponse"/>
			<wsdl:fault message="tns:ProcessesException" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProcessesSOAP" type="tns:Processes">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="runProcess">
			<soap:operation soapAction="http://bpc.ru/sv/processesWS/runProcess"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Processes">
		<wsdl:port binding="tns:ProcessesSOAP" name="ProcessesSOAP">
			<soap:address location="http://localhost:7001/sv/Processes"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>