spec/spec/SVWS/CoreServices/svxp_payment_order.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://bpc.ru/sv/SVXP/pmo/ws"
                  targetNamespace="http://bpc.ru/sv/SVXP/pmo/ws"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:pmo="http://bpc.ru/sv/SVXP/pmo"
                  name="pmo">
	<wsdl:types>
		<xsd:schema targetNamespace="http://bpc.ru/sv/SVXP/pmo/ws">
			<xsd:import namespace="http://bpc.ru/sv/SVXP/pmo" schemaLocation="svxp_payment_order.xsd" />
			<xsd:complexType name="fault">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="pmoException" type="tns:fault" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="exportOrdersRequest">
		<wsdl:part element="pmo:exportOrdersRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="exportOrdersResponse">
		<wsdl:part element="pmo:exportOrdersResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="importOrderResponsesRequest">
		<wsdl:part element="pmo:importOrderResponsesRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="importOrderResponsesResponse">
		<wsdl:part element="pmo:importOrderResponsesResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="pmoException">
		<wsdl:part element="tns:pmoException" name="fault"/>
	</wsdl:message>

	<wsdl:portType name="PmoWS">
		<wsdl:operation name="exportOrders">
			<wsdl:input message="tns:exportOrdersRequest" />
			<wsdl:output message="tns:exportOrdersResponse" />
			<wsdl:fault message="tns:pmoException" name="fault" />
		</wsdl:operation>

		<wsdl:operation name="importOrderResponses">
			<wsdl:input message="tns:importOrderResponsesRequest" />
			<wsdl:output message="tns:importOrderResponsesResponse" />
			<wsdl:fault message="tns:pmoException" name="fault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SoapBinding" type="tns:PmoWS">
		<soap:binding style="document"
		              transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="exportOrders">
			<soap:operation soapAction="http://bpc.ru/sv/SVXP/pmo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="importOrderResponses">
			<soap:operation soapAction="http://bpc.ru/sv/SVXP/pmo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PmoWS">
		<wsdl:port binding="tns:SoapBinding" name="PmoSOAP">
			<soap:address location="http://localhost:7001/sv/PmoWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
