SVWeb/dao/resources/META-INF/assignment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/assignment" xmlns:tns="http://www.example.org/assignment" elementFormDefault="qualified">

    <complexType name="assigntask">
    	<sequence>
    		<element name="Name" type="string"></element>
    		<element name="Status" type="string"></element>
    		<element name="Cycles" type="boolean"></element>
    		<element name="Limits" type="boolean"></element>
    		<element name="Fees" type="boolean"></element>
    	</sequence>
    </complexType>
</schema>