spec/spec/Migration/account_credit_statement/svxp_acc_credit_statement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://sv.bpc.in/SVAP" 
        xmlns:tns="http://sv.bpc.in/SVAP" 
        elementFormDefault="qualified">

    <complexType name="account_credit_statement">
        <sequence>
            <element name="account" type="tns:account" maxOccurs="1"
                minOccurs="1">
            </element>

            <element name="opening_balance" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="closing_balance" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="invoice_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_sum" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="interest_sum" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="available_credit" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="99999999999999999999"></maxInclusive>

                        <minInclusive value="0"></minInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="serial_number" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"></maxInclusive>
                        <minInclusive value="0"></minInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="invoice_type" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="8"></length>
                        <enumeration value="INTPSRVP"></enumeration>
                        <enumeration value="INTPPRCN"></enumeration>
                        <enumeration value="INTPNETW"></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="exceed_limit" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="total_amount_due" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="own_funds" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="min_amount_due" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="grace_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="due_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="penalty_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="aging_period" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_mad_paid" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                        <enumeration value="0"></enumeration>
                        <enumeration value="1"></enumeration>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="is_tad_paid" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                        <enumeration value="0"></enumeration>
                        <enumeration value="1"></enumeration>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="operations" type="tns:operations"
                maxOccurs="1" minOccurs="1">
            </element>
        </sequence>
    </complexType>

    <complexType name="account">
        <sequence>

            <element name="account_number" minOccurs="1"
                maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="3"></length>
                    </restriction>
                </simpleType>
            </element>

            
            <element name="account_type" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="8"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="inst_id" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"></maxInclusive>
                        <minInclusive value="1"></minInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="12"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer" type="tns:customer" maxOccurs="1"
                minOccurs="1">
            </element>

            <element name="contract" type="tns:contract" maxOccurs="1"
                minOccurs="1">
            </element>

        </sequence>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="customer_number" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_category" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="8"></length>
                        <enumeration value="CCTGPRVG"></enumeration>
                        <enumeration value="CCTGORDN"></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="resident" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="0"></enumeration>
                        <enumeration value="1"></enumeration>
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_relation" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="8"></length>
                        <enumeration value="RSCBINSD"></enumeration>
                        <enumeration value="RSCBEXTR"></enumeration>
                        <enumeration value="RSCBEMPL"></enumeration>
                        <enumeration value="RSCBAFLT"></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="nationality" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="3"></length>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="person" type="tns:person" maxOccurs="1" minOccurs="1">
            </element>
            
            <element name="contact" type="tns:contact" maxOccurs="1" minOccurs="1">
            </element>

            <element name="address" type="tns:address" maxOccurs="1" minOccurs="1">
            </element>

        </sequence>
    </complexType>

    <complexType name="person">
        <sequence>
            <element name="person_name" type="tns:person_name" maxOccurs="1" minOccurs="1"></element>
            <element name="identity_card" type="tns:identity_card" maxOccurs="1" minOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="first_name" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="second_name" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="identity_card">
        <sequence>
            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="IDTP0001"><!-- Passport --></enumeration>
                        <enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
                        <enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
                        <enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
                        <enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
                        <enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
                        <enumeration value="IDTP0010"><!-- Taxpayer Identification Number --></enumeration>
                        <enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
                        <enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
                        <enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
                        <enumeration value="IDTP0014"><!-- License --></enumeration>
                        <enumeration value="IDTP0020"><!-- Driver license --></enumeration>
                        <enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
                        <enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="id_series" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
        </sequence>
    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTTPRMC"><!-- Primary contact --></enumeration>
                        <enumeration value="CNTTSCNC"><!-- Secondary contact --></enumeration>
                        <enumeration value="CNTTCEOC"><!-- Chief Executive Officer contact --></enumeration>
                        <enumeration value="CNTTCFOC"><!-- Chief Financial Officer contact --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="LANGENG"><!--English--></enumeration>
                        <enumeration value="LANGRUS"><!--Russian--></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="1">
            </element>

        </sequence>
    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CMNM0001"><!-- Mobile phone --></enumeration>
                        <enumeration value="CMNM0002"><!-- E-mail --></enumeration>
                        <enumeration value="CMNM0003"><!-- Post --></enumeration>
                        <enumeration value="CMNM0004"><!-- Fax --></enumeration>
                        <enumeration value="CMNM0005"><!-- Skype --></enumeration>
                        <enumeration value="CMNM0006"><!-- AOL Aim --></enumeration>
                        <enumeration value="CMNM0007"><!-- Windows Live Messenger --></enumeration>
                        <enumeration value="CMNM0008"><!-- ICQ --></enumeration>
                        <enumeration value="CMNM0009"><!-- Yahoo! Messenger --></enumeration>
                        <enumeration value="CMNM0010"><!-- Jabber --></enumeration>
                        <length value="8"></length>
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
        </sequence>
    
    </complexType>

    <complexType name="address">
        <sequence>

            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ADTPBSNA"><!-- Business address --></enumeration>
                        <enumeration value="ADTPHOME"><!-- Home address --></enumeration>
                        <enumeration value="ADTPLGLA"><!-- Legal address --></enumeration>
                        <enumeration value="ADTPSTDL"><!-- Statement delivery address --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="country" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="1">
            </element>

            <element name="house" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="apartment" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="contract">
        <sequence>

            <element name="contract_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTPPRCR"><!-- Personal cards --></enumeration>
                        <enumeration value="CNTPBANK"><!-- Banking service --></enumeration>
                        <enumeration value="CNTPBNKC"><!-- Banking service of corporate customers --></enumeration>
                        <enumeration value="CNTPSLPR"><!-- Salary project --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1">
            </element>

        </sequence>
    </complexType>

    <complexType name="operations">
        <sequence>
            <element name="operation" type="tns:operation"
                maxOccurs="unbounded" minOccurs="1">
            </element>
        </sequence>
    </complexType>

    <complexType name="operation">
        <sequence>
            <element name="oper_type" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">

                        <minLength value="0"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="oper_description" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="card_mask" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="card_id" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="16"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="posting_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>
            <element name="oper_date" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="10"></length>
                    </restriction>
                </simpleType>
            </element>
            <element name="oper_amount" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="oper_currency" maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="3"></length>
                    </restriction>
                </simpleType>
            </element>
            <element name="credit_oper_amount" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="debit_oper_amount" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="overdraft_amount" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="repayment_amount" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="interest_amount" maxOccurs="1"
                minOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="oper_type_interest" minOccurs="1"
                maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <length value="1"></length>
                        <enumeration value="0"></enumeration>
                        <enumeration value="1"></enumeration>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

<element name="account_credit_statement" type="tns:account_credit_statement"></element>

</schema>