spec/spec/Dictionaries/2.1/svxp_dictionaries_2.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="dictionary"
                  targetNamespace="http://bpc.ru/SVXP/dictionary"
                  xmlns:tns="http://bpc.ru/SVXP/dictionary"
                  xmlns:dict="http://sv.bpc.in/SVXP/dictionary/dictionaries"
                  xmlns:mcc="http://sv.bpc.in/SVXP/dictionary/mcc"
                  xmlns:rates="http://sv.bpc.in/SVXP/dictionary/currencyRate"
                 >
    <wsdl:types>
        <xsd:schema targetNamespace="http://bpc.ru/SVXP/dictionary">
            <xsd:import namespace="http://sv.bpc.in/SVXP/dictionary/dictionaries" schemaLocation="dictionaries.xsd" />
            <xsd:import namespace="http://sv.bpc.in/SVXP/dictionary/mcc" schemaLocation="mcc.xsd" />
            <xsd:import namespace="http://sv.bpc.in/SVXP/dictionary/currencyRate" schemaLocation="currency_rate.xsd" />

            <xsd:complexType name="fault">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DictionaryException" type="tns:fault" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="requestDictionaries">
        <wsdl:part element="dict:requestDictionaries" name="request" />
    </wsdl:message>
    <wsdl:message name="responseDictionaries">
        <wsdl:part element="dict:dictionaries" name="response" />
    </wsdl:message>

    <wsdl:message name="requestMcc">
        <wsdl:part element="mcc:requestMcc" name="request" />
    </wsdl:message>
    <wsdl:message name="responseMcc">
        <wsdl:part element="mcc:mcc" name="response" />
    </wsdl:message>

    <wsdl:message name="requestCurrencyRates">
        <wsdl:part element="rates:request_currency_rates" name="request" />
    </wsdl:message>
    <wsdl:message name="responseCurrencyRates">
        <wsdl:part element="rates:currency_rates" name="response" />
    </wsdl:message>

    <wsdl:message name="DictionaryException">
        <wsdl:part element="tns:DictionaryException" name="fault"/>
    </wsdl:message>

    <wsdl:portType name="DictionaryWS">
        <wsdl:operation name="dictionaries">
            <wsdl:input message="tns:requestDictionaries" />
            <wsdl:output message="tns:responseDictionaries" />
            <wsdl:fault message="tns:DictionaryException" name="fault" />
        </wsdl:operation>

        <wsdl:operation name="mcc">
            <wsdl:input message="tns:requestMcc" />
            <wsdl:output message="tns:responseMcc" />
            <wsdl:fault message="tns:DictionaryException" name="fault" />
        </wsdl:operation>

        <wsdl:operation name="currencyRates">
            <wsdl:input message="tns:requestCurrencyRates" />
            <wsdl:output message="tns:responseCurrencyRates" />
            <wsdl:fault message="tns:DictionaryException" name="fault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SoapBinding" type="tns:DictionaryWS">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="dictionaries">
            <soap:operation soapAction="http://sv.bpc.in/SVXP/dictionary/dictionaries" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="mcc">
            <soap:operation soapAction="http://sv.bpc.in/SVXP/dictionary/mcc" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="currencyRates">
            <soap:operation soapAction="http://sv.bpc.in/SVXP/dictionary/currencyRates" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DictionaryWS">
        <wsdl:port binding="tns:SoapBinding" name="DictionarySOAP">
            <soap:address location="http://localhost:7001/sv/DictionaryWS" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
