spec/spec/SVAP/UserManagementApplications/svap_user_management.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP/acm"
        xmlns:tns="http://sv.bpc.in/SVAP/acm"
        elementFormDefault="qualified">

    <element name="application" type="tns:applicationType"/>

    <complexType name="applicationType">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPUMGT"><!-- User management applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0001"><!-- Application created --></enumeration>
                        <enumeration value="APST0002"><!-- Awaiting confirming --></enumeration>
                        <enumeration value="APST0003"><!-- Need correction --></enumeration>
                        <enumeration value="APST0004"><!-- Awaiting checking --></enumeration>
                        <enumeration value="APST0005"><!-- Awaiting additional data --></enumeration>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                        <enumeration value="APST0007"><!-- Successfuly processed --></enumeration>
                        <enumeration value="APST0008"><!-- Processing failed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="user" type="tns:user" minOccurs="1" maxOccurs="1"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="user">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="user_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="user_name" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="password_hash" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="128"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="user_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="USSTACTV"><!-- Active --></enumeration>
                        <enumeration value="USSTNOAC"><!-- Inactive --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="auth_scheme" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="password_change_needed" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"></element>

            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="user_inst" type="tns:user_inst" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="user_role" type="tns:user_role" minOccurs="0" maxOccurs="unbounded"></element>
            
            <element name="user_group" type="tns:user_group" minOccurs="0" maxOccurs="1"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="person">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="PTTLMRSS"><!-- Mrs. --></enumeration>
                        <enumeration value="PTTLMSTR"><!-- Mr. --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="person_name" type="tns:person_name" minOccurs="0" maxOccurs="2"></element>

            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="PSFXSENR"><!-- Sr. --></enumeration>
                        <enumeration value="PSFXJUNR"><!-- Jr. --></enumeration>
                        <enumeration value="PSFXFRST"><!-- I --></enumeration>
                        <enumeration value="PSFXSCND"><!-- II --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="place_of_birth" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="GNDRFEML"><!-- Female --></enumeration>
                        <enumeration value="GNDRMALE"><!-- Male --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="3"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" type="tns:entity_name" minOccurs="1" maxOccurs="1"/>

            <element name="first_name" type="tns:entity_name" minOccurs="1" maxOccurs="1"/>

            <element name="second_name" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"></minLength>
                    <maxLength value="8"></maxLength>
                    <enumeration value="LANGENG"><!-- English --></enumeration>
                    <enumeration value="LANGRUS"><!-- Russian --></enumeration>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="identity_card">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <pattern value="IDTP[A-F0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_series" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_issuer" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="id_desc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTTPRMC"><!-- Primary contact --></enumeration>
                        <enumeration value="CNTTSCNC"><!-- Secondary contact --></enumeration>
                        <enumeration value="CNTTCEOC"><!-- Chief Executive Officer contact --></enumeration>
                        <enumeration value="CNTTCFOC"><!-- Chief Financial Officer contact --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="LANGENG"><!--English--></enumeration>
                        <enumeration value="LANGRUS"><!--Russian--></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="JTTLDRCT"><!-- Director --></enumeration>
                        <enumeration value="JTTLHDDP"><!-- Head of department --></enumeration>
                        <enumeration value="JTTLMNGR"><!-- Manager --></enumeration>
                        <enumeration value="JTTLOFMN"><!-- Office manager --></enumeration>
                        <enumeration value="JTTLCHFA"><!-- Chief accountant --></enumeration>
                        <enumeration value="JTTLACNT"><!-- Accountant --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMNM0001"><!-- Mobile phone --></enumeration>
                        <enumeration value="CMNM0002"><!-- E-mail --></enumeration>
                        <enumeration value="CMNM0003"><!-- Post --></enumeration>
                        <enumeration value="CMNM0004"><!-- Fax --></enumeration>
                        <enumeration value="CMNM0005"><!-- Skype --></enumeration>
                        <enumeration value="CMNM0006"><!-- AOL Aim --></enumeration>
                        <enumeration value="CMNM0007"><!-- Windows Live Messenger --></enumeration>
                        <enumeration value="CMNM0008"><!-- ICQ --></enumeration>
                        <enumeration value="CMNM0009"><!-- Yahoo! Messenger --></enumeration>
                        <enumeration value="CMNM0010"><!-- Jabber --></enumeration>
                        <enumeration value="CMNM0011"><!-- Telex --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"></element>
            
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="user_inst">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_entierly" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="user_agent" type="tns:user_agent" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="user_agent">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="is_default" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="user_role">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed - add role to a user if it doesn't exist --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove - remove role from a user if it exists --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="role_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="role_name" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    
    <complexType name="user_group">
        <sequence>
            <element name="group_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="user_link_flag" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" type="tns:entity_name" minOccurs="1" maxOccurs="1"/>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" type="tns:entity_name" minOccurs="1" maxOccurs="1"/>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <element name="applications" type="tns:applications"></element>

    <complexType name="applications">
        <sequence minOccurs="1" maxOccurs="unbounded">
            <element ref="tns:application"/>
        </sequence>
    </complexType>

    <simpleType name="entity_name">
        <restriction base="string">
            <minLength value="2"></minLength>
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

</schema>