spec/spec/Migration/product/svxp_product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bpc.ru/SVXP/product"
        xmlns:tns="http://bpc.ru/SVXP/product"
        elementFormDefault="qualified">

    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>
    
    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>
    
    <simpleType name="short_id_zero_include">
        <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>
    
    <simpleType name="command">
        <restriction base="tns:symbol_code_8_type">
            <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
            <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
            <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
            <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
            <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
            <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
            <enumeration value="CMMDIGNR"><!-- Ignore --></enumeration>
            <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="length_type">
        <restriction base="tns:symbol_code_8_type">
            <enumeration value="LNGT0001"><!-- Hour --></enumeration>
            <enumeration value="LNGT0002"><!-- Day --></enumeration>
            <enumeration value="LNGT0003"><!-- Week --></enumeration>
            <enumeration value="LNGT0004"><!-- Month --></enumeration>
            <enumeration value="LNGT0005"><!-- Year --></enumeration>
            <enumeration value="LNGT0006"><!-- Minute --></enumeration>
            <enumeration value="LNGT0007"><!-- Second --></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="string">
            <minLength value="5"></minLength>
            <maxLength value="8"></maxLength>
            <enumeration value="LANGENG"><!-- English --></enumeration>
            <enumeration value="LANGRUS"><!-- Russian --></enumeration>
            <enumeration value="LANGBUL"><!-- Bulgarian --></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="string_label">
        <restriction base="string">
            <minLength value="1"></minLength>
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="currency_code">
        <restriction base="int">
            <maxInclusive value="999"></maxInclusive>
        </restriction>
    </simpleType>

    <complexType name="product_name">
        <sequence>
            <element name="command" type="tns:command" minOccurs="0" maxOccurs="1" />
            <element name="label" type="tns:string_label" minOccurs="1" maxOccurs="1" />
            <element name="description" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="language" type="tns:language" use="required"></attribute>
    </complexType>

    <complexType name="attribute_value">
        <sequence>
            <element name="attribute_name" type="tns:string_label" minOccurs="1" maxOccurs="1" />
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1" />
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1" /> 
            <choice minOccurs="0" maxOccurs="1">
                <element name="value_char">
                    <simpleType>
                        <restriction base="string">
                            <maxLength value="200" />
                        </restriction>
                    </simpleType>
                </element>
                <element name="value_num" type="decimal" />
                <element name="value_date" type="date" />
                <element name="value_cycle" type="tns:value_cycle" />
                <element name="value_limit" type="tns:value_limit" />
                <element name="value_fee" type="tns:value_fee" />
            </choice>
            <element name="mod_id" type="tns:short_id" minOccurs="0" maxOccurs="1"/>
            <element name="definition_level" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="entity_type" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="object_id"  minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1" />
                        <maxInclusive value="9999999999999999" />
                    </restriction>
                </simpleType>
            </element>
            <element name="object_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1" />
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>		
    </complexType>

    <complexType name="value_cycle">
        <sequence>
            <element name="cycle_length_type" type="tns:length_type" minOccurs="1" maxOccurs="1" />
            <element name="cycle_length" type="tns:short_id_zero_include" minOccurs="1" maxOccurs="1"/>
            <element name="cycle_trunc_type" type="tns:length_type" minOccurs="0" maxOccurs="1" />
            <element name="workdays_only" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift" type="tns:shift" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="shift">
        <sequence>
            <element name="shift_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CSHTENDM"><!-- End of month --></enumeration>
                        <enumeration value="CSHTMDAY"><!-- Shift to exact day of month --></enumeration>
                        <enumeration value="CSHTPERD"><!-- Shift by period --></enumeration>
                        <enumeration value="CSHTWDAY"><!-- Shift to exact day of week --></enumeration>
                        <enumeration value="CSHTWRKD"><!-- Shift to certain workday --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_priority" type="tns:short_id_zero_include" minOccurs="1" maxOccurs="1"/>
            <element name="shift_sign" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="1" /> <!-- Forward -->
                        <enumeration value="-1" /> <!-- Backward -->
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length_type" type="tns:length_type" minOccurs="0" maxOccurs="1" />
            <element name="shift_length" type="tns:short_id_zero_include" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="value_limit">
        <sequence>
            <element name="limit_sum_value" type="int" minOccurs="0" maxOccurs="1" />
            <element name="limit_count_value" type="nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <element name="limit_check_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="LCHT0001"><!-- Both thresholds are exceeded (sum and count) --></enumeration>
                        <enumeration value="LCHT0002"><!-- One of the thresholds is exceeded (sum or count) --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" type="tns:currency_code" minOccurs="1" maxOccurs="1" />
            <element name="limit_base" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="limit_rate" type="decimal" minOccurs="0" maxOccurs="1" />
            <element name="value_cycle" type="tns:value_cycle" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="value_fee">
        <sequence>
            <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="FEEM0001"><!--  Percentage value --></enumeration>
                        <enumeration value="FEEM0002"><!--  Fixed value --></enumeration>
                        <enumeration value="FEEM0003"><!--  Minimum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0004"><!--  Maximum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0005"><!--  Sum of percent and fixed value --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="fee_base_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="FEEB0001"><!-- Incoming amount --></enumeration>
                        <enumeration value="FEEB0002"><!-- Difference between incoming amount and lower threshold --></enumeration>
                        <enumeration value="FEEB0003"><!-- Lower threshold --></enumeration>
                        <enumeration value="FEEB0004"><!-- Tired basis --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" type="tns:currency_code" minOccurs="1" maxOccurs="1" />
            <element name="tier" type="tns:fee_tier" minOccurs="1" maxOccurs="unbounded" />
            <element name="value_limit" type="tns:value_limit" minOccurs="0" maxOccurs="1" />
            <element name="value_cycle" type="tns:value_cycle" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="fee_tier">
        <sequence>
            <element name="fixed_rate" type="long" minOccurs="0" maxOccurs="1" />
            <element name="percent_rate" type="float" minOccurs="0" maxOccurs="1" />
            <element name="min_value" type="long" minOccurs="0" maxOccurs="1" />
            <element name="max_value" type="long" minOccurs="0" maxOccurs="1" />
            <element name="length_type" type="tns:length_type" minOccurs="0" maxOccurs="1" />
            <element name="sum_threshold" type="long" minOccurs="0" maxOccurs="1" />
            <element name="count_threshold" type="long" minOccurs="0" maxOccurs="1" />
            <element name="length_type_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="NDYR0001"><!-- The actual quantity --></enumeration>
                        <enumeration value="NDYR0002"><!-- 365 days --></enumeration>
                        <enumeration value="NDYR0003"><!-- 360 days --></enumeration>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="product">
        <sequence>
            <element name="command" type="tns:command" minOccurs="1" maxOccurs="1" />
            <element name="product_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="PRDT0300"><!-- Institutions product --></enumeration>
                        <enumeration value="PRDT0200"><!-- Acquiring product --></enumeration>
                        <enumeration value="PRDT0100"><!-- Issuing product --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="CNTPBANK"><!-- Banking service for individuals --></enumeration>
                        <enumeration value="CNTPBNKC"><!-- Banking service for companies --></enumeration>
                        <enumeration value="CNTPCRCR"><!-- Corporate cards --></enumeration>
                        <enumeration value="CNTPCUSR"><!-- Customer servicing --></enumeration>
                        <enumeration value="CNTPINIC"><!-- Instant issuing cards --></enumeration>
                        <enumeration value="CNTPINSR"><!-- Insurance company --></enumeration>
                        <enumeration value="CNTPMRCB"><!-- Banking acquring --></enumeration>
                        <enumeration value="CNTPMRCM"><!-- Merchant acquring --></enumeration>
                        <enumeration value="CNTPPMAG"><!-- Payment aggregator settlement --></enumeration>
                        <enumeration value="CNTPPMPR"><!-- Payment partner settlement --></enumeration>
                        <enumeration value="CNTPPMTT"><!-- Payment terminals acquiring --></enumeration>
                        <enumeration value="CNTPPRCR"><!-- Payroll cards --></enumeration>
                        <enumeration value="CNTPSLPR"><!-- Payroll plan --></enumeration>
                        <enumeration value="CNTPSRVP"><!-- Service provider settlement --></enumeration>
                        <enumeration value="CNTPTRCO"><!-- Terminal co-owning --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="product_number" type="tns:string_label" minOccurs="1" maxOccurs="1" />
            <element name="product_name" type="tns:product_name" minOccurs="0" maxOccurs="unbounded" />
            <element name="product_status" minOccurs="0" maxOccurs="1" >
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="PRDS0100"><!-- Active --></enumeration>
                        <enumeration value="PRDS0200"><!-- Inactive --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_service" type="tns:product_service" minOccurs="0" maxOccurs="unbounded" />

            <element name="product" type="tns:product" minOccurs="0" maxOccurs="unbounded" />

        </sequence>
    </complexType>

    <complexType name="product_service">
        <sequence>
            <element name="command" type="tns:command" minOccurs="1" maxOccurs="1" />
            <element name="service_number" type="tns:string_label" minOccurs="1" maxOccurs="1" />
            <element name="initial_service_number" type="tns:string_label" minOccurs="0" maxOccurs="1" />
            <element name="min_count" type="tns:short_id_zero_include" minOccurs="0" maxOccurs="1"/>
            <element name="max_count" type="tns:short_id_zero_include" minOccurs="0" maxOccurs="1"/>
            <element name="attribute_value" type="tns:attribute_value" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <element name="products">
        <complexType>
            <sequence>
                <element name="file_type" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
                <element name="inst_id" type="tns:short_id_zero_include" minOccurs="1" maxOccurs="1"/>
                <element name="product" type="tns:product" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

</schema>
