back/ru.bpc.sv.impl.db/Source/Services/PaymentOrders/app_flow.xsd_source.1401.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP"
        xmlns:tns="http://sv.bpc.in/SVAP"
        elementFormDefault="qualified">
    <complexType name="application">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="application_date" type="date" minOccurs="0" maxOccurs="1">
            </element>
            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPPMNO"><!-- Acquiring application --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                        <enumeration value="1401"></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="application_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0001"><!-- Just created --></enumeration>
                        <enumeration value="APST0002"><!-- Awaiting confirmation --></enumeration>
                        <enumeration value="APST0003"><!-- Awaiting correction --></enumeration>
                        <enumeration value="APST0004"><!-- Awaiting checking --></enumeration>
                        <enumeration value="APST0005"><!-- Further information requested --></enumeration>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                        <enumeration value="APST0007"><!-- Processed successfully --></enumeration>
                        <enumeration value="APST0008"><!-- Processing failed --></enumeration>
                        <enumeration value="APST0009"><!-- Synchronize objects --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="operator_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_purpose" type="tns:payment_purpose" minOccurs="1" maxOccurs="1"></element>
            <element name="customer" type="tns:customer" minOccurs="0" maxOccurs="1"></element>
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="payment_purpose">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Create or except --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="object_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>
            <element name="label" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_name">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="payment_purpose_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="operation_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="OPTP0060"></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"></minLength>
                        <maxLength value="4"></maxLength>
                    </restriction>
                </simpleType>
            </element>
             <element name="terminal_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_service" type="tns:payment_service" minOccurs="0" maxOccurs="1"></element>
            <element name="service_provider" type="tns:service_provider" minOccurs="0" maxOccurs="1"></element>
            <element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="999"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="payment_service">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDIGNR"><!-- Ignore --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="object_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>
            <element name="label" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_name">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="short_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="description" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_desc">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="direction" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="1"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="service_provider">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDIGNR"><!-- Ignore --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="object_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>
            <element name="label" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_name">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="short_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="description" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_desc">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="provider_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>            
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="1"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="payment_parameter">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDIGNR"><!-- Ignore --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="object_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_parameter_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="data_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="lov_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>
            <element name="pattern" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_name">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="description" minOccurs="0" maxOccurs="99">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_desc">
                            <attribute name="language" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="1"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!--Create or except--></enumeration>
                        <enumeration value="CMMDCRPR"><!--Create or proceed--></enumeration>
                        <enumeration value="CMMDCRUP"><!--Create or update--></enumeration>
                        <enumeration value="CMMDEXPR"><!--Except or proceed--></enumeration>
                        <enumeration value="CMMDEXRE"><!--Except or remove--></enumeration>
                        <enumeration value="CMMDEXUP"><!--Except or update--></enumeration>
                        <enumeration value="CMMDPRRE"><!--Proceed or remove--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="9" />
                        <minLength value="9" />
                        <pattern value="[0-9]{9}" />
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="resident" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="RSCBAFLT"><!-- Affiliate --></enumeration>
                        <enumeration value="RSCBEMPL"><!-- Employee --></enumeration>
                        <enumeration value="RSCBEXTR"><!-- External --></enumeration>
                        <enumeration value="RSCBINSD"><!-- Insider--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="nationality" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="credit_rating" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="CRDR0001"><!--Category I--></enumeration>
                        <enumeration value="CRDR0002"><!--Category II--></enumeration>
                        <enumeration value="CRDR0003"><!--Category III--></enumeration>
                        <enumeration value="CRDR0004"><!--Category IV--></enumeration>
                        <enumeration value="CRDR0005"><!--Category V--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="MOLR0001"><!--Low--></enumeration>
                        <enumeration value="MOLR0002"><!--High--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="MLRS0001"><!--No reason--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="1"></element>
            <element name="company" type="tns:company" minOccurs="1" maxOccurs="1"></element>
            <element name="contact" type="tns:contact" minOccurs="1" maxOccurs="3"></element>
            <element name="address" type="tns:address" minOccurs="1" maxOccurs="2"></element>
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="company">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="incorp_form" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="INCF0041"><!-- Unitary enterprise, based on operational management --></enumeration>
                        <enumeration value="INCF0042"><!-- Unitary enterprise, based on the right of business --></enumeration>
                        <enumeration value="INCF0047"><!-- Public corporation --></enumeration>
                        <enumeration value="INCF0051"><!-- General partnership --></enumeration>
                        <enumeration value="INCF0064"><!-- Limited partnership --></enumeration>
                        <enumeration value="INCF0065"><!-- Limited liability company --></enumeration>
                        <enumeration value="INCF0066"><!-- Additional liability --></enumeration>
                        <enumeration value="INCF0067"><!-- Closed joint stock company --></enumeration>
                        <enumeration value="INCF0071"><!-- Private institution --></enumeration>
                        <enumeration value="INCF0072"><!-- State-financed organization --></enumeration>
                        <enumeration value="INCF0073"><!-- Autonomous institution --></enumeration>
                        <enumeration value="INCF0076"><!-- Gardening, horticulture or country house non-profit partnership --></enumeration>
                        <enumeration value="INCF0077"><!-- Union of the peasant farm --></enumeration>
                        <enumeration value="INCF0078"><!-- Authorities of public initiative --></enumeration>
                        <enumeration value="INCF0080"><!-- Territorial public self-government --></enumeration>
                        <enumeration value="INCF0082"><!-- State corporation --></enumeration>
                        <enumeration value="INCF0083"><!-- Social and religious organizations (associations) --></enumeration>
                        <enumeration value="INCF0084"><!-- Public movement --></enumeration>
                        <enumeration value="INCF0085"><!-- Consumers' cooperative --></enumeration>
                        <enumeration value="INCF0088"><!-- Fund --></enumeration>
                        <enumeration value="INCF0089"><!-- Other non-profit organizations --></enumeration>
                        <enumeration value="INCF0091"><!-- Individual businessman --></enumeration>
                        <enumeration value="INCF0093"><!-- Association of legal entities (association or union) --></enumeration>
                        <enumeration value="INCF0094"><!-- Homeowners --></enumeration>
                        <enumeration value="INCF0096"><!-- Non-profit partnership --></enumeration>
                        <enumeration value="INCF0097"><!-- Autonomous non-profit organization --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="presence_on_location" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="authorized_capital" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="authorized_capital_currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="company_name" type="tns:company_name" minOccurs="1" maxOccurs="1"></element>
            <element name="identity_card" type="tns:identity_card" minOccurs="1" maxOccurs="3"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="company_name">
        <sequence>
            <element name="company_short_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="company_full_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="person">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!--Create or except--></enumeration>
                        <enumeration value="CMMDCRPR"><!--Create or proceed--></enumeration>
                        <enumeration value="CMMDCRUP"><!--Create or update--></enumeration>
                        <enumeration value="CMMDEXPR"><!--Except or proceed--></enumeration>
                        <enumeration value="CMMDEXRE"><!--Except or remove--></enumeration>
                        <enumeration value="CMMDEXUP"><!--Except or update--></enumeration>
                        <enumeration value="CMMDPRRE"><!--Proceed or remove--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="PTTLMRSS"><!-- Mrs --></enumeration>
                        <enumeration value="PTTLMSTR"><!-- Mr --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="1">
            </element>
            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                        <enumeration value="PSFXSENR"><!--Sr.--></enumeration>
                        <enumeration value="PSFXJUNR"><!--Jr.--></enumeration>
                        <enumeration value="PSFXFRST"><!--I--></enumeration>
                        <enumeration value="PSFXSCND"><!--II--></enumeration>
                        <enumeration value="PSFXTHRD"><!--III--></enumeration>
                        <enumeration value="PSFXFRTH"><!--IV--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="birthday" type="date" minOccurs="0" maxOccurs="1">
            </element>
            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="GNDRFEML"><!--Female--></enumeration>
                        <enumeration value="GNDRMALE"><!--Male--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="1"></element>
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="person_name">
        <sequence>
            <element name="surname" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="first_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="second_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="language" default="LANGENG">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"></minLength>
                    <maxLength value="8"></maxLength>
                    <enumeration value="LANGENG"><!--English--></enumeration>
                    <enumeration value="LANGRUS"><!--Russian--></enumeration>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="identity_card">
        <sequence>
            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="IDTP0001"><!-- Passport --></enumeration>
                        <enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
                        <enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
                        <enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
                        <enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
                        <enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
                        <enumeration value="IDTP0010"><!-- Taxpayer Identification Number --></enumeration>
                        <enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
                        <enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
                        <enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
                        <enumeration value="IDTP0014"><!-- License --></enumeration>
                        <enumeration value="IDTP0020"><!-- Driver license --></enumeration>
                        <enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
                        <enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_series" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_issuer" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1">
            </element>
            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1">
            </element>
            <element name="id_desc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!--Create or except--></enumeration>
                        <enumeration value="CMMDCRPR"><!--Create or proceed--></enumeration>
                        <enumeration value="CMMDCRUP"><!--Create or update--></enumeration>
                        <enumeration value="CMMDEXPR"><!--Except or proceed--></enumeration>
                        <enumeration value="CMMDEXRE"><!--Except or remove--></enumeration>
                        <enumeration value="CMMDEXUP"><!--Except or update--></enumeration>
                        <enumeration value="CMMDPRRE"><!--Proceed or remove--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTTPRMC"><!-- Primary contact --></enumeration>
                        <enumeration value="CNTTSCNC"><!-- Secondary contact --></enumeration>
                        <enumeration value="CNTTCEOC"><!-- Chief Executive Officer contact --></enumeration>
                        <enumeration value="CNTTCFOC"><!-- Chief Financial Officer contact --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="preferred_lang" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="LANGENG"><!--English--></enumeration>
                        <enumeration value="LANGRUS"><!--Russian--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="JTTLDRCT"><!-- Director --></enumeration>
                        <enumeration value="JTTLHDDP"><!-- Head of department --></enumeration>
                        <enumeration value="JTTLMNGR"><!-- Manager --></enumeration>
                        <enumeration value="JTTLOFMN"><!-- Office manager --></enumeration>
                        <enumeration value="JTTLCHFA"><!-- Chief accountant --></enumeration>
                        <enumeration value="JTTLACNT"><!-- Accountant --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"></element>
            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMNM0001"><!-- Mobile phone --></enumeration>
                        <enumeration value="CMNM0002"><!-- E-mail --></enumeration>
                        <enumeration value="CMNM0003"><!-- Post --></enumeration>
                        <enumeration value="CMNM0004"><!-- Fax --></enumeration>
                        <enumeration value="CMNM0005"><!-- Skype --></enumeration>
                        <enumeration value="CMNM0006"><!-- AOL Aim --></enumeration>
                        <enumeration value="CMNM0007"><!-- Windows Live Messenger --></enumeration>
                        <enumeration value="CMNM0008"><!-- ICQ --></enumeration>
                        <enumeration value="CMNM0009"><!-- Yahoo! Messenger --></enumeration>
                        <enumeration value="CMNM0010"><!-- Jabber --></enumeration>
                        <enumeration value="CMNM5001"><!-- ICC ID --></enumeration>
                        <enumeration value="CMNM5002"><!-- User ID --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="address">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!--Create or except--></enumeration>
                        <enumeration value="CMMDCRPR"><!--Create or proceed--></enumeration>
                        <enumeration value="CMMDCRUP"><!--Create or update--></enumeration>
                        <enumeration value="CMMDEXPR"><!--Except or proceed--></enumeration>
                        <enumeration value="CMMDEXRE"><!--Except or remove--></enumeration>
                        <enumeration value="CMMDEXUP"><!--Except or update--></enumeration>
                        <enumeration value="CMMDPRRE"><!--Proceed or remove--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ADTPBSNA"><!-- Business address --></enumeration>
                        <enumeration value="ADTPLGLA"><!-- Legal address --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="country" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="2"></element>
            <element name="house" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="apartment" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="postal_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="language" default="LANGENG">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"></minLength>
                    <maxLength value="8"></maxLength>
                    <enumeration value="LANGENG"><!--English--></enumeration>
                    <enumeration value="LANGRUS"><!--Russian--></enumeration>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!--Create or except--></enumeration>
                        <enumeration value="CMMDCRPR"><!--Create or proceed--></enumeration>
                        <enumeration value="CMMDCRUP"><!--Create or update--></enumeration>
                        <enumeration value="CMMDEXPR"><!--Except or proceed--></enumeration>
                        <enumeration value="CMMDEXRE"><!--Except or remove--></enumeration>
                        <enumeration value="CMMDEXUP"><!--Except or update--></enumeration>
                        <enumeration value="CMMDPRRE"><!--Proceed or remove--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTPSRVP"><!-- Business address --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="product_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="contract_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"></element>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>
            <element name="service" type="tns:service" minOccurs="0" maxOccurs="999"></element>
            <element name="account" type="tns:account" minOccurs="0" maxOccurs="999"></element>
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="service">
        <sequence>
            <element name="service_object" type="tns:service_object" minOccurs="1" maxOccurs="unbounded"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="value">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"></minInclusive>
                    <maxInclusive value="99999999"></maxInclusive>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="service_object">
        <sequence>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"></element>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>
            <element name="attribute_char" type="attribute_char" minOccurs="0" maxOccurs="1"></element>
            <element name="attribute_cycle" type="attribute_cycle" minOccurs="0" maxOccurs="1"></element>
            <element name="attribute_date" type="attribute_date" minOccurs="0" maxOccurs="1"></element>
            <element name="attribute_fee" type="attribute_fee" minOccurs="0" maxOccurs="1"></element>
            <element name="attribute_limit" type="attribute_limit" minOccurs="0" maxOccurs="1"></element>
            <element name="attribute_num" type="attribute_num" minOccurs="0" maxOccurs="1"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="long">
                    <minInclusive value="1"></minInclusive>
                    <maxInclusive value="9999999999999999"></maxInclusive>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!--Create or except--></enumeration>
                        <enumeration value="CMMDCRPR"><!--Create or proceed--></enumeration>
                        <enumeration value="CMMDCRUP"><!--Create or update--></enumeration>
                        <enumeration value="CMMDEXPR"><!--Except or proceed--></enumeration>
                        <enumeration value="CMMDEXRE"><!--Except or remove--></enumeration>
                        <enumeration value="CMMDEXUP"><!--Except or update--></enumeration>
                        <enumeration value="CMMDPRRE"><!--Proceed or remove--></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="account_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_order" type="tns:payment_order" minOccurs="0" maxOccurs="unbounded"></element>
            <element name="account_object" type="tns:account_object" minOccurs="0" maxOccurs="1"></element>
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="payment_order">
        <sequence>
            <element name="payment_purpose_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_amount" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_amount_algo" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_date" type="date" minOccurs="0" maxOccurs="1"></element>
            <element name="is_payment_order_template" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>
            <element name="event_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="account_object">
        <sequence>
            <element name="account_link_flag" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="ref_id" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="2"></minLength>
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <minLength value="2"></minLength>
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="attribute_char">
        <sequence>
            <element name="attribute_value_char" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="attribute_num">
        <sequence>
            <element name="attribute_value_num" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minLength value="1"/>
                        <maxLength value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="attribute_date">
        <sequence>
            <element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="attribute_limit">
        <sequence>
            <element name="limit_count_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="limit_sum_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"></minInclusive>
                        <maxInclusive value="9999999999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="limit_check_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="start_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
            <element name="end_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="2"></minLength>
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <minLength value="2"></minLength>
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="attribute_fee">
        <sequence>
            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
             <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                     <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="start_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
            <element name="end_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        
    </complexType>
    <complexType name="attribute_cycle">
        <sequence>
            <element name="cycle_start_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
             <element name="cycle_length" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="cycle_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                     <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="start_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
            <element name="end_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>
            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        
    </complexType>
    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

    </complexType>
    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>
    <complexType name="error">
        <sequence>
        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <element name="application" type="tns:application"></element>
    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>
    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"></maxLength>
        </restriction>
    </simpleType>
</schema>