spec/spec/SVWS/InstantIssue/wsdl/instantissueWS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpc.ru/sv/instantissueWS/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  name="InstantIssue" targetNamespace="http://bpc.ru/sv/instantissueWS/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://bpc.ru/sv/instantissueWS/" schemaLocation="instantissueWS.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://bpc.ru/sv/instantissueWS/">
			<xsd:complexType name="FaultType">
				<xsd:sequence>
					<xsd:element name="text" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="InstantIssueException" type="tns:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InstantIssueException">
		<wsdl:part element="tns:InstantIssueException" name="fault"/>
	</wsdl:message>
	<wsdl:message name="getCardInfoRequest">
		<wsdl:part element="tns:getCardInfoRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="getCardInfoResponse">
		<wsdl:part element="tns:getCardInfoResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="processIBGDataRequest">
		<wsdl:part element="tns:processIBGDataRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="processIBGDataResponse">
		<wsdl:part element="tns:processIBGDataResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="unloadCardDataRequest">
		<wsdl:part element="tns:unloadCardDataRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="unloadCardDataResponse">
		<wsdl:part element="tns:unloadCardDataResponse" name="response"/>
	</wsdl:message>
	<wsdl:portType name="InstantIssue">
		<wsdl:operation name="getCardInfo">
			<wsdl:input message="tns:getCardInfoRequest"/>
			<wsdl:output message="tns:getCardInfoResponse"/>
			<wsdl:fault message="tns:InstantIssueException" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="processIBGData">
			<wsdl:input message="tns:processIBGDataRequest"/>
			<wsdl:output message="tns:processIBGDataResponse"/>
			<wsdl:fault message="tns:InstantIssueException" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="unloadCardData">
			<wsdl:input message="tns:unloadCardDataRequest"/>
			<wsdl:output message="tns:unloadCardDataResponse"/>
			<wsdl:fault message="tns:InstantIssueException" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InstantIssueSOAP" type="tns:InstantIssue">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCardInfo">
			<soap:operation soapAction="http://bpc.ru/sv/instantissueWS/getCardInfo"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="processIBGData">
			<soap:operation soapAction="http://bpc.ru/sv/instantissueWS/processIBGData"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unloadCardData">
			<soap:operation soapAction="http://bpc.ru/sv/instantissueWS/unloadCardData"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InstantIssue">
		<wsdl:port binding="tns:InstantIssueSOAP" name="InstantIssueSOAP">
			<soap:address location="http://localhost:7001/sv/InstantIssue"/>
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" wsu:Id="InstantIssue_policy">
		<sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:WssUsernameToken11/>
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>
</wsdl:definitions>