spec/spec/SVWS/InstantIssue/wsdl/svxp_card_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bpc.ru/sv/SVXP/card_info"
        xmlns:tns="http://bpc.ru/sv/SVXP/card_info"
        elementFormDefault="qualified">
 
   <simpleType name="symbol_code_type">
       <restriction base="string">
           <minLength value="5"/>
           <maxLength value="8"/>
       </restriction>
   </simpleType>
    
    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="symbol_code_3_type">
        <restriction base="string">
            <length value="3"/>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="tns:symbol_code_type">
            <enumeration value="LANGENG"><!-- English --></enumeration>
            <enumeration value="LANGRUS"><!-- Russian --></enumeration>
            <enumeration value="LANGBUL"><!-- Bulgarian --></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="short_id_zero_include">
        <restriction base="int">
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="size_8_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="99999999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="medium_id">
        <restriction base="long">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="999999999999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="card_number">
        <restriction base="string">
            <maxLength value="24"></maxLength>
        </restriction>
    </simpleType>
    <simpleType name="service_code">
        <restriction base="string">
            <minLength value="3"></minLength>
            <maxLength value="3"></maxLength>
        </restriction>
    </simpleType>

    
    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="geo_coordinates_type">
        <restriction base="float">
            <minInclusive value="-999.9999999"/>
            <maxInclusive value="999.9999999"/>
        </restriction>
    </simpleType>
    
    <simpleType name="number_boolean_type">
        <restriction base="int">
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>
    
    <simpleType name="hexadecimal_type">
        <restriction base="string">
            <pattern value="[0-9A-F]+" />
        </restriction>
    </simpleType>
    
    <simpleType name="hexadecimal_0_16_type">
        <restriction base="tns:hexadecimal_type">
            <maxLength value="16"/>
        </restriction>
    </simpleType>
    
    <simpleType name="gender_type">
        <restriction base="tns:symbol_code_type">
            <enumeration value="GNDRFEML"><!-- Female --></enumeration>
            <enumeration value="GNDRMALE"><!-- Male --></enumeration>
        </restriction>
    </simpleType>

    <complexType name="identity_card">
        <sequence>            
            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="IDTP0001"><!-- Passport --></enumeration>
                        <enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
                        <enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
                        <enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
                        <enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
                        <enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
                        <enumeration value="IDTP0010"><!-- Taxpayer Identification Number --></enumeration>
                        <enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
                        <enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
                        <enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
                        <enumeration value="IDTP0014"><!-- License --></enumeration>
                        <enumeration value="IDTP0020"><!-- Driver license --></enumeration>
                        <enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
                        <enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0045"><!-- National ID --></enumeration>
                    </restriction>
                </simpleType>
            </element>            
            <element name="id_series" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>            
            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>            
            <element name="id_issuer" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>            
            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>            
            <element name="id_desc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>            
        </sequence>
    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="first_name" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="second_name" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language" use="required"/>
    </complexType>
    <complexType name="person">
        <sequence>
            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="PTTLDCTR"><!-- Dr --></enumeration>
                        <enumeration value="PTTLLADY"><!-- Lady --></enumeration>
                        <enumeration value="PTTLMRSS"><!-- Mrs --></enumeration>
                        <enumeration value="PTTLMSTR"><!-- Mr --></enumeration>
                        <enumeration value="PTTLSIR"><!-- Sir --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="1"/>
            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="PSFXESQR"><!-- Esqr. --></enumeration>
                        <enumeration value="PSFXFRST"><!-- I --></enumeration>
                        <enumeration value="PSFXFRTH"><!-- IV --></enumeration>
                        <enumeration value="PSFXJUNR"><!-- Jr. --></enumeration>
                        <enumeration value="PSFXSCND"><!-- II --></enumeration>
                        <enumeration value="PSFXSENR"><!-- Sr. --></enumeration>
                        <enumeration value="PSFXTHRD"><!-- III --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="place_of_birth" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="gender" type="tns:gender_type" minOccurs="0" maxOccurs="1"/>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="cardholder">
        <sequence>
            <element name="cardholder_number"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="cardholder_name"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>
            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="customer_number" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>            
            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="CCTGORDN"><!-- Ordinary customer --></enumeration>
                        <enumeration value="CCTGPRVG"><!-- Privileged customer --></enumeration>
                    </restriction>
                </simpleType>
            </element>            
            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="RSCBAFLT"><!-- Affiliate --></enumeration>
                        <enumeration value="RSCBEMPL"><!-- Employee --></enumeration>
                        <enumeration value="RSCBEXTR"><!-- External --></enumeration>
                        <enumeration value="RSCBINSD"><!-- Insider --></enumeration>
                    </restriction>
                </simpleType>
            </element>            
            <element name="resident" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="nationality" type="tns:symbol_code_3_type" minOccurs="0" maxOccurs="1"/>            
            <element name="credit_rating" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="CRDR0001"><!-- Category I --></enumeration>
                        <enumeration value="CRDR0002"><!-- Category II --></enumeration>
                        <enumeration value="CRDR0003"><!-- Category III --></enumeration>
                        <enumeration value="CRDR0004"><!-- Category IV --></enumeration>
                        <enumeration value="CRDR0005"><!-- Category V --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="MOLR0001"><!-- Low --></enumeration>
                        <enumeration value="MOLR0002"><!-- High --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="MLRS0001"><!-- No reasons --></enumeration>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="account">
        <sequence>
            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                   </restriction>
                </simpleType>
            </element>
            <element name="currency" type="tns:symbol_code_3_type" minOccurs="0" maxOccurs="1"/>
            <element name="account_type" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="ACSTACTV"><!-- Active --></enumeration>
                        <enumeration value="ACSTCLSD"><!-- Closed --></enumeration>
                        <enumeration value="ACSTCRED"><!-- Credit only --></enumeration>
                        <enumeration value="ACSTPEND"><!-- Pending --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="is_pos_default" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="is_atm_default" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="address">
        <sequence>
            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="ADTPBSNA"><!-- Business address --></enumeration>
                        <enumeration value="ADTPHOME"><!-- Home address --></enumeration>
                        <enumeration value="ADTPLGLA"><!-- Legal address --></enumeration>
                        <enumeration value="ADTPSTDL"><!-- Statement delivery address --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="country" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="1"/>
            <element name="house" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="apartment" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="postal_code" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="place_code"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="region_code" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="latitude" type="tns:geo_coordinates_type" minOccurs="0" maxOccurs="1"/>
            <element name="longitude" type="tns:geo_coordinates_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="id"  type="tns:string_200_type"/>
    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="city" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="street" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:symbol_code_type" use="required"/>
    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="contact_type" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
            <element name="commun_method" type="tns:symbol_code_8_type" minOccurs="1" maxOccurs="1"/>
            <element name="commun_address"  type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>


    <complexType name="limits">
        <sequence>
            <element name="limit" type="tns:limit" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="limit">
        <sequence>
            <element name="limit_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="sum_limit" type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="count_limit" type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="sum_current" type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="next_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="length_type" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="cycle_length" type="tns:size_8_id" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="notification">
        <sequence>
            <element name="service_id" type="tns:size_8_id" minOccurs="1" maxOccurs="1"/>
            <element name="notification_event" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="delivery_channel" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="delivery_address" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="is_active" type="tns:number_boolean_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
		
    <complexType name="card_info">
        <sequence>
            <element name="card_number" type="tns:card_number" minOccurs="0" maxOccurs="1"/>
            <element name="card_mask" type="tns:card_number" minOccurs="0" maxOccurs="1"/>
            <element name="card_id" type="tns:medium_id" minOccurs="0" maxOccurs="1"/>
            <element name="card_iss_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="card_start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="expiration_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="sequential_number"  type="tns:short_id_zero_include" minOccurs="0" maxOccurs="1"/>
            <element name="card_status" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="card_state" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="pvv" type="tns:hexadecimal_0_16_type" minOccurs="0" maxOccurs="1"/>
            <element name="pin_offset" type="tns:hexadecimal_0_16_type" minOccurs="0" maxOccurs="1"/>
            <element name="pin_block" type="tns:hexadecimal_0_16_type" minOccurs="0" maxOccurs="1"/>
            <element name="pin_update_flag" type="boolean" minOccurs="0" maxOccurs="1" />
            <element name="card_type_id" type="tns:short_id_zero_include" minOccurs="0" maxOccurs="1"/>
            <element name="prev_card_number" type="tns:card_number" minOccurs="0" maxOccurs="1"/>
            <element name="agent_number"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="agent_name"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>  
            <element name="delivery_agent_number"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="delivery_agent_name"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>  
            <element name="product_number"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="product_name"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>      
            <element name="customer" type="tns:customer" minOccurs="0" maxOccurs="1"/>
            <element name="cardholder" type="tns:cardholder" minOccurs="0" maxOccurs="1"/>
            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
            <element name="limits" type="tns:limits" minOccurs="0" maxOccurs="1"/>
            <element name="notification" type="tns:notification" minOccurs="0" maxOccurs="1"/>
            <element name="service_code" type="tns:service_code" minOccurs="0" maxOccurs="1"/>
            <element name="process_id"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>                  
        </sequence>
    </complexType>

    <element name="cards_info">
        <complexType>
            <sequence>
                <element name="file_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
                <element name="inst_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
                <element name="tokenized_pan" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
                <element name="card_info" type="tns:card_info" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
     </element>
    
</schema>