spec/spec/Migration/customer/svxp_customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/sv/SVXP/customer"
        xmlns:tns="http://sv.bpc.in/sv/SVXP/customer"
        elementFormDefault="qualified">

    <element name="customers" type="tns:customers"/>
		
	<simpleType name="dict_code_type">
        <restriction base="string">
            <minLength value="5"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_3_200_type">
        <restriction base="string">
            <minLength value="3"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="tns:dict_code_type">
            <enumeration value="LANGENG"><!-- English --></enumeration>
            <enumeration value="LANGRUS"><!-- Russian --></enumeration>
        </restriction>
    </simpleType>

    <complexType name="customers">
        <sequence>

            <element name="file_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_type" type="tns:dict_code_type" minOccurs="1" maxOccurs="1"/>

            <element name="file_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="customer" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>
    </complexType>

    <complexType name="customer">
        <sequence>

            <element name="customer_number" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>

            <element name="customer_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="ENTTUNDF"/><!-- Unidentified -->
                        <enumeration value="ENTTPERS"/><!-- Person -->
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_category" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="CCTGORDN"/><!-- Ordinary customer -->
                        <enumeration value="CCTGPRVG"/><!-- Privileged customer -->
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="RSCBAFLT"/><!-- Affiliate -->
                        <enumeration value="RSCBEMPL"/><!-- Employee -->
                        <enumeration value="RSCBEXTR"/><!-- External -->
                        <enumeration value="RSCBINSD"/><!-- Insider -->
                    </restriction>
                </simpleType>
            </element>

            <element name="resident" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="0"/>
						<enumeration value="1"/>
                    </restriction>
                </simpleType>
			</element>

            <element name="nationality" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

            <element name="credit_rating" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="CRDR0001"/><!-- Category I -->
                        <enumeration value="CRDR0002"/><!-- Category II -->
                        <enumeration value="CRDR0003"/><!-- Category III -->
                        <enumeration value="CRDR0004"/><!-- Category IV -->
                        <enumeration value="CRDR0005"/><!-- Category V -->
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="MOLR0001"/><!-- Low -->
                        <enumeration value="MOLR0002"/><!-- High -->
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                         <enumeration value="MLRS0001"/><!-- No reasons -->
                    </restriction>
                </simpleType>
            </element>

			<element name="customer_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type"/>
                </simpleType>
			</element>

            <element name="reg_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="close_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="contract" type="tns:contract" minOccurs="0" maxOccurs="unbounded"/>

            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>

            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>

            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>

			<element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>
    </complexType>

     <complexType name="contract">
        <sequence>

            <element name="contract_number" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

		</sequence>
    </complexType>

    <complexType name="person">
        <sequence>

            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="PTTLMRSS"/><!-- Mrs -->
                        <enumeration value="PTTLMSTR"/><!-- Mr -->
                    </restriction>
                </simpleType>
            </element>

            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="2"/>

            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="PSFXSENR"/><!-- Sr. -->
                        <enumeration value="PSFXJUNR"/><!-- Jr. -->
                        <enumeration value="PSFXFRST"/><!-- I -->
                        <enumeration value="PSFXSCND"/><!-- II -->
                    </restriction>
                </simpleType>
            </element>

            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="place_of_birth" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>

            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="GNDRFEML"/><!-- Female -->
                        <enumeration value="GNDRMALE"/><!-- Male -->
                    </restriction>
                </simpleType>
            </element>

            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="3"/>

		</sequence>
    </complexType>

    <complexType name="person_name">
        <sequence>

			<element name="language" type="tns:language" minOccurs="1" maxOccurs="1"/>

			<element name="surname" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>

            <element name="first_name" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>

            <element name="second_name" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>

		</sequence>
    </complexType>

    <complexType name="identity_card">
        <sequence>

			<element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="IDTP0001"/><!-- Passport -->
                        <enumeration value="IDTP0002"/><!-- Foreign passport -->
                        <enumeration value="IDTP0003"/><!-- Military certificate -->
                        <enumeration value="IDTP0004"/><!-- Sailor certificate -->
                        <enumeration value="IDTP0005"/><!-- Army officer certificate -->
                        <enumeration value="IDTP0006"/><!-- Citizen temporary certificate -->
                        <enumeration value="IDTP0010"/><!-- Taxpayer Identification Number -->
                        <enumeration value="IDTP0011"/><!-- Main state registration number -->
                        <enumeration value="IDTP0012"/><!-- Bank Identification Code -->
                        <enumeration value="IDTP0013"/><!-- Foreign Organization Code -->
                        <enumeration value="IDTP0014"/><!-- License -->
                        <enumeration value="IDTP0020"/><!-- Driver license -->
                        <enumeration value="IDTP0030"/><!-- Social insurance -->
                        <enumeration value="IDTP0040"/><!-- Passport (Foreign citizen) -->
                        <enumeration value="IDTP0041"/><!-- Migratory card (Foreign citizen) -->
                        <enumeration value="IDTP0042"/><!-- Permanent resident card (Foreign citizen) -->
                        <enumeration value="IDTP0043"/><!-- Temporary residence permit (Foreign citizen) -->
                        <enumeration value="IDTP0044"/><!-- Visa (Foreign citizen) -->
                        <enumeration value="IDTP0045"/><!-- National ID -->
                    </restriction>
                </simpleType>
            </element>

            <element name="id_series" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>

            <element name="id_number" type="tns:string_3_200_type" minOccurs="1" maxOccurs="1"/>

            <element name="id_issuer" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>

            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="id_desc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

		</sequence>
    </complexType>

    <complexType name="contact">
        <sequence>

            <element name="contact_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="CNTTPRMC"/><!-- Primary contact -->
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" type="tns:language" minOccurs="0" maxOccurs="1"/>

            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="JTTLDRCT"/><!-- Director -->
                        <enumeration value="JTTLHDDP"/><!-- Head of department -->
                        <enumeration value="JTTLMNGR"/><!-- Manager -->
                        <enumeration value="JTTLOFMN"/><!-- Office manager -->
                        <enumeration value="JTTLCHFA"/><!-- Chief accountant -->
                        <enumeration value="JTTLACNT"/><!-- Accountant -->
                    </restriction>
                </simpleType>
            </element>

            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>

            <element name="contact_data" type="tns:contact_data" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>
    </complexType>

    <complexType name="contact_data">
        <sequence>

            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="CMNM0001"/><!-- Mobile phone -->
                        <enumeration value="CMNM0002"/><!-- E-mail -->
                        <enumeration value="CMNM0003"/><!-- Post -->
                        <enumeration value="CMNM0004"/><!-- Fax -->
                        <enumeration value="CMNM0005"/><!-- Skype -->
                        <enumeration value="CMNM0006"/><!-- AOL Aim -->
                        <enumeration value="CMNM0007"/><!-- Windows Live Messenger -->
                        <enumeration value="CMNM0008"/><!-- ICQ -->
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" type="tns:string_3_200_type" minOccurs="1" maxOccurs="1"/>

		</sequence>
    </complexType>

    <complexType name="address">
        <sequence>

            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:dict_code_type">
                        <enumeration value="ADTPBSNA"/><!-- Business address -->
                        <enumeration value="ADTPHOME"/><!-- Home address -->
                        <enumeration value="ADTPLGLA"/><!-- Legal address -->
                    </restriction>
                </simpleType>
            </element>

            <element name="country" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="2"/>

            <element name="house" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>

            <element name="apartment" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>

            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="latitude" type="double" minOccurs="0" maxOccurs="1"/>

            <element name="longitude" type="double" minOccurs="0" maxOccurs="1"/>

		</sequence>
    </complexType>

    <complexType name="address_name">
        <sequence>

			<element name="language" type="tns:language" minOccurs="1" maxOccurs="1"/>

            <element name="region" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>

            <element name="city" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>

            <element name="street" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>

		</sequence>
    </complexType>

    <complexType name="flexible_field">
        <sequence>

            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

		</sequence>
	</complexType>

</schema>
