back/ru.bpc.sv.impl.db/Source/CoreModules/Accounting/prc_file.xsd_source.1321.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP"
        xmlns:tns="http://sv.bpc.in/SVXP"
        elementFormDefault="qualified">

    <complexType name="turnover">
        <sequence>
            <element name="incoming_balance" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="debits_amount" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="debits_count" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="credits_amount" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="credits_count" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="outgoing_balance" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="balance">
        <sequence>
            <element name="balance_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="turnover" type="tns:turnover" minOccurs="1" maxOccurs="1">
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="account">
        <sequence>
            <element name="account_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string"><!-- 3 digit ISO currency code -->
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ACSTACTV"><!-- Active --></enumeration>
                        <enumeration value="ACSTCLSD"><!-- Closed --></enumeration>
                        <enumeration value="ACSTPEND"><!-- Pending --></enumeration>
                        <enumeration value="ACSTCRED"><!-- Credits only --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="aval_balance" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="balance" type="tns:balance" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="limits" type="tns:limits" minOccurs="0" maxOccurs="1"></element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="limits">
        <sequence>
            <element name="limit" type="tns:limit" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="limit">
        <sequence>
            <element name="limit_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_usage" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <pattern value="LIMU[A-Z0-9]{1,4}"/> <!-- Limit usage -->
                    </restriction>
                </simpleType>
            </element>
			
            <element name="sum_limit" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="count_limit" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="sum_current" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="next_date" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="date"></restriction>
                </simpleType>
            </element>

            <element name="length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <element name="accounts" type="tns:accounts"></element>

    <complexType name="accounts">
        <sequence>
            <element name="file_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTPTRAC"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="date_purpose" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="DTPR0001"/>
                        <enumeration value="DTPR0006"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="inst_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1000"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"></maxLength>
        </restriction>
    </simpleType>
</schema>
