spec/spec/SVWS/cash_management/svcm.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://sv.bpc.in/SVXP/integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="svcm"
	targetNamespace="http://sv.bpc.in/SVXP/integration">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://sv.bpc.in/SVXP/integration"
			xmlns:tns1="http://sv.bpc.in/SVXP">
  			<xsd:import namespace="http://sv.bpc.in/SVXP"
				schemaLocation="svxp_atm_downtime.xsd" />	
			<xsd:import namespace="http://sv.bpc.in/SVXP"
				schemaLocation="svxp_atm_list.xsd" />
  			<xsd:import namespace="http://sv.bpc.in/SVXP"
				schemaLocation="svxp_atm_trans.xsd" />
  			<xsd:import namespace="http://sv.bpc.in/SVXP"
				schemaLocation="svxp_currency_rate.xsd" />
  			<xsd:import namespace="http://sv.bpc.in/SVXP"
				schemaLocation="svxp_inst_list.xsd" />	
			
			<xsd:element name="getAtmDowntimeRequest" type="tns:atmDowntimeRequest"/>
			<xsd:element name="getAtmDowntimeResponse" type="tns1:downtimes"/>
			
			<xsd:element name="getAtmListResponse" type="tns1:atms"/>
			
			<xsd:element name="getAtmTransRequest" type="tns:atmTransRequest" />
			<xsd:element name="getAtmTransResponse" type="tns1:transactions" />
			
			<xsd:element name="getCurrencyRateRequest" type="tns:currencyRateRequest" />
			<xsd:element name="getCurrencyRateResponse" type="tns1:currency_rates"/>
			
			<xsd:element name="getInstListRequest" type="tns:instListReques"/>
			<xsd:element name="getInstListResponse" type="tns1:insts"/>
			
			<xsd:complexType name="atmTransRequest">
				<xsd:sequence>
					<xsd:element name="last_oper_id" minOccurs="1"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1" />
								<xsd:maxLength value="20" />
								<xsd:pattern value="([0-9])*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="fetch_size" minOccurs="0"
						maxOccurs="1" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="atmDowntimeRequest">
				<xsd:sequence>
					<xsd:element name="last_loaded_date" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="currencyRateRequest">
				<xsd:sequence>
					<xsd:element name="inst_id" minOccurs="1" maxOccurs="unbounded">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:minInclusive value="1000" />
								<xsd:maxInclusive value="9000" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="instListReques">
				<xsd:sequence>
					<xsd:element name="lang" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getAtmDowntimeRequest">
		<wsdl:part name="input" element="tns:getAtmDowntimeRequest" />
	</wsdl:message>
	<wsdl:message name="getAtmDowntimeResponse">
		<wsdl:part name="output" element="tns:getAtmDowntimeResponse" />
	</wsdl:message>

	<wsdl:message name="getAtmListRequest" />
	<wsdl:message name="getAtmListResponse">
		<wsdl:part name="output" element="tns:getAtmListResponse" />
	</wsdl:message>
	
	<wsdl:message name="getAtmTransRequest" >
		<wsdl:part name="input" element="tns:getAtmTransRequest" />
	</wsdl:message>
	<wsdl:message name="getAtmTransResponse">
		<wsdl:part name="output" element="tns:getAtmTransResponse"/>
	</wsdl:message>

	<wsdl:message name="getCurrencyRateRequest" >
		<wsdl:part name="input" element="tns:getCurrencyRateRequest" />
	</wsdl:message>
	<wsdl:message name="getCurrencyRateResponse">
		<wsdl:part name="output" element="tns:getCurrencyRateResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getInstListRequest" >
		<wsdl:part name="input" element="tns:getInstListRequest" />
	</wsdl:message>
	<wsdl:message name="getInstListResponse">
		<wsdl:part name="output" element="tns:getInstListResponse"/>
	</wsdl:message>

	<wsdl:portType name="svcmWS">
		<wsdl:operation name="getAtmDowntime">
			<wsdl:input message="tns:getAtmDowntimeRequest" />
			<wsdl:output message="tns:getAtmDowntimeResponse" />
		</wsdl:operation>		<wsdl:operation name="getAtmList">
			<wsdl:input message="tns:getAtmListRequest" />
			<wsdl:output message="tns:getAtmListResponse" />
		</wsdl:operation>
		<wsdl:operation name="getAtmTrans">
			<wsdl:input message="tns:getAtmTransRequest" />
			<wsdl:output message="tns:getAtmTransResponse" />
		</wsdl:operation>
		<wsdl:operation name="getCurrencyRate">
			<wsdl:input message="tns:getCurrencyRateRequest" />
			<wsdl:output message="tns:getCurrencyRateResponse" />
		</wsdl:operation>
		<wsdl:operation name="getInstList">
			<wsdl:input message="tns:getInstListRequest" />
			<wsdl:output message="tns:getInstListResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapBinding" type="tns:svcmWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAtmDowntime">
			<soap:operation soapAction="http://sv.bpc.in/SVXP/integration/getAtmDowntime" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAtmList">
			<soap:operation soapAction="http://sv.bpc.in/SVXP/integration/getAtmList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAtmTrans">
			<soap:operation soapAction="http://sv.bpc.in/SVXP/integration/getAtmTrans" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCurrencyRate">
			<soap:operation soapAction="http://sv.bpc.in/SVXP/integration/getCurrencyRate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getInstList">
			<soap:operation soapAction="http://sv.bpc.in/SVXP/integration/getInstList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="svcmWS">
		<wsdl:port binding="tns:SoapBinding" name="svcmWSSOAP">
			<soap:address location="http://127.0.0.1:7001/sv/svcmWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
