spec/spec/SmartVista FrontEnd/svxp_svfe_clearing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bpc.ru/sv/SVXP/clearing"
        xmlns:tns="http://bpc.ru/sv/SVXP/clearing"
        elementFormDefault="qualified">

    <element name="clearing" type="tns:clearing"/>

    <simpleType name="int_1">
        <restriction base="int">
            <enumeration value="0"/>
            <enumeration value="1"/>
        </restriction>
    </simpleType>

    <simpleType name="int_4">
        <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>

    <simpleType name="int_8">
        <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="99999999"/>
        </restriction>
    </simpleType>

    <simpleType name="long_12">
        <restriction base="long">
            <minInclusive value="0"/>
            <maxInclusive value="999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="long_16">
        <restriction base="long">
            <minInclusive value="0"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="iso_3">
        <restriction base="string">
            <minLength value="3"/>
            <maxLength value="3"/>
        </restriction>
    </simpleType>

    <complexType name="amount">
        <sequence>
            <element name="amount_value" type="tns:long_16" minOccurs="1" maxOccurs="1"/>
            <element name="currency" type="tns:iso_3" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <simpleType name="dict">
        <restriction base="string">
            <minLength value="5"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_200">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_2_200">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_2000">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="2000"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_4000">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="4000"/>
        </restriction>
    </simpleType>

    <complexType name="clearing">
        <sequence>

            <element name="file_id" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTP1700"/>
                        <enumeration value="FLTP1710"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="inst_id" type="tns:int_4" minOccurs="0" maxOccurs="1"/>

            <element name="operation" type="tns:operation" minOccurs="1" maxOccurs="unbounded"/>

        </sequence>
    </complexType>

    <complexType name="operation">
        <sequence>

            <element name="oper_id" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="oper_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="OPTP0000"/>
                        <enumeration value="OPTP0001"/>
                        <enumeration value="OPTP0009"/>
                        <enumeration value="OPTP0010"/>
                        <enumeration value="OPTP0011"/>
                        <enumeration value="OPTP0012"/>
                        <enumeration value="OPTP0018"/>
                        <enumeration value="OPTP0019"/>
                        <enumeration value="OPTP0020"/>
                        <enumeration value="OPTP0022"/>
                        <enumeration value="OPTP0026"/>
                        <enumeration value="OPTP0027"/>
                        <enumeration value="OPTP0028"/>
                        <enumeration value="OPTP0029"/>
                        <enumeration value="OPTP0030"/>
                        <enumeration value="OPTP0031"/>
                        <enumeration value="OPTP0032"/>
                        <enumeration value="OPTP0038"/>
                        <enumeration value="OPTP0039"/>
                        <enumeration value="OPTP0040"/>
                        <enumeration value="OPTP0041"/>
                        <enumeration value="OPTP0042"/>
                        <enumeration value="OPTP0043"/>
                        <enumeration value="OPTP0060"/>
                        <enumeration value="OPTP0070"/>
                        <enumeration value="OPTP0071"/>
                        <enumeration value="OPTP0119"/>
                        <enumeration value="OPTP0171"/>
                        <enumeration value="OPTP0172"/>
                        <enumeration value="OPTP0173"/>
                        <enumeration value="OPTP0174"/>
                        <enumeration value="OPTP0219"/>
                        <enumeration value="OPTP0244"/>
                        <enumeration value="OPTP0250"/>
                        <enumeration value="OPTP0251"/>
                        <enumeration value="OPTP0252"/>
                        <enumeration value="OPTP0253"/>
                        <enumeration value="OPTP0319"/>
                        <enumeration value="OPTP0400"/>
                        <enumeration value="OPTP0401"/>
                        <enumeration value="OPTP0402"/>
                        <enumeration value="OPTP0403"/>
                        <enumeration value="OPTP0412"/>
                        <enumeration value="OPTP0422"/>
                        <enumeration value="OPTP0428"/>
                        <enumeration value="OPTP0432"/>
                        <enumeration value="OPTP0690"/>
                        <enumeration value="OPTP0801"/>
                        <enumeration value="OPTP0802"/>
                        <enumeration value="OPTP0803"/>
                        <enumeration value="OPTP0804"/>
                        <enumeration value="OPTP0805"/>
                        <enumeration value="OPTP0806"/>
                        <enumeration value="OPTP1001"/>
                        <enumeration value="OPTP1100"/>
                        <enumeration value="OPTP1102"/>
                        <enumeration value="OPTP1122"/>
                        <enumeration value="OPTP1128"/>
                        <enumeration value="OPTP1500"/>
                        <enumeration value="OPTP1501"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="msg_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="MSGTACBK"/>
                        <enumeration value="MSGTAUTH"/>
                        <enumeration value="MSGTBTCH"/>
                        <enumeration value="MSGTCHBK"/>
                        <enumeration value="MSGTCMPL"/>
                        <enumeration value="MSGTFPST"/>
                        <enumeration value="MSGTPRES"/>
                        <enumeration value="MSGTPREU"/>
                        <enumeration value="MSGTREPR"/>
                        <enumeration value="MSGTRLBK"/>
                        <enumeration value="MSGTRTRQ"/>
                        <enumeration value="MSGTSCDL"/>
                        <enumeration value="MSGTSPLT"/>
                        <enumeration value="MSGTSTAT"/>
                        <enumeration value="MSGTVALD"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="sttl_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="STTT[0-9A-Z_-]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="original_id" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="reconciliation_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="RCLMFULL"/>
                        <enumeration value="RCLMNONE"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="host_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="oper_count" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="oper_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="oper_request_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="oper_surcharge_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="oper_cashback_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="sttl_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="interchange_fee" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="originator_refnum" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="36"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="network_refnum" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="36"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="acq_inst_bin" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="forwarding_inst_bin" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="(ADJR|PMRS|BLTP|LMTP)[0-9A-Z_-]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="OPST0001"/>
                        <enumeration value="OPST0100"/>
                        <enumeration value="OPST0101"/>
                        <enumeration value="OPST0102"/>
                        <enumeration value="OPST0107"/>
                        <enumeration value="OPST0110"/>
                        <enumeration value="OPST0120"/>
                        <enumeration value="OPST0130"/>
                        <enumeration value="OPST0200"/>
                        <enumeration value="OPST0300"/>
                        <enumeration value="OPST0400"/>
                        <enumeration value="OPST0401"/>
                        <enumeration value="OPST0402"/>
                        <enumeration value="OPST0403"/>
                        <enumeration value="OPST0404"/>
                        <enumeration value="OPST0500"/>
                        <enumeration value="OPST0501"/>
                        <enumeration value="OPST0600"/>
                        <enumeration value="OPST0700"/>
                        <enumeration value="OPST0800"/>
                        <enumeration value="OPST0850"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="status_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="OPSR0500"/>
                        <enumeration value="OPSR0501"/>
                        <enumeration value="OPSR0502"/>
                        <enumeration value="OPSR0503"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_reversal" type="tns:int_1" minOccurs="0" maxOccurs="1"/>

            <element name="merchant_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="15"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_name" type="tns:string_1_200" minOccurs="0" maxOccurs="1"/>

            <element name="merchant_street" type="tns:string_1_200" minOccurs="0" maxOccurs="1"/>

            <element name="merchant_city" type="tns:string_1_200" minOccurs="0" maxOccurs="1"/>

            <element name="merchant_region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_country" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

            <element name="merchant_postcode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="TRMT0001"/>
                        <enumeration value="TRMT0002"/>
                        <enumeration value="TRMT0003"/>
                        <enumeration value="TRMT0004"/>
                        <enumeration value="TRMT0005"/>
                        <enumeration value="TRMT0006"/>
                        <enumeration value="TRMT0007"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="sttl_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="acq_sttl_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="match_status" type="tns:dict" minOccurs="0" maxOccurs="1"/>

            <element name="payment_order" type="tns:payment_order" minOccurs="0" maxOccurs="1"/>

            <element name="issuer" type="tns:participant" minOccurs="0" maxOccurs="1"/>

            <element name="acquirer" type="tns:participant" minOccurs="0" maxOccurs="1"/>

            <element name="destination" type="tns:participant" minOccurs="0" maxOccurs="1"/>

            <element name="aggregator" type="tns:participant" minOccurs="0" maxOccurs="1"/>

            <element name="service_provider" type="tns:participant" minOccurs="0" maxOccurs="1"/>

            <element name="participant" type="tns:participant" minOccurs="0" maxOccurs="unbounded"/>

            <element name="auth_data" type="tns:auth_data" minOccurs="0" maxOccurs="1"/>

            <element name="additional_amount" type="tns:additional_amount" minOccurs="0" maxOccurs="unbounded"/>

            <element name="processing_stage" type="tns:processing_stage" minOccurs="0" maxOccurs="unbounded"/>

            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    </complexType>

    <complexType name="participant">
        <sequence>

            <element name="participant_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="PRTYACQ"/>
                        <enumeration value="PRTYISS"/>
                        <enumeration value="PRTYDST"/>
                        <enumeration value="PRTYPAGR"/>
                        <enumeration value="PRTYSRVP"/>
                        <enumeration value="PRTYINST"/>
                        <enumeration value="PRTYLTY"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="client_id_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CITPACCT"/> <!-- Identification by account -->
                        <enumeration value="CITPCARD"/> <!-- Identification by card number (PAN) -->
                        <enumeration value="CITPCDID"/> <!-- Identification by card's internal identifier -->
                        <enumeration value="CITPCASH"/> <!-- No identification, but cash is present -->
                        <enumeration value="CITPCMCH"/> <!-- Identification by card mask and card holder pair -->
                        <enumeration value="CITPCMPH"/> <!-- Identification by card mask and mobile phone number pair -->
                        <enumeration value="CITPCNTR"/> <!-- Identification by contract number -->
                        <enumeration value="CITPCUST"/> <!-- Identification by customer number -->
                        <enumeration value="CITPEMAI"/> <!-- Identification by e-mail -->
                        <enumeration value="CITPMBPH"/> <!-- Identification by mobile phone number -->
                        <enumeration value="CITPMRCT"/> <!-- Identification by merchant number -->
                        <enumeration value="CITPNONE"/> <!-- No identification -->
                        <enumeration value="CITPSRVP"/> <!-- Identification by service provider number -->
                        <enumeration value="CITPTRMN"/> <!-- Identification by terminal number -->
                        <enumeration value="CITPUNKN"/> <!-- Unknown identification -->
                        <enumeration value="CITPXCRD"/> <!-- Identification by linked card -->
                    </restriction>
                </simpleType>
            </element>

            <element name="client_id_value" type="tns:string_2_200" minOccurs="0" maxOccurs="1"/>

            <element name="card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="11"/>
                        <maxLength value="19"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_id" type="tns:long_12" minOccurs="0" maxOccurs="1"/>

            <element name="card_instance_id" type="tns:long_12" minOccurs="0" maxOccurs="1"/>

            <element name="card_seq_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_expir_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="card_country" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

            <element name="inst_id" type="tns:int_4" minOccurs="0" maxOccurs="1"/>

            <element name="network_id" type="tns:int_4" minOccurs="0" maxOccurs="1"/>

            <element name="auth_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6"/>
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="32"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_amount" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="account_currency" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

        </sequence>
    </complexType>

    <complexType name="payment_order">
        <sequence>

            <element name="payment_order_id" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="payment_order_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="POSA0001"/>
                        <enumeration value="POSA0002"/>
                        <enumeration value="POSA0010"/>
                        <enumeration value="POSA0020"/>
                        <enumeration value="POSA0100"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_order_number" type="tns:string_1_200" minOccurs="0" maxOccurs="1"/>

            <element name="purpose_id" type="tns:int_8" minOccurs="0" maxOccurs="1"/>

            <element name="purpose_number" type="tns:string_1_200" minOccurs="0" maxOccurs="1"/>

            <element name="payment_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>

            <element name="payment_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"/>

            <element name="participant_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="PRTYACQ"/>
                        <enumeration value="PRTYISS"/>
                        <enumeration value="PRTYDST"/>
                        <enumeration value="PRTYPAGR"/>
                        <enumeration value="PRTYSRVP"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="payment_parameter">
        <sequence>
            <element name="payment_parameter_name" type="tns:string_1_200" minOccurs="1" maxOccurs="1"/>
            <element name="payment_parameter_value" type="tns:string_1_2000" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="auth_data">
        <sequence>
            <element name="resp_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="RESP0000"/>
                        <enumeration value="RESP0001"/>
                        <enumeration value="RESP0002"/>
                        <enumeration value="RESP0003"/>
                        <enumeration value="RESP0004"/>
                        <enumeration value="RESP0005"/>
                        <enumeration value="RESP0006"/>
                        <enumeration value="RESP0007"/>
                        <enumeration value="RESP0008"/>
                        <enumeration value="RESP0009"/>
                        <enumeration value="RESP0010"/>
                        <enumeration value="RESP0011"/>
                        <enumeration value="RESP0012"/>
                        <enumeration value="RESP0013"/>
                        <enumeration value="RESP0014"/>
                        <enumeration value="RESP0015"/>
                        <enumeration value="RESP0016"/>
                        <enumeration value="RESP0017"/>
                        <enumeration value="RESP0018"/>
                        <enumeration value="RESP0019"/>
                        <enumeration value="RESP0020"/>
                        <enumeration value="RESP0021"/>
                        <enumeration value="RESP0022"/>
                        <enumeration value="RESP0023"/>
                        <enumeration value="RESP0024"/>
                        <enumeration value="RESP0025"/>
                        <enumeration value="RESP0026"/>
                        <enumeration value="RESP0027"/>
                        <enumeration value="RESP0028"/>
                        <enumeration value="RESP0029"/>
                        <enumeration value="RESP0030"/>
                        <enumeration value="RESP0031"/>
                        <enumeration value="RESP0032"/>
                        <enumeration value="RESP0033"/>
                        <enumeration value="RESP0034"/>
                        <enumeration value="RESP0035"/>
                        <enumeration value="RESP0036"/>
                        <enumeration value="RESP0037"/>
                        <enumeration value="RESP0038"/>
                        <enumeration value="RESP0039"/>
                        <enumeration value="RESP0040"/>
                        <enumeration value="RESP0041"/>
                        <enumeration value="RESP0042"/>
                        <enumeration value="RESP0043"/>
                        <enumeration value="RESP0044"/>
                        <enumeration value="RESP0045"/>
                        <enumeration value="RESP0046"/>
                        <enumeration value="RESP0047"/>
                        <enumeration value="RESP0048"/>
                        <enumeration value="RESP0049"/>
                        <enumeration value="RESP0050"/>
                        <enumeration value="RESP0051"/>
                        <enumeration value="RESP0052"/>
                        <enumeration value="RESP0053"/>
                        <enumeration value="RESP0054"/>
                        <enumeration value="RESP0055"/>
                        <enumeration value="RESP0056"/>
                        <enumeration value="RESP0057"/>
                        <enumeration value="RESP0058"/>
                        <enumeration value="RESP0059"/>
                        <enumeration value="RESP0060"/>
                        <enumeration value="RESP0061"/>
                        <enumeration value="RESP0062"/>
                        <enumeration value="RESP0063"/>
                        <enumeration value="RESP0064"/>
                        <enumeration value="RESP0065"/>
                        <enumeration value="RESP0067"/>
                        <enumeration value="RESP0068"/>
                        <enumeration value="RESP0069"/>
                        <enumeration value="RESP0070"/>
                        <enumeration value="RESP0071"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="proc_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="AUPTIGNR"/>
                        <enumeration value="AUPTLOAD"/>
                        <enumeration value="AUPTREJ"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="proc_mode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="AUPMCABS"/>
                        <enumeration value="AUPMDECL"/>
                        <enumeration value="AUPMFRD"/>
                        <enumeration value="AUPMNORM"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_advice" type="tns:int_1" minOccurs="0" maxOccurs="1"/>

            <element name="is_repeat" type="tns:int_1" minOccurs="0" maxOccurs="1"/>

            <element name="bin_amount" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="bin_currency" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

            <element name="bin_cnvt_rate" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="network_amount" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="network_currency" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

            <element name="network_cnvt_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="network_cnvt_rate" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="account_cnvt_rate" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="addr_verif_result" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="AVRS[0-9A-Z_-]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="acq_resp_code" type="tns:dict" minOccurs="0" maxOccurs="1"/>

            <element name="acq_device_proc_result" type="tns:dict" minOccurs="0" maxOccurs="1"/>

            <element name="card_data_input_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2210000"/>
                        <enumeration value="F2210001"/>
                        <enumeration value="F2210002"/>
                        <enumeration value="F2210003"/>
                        <enumeration value="F2210004"/>
                        <enumeration value="F2210005"/>
                        <enumeration value="F2210006"/>
                        <enumeration value="F221000A"/>
                        <enumeration value="F221000B"/>
                        <enumeration value="F221000C"/>
                        <enumeration value="F221000D"/>
                        <enumeration value="F221000E"/>
                        <enumeration value="F221000M"/>
                        <enumeration value="F221000V"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_auth_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2220000"/>
                        <enumeration value="F2220001"/>
                        <enumeration value="F2220002"/>
                        <enumeration value="F2220005"/>
                        <enumeration value="F2220006"/>
                        <enumeration value="F2220009"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_capture_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2230000"/>
                        <enumeration value="F2230001"/>
                        <enumeration value="F2230002"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_operating_env" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2240000"/>
                        <enumeration value="F2240001"/>
                        <enumeration value="F2240002"/>
                        <enumeration value="F2240003"/>
                        <enumeration value="F2240004"/>
                        <enumeration value="F2240005"/>
                        <enumeration value="F2240006"/>
                        <enumeration value="F2240007"/>
                        <enumeration value="F2240009"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_presence" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2250000"/>
                        <enumeration value="F2250001"/>
                        <enumeration value="F2250002"/>
                        <enumeration value="F2250003"/>
                        <enumeration value="F2250004"/>
                        <enumeration value="F2250005"/>
                        <enumeration value="F2250009"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_presence" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2260000"/>
                        <enumeration value="F2260001"/>
                        <enumeration value="F2260009"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_input_mode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2270000"/>
                        <enumeration value="F2270001"/>
                        <enumeration value="F2270002"/>
                        <enumeration value="F2270003"/>
                        <enumeration value="F2270005"/>
                        <enumeration value="F2270006"/>
                        <enumeration value="F2270007"/>
                        <enumeration value="F2270009"/>
                        <enumeration value="F227000A"/>
                        <enumeration value="F227000B"/>
                        <enumeration value="F227000C"/>
                        <enumeration value="F227000F"/>
                        <enumeration value="F227000M"/>
                        <enumeration value="F227000N"/>
                        <enumeration value="F227000R"/>
                        <enumeration value="F227000S"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_auth_method" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2280000"/>
                        <enumeration value="F2280001"/>
                        <enumeration value="F2280002"/>
                        <enumeration value="F2280005"/>
                        <enumeration value="F2280006"/>
                        <enumeration value="F2280009"/>
                        <enumeration value="F228000S"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_auth_entity" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F2290000"/>
                        <enumeration value="F2290001"/>
                        <enumeration value="F2290002"/>
                        <enumeration value="F2290003"/>
                        <enumeration value="F2290004"/>
                        <enumeration value="F2290005"/>
                        <enumeration value="F2290006"/>
                        <enumeration value="F2290009"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_output_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F22A0000"/>
                        <enumeration value="F22A0001"/>
                        <enumeration value="F22A0002"/>
                        <enumeration value="F22A0003"/>
                        <enumeration value="F22A000S"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_output_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F22B0000"/>
                        <enumeration value="F22B0001"/>
                        <enumeration value="F22B0002"/>
                        <enumeration value="F22B0003"/>
                        <enumeration value="F22B0004"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_capture_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="F22C0000"/>
                        <enumeration value="F22C0001"/>
                        <enumeration value="F22C0002"/>
                        <enumeration value="F22C0003"/>
                        <enumeration value="F22C0004"/>
                        <enumeration value="F22C0005"/>
                        <enumeration value="F22C0006"/>
                        <enumeration value="F22C0007"/>
                        <enumeration value="F22C0008"/>
                        <enumeration value="F22C0009"/>
                        <enumeration value="F22C000A"/>
                        <enumeration value="F22C000B"/>
                        <enumeration value="F22C000C"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_presence" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="PINP0000"/>
                        <enumeration value="PINP0001"/>
                        <enumeration value="PINP0002"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cvv2_presence" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CV2P0000"/>
                        <enumeration value="CV2P0001"/>
                        <enumeration value="CV2P0002"/>
                        <enumeration value="CV2P0003"/>
                        <enumeration value="CV2P0004"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cvc_indicator" type="tns:dict" minOccurs="0" maxOccurs="1"/>

            <element name="pos_entry_mode" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

            <element name="pos_cond_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="2"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="emv_data" type="tns:string_1_2000" minOccurs="0" maxOccurs="1"/>

            <element name="addl_data" type="tns:string_1_2000" minOccurs="0" maxOccurs="1"/>

            <element name="service_code" type="tns:iso_3" minOccurs="0" maxOccurs="1"/>

            <element name="device_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="cvv2_result" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="CV2R[0-9A-Z_-]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_completed" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CMPF0010"/>
                        <enumeration value="CMPF0020"/>
                        <enumeration value="CMPF0030"/>
                        <enumeration value="CMPF0040"/>
                        <enumeration value="CMPF0050"/>
                        <enumeration value="CMPF0060"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="amounts" type="tns:string_1_4000" minOccurs="0" maxOccurs="1"/>

            <element name="system_trace_audit_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="auth_transaction_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="15"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="external_auth_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="30"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="external_orig_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="30"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_unique_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="5"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="native_resp_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="2"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="auth_purpose_id" type="tns:long_16" minOccurs="0" maxOccurs="1"/>

            <element name="auth_tag" type="tns:auth_tag" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    </complexType>

    <complexType name="auth_tag">
        <sequence>
            <element name="tag_id" minOccurs="0" maxOccurs="1" type="tns:int_8"/>
            <element name="tag_name" minOccurs="0" maxOccurs="1" type="tns:string_1_200"/>
            <element name="tag_value" minOccurs="0" maxOccurs="1" type="tns:string_1_2000"/>
            <element name="seq_number" minOccurs="0" maxOccurs="1" type="tns:int_4"/>
        </sequence>
    </complexType>

    <complexType name="additional_amount">
        <sequence>

            <element name="amount_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-9999999999999999"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" type="tns:iso_3" minOccurs="1" maxOccurs="1"/>

            <element name="amount_type" minOccurs="1" maxOccurs="1"/>

        </sequence>
    </complexType>

    <complexType name="processing_stage">
        <sequence>

            <element name="proc_stage" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                    <pattern value="PSTG[A-F0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="OPST[A-F0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="flexible_data">
        <sequence>
            <element name="field_name" type="tns:string_1_200" minOccurs="1" maxOccurs="1"/>
            <element name="field_value" type="tns:string_1_200" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

</schema>
