spec/spec/SmartVista FrontEnd/svxp_svfe_company.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bpc.ru/sv/SVXP/companies"
        xmlns:tns="http://bpc.ru/sv/SVXP/companies"
        elementFormDefault="qualified">

   <simpleType name="symbol_code_type">
       <restriction base="string">
           <minLength value="5"/>
           <maxLength value="8"/>
       </restriction>
   </simpleType>

	<simpleType name="symbol_code_3_country">
		<restriction base="string">
			<minLength value="3"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
   
    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="symbol_code_3_type">
        <restriction base="string">
            <length value="3"/>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="tns:symbol_code_type">
            <enumeration value="LANGENG"><!-- English --></enumeration>
            <enumeration value="LANGRUS"><!-- Russian --></enumeration>
            <enumeration value="LANGBUL"><!-- Bulgarian --></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>

    <simpleType name="short_id_zero_include">
        <restriction base="int">
            <maxInclusive value="9999"/>
        </restriction>
    </simpleType>

    <simpleType name="size_8_id">
        <restriction base="int">
            <minInclusive value="1"/>
            <maxInclusive value="99999999"/>
        </restriction>
    </simpleType>

    <simpleType name="medium_id">
        <restriction base="long">
            <minInclusive value="1"/>
            <maxInclusive value="999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_2000_type">
        <restriction base="string">
            <maxLength value="2000"/>
        </restriction>
    </simpleType>
	
    <simpleType name="gender_type">
        <restriction base="tns:symbol_code_type">
            <enumeration value="GNDRFEML"><!-- Female --></enumeration>
            <enumeration value="GNDRMALE"><!-- Male --></enumeration>
        </restriction>
    </simpleType>

    <complexType name="identity_card">
        <sequence>
            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="IDTP0001"><!-- Passport --></enumeration>
                        <enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
                        <enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
                        <enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
                        <enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
                        <enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
                        <enumeration value="IDTP0010"><!-- Taxpayer Identification Number --></enumeration>
                        <enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
                        <enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
                        <enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
                        <enumeration value="IDTP0014"><!-- License --></enumeration>
                        <enumeration value="IDTP0020"><!-- Driver license --></enumeration>
                        <enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
                        <enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0045"><!-- National ID --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_series" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="country" type="tns:symbol_code_3_country" minOccurs="0" maxOccurs="1"/>
            <element name="id_issuer" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_desc" type="tns:string_2000_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="company_name">
        <sequence>
            <element name="company_short_name" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="company_full_name" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="string" default="LANGENG"/>
    </complexType>

    <complexType name="company">
        <sequence>
            <element name="company_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>

            <element name="incorp_form" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="INCF0041"/><!-- Unitary enterprise, based on operational management -->
                        <enumeration value="INCF0042"/><!-- Unitary enterprise, based on the right of business -->
                        <enumeration value="INCF0047"/><!-- Public corporation -->
                        <enumeration value="INCF0051"/><!-- General partnership -->
                        <enumeration value="INCF0064"/><!-- Limited partnership -->
                        <enumeration value="INCF0065"/><!-- Limited liability company -->
                        <enumeration value="INCF0066"/><!-- Additional liability -->
                        <enumeration value="INCF0067"/><!-- Closed joint stock company -->
                        <enumeration value="INCF0071"/><!-- Private institution -->
                        <enumeration value="INCF0072"/><!-- State-financed organization -->
                        <enumeration value="INCF0073"/><!-- Autonomous institution -->
                        <enumeration value="INCF0076"/><!-- Gardening, horticulture or country house non-profit partnership -->
                        <enumeration value="INCF0077"/><!-- Union of the peasant farm -->
                        <enumeration value="INCF0078"/><!-- Authorities of public initiative -->
                        <enumeration value="INCF0080"/><!-- Territorial public self-government -->
                        <enumeration value="INCF0082"/><!-- State corporation -->
                        <enumeration value="INCF0083"/><!-- Social and religious organizations (associations) -->
                        <enumeration value="INCF0084"/><!-- Public movement -->
                        <enumeration value="INCF0085"/><!-- Consumers' cooperative -->
                        <enumeration value="INCF0088"/><!-- Fund -->
                        <enumeration value="INCF0089"/><!-- Other non-profit organizations -->
                        <enumeration value="INCF0091"/><!-- Individual businessman -->
                        <enumeration value="INCF0093"/><!-- Association of legal entities (association or union) -->
                        <enumeration value="INCF0094"/><!-- Homeowners -->
                        <enumeration value="INCF0096"/><!-- Non-profit partnership -->
                        <enumeration value="INCF0097"/><!-- Autonomous non-profit organization -->
                    </restriction>
                </simpleType>
            </element>

            <element name="company_name" type="tns:company_name" minOccurs="1" maxOccurs="unbounded"/>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="companies">
        <complexType>
            <sequence>
                <element name="file_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
                <element name="inst_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
                <element name="company" type="tns:company" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
     </element>

</schema>
