spec/spec/SmartVista FrontEnd/svxp_svfe_account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP/account"
        xmlns:tns="http://sv.bpc.in/SVXP/account"
        elementFormDefault="qualified">
    
    <element name="accounts" type="tns:accounts"></element>

    <complexType name="accounts">
        <sequence>
            <element name="file_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTPACCT"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_date" type="date" minOccurs="1" maxOccurs="1"></element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="date_purpose" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="DTPR0001"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="inst_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1" />
                        <maxInclusive value="9999" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tokenized_pan" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="integer">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="account" type="tns:account" minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>
    
    <complexType name="account">
        <sequence>
            <element name="account_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ACTP0100"/><!-- Card account -->
                        <enumeration value="ACTP0110"/><!-- Savings account -->
                        <enumeration value="ACTP0120"/><!-- Checking account -->
                        <enumeration value="ACTP0130"/><!-- Credit account -->
                        <enumeration value="ACTP0200"/><!-- Merchant account -->
                        <enumeration value="ACTP0210"/><!-- ATM account -->
                        <enumeration value="ACTP0220"/><!-- Cashier account -->
                        <enumeration value="ACTP0230"/><!-- ATM Cash-IN account -->
                        <enumeration value="ACTP0300"/><!-- Fees -->
                        <enumeration value="ACTP0301"/><!-- Payment transit account -->
                        <enumeration value="ACTP0302"/><!-- Pending settlement account -->
                        <enumeration value="ACTP0303"/><!-- Bank liabilities on other operations -->
                        <enumeration value="ACTP1401"/><!-- Payment provider deposit account -->
                        <enumeration value="ACTP1402"/><!-- Payment agregator transit account -->
                        <enumeration value="ACTP1500"/><!-- Instalment account -->
                        <enumeration value="ACTPG111"/><!-- GL account for Agent of level 3 -->
                        <enumeration value="ACTPGA11"/><!-- GL account for Agent of level 2 -->
                        <enumeration value="ACTPGLA1"/><!-- GL account for Agent  of level 1 -->
                        <enumeration value="ACTPGLIN"/><!-- GL account for Institution -->
                        <enumeration value="ACTPLOYT"/><!-- Loyalty account -->
                        <enumeration value="ACTPLTAC"/><!-- Loyalty account (for account service) -->
                        <enumeration value="ACTPLTYA"/><!-- Loyalty account (for merchant service) -->
                    </restriction>
                </simpleType>
            </element>

            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ACSTACTV"/><!-- Active -->
                        <enumeration value="ACSTCLSD"/><!-- Closed -->
                        <enumeration value="ACSTPEND"/><!-- Pending -->
                        <enumeration value="ACSTACRQ"/><!-- Activation required -->
                        <enumeration value="ACSTBOVD"/><!-- Bank overdue -->
                        <enumeration value="ACSTCOLL"/><!-- In collection -->
                        <enumeration value="ACSTCRED"/><!-- Credits only -->
                        <enumeration value="ACSTDACT"/><!-- Deactivated -->
                        <enumeration value="ACSTDEBS"/><!-- Debt sale -->
                        <enumeration value="ACSTDORM"/><!-- Dormant -->
                        <enumeration value="ACSTDRST"/><!-- Debt restructuring -->
                        <enumeration value="ACSTFRAU"/><!-- Fraud -->
                        <enumeration value="ACSTIACT"/><!-- Inactive -->
                        <enumeration value="ACSTODUE"/><!-- Overdue -->
                        <enumeration value="ACSTPRGD"/><!-- To be purged -->
                        <enumeration value="ACSTTRSF"/><!-- Transferred -->
                        <enumeration value="ACSTWOFF"/><!-- Write off -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string"><!-- 3 digit ISO currency code -->
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="aval_balance" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-999999999999999999"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="create_date" type="date" minOccurs="1" maxOccurs="1"></element>
            
            <element name="balance" type="tns:balance" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="credit" type="tns:credit" minOccurs="0" maxOccurs="1"/>

            <element name="limits" type="tns:limits" minOccurs="0" maxOccurs="1"></element>

            <element name="payment" type="tns:payment" minOccurs="0" maxOccurs="unbounded"></element>
            
            <element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>

            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="balance">
        <sequence>
            <element name="balance_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="BLTP0001"><!-- Ledger --></enumeration>
                        <enumeration value="BLTP0002"><!-- Hold --></enumeration>
                        <enumeration value="BLTP0003"><!-- Fees --></enumeration>
                        <enumeration value="BLTP0004"><!-- Disput --></enumeration>
                        <enumeration value="BLTP0005"><!-- Frozen --></enumeration>
                        <enumeration value="BLTP0006"><!-- Stand-IN --></enumeration>
                        <enumeration value="BLTP1001"><!-- Assigned exceed limit --></enumeration>
                        <enumeration value="BLTP0003"><!--  --></enumeration>
                        <enumeration value="BLTP0006"><!--  --></enumeration>
                        <enumeration value="BLTP1002"><!--  --></enumeration>
                        <enumeration value="BLTP1003"><!--  --></enumeration>
                        <enumeration value="BLTP1004"><!--  --></enumeration>
                        <enumeration value="BLTP1005"><!--  --></enumeration>
                        <enumeration value="BLTP1006"><!--  --></enumeration>
                        <enumeration value="BLTP1007"><!--  --></enumeration>
                        <enumeration value="BLTP1008"><!--  --></enumeration>
                        <enumeration value="BLTP1010"><!--  --></enumeration>
                        <enumeration value="BLTP1011"><!--  --></enumeration>
                        <enumeration value="BLTP1012"><!--  --></enumeration>
                        <enumeration value="BLTP1013"><!--  --></enumeration>
                        <enumeration value="BLTP1014"><!--  --></enumeration>
                        <enumeration value="BLTP1015"><!-- Lending --></enumeration>
                        <enumeration value="BLTP1016"><!-- Write-off principal --></enumeration>
                        <enumeration value="BLTP1017"><!-- Write-off interest --></enumeration>
                        <enumeration value="BLTP1018"><!-- Write-off fee --></enumeration>
                        <enumeration value="BLTP1502"><!-- DPP hold principal --></enumeration>
                    </restriction>
                </simpleType>
            </element>           

            <element name="turnover" type="tns:turnover" minOccurs="0" maxOccurs="1"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="turnover">
        <sequence>
            <element name="outgoing_balance" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    

    <complexType name="credit">
        <sequence>
            <element name="sttl_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mad_amount"  minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="grace_date" type="date" minOccurs="0" maxOccurs="1"/>
            
            <element name="total_amount_due"  minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="payment_amount"  minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="aging_period"  minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    

    <complexType name="limits">
        <sequence>
            <element name="limit" type="tns:limit" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="limit">
        <sequence>
            <element name="limit_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="LMTP0100"/><!-- Cash withdrawal limit -->
                        <enumeration value="LMTP0101"/><!-- Wrong PIN entry counter/limit -->
                        <enumeration value="LMTP0102"/><!-- Card usage limit -->
                        <enumeration value="LMTP0103"/><!-- Card usage periodic limit -->
                        <enumeration value="LMTP0104"/><!-- Total expense limit on contract -->
                        <enumeration value="LMTP0105"/><!-- Total avalable balance limit -->
                        <enumeration value="LMTP0106"/><!-- Card spend month limit -->
                        <enumeration value="LMTP0107"/><!-- Card cash withdrawal day limit -->
                        <enumeration value="LMTP0108"/><!-- Card cash withdrawal month limit -->
                        <enumeration value="LMTP0109"/><!-- Card purchase day limit -->
                        <enumeration value="LMTP0110"/><!-- Card purchase month limit -->
                        <enumeration value="LMTP0111"/><!-- Card MOTO/E-commerce operation day limit -->
                        <enumeration value="LMTP0112"/><!-- Card MOTO/E-commerce operation month limit -->
                        <enumeration value="LMTP0113"/><!-- Card spend on-us day limit -->
                        <enumeration value="LMTP0114"/><!-- Card spend on-us month limit -->
                        <enumeration value="LMTP0115"/><!-- Card cash withdrawal on-us day limit -->
                        <enumeration value="LMTP0116"/><!-- Card cash withdrawal on-us month limit -->
                        <enumeration value="LMTP0117"/><!-- Card purchase on-us day limit -->
                        <enumeration value="LMTP0118"/><!-- Card purchase on-us month limit -->
                        <enumeration value="LMTP0119"/><!-- Card MOTO/E-commerce operation on-us day limit -->
                        <enumeration value="LMTP0120"/><!-- Card MOTO/E-commerce operation on-us month limit -->
                        <enumeration value="LMTP0121"/><!-- Card spend on-them day limit -->
                        <enumeration value="LMTP0122"/><!-- Card spend on-them month limit -->
                        <enumeration value="LMTP0123"/><!-- Card cash withdrawal on-them day limit -->
                        <enumeration value="LMTP0124"/><!-- Card cash withdrawal on-them month limit -->
                        <enumeration value="LMTP0125"/><!-- Card purchase on-them day limit -->
                        <enumeration value="LMTP0126"/><!-- Card purchase on-them month limit -->
                        <enumeration value="LMTP0127"/><!-- Card MOTO/E-commerce operation on-them day limit -->
                        <enumeration value="LMTP0128"/><!-- Card MOTO/E-commerce operation on-them month limit -->
                        <enumeration value="LMTP0129"/><!-- Card spend day limit -->
                        <enumeration value="LMTP0130"/><!-- Limit for cashback amount on us -->
                        <enumeration value="LMTP0131"/><!-- Card spending credit limit value -->
                        <enumeration value="LMTP0135"/><!-- Limit for cashback amount on domestic -->
                        <enumeration value="LMTP0136"/><!-- Limit for cashback amount on them -->
                        <enumeration value="LMTP0137"/><!-- Limit for cashback amount on partner -->
                        <enumeration value="LMTP0138"/><!-- Limit to send password -->
                        <enumeration value="LMTP0139"/><!-- Wrong password entry limit per day -->
                        <enumeration value="LMTP0140"/><!-- Wrong password entry limit per auth -->
                        <enumeration value="LMTP0141"/><!-- Temporary credit limit -->
                        <enumeration value="LMTP0142"/><!-- Limit to reward loyalty points (card) -->
                        <enumeration value="LMTP0143"/><!-- Card credit cash limit -->
                        <enumeration value="LMTP0144"/><!-- Lottery ticket registration threshold -->
                        <enumeration value="LMTP0145"/><!-- Limit for Promotion level threshold for card -->
                        <enumeration value="LMTP0200"/><!-- Limit for Merchant service charge -->
                        <enumeration value="LMTP0201"/><!-- One time cash withdrawal with other cards limit -->
                        <enumeration value="LMTP0202"/><!-- Limit for Loyalty points (for merchant) rate -->
                        <enumeration value="LMTP0203"/><!-- Limit for Terminal registration fee -->
                        <enumeration value="LMTP0204"/><!-- Limit to reward loyalty points (merchant) -->
                        <enumeration value="LMTP0205"/><!-- Limit for Promotions loyalty points (merchant) -->
                        <enumeration value="LMTP0300"/><!-- Total top up account limit -->
                        <enumeration value="LMTP0301"/><!-- Total expense limit -->
                        <enumeration value="LMTP0302"/><!-- Cash withdrawal cyclic limit -->
                        <enumeration value="LMTP0303"/><!-- Debit account cyclic limit -->
                        <enumeration value="LMTP0304"/><!-- Credit account cyclic limit -->
                        <enumeration value="LMTP0305"/><!-- Cash IN account cyclic limit -->
                        <enumeration value="LMTP0306"/><!-- One-time expense limit -->
                        <enumeration value="LMTP0307"/><!-- One-time top up account limit -->
                        <enumeration value="LMTP0308"/><!-- Limit for Account maintenance fee -->
                        <enumeration value="LMTP0309"/><!-- Account total expense day limit -->
                        <enumeration value="LMTP0310"/><!-- Account total expense month limit -->
                        <enumeration value="LMTP0400"/><!-- Номер распоряжения на перевод в адрес НЭСП -->
                        <enumeration value="LMTP0402"/><!-- Account credit limit -->
                        <enumeration value="LMTP0403"/><!-- Limit for Loyalty points (for account) rate -->
                        <enumeration value="LMTP0408"/><!-- Account credit cash limit -->
                        <enumeration value="LMTP0409"/><!-- Account maximum available balance -->
                        <enumeration value="LMTP0410"/><!-- Limit to reward loyalty points (account) -->
                        <enumeration value="LMTP0411"/><!-- SAARC Annual Limit -->
                        <enumeration value="LMTP0412"/><!-- Non-SAARC Annual Limit -->
                        <enumeration value="LMTP0413"/><!-- SAARC Endorsement for foreign transactions Limit -->
                        <enumeration value="LMTP0414"/><!-- Non-SAARC Endorsement for foreign transactions Limit -->
                        <enumeration value="LMTP0415"/><!-- E-commerce foreign transaction limit -->
                        <enumeration value="LMTP0416"/><!-- ERQ foreign transaction limit -->
                        <enumeration value="LMTP0417"/><!-- RFCD account limit -->
                        <enumeration value="LMTP0418"/><!-- Minimum amount threshold -->
                        <enumeration value="LMTP0419"/><!-- Soft limit -->
                        <enumeration value="LMTP0420"/><!-- Cashback monthly limit -->
                        <enumeration value="LMTP0421"/><!-- Cashback cyclic limit -->
                        <enumeration value="LMTP0422"/><!-- Cashback yearly limit -->
                        <enumeration value="LMTP0423"/><!-- Account extra limit -->
                        <enumeration value="LMTP0424"/><!-- Promotion level threshold for account -->
                        <enumeration value="LMTP0901"/><!-- Customer-level credit limit -->
                        <enumeration value="LMTP0902"/><!-- Customer-level cash advance credit limit -->
                        <enumeration value="LMTP0903"/><!-- Limit for Loyalty points (for customer) rate -->
                        <enumeration value="LMTP0904"/><!-- Lottery ticket registration threshold (for customer) -->
                        <enumeration value="LMTP0905"/><!-- Limit to reward loyalty points (customer) -->
                        <enumeration value="LMTP0906"/><!-- Lost cards limit -->
                        <enumeration value="LMTP0907"/><!-- Damaged cards limit -->
                        <enumeration value="LMTP1001"/><!-- Cash credit limit -->
                        <enumeration value="LMTP1101"/><!-- Limit for Loyalty points rate -->
                        <enumeration value="LMTP1302"/><!-- User failed logins limit -->
                    </restriction>
                </simpleType>
            </element>

            <element name="sum_limit" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-999999999999999999"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="count_limit" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-999999999999999999"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="sum_current" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-999999999999999999"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="next_date" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="date"></restriction>
                </simpleType>
            </element>

            <element name="length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="LNGT0001"/><!-- Hour -->
                        <enumeration value="LNGT0002"/><!-- Day -->
                        <enumeration value="LNGT0003"/><!-- Week -->
                        <enumeration value="LNGT0004"/><!-- Month -->
                        <enumeration value="LNGT0005"/><!-- Year -->
                        <enumeration value="LNGT0006"/><!-- Minute -->
                        <enumeration value="LNGT0007"/><!-- Second -->
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_usage" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="payment">
        <sequence>
            <element name="oper_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="integer" >
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_seq_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="11" />
                        <maxLength value="19" />
                    </restriction>
                </simpleType>
            </element>

            <element name="card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_amount" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0" />
                        <maxInclusive value="999999999999999999" />
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="oper_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8" />
                        <maxLength value="8" />
                        <enumeration value="OPTP0000"/><!-- Purchase -->
                        <enumeration value="OPTP0001"/><!-- ATM Cash withdrawal -->
                        <enumeration value="OPTP0002"/><!-- Debit notification -->
                        <enumeration value="OPTP0009"/><!-- Purchase with casback -->
                        <enumeration value="OPTP0010"/><!-- P2P Debit -->
                        <enumeration value="OPTP0011"/><!-- P2P -->
                        <enumeration value="OPTP0012"/><!-- POS Cash advance -->
                        <enumeration value="OPTP0018"/><!-- Unique Transaction (Quasi Cash) -->
                        <enumeration value="OPTP0019"/><!-- Fee collection (credit to originator) -->
                        <enumeration value="OPTP0020"/><!-- Purchase return (Credit) -->
                        <enumeration value="OPTP0022"/><!-- Cash-In -->
                        <enumeration value="OPTP0025"/><!-- Envelope deposit -->
                        <enumeration value="OPTP0026"/><!-- P2P Credit -->
                        <enumeration value="OPTP0027"/><!-- Payment notification -->
                        <enumeration value="OPTP0028"/><!-- Payment transaction -->
                        <enumeration value="OPTP0029"/><!-- Fee collection (debit to originator) -->
                        <enumeration value="OPTP0030"/><!-- Balance inquiry -->
                        <enumeration value="OPTP0031"/><!-- Customer inquiry -->
                        <enumeration value="OPTP0032"/><!-- Customer check -->
                        <enumeration value="OPTP0038"/><!-- Statement request -->
                        <enumeration value="OPTP0039"/><!-- Mini statement request -->
                        <enumeration value="OPTP0040"/><!-- Customer account funds transfer -->
                        <enumeration value="OPTP0041"/><!-- Internal account funds transfer -->
                        <enumeration value="OPTP0042"/><!-- Foreign account funds transfer -->
                        <enumeration value="OPTP0043"/><!-- Funds transfer credit -->
                        <enumeration value="OPTP0044"/><!-- Fund transfer to other bank -->
                        <enumeration value="OPTP0045"/><!-- Fund transfer to cash by card -->
                        <enumeration value="OPTP0046"/><!-- Fund transfer to cash by cash -->
                        <enumeration value="OPTP0047"/><!-- Cash deposit by cash -->
                        <enumeration value="OPTP0048"/><!-- Cash by code (Remittance cash withdrawal) -->
                        <enumeration value="OPTP0050"/><!-- Sale of goods or services -->
                        <enumeration value="OPTP0051"/><!-- Cash-out at agent -->
                        <enumeration value="OPTP0052"/><!-- Cash-in by agent -->
                        <enumeration value="OPTP0060"/><!-- Service provider payment -->
                        <enumeration value="OPTP0061"/><!-- Service provider payment by agent -->
                        <enumeration value="OPTP0070"/><!-- PIN Change -->
                        <enumeration value="OPTP0071"/><!-- PIN unblock -->
                        <enumeration value="OPTP0073"/><!-- PIN Setup (change) -->
                        <enumeration value="OPTP0074"/><!-- PIN counter reset -->
                        <enumeration value="OPTP0075"/><!-- Invalid PIN -->
                        <enumeration value="OPTP0080"/><!-- Transaction Cost Inquiry -->
                        <enumeration value="OPTP0110"/><!-- Fund transfer to external debit -->
                        <enumeration value="OPTP0111"/><!-- Fund transfer to external -->
                        <enumeration value="OPTP0119"/><!-- Issuer fee -->
                        <enumeration value="OPTP0126"/><!-- Fund transfer to external credit -->
                        <enumeration value="OPTP0130"/><!-- Account to account funds transfer inqury -->
                        <enumeration value="OPTP0171"/><!-- Change card status -->
                        <enumeration value="OPTP0172"/><!-- Change account status -->
                        <enumeration value="OPTP0173"/><!-- Attach service -->
                        <enumeration value="OPTP0174"/><!-- Detach service -->
                        <enumeration value="OPTP0175"/><!-- Attach account -->
                        <enumeration value="OPTP0176"/><!-- Set default account -->
                        <enumeration value="OPTP0219"/><!-- Acquirer fee -->
                        <enumeration value="OPTP0244"/><!-- Currency exchange -->
                        <enumeration value="OPTP0250"/><!-- Settlement totals of the terminal -->
                        <enumeration value="OPTP0251"/><!-- Clerk totals of the terminal -->
                        <enumeration value="OPTP0252"/><!-- Change terminal status -->
                        <enumeration value="OPTP0253"/><!-- Change merchant status -->
                        <enumeration value="OPTP0319"/><!-- Institution fee -->
                        <enumeration value="OPTP0400"/><!-- Debit account -->
                        <enumeration value="OPTP0401"/><!-- Set account balance -->
                        <enumeration value="OPTP0402"/><!-- Account debit adjustment -->
                        <enumeration value="OPTP0403"/><!-- Set entity limit -->
                        <enumeration value="OPTP0412"/><!-- Cash withdrawal from account -->
                        <enumeration value="OPTP0422"/><!-- Account credit adjustment -->
                        <enumeration value="OPTP0423"/><!-- Debit the Assigned exceed limit -->
                        <enumeration value="OPTP0428"/><!-- Credit account -->
                        <enumeration value="OPTP0432"/><!-- Counterparty account debit adjustment -->
                        <enumeration value="OPTP0690"/><!-- Create virtual card -->
                        <enumeration value="OPTP0691"/><!-- Card token registration -->
                        <enumeration value="OPTP0801"/><!-- ATM cassettes setup 1 -->
                        <enumeration value="OPTP0802"/><!-- ATM cassettes setup 2 -->
                        <enumeration value="OPTP0803"/><!-- ATM settlement -->
                        <enumeration value="OPTP0804"/><!-- ATM reset -->
                        <enumeration value="OPTP0805"/><!-- ATM receipts setup -->
                        <enumeration value="OPTP0806"/><!-- ATM cash adjustment -->
                        <enumeration value="OPTP1001"/><!-- Providing credit limit -->
                        <enumeration value="OPTP1002"/><!-- Temporary increase credit limit -->
                        <enumeration value="OPTP1010"/><!-- Credit reserve -->
                        <enumeration value="OPTP1100"/><!-- Loyalty points purchase -->
                        <enumeration value="OPTP1102"/><!-- Manual loyalty points redemption -->
                        <enumeration value="OPTP1122"/><!-- Manual loyalty points enrollment -->
                        <enumeration value="OPTP1128"/><!-- Loyalty points earning -->
                        <enumeration value="OPTP1138"/><!-- Loyalty points transfer -->
                        <enumeration value="OPTP1148"/><!-- Rewards loyalty to cardholder -->
                        <enumeration value="OPTP1500"/><!-- DPP purchase -->
                        <enumeration value="OPTP1501"/><!-- DPP registration -->
                        <enumeration value="OPTP1502"/><!-- Debt restructuring into DPP -->
                        <enumeration value="OPTP1503"/><!-- Providing DPP limit -->
                        <enumeration value="OPTP1599"/><!-- Checkbook request  -->
                        <enumeration value="OPTP1600"/><!-- Priority Pass Lounge Visit -->
                    </restriction>
                </simpleType>
            </element>

            <element name="originator_refnum" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1" />
                        <maxLength value="36" />
                    </restriction>
                </simpleType>
            </element>
            
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>
    
    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5" />
                        <maxLength value="8" />
                        <enumeration value="NTTPCHBL"/><!-- Checkbook leaflet -->
                        <enumeration value="NTTPDLVR"/><!-- Delivery notes -->
                        <enumeration value="NTTPRSTR"/><!-- Notes for registry of opened and closed accounts. -->
                        <enumeration value="NTTPUSER"/><!-- User comments -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>
    
    <complexType name="note_content">
        <sequence>
            <element name="language" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5" />
                        <maxLength value="8" />
                        <enumeration value="LANGBLR"/><!-- Belorussian -->
                        <enumeration value="LANGBUL"/><!-- Bulgarian -->
                        <enumeration value="LANGENG"/><!-- English -->
                        <enumeration value="LANGESP"/><!-- Spanish -->
                        <enumeration value="LANGFRA"/><!-- French -->
                        <enumeration value="LANGHUN"/><!-- Hungarian -->
                        <enumeration value="LANGKOR"/><!-- Korean -->
                        <enumeration value="LANGMNG"/><!-- Mongolian -->
                        <enumeration value="LANGRUS"/><!-- Russian -->
                        <enumeration value="LANGTJK"/><!-- Tajik -->
                        <enumeration value="LANGVNM"/><!-- Vietnamese -->
                    </restriction>
                </simpleType>
            </element>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">                        
                        <maxLength value="4000" />
                    </restriction>
                </simpleType>
            </element>
            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">                        
                        <maxLength value="4000" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="service">
        <sequence>
            <element name="service_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="service_type_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_external_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="is_active" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="service_attribute" type="tns:service_attribute" minOccurs="0" maxOccurs="unbounded"/>           
        </sequence>
        
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>        
    </complexType>
    
    <complexType name="service_attribute">
        <sequence>
            <element name="service_attribute_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_attribute_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="flexible_data">
        <sequence>
            <element name="field_name" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
            </element>

            <element name="field_value" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
            </element>
        </sequence>
    </complexType>

</schema>
