spec/spec/SmartVista FrontEnd/svxp_svfe_merchant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP"
        xmlns:tns="http://sv.bpc.in/SVAP"
        elementFormDefault="qualified">
    
    <element name="applications" type="tns:applications"/>
    
    <complexType name="applications">
        <sequence maxOccurs="unbounded" minOccurs="1">
            <element name="application" type="tns:application"/>
        </sequence>
    </complexType>
    
    
    <complexType name="application">
        <sequence>
            
            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>
            
            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPACQA"/><!-- Acquiring application -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>                    
                    </restriction>
                </simpleType>
            </element>
            
            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="agent_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>

        </sequence>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="customer_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"/>

            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="unbounded"/>
            
            <element name="service" type="tns:service_with_object" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>            
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="merchant">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6"/>
                        <maxLength value="15"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="merchant_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="merchant_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="merchant_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="MRCS0001"/><!-- Active -->
                        <enumeration value="MRCS0003"/><!-- Merchant suspended -->
                        <enumeration value="MRCS0009"/><!-- Merchant closed -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="risk_indicator" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="partner_id_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="mc_assigned_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>                      
            
            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="merchant_card" type="tns:merchant_card" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
            
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="merchant_card">
        <sequence>
            <element name="card_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="26"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="sequential_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="contact">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CNTTCALL"/> <!--Call-center -->
                        <enumeration value="CNTTCEOC"/> <!--CEO contact -->
                        <enumeration value="CNTTCFEO"/> <!--CFO contact -->
                        <enumeration value="CNTTPRMC"/> <!--Primary contact -->
                        <enumeration value="CNTTSCNC"/> <!--Secondary contact -->
                        <enumeration value="CNTTNTFC"/> <!--Notification --> 
                        <enumeration value="CNTT0002"/>
                        <enumeration value="CNTT0003"/>
                        <enumeration value="CNTT0004"/>
                        <enumeration value="CNTT0005"/>
                        <enumeration value="CNTT0006"/>
                        <enumeration value="CNTT0007"/>
                        <enumeration value="CNTT0008"/>
                        <enumeration value="CNTT0009"/>
                        <enumeration value="CNTT0010"/>                        
                    </restriction>
                </simpleType>
            </element>
            
            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="JTTLDRCT"/><!-- Director -->
                        <enumeration value="JTTLHDDP"/><!-- Head of department -->
                        <enumeration value="JTTLMNGR"/><!-- Manager -->
                        <enumeration value="JTTLOFMN"/><!-- Office manager -->
                        <enumeration value="JTTLCHFA"><!-- Chief accountant --></enumeration>
                        <enumeration value="JTTLACNT"><!-- Accountant --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LANGENG"/><!-- English -->
                        <enumeration value="LANGRUS"/><!-- Russian -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMNM0001"/> <!--Mobile phone -->
                        <enumeration value="CMNM0002"/> <!--E-mail -->
                        <enumeration value="CMNM0003"/> <!--Post -->
                        <enumeration value="CMNM0004"/> <!--Fax -->
                        <enumeration value="CMNM0005"/> <!--Skype -->
                        <enumeration value="CMNM0006"/> <!--AOL Aim -->
                        <enumeration value="CMNM0007"/> <!--Windows Live Messenger -->
                        <enumeration value="CMNM0008"/> <!--ICQ -->
                        <enumeration value="CMNM0009"/> <!--Yahoo! Messenger -->
                        <enumeration value="CMNM0010"/> <!--Jabber -->
                        <enumeration value="CMNM0011"/> <!--Telex -->
                        <enumeration value="CMNM0012"/> <!--Landline phone -->
                        <enumeration value="CMNM5002"/> <!--User ID -->
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="account_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>            

            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="ACST[A-Z0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="address">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ADTPBSNA"/> <!--Business address -->
                        <enumeration value="ADTPHOME"/> <!--Home address -->
                        <enumeration value="ADTPLGLA"/> <!--Legal address -->
                        <enumeration value="ADTPSTDL"/> <!--Statement delivery address -->
                    </restriction>
                </simpleType>
            </element>

            <element name="country" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>
            
            <element name="house" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="apartment" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="place_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="address_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="service">
        <sequence>
            <element name="service_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="service_type_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_external_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="is_active" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="service_attribute" type="tns:service_attribute" minOccurs="0" maxOccurs="unbounded"/>           
        </sequence>
        
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        
    </complexType>
            
    <complexType name="service_attribute">
        <sequence>
            <element name="service_attribute_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_attribute_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="service_with_object">
        <sequence>
            <element name="service_object" type="tns:service_object" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <complexType name="service_object">
        <sequence>
            <element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="attribute_limit">
        <sequence>
            <element name="limit_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="limit_sum_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="limit_count_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-1"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="sum_current" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"/><!-- Hour -->
                        <enumeration value="LNGT0002"/><!-- Day -->
                        <enumeration value="LNGT0003"/><!-- Week -->
                        <enumeration value="LNGT0004"/><!-- Month -->
                        <enumeration value="LNGT0005"/><!-- Year -->
                        <enumeration value="LNGT0006"/><!-- Minute -->
                        <enumeration value="LNGT0007"/><!-- Second -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cycle_length" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>            
        </sequence>        

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="flexible_data">
        <sequence>
            <element name="field_name" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
            </element>

            <element name="field_value" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
            </element>
        </sequence>
    </complexType>

    <!-- <element name="application"  type="tns:application"/> -->    
</schema>