spec/spec/SmartVista FrontEnd/svxp_svfe_terminal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP"
        xmlns:tns="http://sv.bpc.in/SVAP"
        elementFormDefault="qualified">
    
    <element name="applications" type="tns:applications"/>
    
    <complexType name="applications">
        <sequence maxOccurs="unbounded" minOccurs="1">
            <element name="application" type="tns:application"/>
        </sequence>
    </complexType>
    
    <complexType name="application">
        <sequence>
            
            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>
            
            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPACQA"/><!-- Acquiring application -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>                    
                    </restriction>
                </simpleType>
            </element>
            
            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="agent_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>
        </sequence>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="customer_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"/>

            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>            
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="unbounded"/>
            
            <element name="service" type="tns:service_with_object" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
            
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="merchant">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6"/>
                        <maxLength value="15"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal" type="tns:terminal" minOccurs="0" maxOccurs="unbounded"/>            
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="terminal">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_number" minOccurs="0" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <pattern value="TRMT[A-F0-9]{1,4}"/> <!-- Terminal types -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="plastic_number" minOccurs="0" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <minLength value="16"/>
                        <maxLength value="19"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_data_input_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F221000A"/><!-- PAN auto-entry via contactless magnetic stripe -->
                        <enumeration value="F221000B"/><!-- Magnetic stripe reader and key entry capability -->
                        <enumeration value="F221000C"/><!-- Magnetic stripe reader, ICC, and key entry capability -->
                        <enumeration value="F221000D"/><!-- Magnetic stripe reader and ICC capability -->
                        <enumeration value="F221000E"/><!-- ICC and key entry capability -->
                        <enumeration value="F221000M"/><!-- PAN auto-entry via contactless M/Chip -->
                        <enumeration value="F221000V"/><!-- Other capability -->
                        <enumeration value="F2210000"/><!-- Unknown; data not available -->
                        <enumeration value="F2210001"/><!-- Manual; no terminal -->
                        <enumeration value="F2210002"/><!-- Magnetic stripe reader capability -->
                        <enumeration value="F2210003"/><!-- Barcode reader -->
                        <enumeration value="F2210004"/><!-- Optical character reader (OCR) capability -->
                        <enumeration value="F2210005"/><!-- Integrated circuit card (ICC) capability -->
                        <enumeration value="F2210006"/><!-- Key entry-only capability -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="crdh_auth_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F2220000"/><!-- No electronic authentication capability -->
                        <enumeration value="F2220001"/><!-- PIN entry capability -->
                        <enumeration value="F2220002"/><!-- Electronic signature analysis capability -->
                        <enumeration value="F2220005"/><!-- Electronic authentication capability is inoperative -->
                        <enumeration value="F2220006"/><!-- Other -->
                        <enumeration value="F2220009"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_capture_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F2230000"/><!-- No capture capability -->
                        <enumeration value="F2230001"/><!-- Card capture capability -->
                        <enumeration value="F2230002"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="term_operating_env" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F2240000"/><!-- No terminal used -->
                        <enumeration value="F2240001"/><!-- On card acceptor premises; attended terminal -->
                        <enumeration value="F2240002"/><!-- On card acceptor premises; unattended terminal -->
                        <enumeration value="F2240003"/><!-- Off card acceptor premises; attended -->
                        <enumeration value="F2240004"/><!-- Off card acceptor premises; unattended -->
                        <enumeration value="F2240005"/><!-- On cardholder premises; unattended -->
                        <enumeration value="F2240006"/><!-- Off cardholder premises; unattended -->
                        <enumeration value="F2240007"/><!-- Private use (Future use) -->
                        <enumeration value="F2240009"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="crdh_data_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F2250000"/><!-- Cardholder present -->
                        <enumeration value="F2250001"/><!-- Cardholder not present (unspecified) -->
                        <enumeration value="F2250002"/><!-- Cardholder not present (mail/facsimile transaction) -->
                        <enumeration value="F2250003"/><!-- Cardholder not present (phone order or from automated response unit [ARU]) -->
                        <enumeration value="F2250004"/><!-- Cardholder not present (standing order/recurring transaction) -->
                        <enumeration value="F2250005"/><!-- Cardholder not present (electronic order [PC, Internet, mobile phone or PDA]) -->
                        <enumeration value="F2250009"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_data_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F2260000"/><!-- Card present -->
                        <enumeration value="F2260001"/><!-- Card not present -->
                        <enumeration value="F2260009"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_data_input_mode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F227000A"/><!-- PAN auto-entry via contactless magnetic stripe -->
                        <enumeration value="F227000B"/><!-- Magnetic stripe reader input; track data captured and passed unaltered -->
                        <enumeration value="F227000C"/><!-- Online chip -->
                        <enumeration value="F227000F"/><!-- Offline chip -->
                        <enumeration value="F227000M"/><!-- PAN auto-entry via contactless M/Chip -->
                        <enumeration value="F227000N"/><!-- Contactless input, PayPass mapping service applied -->
                        <enumeration value="F227000S"/><!-- Electronic commerce -->
                        <enumeration value="F2270000"/><!-- Unspecified; data unavailable -->
                        <enumeration value="F2270001"/><!-- Manual input; no terminal -->
                        <enumeration value="F2270002"/><!-- Magnetic stripe reader input -->
                        <enumeration value="F2270003"/><!-- Barcode reader -->
                        <enumeration value="F2270005"/><!-- Secured electronic commerce, 3D-security -->
                        <enumeration value="F2270006"/><!-- Key entered input -->
                        <enumeration value="F2270007"/><!-- Electronic commerce, channel encryption -->
                        <enumeration value="F2270009"/><!-- Electronic commerce, cardholder does not participate in security programm -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="crdh_auth_method" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F228000S"/><!-- Other systematic verification -->
                        <enumeration value="F2280000"/><!-- Not authenticated -->
                        <enumeration value="F2280001"/><!-- PIN -->
                        <enumeration value="F2280002"/><!-- Electronic signature analysis -->
                        <enumeration value="F2280005"/><!-- Manual signature verification -->
                        <enumeration value="F2280006"/><!-- Other manual verification (such as driver's license number) -->
                        <enumeration value="F2280009"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="crdh_auth_entity" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F2290000"/><!-- Not authenticated -->
                        <enumeration value="F2290001"/><!-- ICC - offline PIN -->
                        <enumeration value="F2290002"/><!-- Card acceptance device (CAD) -->
                        <enumeration value="F2290003"/><!-- Authorizing agent - online PIN -->
                        <enumeration value="F2290004"/><!-- Merchant/card acceptor - signature -->
                        <enumeration value="F2290005"/><!-- Other -->
                        <enumeration value="F2290006"/><!-- Merchant is suspicious -->
                        <enumeration value="F2290009"/><!-- Unknown; data unavailable -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_data_output_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F22A000S"/><!-- Other -->
                        <enumeration value="F22A0000"/><!-- Unknown; data unavailable -->
                        <enumeration value="F22A0001"/><!-- None -->
                        <enumeration value="F22A0002"/><!-- Magnetic stripe write -->
                        <enumeration value="F22A0003"/><!-- ICC -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="term_data_output_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F22B0000"/><!-- Unknown; data unavailable -->
                        <enumeration value="F22B0001"/><!-- None -->
                        <enumeration value="F22B0002"/><!-- Printing capability only -->
                        <enumeration value="F22B0003"/><!-- Display capability only -->
                        <enumeration value="F22B0004"/><!-- Printing and display capability -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="pin_capture_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="F22C000A"/><!-- PIN capture capability 10 characters maximum -->
                        <enumeration value="F22C000B"/><!-- PIN capture capability 11 characters maximum -->
                        <enumeration value="F22C000C"/><!-- PIN capture capability 12 characters maximum -->
                        <enumeration value="F22C0000"/><!-- No PIN capture capability -->
                        <enumeration value="F22C0001"/><!-- Unknown; data unavailable -->
                        <enumeration value="F22C0002"/><!-- Reserved -->
                        <enumeration value="F22C0003"/><!-- Reserved -->
                        <enumeration value="F22C0004"/><!-- PIN capture capability 4 characters maximum -->
                        <enumeration value="F22C0005"/><!-- PIN capture capability 5 characters maximum -->
                        <enumeration value="F22C0006"/><!-- PIN capture capability 6 characters maximum -->
                        <enumeration value="F22C0007"/><!-- PIN capture capability 7 characters maximum -->
                        <enumeration value="F22C0008"/><!-- PIN capture capability 8 characters maximum -->
                        <enumeration value="F22C0009"/><!-- PIN capture capability 9 characters maximum -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cat_level" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <pattern value="F22D[A-F0-9]{1,4}"/> <!-- Cardholder activated terminal level -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="terminal_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="TRMS0001"/><!-- Active -->
                        <enumeration value="TRMS0002"/><!-- Inactive -->
                        <enumeration value="TRMS0009"/><!-- Terminal closed -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="device_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="gmt_offset" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="13"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="is_mac" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cash_dispenser_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="payment_possibility" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="use_card_possibility" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cash_in_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="available_network" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="available_operation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="available_currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="terminal_quantity" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="instalment_support" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="terminal_profile" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="tcp_ip" type="tns:tcp_ip" minOccurs="0" maxOccurs="1"/>
            
            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="encryption" type="tns:encryption" minOccurs="0" maxOccurs="3"/>
            
            <element name="atm_terminal" type="tns:atm_terminal" minOccurs="0" maxOccurs="1"/>
            
            <element name="address" type="tns:address" minOccurs="0" maxOccurs="1"/>
            
            <element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
            
            <element name="acquiring_redefinition" type="tns:acquiring_redefinition" minOccurs="0" maxOccurs="1"/>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
            
        </sequence>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="tcp_ip">
        <sequence>

            <element name="remote_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="15"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="local_port" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="remote_port" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="initiator" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="TCPIREMT"/>
                        <enumeration value="TCPIHOST"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="format" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="TCPFVISA"/>
                        <enumeration value="TCPFL14S"/>
                        <enumeration value="TCPFIBIC"/>
                        <enumeration value="TCPF2L4B"/>
                        <enumeration value="TCPF006S"/>
                        <enumeration value="TCPF004S"/>
                        <enumeration value="TCPF004B"/>
                        <enumeration value="TCPF002C"/>
                        <enumeration value="TCPF002B"/>
                        <enumeration value="TCPF001B"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="keep_alive" minOccurs="0" maxOccurs="1" type="boolean">
            </element>

            <element name="monitor_connection" minOccurs="0" maxOccurs="1" type="boolean">
            </element>

            <element name="multiple_connection" minOccurs="0" maxOccurs="1" type="boolean">
            </element>

        </sequence>
    </complexType>
    
    <complexType name="encryption">
        <sequence>
            <element name="encryption_key_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ENKTTAK"/><!-- Terminal MAC Session Key -->
                        <enumeration value="ENKTTMK"/><!-- Terminal Master Key -->
                        <enumeration value="ENKTTMKA"/><!-- Terminal MAC Master Key -->
                        <enumeration value="ENKTTMKP"/><!-- Terminal PIN Master Key -->
                        <enumeration value="ENKTTPK"/><!-- Terminal PIN Session Key -->
                    </restriction>
                </simpleType>
            </element>

            <element name="encryption_key_prefix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="50"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="encryption_key" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="64"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="encryption_key_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="encryption_key_check_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="pin_block_format" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="atm_terminal">
        <sequence>
            <element name="atm_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ATMT0001"/><!-- NCR -->
                        <enumeration value="ATMT0002"/><!-- Diebold -->
                        <enumeration value="ATMT0003"/><!-- Wincor Nixdorf -->
                        <enumeration value="ATMT0004"/><!-- Triton -->
                        <enumeration value="ATMT0005"/><!-- Banquit -->
                    </restriction>
                </simpleType>
            </element>

            <element name="atm_model" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="serial_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="placement_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMP0001"/><!-- Street -->
                        <enumeration value="ATMP0002"/><!-- Indoors -->
                    </restriction>
                </simpleType>
            </element>

            <element name="availability_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMA0001"/><!-- Public -->
                        <enumeration value="ATMA0002"/><!-- Vip -->
                    </restriction>
                </simpleType>
            </element>

            <element name="operating_hours" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="local_date_gap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cassette_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="hopper_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="key_change_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="KCHA0001"/><!-- B as session PIN key -->
                        <enumeration value="KCHA0002"/><!-- A for MAC key and B for PIN key -->
                        <enumeration value="KCHA0003"/><!-- A for MAC key and Ð for PIN key -->
                    </restriction>
                </simpleType>
            </element>

            <element name="counter_sync_cond" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="reject_disp_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reject_disp_min_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="disp_rest_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="receipt_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_capture_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_max_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="scenario_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="manual_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="establ_conn_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="counter_mismatch_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="online_in_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="online_out_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="safe_close_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="disp_error_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="periodic_synch" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="ATMS0001"/><!-- Not permited -->
                        <enumeration value="ATMS0002"/><!-- Permitted -->
                        <enumeration value="ATMS0003"/><!-- Only verification -->
                    </restriction>
                </simpleType>
            </element>

            <element name="periodic_all_oper" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="periodic_oper_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cash_in_min_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cash_in_max_warn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="atm_dispenser" type="tns:atm_dispenser" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="atm_dispenser">
        <sequence>
            <element name="disp_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="face_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999.9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="denomination_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="dispenser_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="DSTPCASS"/><!-- Cassette -->
                        <enumeration value="DSTPHOPP"/><!-- Hopper -->
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="acquiring_redefinition">
        <sequence>

            <element name="purpose_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

           <element name="oper_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_number" minOccurs="0" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="service_with_object">
        <sequence>
            <element name="service_object" type="tns:service_object" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <complexType name="service_object">
        <sequence>
            <element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="attribute_limit">
        <sequence>
            <element name="limit_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="limit_sum_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="limit_count_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-1"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="sum_current" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"/><!-- Hour -->
                        <enumeration value="LNGT0002"/><!-- Day -->
                        <enumeration value="LNGT0003"/><!-- Week -->
                        <enumeration value="LNGT0004"/><!-- Month -->
                        <enumeration value="LNGT0005"/><!-- Year -->
                        <enumeration value="LNGT0006"/><!-- Minute -->
                        <enumeration value="LNGT0007"/><!-- Second -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cycle_length" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>            
        </sequence>        

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="account_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>            

            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="ACST[A-Z0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="service">
        <sequence>
            <element name="service_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="service_type_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_external_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="is_active" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="service_attribute" type="tns:service_attribute" minOccurs="0" maxOccurs="unbounded"/>           
        </sequence>
        
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>        
    </complexType>
    
    <complexType name="service_attribute">
        <sequence>
            <element name="service_attribute_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_attribute_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="address">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ADTPBSNA"/> <!--Business address -->
                        <enumeration value="ADTPHOME"/> <!--Home address -->
                        <enumeration value="ADTPLGLA"/> <!--Legal address -->
                        <enumeration value="ADTPSTDL"/> <!--Statement delivery address -->
                    </restriction>
                </simpleType>
            </element>

            <element name="country" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>
            
            <element name="house" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="apartment" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="place_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="address_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>                
    
    <complexType name="contact">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CNTTCALL"/> <!--Call-center -->
                        <enumeration value="CNTTCEOC"/> <!--CEO contact -->
                        <enumeration value="CNTTCFEO"/> <!--CFO contact -->
                        <enumeration value="CNTTPRMC"/> <!--Primary contact -->
                        <enumeration value="CNTTSCNC"/> <!--Secondary contact -->
                        <enumeration value="CNTTNTFC"/> <!--Notification --> 
                        <enumeration value="CNTT0002"/>
                        <enumeration value="CNTT0003"/>
                        <enumeration value="CNTT0004"/>
                        <enumeration value="CNTT0005"/>
                        <enumeration value="CNTT0006"/>
                        <enumeration value="CNTT0007"/>
                        <enumeration value="CNTT0008"/>
                        <enumeration value="CNTT0009"/>
                        <enumeration value="CNTT0010"/>                        
                    </restriction>
                </simpleType>
            </element>
            
            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="JTTLDRCT"/><!-- Director -->
                        <enumeration value="JTTLHDDP"/><!-- Head of department -->
                        <enumeration value="JTTLMNGR"/><!-- Manager -->
                        <enumeration value="JTTLOFMN"/><!-- Office manager -->
                        <enumeration value="JTTLCHFA"><!-- Chief accountant --></enumeration>
                        <enumeration value="JTTLACNT"><!-- Accountant --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LANGENG"/><!-- English -->
                        <enumeration value="LANGRUS"/><!-- Russian -->
                    </restriction>
                </simpleType>
            </element>
            
            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMNM0001"/> <!--Mobile phone -->
                        <enumeration value="CMNM0002"/> <!--E-mail -->
                        <enumeration value="CMNM0003"/> <!--Post -->
                        <enumeration value="CMNM0004"/> <!--Fax -->
                        <enumeration value="CMNM0005"/> <!--Skype -->
                        <enumeration value="CMNM0006"/> <!--AOL Aim -->
                        <enumeration value="CMNM0007"/> <!--Windows Live Messenger -->
                        <enumeration value="CMNM0008"/> <!--ICQ -->
                        <enumeration value="CMNM0009"/> <!--Yahoo! Messenger -->
                        <enumeration value="CMNM0010"/> <!--Jabber -->
                        <enumeration value="CMNM0011"/> <!--Telex -->
                        <enumeration value="CMNM0012"/> <!--Landline phone -->
                        <enumeration value="CMNM5002"/> <!--User ID -->
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="flexible_data">
        <sequence>
            <element name="field_name" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
            </element>

            <element name="field_value" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
            </element>
        </sequence>
    </complexType>
    
</schema>    