spec/spec/DataWarehouse/1.2/svxp_dwh_customers_1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP/Customers"
        xmlns:tns="http://sv.bpc.in/SVXP/Customers"
        elementFormDefault="qualified">

    <element name="customers" type="tns:customers"/>

    <complexType name="customers">
        <sequence>
            <element name="file_id"   type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTPCUST"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="inst_id"   type="tns:tiny_id" minOccurs="1" maxOccurs="1"/>
            <element name="customer"  type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="inst_id"     type="tns:tiny_id" minOccurs="1" maxOccurs="1"/>
            <element name="customer_number" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_8_type">
                        <enumeration value="CCTGORDN"><!-- Ordinary customer --></enumeration> <!-- ? -->
                        <enumeration value="CCTGPRVG"><!-- Privileged customer --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_ext_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_ext_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="customer_relation" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="resident" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="nationality" type="tns:symbol_code_3_type" minOccurs="0" maxOccurs="1"/><!-- ISO 3 digit country code -->
            <element name="credit_rating" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="MOLR0001"><!-- Low --></enumeration>
                        <enumeration value="MOLR0002"><!-- High --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="money_laundry_reason" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="reg_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="status"   type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1" />
            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"/>
            <element name="person"   type="tns:person"   minOccurs="0" maxOccurs="1"/>
            <element name="company"  type="tns:company"  minOccurs="0" maxOccurs="1"/>
            <element name="contact"  type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
            <element name="address"  type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
            <element name="flexible_data" type="tns:flexible_data" minOccurs="0" maxOccurs="unbounded"/>
            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="customer_id" type="tns:long_id"/>
    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="contract_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="agent_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="agent_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="contract_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="product_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="product_number" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="contract_id" type="tns:long_id"/>
    </complexType>

    <complexType name="person">
        <sequence>
            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="PTTLMRSS"><!-- Mrs --></enumeration>
                        <enumeration value="PTTLMSTR"><!-- Mr --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="unbounded"></element>
            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="PSFXSENR"><!-- Sr. --></enumeration>
                        <enumeration value="PSFXJUNR"><!-- Jr. --></enumeration>
                        <enumeration value="PSFXFRST"><!-- I --></enumeration>
                        <enumeration value="PSFXSCND"><!-- II --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="place_of_birth" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="GNDRFEML"><!-- Female --></enumeration>
                        <enumeration value="GNDRMALE"><!-- Male --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="person_id" type="tns:long_id"/>
    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="first_name" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="second_name" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language"/>
    </complexType>

    <complexType name="identity_card">
        <sequence>
            <element name="id_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="id_series" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_number" type="tns:string_3_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="id_issuer" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="id" type="tns:string_200_type"/>
    </complexType>

    <complexType name="company">
        <sequence>
            <element name="incorp_form" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="embossed_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="company_name" type="tns:company_name" minOccurs="0" maxOccurs="unbounded"/>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="company_id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="company_name">
        <sequence>
            <element name="company_short_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="company_full_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="language" type="tns:language"/>
    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="contact_type" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="preferred_lang" type="tns:language" minOccurs="0" maxOccurs="1"/>
            <element name="job_title" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>
            <element name="contact_data" type="tns:contact_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="contact_id" type="tns:long_id"/>
    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="commun_address" type="tns:string_3_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="address">
        <sequence>
            <element name="address_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="country" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>
            <element name="house" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="apartment" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="place_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="latitude" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="longitude" type="double" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="address_id" type="tns:long_id"/>
    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="city" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="street" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language"/>
    </complexType>

    <complexType name="flexible_data">
        <sequence>
            <element name="field_name" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="field_value" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="language" type="tns:language"/>
    </complexType>

    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_3_200_type">
        <restriction base="string">
            <minLength value="3"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="tiny_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="99999999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="symbol_code_type">
        <restriction base="string">
            <minLength value="5"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

   <simpleType name="symbol_code_3_type">
        <restriction base="string">
            <length value="3"/>
        </restriction>
    </simpleType>

    <simpleType name="number_boolean_type">
        <restriction base="int">
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="tns:symbol_code_type"/>
    </simpleType>

</schema>
