spec/spec/DataWarehouse/1.2/svxp_dwh_cards_1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP/Cards"
        xmlns:tns="http://sv.bpc.in/SVXP/Cards"
        elementFormDefault="qualified">

    <element name="cards">
        <complexType>
            <sequence>
                <element name="file_id"   type="tns:long_id" minOccurs="1" maxOccurs="1"/>
                <element name="file_type" minOccurs="1" maxOccurs="1">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="8"/>
                            <maxLength value="8"/>
                            <enumeration value="FLTPCINF"/>
                        </restriction>
                    </simpleType>
                </element>
                <element name="inst_id"   type="tns:tiny_id" minOccurs="1" maxOccurs="1"/>
                <element name="card" type="tns:card" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="card">
        <sequence>
            <element name="inst_id" type="tns:tiny_id" minOccurs="1" maxOccurs="1"/>
            <element name="card_number" type="tns:card_number" minOccurs="1" maxOccurs="1"/>
            <element name="card_mask" type="tns:card_number" minOccurs="0" maxOccurs="1"/>
            <element name="card_type" type="tns:tiny_id_zero_include" minOccurs="0" maxOccurs="1"/>
            <element name="country" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="category" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="reg_date" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>
            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="1"/>
            <element name="cardholder" type="tns:cardholder" minOccurs="1" maxOccurs="1"/>
            <element name="card_instance" type="tns:card_instance" minOccurs="1" maxOccurs="unbounded"/>
            <element name="account" type="tns:account" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="card_id" type="tns:long_id"/>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="customer_id" type="tns:long_id"/>
    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="contract_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="contract_id" type="tns:long_id"/>
    </complexType>

    <complexType name="cardholder">
        <sequence>
            <element name="cardholder_number"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="cardholder_name"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>
            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="cardholder_id" type="tns:long_id"/>
    </complexType>

    <complexType name="card_instance">
        <sequence>
            <element name="inst_id"  type="tns:tiny_id" minOccurs="1" maxOccurs="1"/>
            <element name="agent_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="agent_number"  type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="sequential_number"  type="tns:tiny_id_zero_include" minOccurs="1" maxOccurs="1"/>
            <element name="card_status" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="card_state" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="iss_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="expiration_date" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="reissue_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="reissue_reason" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="pin_update_flag" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>

            <element name="pin_request" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="perso_priority" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="embossing_request" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="pin_mailer_request" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="preceding_instance_id" type="tns:long_id" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="instance_id" type="tns:long_id"/>
    </complexType>

    <complexType name="person">
        <sequence>
            <element name="person_title" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="unbounded"></element>
            <element name="suffix" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="place_of_birth" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="gender" minOccurs="0" maxOccurs="1"/>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="person_id" type="tns:long_id"/>
    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="first_name" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="second_name" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language" use="required"/>
    </complexType>

    <complexType name="identity_card">
        <sequence>
            <element name="id_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="id_series" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_issuer" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_desc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="address">
        <sequence>
            <element name="address_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="country" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>
            <element name="house" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="apartment" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="place_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="latitude" type="double" minOccurs="0" maxOccurs="1"/>
            <element name="longitude" type="double" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="address_id" type="tns:long_id"/>
    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="city" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="street" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language"/>
    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="contact_type" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="preferred_lang" type="tns:language" minOccurs="0" maxOccurs="1"/>
            <element name="job_title" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>
            <element name="contact_data" type="tns:contact_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="contact_id" type="tns:long_id"/>
    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="commun_address" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="account">
        <sequence>
            <element name="account_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="account_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="currency" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="account_status" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="is_pos_default" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="is_atm_default" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="is_atm_currency" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="is_pos_currency" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="link_flag" type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="account_id" type="tns:long_id"/>
    </complexType>

   <simpleType name="symbol_code_type">
       <restriction base="string">
           <minLength value="5"/>
           <maxLength value="8"/>
       </restriction>
   </simpleType>

    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="symbol_code_3_type">
        <restriction base="string">
            <length value="3"/>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="tns:symbol_code_type"/>
    </simpleType>

    <simpleType name="tiny_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="tiny_id_zero_include">
        <restriction base="int">
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="size_8_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="99999999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="99999999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="medium_id">
        <restriction base="long">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="999999999999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="card_number">
        <restriction base="string">
            <maxLength value="24"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>


    <simpleType name="number_boolean_type">
        <restriction base="int">
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>

</schema>
