spec/spec/SVWS/CardBatchService/wsdl/cardbatchWS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpc.ru/sv/cardbatchWS/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  name="Cardbatch" targetNamespace="http://bpc.ru/sv/cardbatchWS/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://bpc.ru/sv/cardbatchWS/" schemaLocation="cardbatchWS_cardbatchWS.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://bpc.ru/sv/cardbatchWS/">
			<xsd:complexType name="FaultType">
				<xsd:sequence>
					<xsd:element name="text" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="CardbatchException" type="tns:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CardbatchException">
		<wsdl:part element="tns:CardbatchException" name="fault"/>
	</wsdl:message>
	<wsdl:message name="setBatchStateRequest">
		<wsdl:part element="tns:setBatchStateRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="setBatchStateResponse">
		<wsdl:part element="tns:setBatchStateResponse" name="response"/>
	</wsdl:message>
	<wsdl:portType name="Cardbatch">
		<wsdl:operation name="setBatchState">
			<wsdl:input message="tns:setBatchStateRequest"/>
			<wsdl:output message="tns:setBatchStateResponse"/>
			<wsdl:fault message="tns:CardbatchException" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CardbatchSOAP" type="tns:Cardbatch">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="setBatchState">
			<soap:operation soapAction="http://bpc.ru/sv/cardbatchWS/setBatchState"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Cardbatch">
		<wsdl:port binding="tns:CardbatchSOAP" name="CardbatchSOAP">
			<soap:address location="http://localhost:7001/sv/Cardbatch"/>
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" wsu:Id="Cardbatch_policy">
		<sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:WssUsernameToken11/>
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>
</wsdl:definitions>