spec/spec/MerchantPortal/1.3/svmp_operation_1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP/Operations"
        xmlns:tns="http://sv.bpc.in/SVXP/Operations"
        elementFormDefault="qualified">

    <element name="operations" type="tns:operations"/>

    <complexType name="operations">
        <sequence>
            <element name="file_id"   type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTP1710"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="inst_id"   type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="operation" type="tns:operation" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="operation">
        <sequence>
            <element name="oper_id" type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="inst_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="agent_id" type="tns:medium_id" minOccurs="1" maxOccurs="1"/>
            <element name="oper_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="msg_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="sttl_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="status" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="resp_code" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="oper_date" type="dateTime" minOccurs="1" maxOccurs="1"/>
            <element name="host_date" type="dateTime" minOccurs="1" maxOccurs="1"/>
            <element name="oper_amount" type="tns:amount" minOccurs="1" maxOccurs="1"/>
            <element name="sttl_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>
            <element name="oper_request_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>
            <element name="oper_surcharge_amount" type="tns:amount" minOccurs="0" maxOccurs="1"/>
            <element name="originator_refnum" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1" />
                        <maxLength value="36" />
                    </restriction>
                </simpleType>
            </element>
            <element name="network_refnum" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="36"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="is_reversal" type="tns:number_boolean_type" minOccurs="1" maxOccurs="1"/>
            <element name="merchant_number" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4" />
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="merchant_name" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="merchant_street" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="merchant_city" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="merchant_region" type="tns:symbol_code_3_type" minOccurs="0" maxOccurs="1"/>
            <element name="merchant_country" type="tns:symbol_code_3_type" minOccurs="0" maxOccurs="1"/>
            <element name="merchant_postcode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1" />
                        <maxLength value="10" />
                    </restriction>
                </simpleType>
            </element>
            <element name="terminal_type" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="terminal_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6" />
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="merchant_id" type="tns:long_id" minOccurs="0" maxOccurs="1"/>
            <element name="terminal_id" type="tns:long_id" minOccurs="0" maxOccurs="1"/>
            <element name="card_number" type="tns:card_number" minOccurs="0" maxOccurs="1"/>
            <element name="card_network_id"  type="tns:short_id" minOccurs="0" maxOccurs="1"/>
            <element name="card_type_id"  type="tns:short_id" minOccurs="0" maxOccurs="1"/>
            <element name="entry" type="tns:entry" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="entry">
        <sequence>
            <element name="entry_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1" />
                        <maxInclusive value="9999999999999999" />
                    </restriction>
                </simpleType>
            </element>
            <element name="transaction_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="posting_date" type="dateTime" minOccurs="1" maxOccurs="1"></element>
            <element name="sttl_date" type="dateTime" minOccurs="1" maxOccurs="1"></element>
            
            <element name="balance_impact" type="tns:number_boolean_type" minOccurs="1" maxOccurs="1"/>
            <element name="amount_purpose" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8" />
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="account" type="tns:account" minOccurs="1" maxOccurs="1" ></element>
            <element name="amount" type="tns:amount" minOccurs="1" maxOccurs="1" ></element>
        </sequence>
    </complexType>

    <complexType name="account">
        <sequence>
            <element name="account_number" type="tns:account_number" minOccurs="1" maxOccurs="1"></element>
            <element name="currency" type="tns:currency" minOccurs="1" maxOccurs="1" ></element>
        </sequence>
        <attribute name="account_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="amount">
        <sequence>
            <element name="amount_value" type="tns:amount_value" minOccurs="1" maxOccurs="1"/>
            <element name="currency" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    
    <simpleType name="card_number">
        <restriction base="string">
            <maxLength value="24"></maxLength>
        </restriction>
    </simpleType>
    
    <simpleType name="symbol_code_type">
        <restriction base="string">
            <minLength value="5"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="short_id_zero_include">
        <restriction base="int">
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>
    
    <simpleType name="medium_id">
        <restriction base="long">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="999999999999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="language">
        <restriction base="tns:symbol_code_type"/>
    </simpleType>
    
    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_3_200_type">
        <restriction base="string">
            <minLength value="3"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="symbol_code_3_type">
        <restriction base="string">
            <length value="3"/>
        </restriction>
    </simpleType>
    
    <simpleType name="number_boolean_type">
        <restriction base="int">
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>
    
    <simpleType name="amount_value">
        <restriction base="long">
            <minInclusive value="0" />
            <maxInclusive value="9999999999999999" />
        </restriction>
    </simpleType>
    
    <simpleType name="currency">
        <restriction base="string">
            <minLength value="3" />
            <maxLength value="3" />
        </restriction>
    </simpleType>
    
    <simpleType name="account_number">
        <restriction base="string">
            <minLength value="1" />
            <maxLength value="32" />
        </restriction>
    </simpleType>
</schema>