spec/spec/SVAP/ProductApplications/Issuing/svap_product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP/prd"
        xmlns:tns="http://sv.bpc.in/SVAP/prd"
        elementFormDefault="qualified">

    <element name="application" type="tns:applicationType"/>

    <complexType name="applicationType">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPIPRD"><!-- Issuing product applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APST0001"><!-- Application created --></enumeration>
                        <enumeration value="APST0002"><!-- Awaiting confirming --></enumeration>
                        <enumeration value="APST0003"><!-- Need correction --></enumeration>
                        <enumeration value="APST0004"><!-- Awaiting checking --></enumeration>
                        <enumeration value="APST0005"><!-- Awaiting additional data --></enumeration>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                        <enumeration value="APST0007"><!-- Successfuly processed --></enumeration>
                        <enumeration value="APST0008"><!-- Processing failed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="product" type="tns:product" minOccurs="1" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="product">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="parent_product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_name" type="tns:product_name" minOccurs="1" maxOccurs="1"/>

            <element name="product_service" type="tns:product_service" minOccurs="0" maxOccurs="unbounded"/>

            <element name="product_account_type" type="tns:product_account_type" minOccurs="0" maxOccurs="unbounded"/>

            <element name="product_card_type" type="tns:product_card_type" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="product_name">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="label" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="200"/>
                        <pattern value="\S.*"/> <!-- Surname can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="description" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="2000"/>
                        <pattern value="\S.*"/> <!-- First name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="LANGENG"><!-- English --></enumeration>
                    <enumeration value="LANGRUS"><!-- Russian --></enumeration>
                    <enumeration value="LANGHUN"><!-- Hungarian --></enumeration>
                    <enumeration value="LANGBUL"><!-- Bulgarian --></enumeration>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="product_service">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="initial_service_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="min_count" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="max_count" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="conditional_group" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="attribute_value" type="tns:attribute_value" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_value">
        <sequence>

            <element name="attribute_char" type="tns:attribute_char" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_num" type="tns:attribute_num" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_date" type="tns:attribute_date" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_fee" type="tns:attribute_fee" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_cycle" type="tns:attribute_cycle" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>

            <element name="definition_level" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="SADLOBJT"><!-- Object --></enumeration>
                        <enumeration value="SADLPRDT"><!-- Product and object --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    </complexType>

    <complexType name="attribute_char">
        <sequence>
            <element name="attribute_value_char" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_num">
        <sequence>
            <element name="attribute_value_num" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_date">
        <sequence>
            <element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_fee">
        <sequence>
            <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FEEM0001"><!-- Percentage value --></enumeration>
                        <enumeration value="FEEM0002"><!-- Fixed value --></enumeration>
                        <enumeration value="FEEM0003"><!-- Minimum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0004"><!-- Maximum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0005"><!-- Sum of percent and fixed value --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_base_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FEEB0001"><!-- Incoming amount --></enumeration>
                        <enumeration value="FEEB0002"><!-- Difference between incoming amount and lower threshold --></enumeration>
                        <enumeration value="FEEB0003"><!-- Lower threshold --></enumeration>
                        <enumeration value="FEEB0004"><!-- Tired basis --></enumeration>
                        <enumeration value="FEEB0005"><!-- Previous period turnover --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_min_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_max_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="cycle_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="length_type_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="NDYR0001"><!-- The actual quantity --></enumeration>
                        <enumeration value="NDYR0002"><!-- 365 days --></enumeration>
                        <enumeration value="NDYR0003"><!-- 360 days --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_tier" type="tns:fee_tier" minOccurs="0" maxOccurs="unbounded"/>

            <element name="cycle" type="tns:cycle" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="fee_tier">
        <sequence>
            <element name="sum_threshold" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="count_threshold" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_min_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_max_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="cycle">
        <sequence>
            <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="cycle_length_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_workdays_only" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="attribute_cycle">
        <sequence>
            <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="cycle_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="shift" type="tns:shift" minOccurs="0" maxOccurs="unbounded"/>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="shift">
        <sequence>
            <element name="shift_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CSHTENDM"><!-- End of month --></enumeration>
                        <enumeration value="CSHTMDAY"><!-- Shift to exact day of month --></enumeration>
                        <enumeration value="CSHTPERD"><!-- Shift by period --></enumeration>
                        <enumeration value="CSHTWDAY"><!-- Shift to exact day of week --></enumeration>
                        <enumeration value="CSHTWRKD"><!-- Shift to certain workday --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_priority" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_sign" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="1"/> <!-- Forward -->
                        <enumeration value="-1"/> <!-- Backward -->
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                        <enumeration value="LNGT0006"><!-- Minute --></enumeration>
                        <enumeration value="LNGT0007"><!-- Second --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="attribute_limit">
        <sequence>
            <element name="limit_count_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_sum_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_check_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="counter_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <minLength value="2"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="product_account_type">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="aval_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="product_card_type">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="seq_number_low" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="seq_number_high" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="bin" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="index_range_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="number_format_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_blank_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="emv_appl_scheme_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_request" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_mailer_request" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossing_request" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="perso_priority" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="RCMDNEWN"><!-- Reissue with new number --></enumeration>
                        <enumeration value="RCMDNOTR"><!-- Reissue is not required --></enumeration>
                        <enumeration value="RCMDOLDN"><!-- Reissue with old number --></enumeration>
                        <enumeration value="RCMDRENW"><!-- Renewal --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_start_date_rule" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_expir_date_rule" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_card_type_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_product_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_bin_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_bin" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_state" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="perso_method_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="uid_format_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <element name="applications" type="tns:applications"/>

    <complexType name="applications">
        <sequence maxOccurs="unbounded" minOccurs="1">
            <element ref="tns:application"/>
        </sequence>
    </complexType>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"/>
        </restriction>
    </simpleType>
</schema>
