spec/spec/DataWarehouse/1.1/svxp_dwh_terminals_1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP/Terminals"
        xmlns:tns="http://sv.bpc.in/SVXP/Terminals"
        elementFormDefault="qualified">

    <element name="terminals" type="tns:terminals"/>

    <complexType name="terminals">
        <sequence>
            <element name="file_id"   type="tns:long_id" minOccurs="1" maxOccurs="1"/>
            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FLTPTRMN"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="inst_id"   type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="terminal" type="tns:terminal" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="terminal">
        <sequence>
            <element name="inst_id" type="tns:short_id" minOccurs="1" maxOccurs="1"/>
            <element name="agent_id" type="tns:medium_id" minOccurs="1" maxOccurs="1"/>
            <element name="agent_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="terminal_number" type="tns:string_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="terminal_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="terminal_status" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="standard_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="version_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_input_cap" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="crdh_auth_cap" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="card_capture_cap" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="term_operating_env" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="crdh_data_present" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="card_data_present" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="card_data_input_mode" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="crdh_auth_method" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="crdh_auth_entity" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="card_data_output_cap" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="term_data_output_cap" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="pin_capture_cap"  type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="cat_level"  type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="gmt_offset" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="13"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="cash_dispenser_present"  type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="payment_possibility"  type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="use_card_possibility"  type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="cash_in_present"  type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="instalment_support"  type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="pos_batch_support"  type="tns:number_boolean_type" minOccurs="0" maxOccurs="1"/>
            <element name="atm_terminal" type="tns:atm_terminal" minOccurs="0" maxOccurs="1"/>
            <element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="1"/>
            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>
            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="1"/>
            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="terminal_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="atm_terminal">
        <sequence>
            <element name="atm_type" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="atm_model" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="serial_number" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="placement_type" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="availability_type" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="cassette_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="8"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="atm_dispenser" type="tns:atm_dispenser" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <complexType name="atm_dispenser">
        <sequence>
            <element name="disp_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="face_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999.9999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="denomination_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="dispenser_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="customer_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="contract">
        <sequence>
            <element name="contract_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="contract_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="merchant">
        <sequence>
            <element name="merchant_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="merchant_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="contact">
        <sequence>
            <element name="contact_type" type="tns:symbol_code_8_type" minOccurs="0" maxOccurs="1"/>
            <element name="preferred_lang" type="tns:language" minOccurs="0" maxOccurs="1"/>
            <element name="job_title" type="tns:symbol_code_type" minOccurs="0" maxOccurs="1"/>
            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>
            <element name="contact_data" type="tns:contact_data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="contact_id" type="tns:long_id"/>
    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="commun_address" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    

    <complexType name="address">
        <sequence>
            <element name="address_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="country" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>
            <element name="house" type="tns:string_1_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="apartment" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="place_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
        <attribute name="address_id" type="tns:long_id"/>
    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="city" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="street" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language"/>
    </complexType>
    
    <complexType name="account">
        <sequence>
            <element name="account_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="account_type" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
            <element name="currency" type="tns:symbol_code_3_type" minOccurs="1" maxOccurs="1"/>
            <element name="account_status" type="tns:symbol_code_type" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="account_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="person">
        <sequence>
            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="PTTLMRSS"><!-- Mrs --></enumeration>
                        <enumeration value="PTTLMSTR"><!-- Mr --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="unbounded"></element>
            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="PSFXSENR"><!-- Sr. --></enumeration>
                        <enumeration value="PSFXJUNR"><!-- Jr. --></enumeration>
                        <enumeration value="PSFXFRST"><!-- I --></enumeration>
                        <enumeration value="PSFXSCND"><!-- II --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="place_of_birth" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="GNDRFEML"><!-- Female --></enumeration>
                        <enumeration value="GNDRMALE"><!-- Male --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="person_id" type="tns:long_id"/>
    </complexType>
    
    <complexType name="person_name">
        <sequence>
            <element name="surname" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="first_name" type="tns:string_2_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="second_name" type="tns:string_2_200_type" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="language" type="tns:language" use="required"/>
    </complexType>
    
    <complexType name="identity_card">
        <sequence>
            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="tns:symbol_code_type">
                        <enumeration value="IDTP0001"><!-- Passport --></enumeration>
                        <enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
                        <enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
                        <enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
                        <enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
                        <enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
                        <enumeration value="IDTP0010"><!-- Taxpayer ID --></enumeration>
                        <enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
                        <enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
                        <enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
                        <enumeration value="IDTP0014"><!-- License --></enumeration>
                        <enumeration value="IDTP0015"><!-- KPP --></enumeration>
                        <enumeration value="IDTP0016"><!-- OKPO --></enumeration>
                        <enumeration value="IDTP0020"><!-- Driver license --></enumeration>
                        <enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
                        <enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
                        <enumeration value="IDTP0045"><!-- National ID --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="id_series" type="tns:string_1_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_number" type="tns:string_3_200_type" minOccurs="1" maxOccurs="1"/>
            <element name="id_issuer" type="tns:string_200_type" minOccurs="0" maxOccurs="1"/>
            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>
            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="id" type="tns:string_200_type"/>
    </complexType>
    
    
    <complexType name="merchant_label">
        <simpleContent>
            <extension base="tns:string_200_type">
                <attribute name="language" type="language" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    
    
    <simpleType name="symbol_code_type">
        <restriction base="string">
            <minLength value="5"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="short_id">
        <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="short_id_zero_include">
        <restriction base="int">
            <maxInclusive value="9999"></maxInclusive>
        </restriction>
    </simpleType>
    
    <simpleType name="long_id">
        <restriction base="long">
            <minInclusive value="-9999999999999999"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>
    
    <simpleType name="medium_id">
        <restriction base="long">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="999999999999"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="card_number">
        <restriction base="string">
            <maxLength value="24"></maxLength>
        </restriction>
    </simpleType>
    
    <simpleType name="language">
        <restriction base="tns:symbol_code_type"/>
    </simpleType>
    
    <simpleType name="string_2_200_type">
        <restriction base="string">
            <minLength value="2"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_200_type">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_1_200_type">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="symbol_code_8_type">
        <restriction base="string">
            <length value="8"/>
        </restriction>
    </simpleType>
    
    <simpleType name="string_3_200_type">
        <restriction base="string">
            <minLength value="3"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    
    <simpleType name="symbol_code_3_type">
        <restriction base="string">
            <length value="3"/>
        </restriction>
    </simpleType>
    
    <simpleType name="number_boolean_type">
        <restriction base="int">
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>
    
</schema>