back/ru.bpc.sv.impl.db/Source/CoreModules/Dispute/clob/app_flow.xsd_source.1505.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP"
        xmlns:tns="http://sv.bpc.in/SVAP"
        elementFormDefault="qualified">

    <element name="application" type="tns:applicationType"/>

    <complexType name="applicationType">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPDSPT"><!-- User management applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1"> <!-- Dispute module code is 15 -->
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1500"></minInclusive>
                        <maxInclusive value="1599"></maxInclusive>
                        <enumeration value="1505"><!-- Issuing international dispute --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0014"><!-- Pending --></enumeration>
                        <enumeration value="APST0015"><!-- In progress --></enumeration>
                        <enumeration value="APST0016"><!-- Resolved --></enumeration>
                        <enumeration value="APST0017"><!-- Closed --></enumeration>
                        <enumeration value="APST0018"><!-- Approving of write-off --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" type="tns:entity_name" minOccurs="0" maxOccurs="1"/>

            <element name="card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="24"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="dispute_id" minOccurs="0" maxOccurs="1"> <!-- Dispute module code is 15 -->
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="dispute_reason" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <pattern value="DSPR[A-F0-9]{1,4}"/> <!-- Dispute reasons -->
                    </restriction>
                </simpleType>
            </element>

            <element name="dispute_progress" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <pattern value="DSPP[0-9]{1,4}"/> <!-- Dispute progress -->
                    </restriction>
                </simpleType>
            </element>

            <element name="due_date" type="dateTime" minOccurs="0" maxOccurs="1" />

            <element name="oper_date" type="dateTime" minOccurs="1" maxOccurs="1" />

            <element name="oper_amount" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1" />
                        <maxInclusive value="9999999999999999" />
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3" />
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>

            <element name="message_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="MSGTWFPS"><!-- Write-off positive --></enumeration>
                        <enumeration value="MSGTWFNG"><!-- Write-off negative --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="write_off_amount" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1" />
                        <maxInclusive value="9999999999999999" />
                    </restriction>
                </simpleType>
            </element>

            <element name="write_off_currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3" />
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" type="tns:entity_name" minOccurs="1" maxOccurs="1"/>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" type="tns:entity_name" minOccurs="1" maxOccurs="1"/>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <element name="applications" type="tns:applications"></element>

    <complexType name="applications">
        <sequence minOccurs="1" maxOccurs="unbounded">
            <element ref="tns:application"/>
        </sequence>
    </complexType>

    <simpleType name="entity_name">
        <restriction base="string">
            <minLength value="1"></minLength>
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

</schema>