spec/spec/SVWS/dpp/svxp_dpp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://bpc.ru/sv/SVXP/dpps/ws"
                  targetNamespace="http://bpc.ru/sv/SVXP/dpps/ws"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:dpp="http://bpc.ru/sv/SVXP/dpps"
                  name="dpps">
	<wsdl:types>
		<xsd:schema targetNamespace="http://bpc.ru/sv/SVXP/dpps/ws">
			<xsd:import namespace="http://bpc.ru/sv/SVXP/dpps" schemaLocation="svxp_dpp.xsd" />
			<xsd:complexType name="fault">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="dppException" type="tns:fault" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestDpps">
		<wsdl:part element="dpp:dpps" name="request" />
	</wsdl:message>
	<wsdl:message name="responseDpps">
		<wsdl:part element="dpp:dpps" name="response" />
	</wsdl:message>
	<wsdl:message name="dppException">
		<wsdl:part element="tns:dppException" name="fault"/>
	</wsdl:message>

	<wsdl:portType name="DppWS">
		<wsdl:operation name="registerDpps">
			<wsdl:input message="tns:requestDpps" />
			<wsdl:output message="tns:responseDpps" />
			<wsdl:fault message="tns:dppException" name="fault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SoapBinding" type="tns:DppWS">
		<soap:binding style="document"
		              transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="registerDpps">
			<soap:operation soapAction="http://bpc.ru/sv/SVXP/dpps" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DppWS">
		<wsdl:port binding="tns:SoapBinding" name="DppSOAP">
			<soap:address location="http://localhost:7001/sv/DppWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
