spec/spec/H2HInterface/1.2/sv_h2h_interface_1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bpc.ru/sv/SVXP/clearing"
        xmlns:tns="http://bpc.ru/sv/SVXP/clearing"
        elementFormDefault="qualified">

    <complexType name="amount">
        <sequence>
            <element name="amount_value" type="tns:amount_value" minOccurs="1" maxOccurs="1"/>
            <element name="currency" type="tns:currency" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
		
    <simpleType name="amount_value">
        <restriction base="long">
            <minInclusive value="0"/>
            <maxInclusive value="9999999999999999"/>
        </restriction>
    </simpleType>

    <simpleType name="currency">
        <restriction base="string">
            <minLength value="3"/>
            <maxLength value="3"/>
        </restriction>
    </simpleType>

    <complexType name="clearing">
        <sequence>

            <element name="file_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="7"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="forw_inst_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="11"/>
                    </restriction>
                </simpleType>
            </element>

           <element name="receiv_inst_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="11"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="operation" type="tns:operation" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="operation">
        <sequence>

            <element name="oper_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
 
            <element name="msg_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_date" type="dateTime" minOccurs="1" maxOccurs="1"> 
			</element>

            <element name="oper_amount" type="tns:amount" minOccurs="1" maxOccurs="1">
            </element>

            <element name="oper_surcharge_amount" type="tns:amount" minOccurs="0" maxOccurs="1">
            </element>

            <element name="oper_cashback_amount" type="tns:amount" minOccurs="0" maxOccurs="1">
            </element>

            <element name="sttl_amount" type="tns:amount" minOccurs="0" maxOccurs="1">
            </element>

            <element name="sttl_rate" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_bill_amount" type="tns:amount" minOccurs="0" maxOccurs="1">
            </element>			

            <element name="crdh_bill_rate" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="acq_inst_bin" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="arn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="23"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_reversal" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="merchant_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="15"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mcc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_street" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_city" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_country" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="merchant_postcode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="11"/>
                        <maxLength value="19"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_seq_num" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_expiry" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="service_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>		

            <element name="approval_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="6"/>
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="rrn" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>

           <element name="trn" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="oper_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="30"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="original_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="30"/>
                    </restriction>
                </simpleType>
            </element>
			

            <element name="emv_data" type="tns:emv_data" minOccurs="0" maxOccurs="1">
            </element>

            <element name="pdc" type="tns:pdc" minOccurs="1" maxOccurs="1">
            </element>

            <element name="tag" type="tns:tag" minOccurs="0" maxOccurs="unbounded"/>
			
            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
			
        </sequence>
    </complexType>

    <complexType name="emv_data">
        <sequence>

		<element name="tag_5F2A" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_5F34" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_71" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_72" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_82" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
			
		<element name="tag_84" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="32"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_8A" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="2"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_91" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="32"/>
                    </restriction>
                </simpleType>
            </element>
			
		<element name="tag_95" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_9A" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>
			
		<element name="tag_9C" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="2"/>
                    </restriction>
                </simpleType>
            </element>

		<element name="tag_9F02" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>
			
		<element name="tag_9F03" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F06" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="64"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F09" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F10" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="64"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F18" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F1A" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F1E" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F26" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F27" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="2"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F28" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F29" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F33" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>			

		<element name="tag_9F34" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="6"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F36" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="4"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F37" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F41" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>			
			
		<element name="tag_9F53" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="2"/>
                    </restriction>
                </simpleType>
            </element>			

        </sequence>
    </complexType>

	
    <complexType name="pdc">
        <sequence>
            <element name="pdc_1" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="4"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="A"/>
                        <enumeration value="B"/>
                        <enumeration value="C"/>
                        <enumeration value="D"/>
                        <enumeration value="E"/>
                        <enumeration value="M"/>
                        <enumeration value="V"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_2" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="9"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_3" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_4" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="4"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="7"/>
                        <enumeration value="9"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_5" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="4"/>
                        <enumeration value="5"/>
                        <enumeration value="9"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_6" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="9"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_7" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="7"/>
                        <enumeration value="9"/>
                        <enumeration value="A"/>
                        <enumeration value="B"/>
                        <enumeration value="C"/>
                        <enumeration value="F"/>
                        <enumeration value="M"/>
                        <enumeration value="N"/>
                        <enumeration value="R"/>
                        <enumeration value="S"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_8" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="9"/>
                        <enumeration value="S"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_9" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="4"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="9"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_10" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="FS"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_11" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="4"/>
                    </restriction>
                </simpleType>
            </element>
			
            <element name="pdc_12" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="1"/>
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="4"/>
                        <enumeration value="5"/>
                        <enumeration value="6"/>
                        <enumeration value="7"/>
                        <enumeration value="8"/>
                        <enumeration value="9"/>
                        <enumeration value="A"/>
                        <enumeration value="B"/>
                        <enumeration value="C"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
	
    <complexType name="tag">
        <sequence>
            <element name="tag_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="tag_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
		
        </sequence>
    </complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <element name="clearing" type="tns:clearing"/>
</schema>

