back/project/icc/config/clob/app_flow.xsd_source.1004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://sv.bpc.in/SVAP" 
        xmlns:tns="http://sv.bpc.in/SVAP" 
        elementFormDefault="qualified">
    <complexType name="application">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPISSA"><!-- Issuer applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_reject_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APRJ0001"><!-- Application approved --></enumeration>
                        <enumeration value="APRJ0002"><!-- Application rejected --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="supervisor_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXUP"><!-- Update or raise error --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CCTGORDN"><!-- Ordinary customer --></enumeration>
                        <enumeration value="CCTGPRVG"><!-- Privileged customer --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_ext_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_ext_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="RSCBAFLT"><!-- Affiliate --></enumeration>
                        <enumeration value="RSCBEMPL"><!-- Employee --></enumeration>
                        <enumeration value="RSCBEXTR"><!-- External --></enumeration>
                        <enumeration value="RSCBINSD"><!-- Insider --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="resident" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="nationality" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="credit_rating" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="CRDR0001"><!-- Category I --></enumeration>
                        <enumeration value="CRDR0002"><!-- Category II --></enumeration>
                        <enumeration value="CRDR0003"><!-- Category III --></enumeration>
                        <enumeration value="CRDR0004"><!-- Category IV --></enumeration>
                        <enumeration value="CRDR0005"><!-- Category V --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="MOLR0001"><!-- Low --></enumeration>
                        <enumeration value="MOLR0002"><!-- High --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="MLRS0001"><!-- No reasons --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_acquired_by" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                        <pattern value="\S.*"/> <!-- Name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_introduced_by" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                        <pattern value="\S.*"/> <!-- Name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_collected_by" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                        <pattern value="\S.*"/> <!-- Name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"></element>

            <element name="company" type="tns:company" minOccurs="0" maxOccurs="1"></element>

            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="sec_word" type="tns:sec_word" minOccurs="0" maxOccurs="1"></element>

            <element name="partner_host_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_notes" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="person">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="PTTLDCTR"><!-- Dr --></enumeration>
                        <enumeration value="PTTLLADY"><!--  --></enumeration>
                        <enumeration value="PTTLMRSS"><!-- Mrs --></enumeration>
                        <enumeration value="PTTLMSTR"><!-- Mr --></enumeration>
                        <enumeration value="PTTLSIR"><!-- Sir --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                        <enumeration value="PSFXESQR"><!-- Esqr. --></enumeration>
                        <enumeration value="PSFXFRST"><!-- I --></enumeration>
                        <enumeration value="PSFXFRTH"><!-- IV --></enumeration>
                        <enumeration value="PSFXJUNR"><!-- Jr. --></enumeration>
                        <enumeration value="PSFXSCND"><!-- II --></enumeration>
                        <enumeration value="PSFXSENR"><!-- Sr. --></enumeration>
                        <enumeration value="PSFXTHRD"><!-- III --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="place_of_birth" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="GNDRFEML"><!-- Female --></enumeration>
                        <enumeration value="GNDRMALE"><!-- Male --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_customer_employment_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="CSESEMPL"><!-- Employed --></enumeration>
                        <enumeration value="CSESUNEM"><!-- Unemployed --></enumeration>
						<enumeration value="CSESSTUD"><!-- Student --></enumeration>
						<enumeration value="CSESUKNW"><!-- Unknown --></enumeration>
						</restriction>
                </simpleType>
            </element>

            <element name="cst_employment_period" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="EMPR0001"><!-- 0 - 1 --></enumeration>
                        <enumeration value="EMPR0002"><!-- 1 - 3 --></enumeration>
						<enumeration value="EMPR0003"><!-- 3 - 5 --></enumeration>
						<enumeration value="EMPR0004"><!-- 5 - 10 --></enumeration>
						<enumeration value="EMPR0005"><!-- Over 10 --></enumeration>
						</restriction>
                </simpleType>
            </element>

            <element name="cst_residence_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="RESTOWNH"><!-- Own house --></enumeration>
                        <enumeration value="RESTRENT"><!-- Rented --></enumeration>
						<enumeration value="RESTPRNT"><!-- With parent --></enumeration>
						</restriction>
                </simpleType>
            </element>

            <element name="cst_marital_status_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="cst_income_range" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="INCR0001"><!-- 0-500 (JOD) --></enumeration>
                        <enumeration value="INCR0002"><!-- 500-1000 (JOD) --></enumeration>
						<enumeration value="INCR0003"><!-- 1000 – 2000 (JOD) --></enumeration>
						<enumeration value="INCR0004"><!-- 2000 – 5000 (JOD) --></enumeration>
						<enumeration value="INCR0005"><!-- 5000 – 10 000 (JOD) --></enumeration>
						<enumeration value="INCR0006"><!-- Over 10 000 (JOD) --></enumeration>
						</restriction>
                </simpleType>
            </element>

            <element name="cst_number_of_children" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="CHLD0001"><!-- 0 --></enumeration>
                        <enumeration value="CHLD0002"><!-- 1 --></enumeration>
						<enumeration value="CHLD0003"><!-- 2 --></enumeration>
						<enumeration value="CHLD0004"><!-- 3 --></enumeration>
						<enumeration value="CHLD0005"><!-- 4 --></enumeration>
						<enumeration value="CHLD0006"><!-- 5 --></enumeration>
						<enumeration value="CHLD0007"><!-- > 5 --></enumeration>
						</restriction>
                </simpleType>
            </element>

            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                        <pattern value="\S.*"/> <!-- Surname can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="first_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                        <pattern value="\S.*"/> <!-- First name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="second_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                        <pattern value="\S.*"/> <!-- Second name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="company">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossed_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="30"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="incorp_form" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="INCF0041"><!-- Unitary enterprise, based on operational management --></enumeration>
                        <enumeration value="INCF0042"><!-- Unitary enterprise, based on the right of business --></enumeration>
                        <enumeration value="INCF0047"><!-- Public corporation --></enumeration>
                        <enumeration value="INCF0051"><!-- General partnership --></enumeration>
                        <enumeration value="INCF0064"><!-- Limited partnership --></enumeration>
                        <enumeration value="INCF0065"><!-- Limited liability company --></enumeration>
                        <enumeration value="INCF0066"><!-- Additional liability --></enumeration>
                        <enumeration value="INCF0067"><!-- Closed joint stock company --></enumeration>
                        <enumeration value="INCF0071"><!-- Private institution --></enumeration>
                        <enumeration value="INCF0072"><!-- State-financed organization --></enumeration>
                        <enumeration value="INCF0073"><!-- Autonomous institution --></enumeration>
                        <enumeration value="INCF0076"><!-- Gardening, horticulture or country house non-profit partnership --></enumeration>
                        <enumeration value="INCF0077"><!-- Union of the peasant farm --></enumeration>
                        <enumeration value="INCF0078"><!-- Authorities of public initiative --></enumeration>
                        <enumeration value="INCF0080"><!-- Territorial public self-government --></enumeration>
                        <enumeration value="INCF0082"><!-- State corporation --></enumeration>
                        <enumeration value="INCF0083"><!-- Social and religious organizations (associations) --></enumeration>
                        <enumeration value="INCF0084"><!-- Public movement --></enumeration>
                        <enumeration value="INCF0085"><!-- Consumers' cooperative --></enumeration>
                        <enumeration value="INCF0088"><!-- Fund --></enumeration>
                        <enumeration value="INCF0089"><!-- Other non-profit organizations --></enumeration>
                        <enumeration value="INCF0091"><!-- Individual businessman --></enumeration>
                        <enumeration value="INCF0093"><!-- Association of legal entities (association or union) --></enumeration>
                        <enumeration value="INCF0094"><!-- Homeowners --></enumeration>
                        <enumeration value="INCF0096"><!-- Non-profit partnership --></enumeration>
                        <enumeration value="INCF0097"><!-- Autonomous non-profit organization --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="company_name" type="tns:company_name" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="company_name">
        <sequence>
            <element name="company_short_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="company_full_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="identity_card">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_series" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_issuer" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="id_desc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTTPRMC"><!-- Primary contact --></enumeration>
                        <enumeration value="CNTTSCNC"><!-- Secondary contact --></enumeration>
						<enumeration value="CNTTNTFC"><!-- Notification contact --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="LANGENG"><!-- English --></enumeration>
                        <enumeration value="LANGRUS"><!-- Russian --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"></element>

            <element name="address" type="tns:address" minOccurs="0" maxOccurs="1"></element>

            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="JTTLDRCT"><!-- Director --></enumeration>
                        <enumeration value="JTTLHDDP"><!-- Head of department --></enumeration>
                        <enumeration value="JTTLMNGR"><!-- Manager --></enumeration>
                        <enumeration value="JTTLOFMN"><!-- Office manager --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMNM0001"><!-- Mobile phone --></enumeration>
                        <enumeration value="CMNM0002"><!-- E-mail --></enumeration>
                        <enumeration value="CMNM0003"><!-- Post --></enumeration>
                        <enumeration value="CMNM0004"><!-- Fax --></enumeration>
                        <enumeration value="CMNM0005"><!-- Skype --></enumeration>
                        <enumeration value="CMNM0006"><!-- AOL Aim --></enumeration>
                        <enumeration value="CMNM0007"><!-- Windows Live Messenger --></enumeration>
                        <enumeration value="CMNM0008"><!-- ICQ --></enumeration>
                        <enumeration value="CMNM0009"><!-- Yahoo! Messenger --></enumeration>
                        <enumeration value="CMNM0010"><!-- Jabber --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="end_date" type="dateTime" minOccurs="0" maxOccurs="1"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="address">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ADTPBSNA"><!-- Business address --></enumeration>
                        <enumeration value="ADTPHOME"><!-- Home address --></enumeration>
                        <enumeration value="ADTPLGLA"><!-- Legal address --></enumeration>
                        <enumeration value="ADTPSTDL"><!-- Statement delivery address --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="country" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="house" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="apartment" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"></minLength>
                        <maxLength value="10"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="latitude" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                    </restriction>
                </simpleType>
            </element>

            <element name="longitude" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_post_office_zip_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"></minLength>
                        <maxLength value="20"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="sec_word">
        <sequence>
            <element name="secret_question" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="SEQUW001"><!-- What was your childhood nickname?  --></enumeration>
                        <enumeration value="SEQUW002"><!-- In what city or town did your mother and father meet?  --></enumeration>
                        <enumeration value="SEQUW003"><!-- What was the name of your elementary / primary school? --></enumeration>
                        <enumeration value="SEQUW004"><!-- What is the name of the company of your first job? --></enumeration>
                        <enumeration value="SEQUWORD"><!-- Any security word --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="secret_answer" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <element name="application" type="tns:application"></element>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"></maxLength>
        </restriction>
    </simpleType>
</schema>