back/project/icc/config/clob/app_flow.xsd_source.1002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://sv.bpc.in/SVAP" 
        xmlns:tns="http://sv.bpc.in/SVAP" 
        elementFormDefault="qualified">
    <complexType name="application">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPISSA"><!-- Issuer applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_reject_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APRJ0001"><!-- Application approved --></enumeration>
                        <enumeration value="APRJ0002"><!-- Application rejected --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="supervisor_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CCTGORDN"><!-- Ordinary customer --></enumeration>
                        <enumeration value="CCTGPRVG"><!-- Privileged customer --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_ext_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_ext_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="RSCBAFLT"><!-- Affiliate --></enumeration>
                        <enumeration value="RSCBEMPL"><!-- Employee --></enumeration>
                        <enumeration value="RSCBEXTR"><!-- External --></enumeration>
                        <enumeration value="RSCBINSD"><!-- Insider --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="resident" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="nationality" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="credit_rating" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="CRDR0001"><!-- Category I --></enumeration>
                        <enumeration value="CRDR0002"><!-- Category II --></enumeration>
                        <enumeration value="CRDR0003"><!-- Category III --></enumeration>
                        <enumeration value="CRDR0004"><!-- Category IV --></enumeration>
                        <enumeration value="CRDR0005"><!-- Category V --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="MOLR0001"><!-- Low --></enumeration>
                        <enumeration value="MOLR0002"><!-- High --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="MLRS0001"><!-- No reasons --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"/>

            <element name="partner_host_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cst_notes" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="corporation" type="tns:corporation" minOccurs="0" maxOccurs="1"/>

            <element name="card" type="tns:card" minOccurs="0" maxOccurs="unbounded"/>

            <element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>

            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="corporation">
        <sequence>
            <element name="department" type="tns:department" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="department">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="department_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="department" type="tns:department" minOccurs="0" maxOccurs="1"/>

            <element name="new_dept" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="card">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="12"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="26"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="start_date_rule" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="SDRLOEDT"><!-- Previous expiry date --></enumeration>
                        <enumeration value="SDRLOEMN"><!-- Start of previous expiry month --></enumeration>
                        <enumeration value="SDRLOSDT"><!-- Previous start date --></enumeration>
                        <enumeration value="SDRLSYSD"><!-- Reissue date --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="expiration_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="expiration_date_rule" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="EDRLOEDT"><!-- Calculate from previous expiration date --></enumeration>
                        <enumeration value="EDRLOEXP"><!-- Set equal previous expiration date --></enumeration>
                        <enumeration value="EDRLSTDT"><!-- Calculate from start date --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="perso_priority" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="PRSP0100"><!-- Express --></enumeration>
                        <enumeration value="PRSP0500"><!-- Normal --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_request" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="PNRQDONT"><!-- Don't generate --></enumeration>
                        <enumeration value="PNRQGENR"><!-- Generate --></enumeration>
                        <enumeration value="PNRQINHR"><!-- Inherit --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_mailer_request" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossing_request" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_cvv_cvc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                    </restriction>
                </simpleType>
            </element>

            <element name="icc_card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <maxInclusive value="999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder" type="tns:cardholder" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="cardholder">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="service">
        <sequence>
            <element name="service_object" type="tns:service_object" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
    	<attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <simpleType name="mod_name">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="mod_condition">
        <restriction base="string">
            <maxLength value="2000"/>
        </restriction>
    </simpleType>

    <complexType name="service_object">
        <sequence>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="attribute_num" type="tns:attribute_num" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_char" type="tns:attribute_char" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_date" type="tns:attribute_date" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_fee" type="tns:attribute_fee" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_cycle" type="tns:attribute_cycle" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    	
    	 <attribute name="ref_id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_num">
        <sequence>
            <element name="attribute_value_num" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_name" type="tns:mod_name" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" type="tns:mod_condition" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
        
        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_char">
        <sequence>
            <element name="attribute_value_char" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_name" type="tns:mod_name" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" type="tns:mod_condition" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    	
    	<attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_date">
        <sequence>
            <element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
		
            <element name="mod_name" type="tns:mod_name" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" type="tns:mod_condition" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    	
    	<attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_fee">
        <sequence>
            <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FEEM0001"><!-- Percentage value --></enumeration>
                        <enumeration value="FEEM0002"><!-- Fixed value --></enumeration>
                        <enumeration value="FEEM0003"><!-- Minimum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0004"><!-- Maximum between percent and fixed value --></enumeration>
                        <enumeration value="FEEM0005"><!-- Sum of percent and fixed value --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_min_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_max_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_name" type="tns:mod_name" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" type="tns:mod_condition" minOccurs="0" maxOccurs="1"/>

            <element name="fee_tier" type="tns:fee_tier" minOccurs="0" maxOccurs="unbounded"/>

            <element name="cycle" type="tns:cycle" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    	
    	 <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="fee_tier">
        <sequence>
            <element name="sum_threshold" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="count_threshold" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>          

            <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_min_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_max_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>
            
        </sequence>
    </complexType>

    <complexType name="cycle">
        <sequence>
            <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="cycle_length_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cycle_workdays_only" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="attribute_cycle">
        <sequence>
            <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="cycle_length_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                        <enumeration value="LNGT0006"><!-- Minute --></enumeration>
                        <enumeration value="LNGT0007"><!-- Second --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_name" type="tns:mod_name" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" type="tns:mod_condition" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
	     <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>
        
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_limit">
        <sequence>
            <element name="limit_count_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_sum_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="counter_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_name" type="tns:mod_name" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" type="tns:mod_condition" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    	
    	<attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="ACST[A-Z0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_object" type="tns:account_object" minOccurs="0" maxOccurs="unbounded"/>

            <element name="payment_order" type="tns:payment_order" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="account_object">
        <sequence>
            <element name="account_link_flag" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    	
    	<attribute name="ref_id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="payment_order">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_order_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_purpose_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_amount" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999.9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_amount_algo" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="event_type" minOccurs="0" maxOccurs="10">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"/>

            <element name="is_payment_order_template" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="payment_parameter">
        <sequence>
            <element name="payment_parameter_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_parameter_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="400"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="amount">
        <sequence>
            <element name="amount_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="amount_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="limit_counter">
        <sequence>
            <element name="limit_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_count_remainder" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_sum_remainder" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <element name="applications" type="tns:applications"/>

    <complexType name="applications">
        <sequence maxOccurs="unbounded" minOccurs="1">
            <element name="application" type="tns:application"/>
        </sequence>
    </complexType>

	<element name="application" type="tns:application"/>
		
    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"/>
        </restriction>
    </simpleType>
</schema>
