spec/spec/SVAP/IssuingApplications/SyncServices/svapint.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bpc.ru/SVAP" elementFormDefault="qualified" targetNamespace="http://bpc.ru/SVAP">

	<simpleType name="string_200">
		<restriction base="string">
			<maxLength value="200"></maxLength>
		</restriction>
	</simpleType>

	<simpleType name="string_24">
		<restriction base="string">
			<maxLength value="24"></maxLength>
		</restriction>
	</simpleType>

	<simpleType name="string_32">
		<restriction base="string">
			<maxLength value="32"></maxLength>
		</restriction>
	</simpleType>

	<simpleType name="response_code">
		<restriction base="string">
			<minLength value="5"></minLength>
			<maxLength value="8"></maxLength>
			<enumeration value="SUCCESS"><!-- Successful operation --></enumeration>
			<enumeration value="FAILURE"><!-- Error occurred --></enumeration>
		</restriction>
	</simpleType>

	<complexType name="customer">
		<sequence>
			<element name="id" type="tns:string_200" minOccurs="1" maxOccurs="1"/>

			<element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>

			<choice minOccurs="1" maxOccurs="1">
				<sequence>
					<element name="person" type="tns:person" minOccurs="1" maxOccurs="1"/>
				</sequence>

				<sequence>
					<element name="company" type="tns:company" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</choice>

			<element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>

			<element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>

	</complexType>

	<complexType name="identity_card">
		<sequence>
			<element name="id_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"></minLength>
						<maxLength value="8"></maxLength>
						<enumeration value="IDTP0001"><!-- Passport --></enumeration>
						<enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
						<enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
						<enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
						<enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
						<enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
						<enumeration value="IDTP0010"><!-- Taxpayer ID --></enumeration>
						<enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
						<enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
						<enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
						<enumeration value="IDTP0014"><!-- License --></enumeration>
						<enumeration value="IDTP0015"><!-- KPP --></enumeration>
						<enumeration value="IDTP0016"><!-- OKPO --></enumeration>
						<enumeration value="IDTP0020"><!-- Driver license --></enumeration>
						<enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
						<enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0044"><!-- Visa (Foreign citizen)--></enumeration>
						<enumeration value="IDTP0045"><!-- National ID --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="id_series" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="id_number" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="id_issuer" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"></element>

			<element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"></element>

			<element name="id_desc" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"></maxLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="person">
		<sequence>
			<element name="person_name" minOccurs="1" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="surname" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<minLength value="1"/>
									<maxLength value="200"/>
									<pattern value="\S.*"/> <!-- Surname can't start with any whitespace symbol -->
								</restriction>
							</simpleType>
						</element>

						<element name="first_name" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<minLength value="1"/>
									<maxLength value="200"/>
									<pattern value="\S.*"/> <!-- First name can't start with any whitespace symbol -->
								</restriction>
							</simpleType>
						</element>

						<element name="second_name" minOccurs="0" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<maxLength value="200"/>
									<pattern value="\S.*"/> <!-- Second name can't start with any whitespace symbol -->
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="gender" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="GNDRFEML"/><!-- Female -->
						<enumeration value="GNDRMALE"/><!-- Male -->
					</restriction>
				</simpleType>
			</element>

			<element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"/>

			<element name="cardholder_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
						<pattern value="\S.*"/> <!-- Cardholder name can't start with any whitespace symbol -->
					</restriction>
				</simpleType>
			</element>

			<element name="secure_word" type="tns:secure_word" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="company">
		<sequence>
			<element name="incorp_form" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="8"></maxLength>
						<enumeration value="INCF0041"><!-- Unitary enterprise, based on operational management --></enumeration>
						<enumeration value="INCF0042"><!-- Unitary enterprise, based on the right of business --></enumeration>
						<enumeration value="INCF0047"><!-- Public corporation --></enumeration>
						<enumeration value="INCF0051"><!-- General partnership --></enumeration>
						<enumeration value="INCF0064"><!-- Limited partnership --></enumeration>
						<enumeration value="INCF0065"><!-- Limited liability company --></enumeration>
						<enumeration value="INCF0066"><!-- Additional liability --></enumeration>
						<enumeration value="INCF0067"><!-- Closed joint stock company --></enumeration>
						<enumeration value="INCF0071"><!-- Private institution --></enumeration>
						<enumeration value="INCF0072"><!-- State-financed organization --></enumeration>
						<enumeration value="INCF0073"><!-- Autonomous institution --></enumeration>
						<enumeration value="INCF0076"><!-- Gardening, horticulture or country house non-profit partnership --></enumeration>
						<enumeration value="INCF0077"><!-- Union of the peasant farm --></enumeration>
						<enumeration value="INCF0078"><!-- Authorities of public initiative --></enumeration>
						<enumeration value="INCF0080"><!-- Territorial public self-government --></enumeration>
						<enumeration value="INCF0082"><!-- State corporation --></enumeration>
						<enumeration value="INCF0083"><!-- Social and religious organizations (associations) --></enumeration>
						<enumeration value="INCF0084"><!-- Public movement --></enumeration>
						<enumeration value="INCF0085"><!-- Consumers' cooperative --></enumeration>
						<enumeration value="INCF0088"><!-- Fund --></enumeration>
						<enumeration value="INCF0089"><!-- Other non-profit organizations --></enumeration>
						<enumeration value="INCF0091"><!-- Individual businessman --></enumeration>
						<enumeration value="INCF0093"><!-- Association of legal entities (association or union) --></enumeration>
						<enumeration value="INCF0094"><!-- Homeowners --></enumeration>
						<enumeration value="INCF0096"><!-- Non-profit partnership --></enumeration>
						<enumeration value="INCF0097"><!-- Autonomous non-profit organization --></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="company_name" minOccurs="1" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="company_short_name" minOccurs="1" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<minLength value="1"></minLength>
									<maxLength value="200"></maxLength>
								</restriction>
							</simpleType>
						</element>
						<element name="company_full_name" minOccurs="0" maxOccurs="1">
							<simpleType>
								<restriction base="string">
									<minLength value="1"></minLength>
									<maxLength value="200"></maxLength>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="contact">
		<sequence>
			<element name="contact_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"></minLength>
						<maxLength value="8"></maxLength>
						<enumeration value="CNTTPRMC"><!-- Primary contact --></enumeration>
						<enumeration value="CNTTSCNC"><!-- Secondary contact --></enumeration>
						<enumeration value="CNTTNTFC"><!-- Notification contact --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="person" type="tns:person" minOccurs="0" maxOccurs="1"></element>

			<element name="address" type="tns:address" minOccurs="0" maxOccurs="1"></element>

			<element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"></element>

		</sequence>

	</complexType>

	<complexType name="contact_data">
		<sequence>
			<element name="commun_method" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"></minLength>
						<maxLength value="8"></maxLength>
						<enumeration value="CMNM0001"><!-- Mobile phone --></enumeration>
						<enumeration value="CMNM0002"><!-- E-mail --></enumeration>
						<enumeration value="CMNM0003"><!-- Post --></enumeration>
						<enumeration value="CMNM0004"><!-- Fax --></enumeration>
						<enumeration value="CMNM0005"><!-- Skype --></enumeration>
						<enumeration value="CMNM0006"><!-- AOL Aim --></enumeration>
						<enumeration value="CMNM0007"><!-- Windows Live Messenger --></enumeration>
						<enumeration value="CMNM0008"><!-- ICQ --></enumeration>
						<enumeration value="CMNM0009"><!-- Yahoo! Messenger --></enumeration>
						<enumeration value="CMNM0010"><!-- Jabber --></enumeration>
						<enumeration value="CMNM0011"><!-- Telex --></enumeration>
						<enumeration value="CMNM0012"><!-- Landline phone --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="commun_address" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="address">
		<sequence>
			<element name="address_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"></minLength>
						<maxLength value="8"></maxLength>
						<enumeration value="ADTPBSNA"><!-- Business address --></enumeration>
						<enumeration value="ADTPHOME"><!-- Home address --></enumeration>
						<enumeration value="ADTPLGLA"><!-- Legal address --></enumeration>
						<enumeration value="ADTPSTDL"><!-- Statement delivery address --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="country" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"></minLength>
						<maxLength value="3"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"></element>

			<element name="house" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="apartment" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="postal_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="4"></minLength>
						<maxLength value="10"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="region_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="8"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="latitude" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
					</restriction>
				</simpleType>
			</element>

			<element name="longitude" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>

	<complexType name="address_name">
		<sequence>
			<element name="region" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="city" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="street" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>

	<complexType name="account">
		<sequence>

			<element name="account_number" type="tns:string_32" minOccurs="1" maxOccurs="1"/>

			<element name="currency" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"></minLength>
						<maxLength value="3"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="account_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"></minLength>
						<maxLength value="8"></maxLength>
						<enumeration value="ACTP0100"><!--	Card account --></enumeration>
						<enumeration value="ACTP0110"><!--	Savings account --></enumeration>
						<enumeration value="ACTP0120"><!--	Checking account --></enumeration>
						<enumeration value="ACTP0130"><!--	Credit account --></enumeration>
						<enumeration value="ACTP0200"><!--	Merchant account --></enumeration>
						<enumeration value="ACTP0210"><!--	ATM account --></enumeration>
						<enumeration value="ACTP0220"><!--	Cashier account --></enumeration>
						<enumeration value="ACTPLOYT"><!--	Loyalty account --></enumeration>
						<enumeration value="ACTP0230"><!--	ATM Cash-IN account --></enumeration>
						<enumeration value="ACTP0300"><!--	Fees --></enumeration>
						<enumeration value="ACTP1401"><!--	Payment provider deposit account --></enumeration>
						<enumeration value="ACTP1402"><!--	Payment agregator transit account --></enumeration>
						<enumeration value="ACTP0301"><!--	Payment transit account --></enumeration>
						<enumeration value="ACTP0302"><!--	Pending settlement account --></enumeration>
						<enumeration value="ACTP0303"><!--	Bank liabilities on other operations --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="account_status" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<pattern value="ACST[A-Z0-9]{1,4}"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="link_info">
		<sequence>
			<element name="card_number" type="tns:string_24" minOccurs="1" maxOccurs="1"/>
			<element name="card_issue_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="card_expiration_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="account_number" type="tns:string_32" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="links_info">
		<sequence>
			<element name="customer_id" minOccurs="1" maxOccurs="1" type="tns:string_200"/>
			<element name="link_info" type="tns:link_info" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="secure_word">
		<sequence>
			<element name="secure_question" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<pattern value="SEQU[^\s]+"/> <!-- Secure question is the one of the dictionary article -->
					</restriction>
				</simpleType>
			</element>

			<element name="secure_answer" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
</schema>