spec/spec/SVAP/IssuingApplications/SyncServices/svapint.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpc.ru/SVAP/integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cst_inquiry" targetNamespace="http://bpc.ru/SVAP/integration">
    <wsdl:types>
        <xsd:schema xmlns:tns1="http://bpc.ru/SVAP" targetNamespace="http://bpc.ru/SVAP/integration">
            <xsd:import namespace="http://bpc.ru/SVAP" schemaLocation="svapint.xsd"/>
            <xsd:element name="getCustomerInfoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="customer_id" type="tns1:string_200"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCustomerInfoResponse" type="tns1:customer"/>
            <xsd:element name="sendCardAccountLinksRequest" type="tns1:links_info"/>
            <xsd:element name="sendCardAccountLinksResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="response_code" type="tns1:response_code"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="response_message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Fault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCustomerInfoRequest">
        <wsdl:part element="tns:getCustomerInfoRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="getCustomerInfoResponse">
        <wsdl:part element="tns:getCustomerInfoResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="sendCardAccountLinksRequest">
        <wsdl:part element="tns:sendCardAccountLinksRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="sendCardAccountLinksResponse">
        <wsdl:part element="tns:sendCardAccountLinksResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part element="tns:Fault" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="ApIntService">
        <wsdl:operation name="getCustomerInfo">
            <wsdl:input message="tns:getCustomerInfoRequest"/>
            <wsdl:output message="tns:getCustomerInfoResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="sendCardAccountLinks">
            <wsdl:input message="tns:sendCardAccountLinksRequest"/>
            <wsdl:output message="tns:sendCardAccountLinksResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoapBinding" type="tns:ApIntService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerInfo">
            <soap:operation soapAction="http://bpc.ru/SVAP/integration/getCustomerInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendCardAccountLinks">
            <soap:operation soapAction="http://bpc.ru/SVAP/integration/sendCardAccountLinks"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApIntService">
        <wsdl:port binding="tns:SoapBinding" name="ApIntServiceSOAP">
            <soap:address location="http://localhost:7001/sv/ApIntService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>