spec/spec/SVAP/svap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bpc.ru/SVAP"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xs="http://www.w3.org/2001/XMLSchema"
				  xmlns:tns="http://bpc.ru/SVAP"
				  xmlns:wp="http://schemas.xmlsoap.org/ws/2004/09/policy"
				  xmlns:iss="http://sv.bpc.in/SVAP/iss"
				  xmlns:acq="http://sv.bpc.in/SVAP/acq"
				  xmlns:acm="http://sv.bpc.in/SVAP/acm"
				  xmlns:pmo="http://sv.bpc.in/SVAP/pmo"
>

	<wp:UsingPolicy wsdl:Required="true"/>

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://bpc.ru/SVAP">
			<xs:import namespace="http://sv.bpc.in/SVAP/iss" schemaLocation="svap_issuing.xsd"/>
			<xs:import namespace="http://sv.bpc.in/SVAP/acq" schemaLocation="svap_acquiring.xsd"/>
			<xs:import namespace="http://sv.bpc.in/SVAP/acm" schemaLocation="svap_user_management.xsd"/>
			<xs:import namespace="http://sv.bpc.in/SVAP/pmo" schemaLocation="svap_payment_order.xsd"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="requestIss">
		<wsdl:part name="application" element="iss:application"/>
	</wsdl:message>
	<wsdl:message name="responseIss">
		<wsdl:part name="application" element="iss:application"/>
	</wsdl:message>

	<wsdl:message name="requestAcq">
		<wsdl:part name="application" element="acq:application"/>
	</wsdl:message>
	<wsdl:message name="responseAcq">
		<wsdl:part name="application" element="acq:application"/>
	</wsdl:message>

	<wsdl:message name="requestAcm">
		<wsdl:part name="application" element="acm:application"/>
	</wsdl:message>
	<wsdl:message name="responseAcm">
		<wsdl:part name="application" element="acm:application"/>
	</wsdl:message>

	<wsdl:message name="requestPmo">
		<wsdl:part name="application" element="pmo:application"/>
	</wsdl:message>
	<wsdl:message name="responsePmo">
		<wsdl:part name="application" element="pmo:application"/>
	</wsdl:message>

	<wsdl:portType name="ApplicationsPort">
		<wsdl:operation name="applicationIss">
			<wsdl:input message="tns:requestIss"/>
			<wsdl:output message="tns:responseIss"/>
		</wsdl:operation>
		<wsdl:operation name="applicationAcq">
			<wsdl:input message="tns:requestAcq"/>
			<wsdl:output message="tns:responseAcq"/>
		</wsdl:operation>
		<wsdl:operation name="applicationAcm">
			<wsdl:input message="tns:requestAcm"/>
			<wsdl:output message="tns:responseAcm"/>
		</wsdl:operation>
		<wsdl:operation name="applicationPmo">
			<wsdl:input message="tns:requestPmo"/>
			<wsdl:output message="tns:responsePmo"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ApplicationServiceSOAPBinding" type="tns:ApplicationsPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="applicationIss">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="applicationAcq">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="applicationAcm">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="applicationPmo">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ApplicationService">
		<wsdl:port name="Applications" binding="tns:ApplicationServiceSOAPBinding">
			<soap:address location="http://localhost:7001/sv/ApplicationService"/>
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="ApplicationServiceSecure">
		<wsdl:port name="ApplicationsSecure" binding="tns:ApplicationServiceSOAPBinding">
			<soap:address location="http://localhost:7001/sv/ApplicationServiceSecure"/>
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
				xmlns:wsp="http://www.w3.org/ns/ws-policy" wsu:Id="SVAP_policy">
		<sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:UsernameToken
						sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:WssUsernameToken11/>
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>
</wsdl:definitions>
