back/ru.bpc.sv.custom/CommonConfig/clob/app_flow.xsd_source.2018.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP"
        xmlns:tns="http://sv.bpc.in/SVAP"
        elementFormDefault="qualified">
    <complexType name="application">
        <sequence>
            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPACQA"><!-- Acquiring application --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0001"><!-- Just created --></enumeration>
                        <enumeration value="APST0002"><!-- Awaiting confirmation --></enumeration>
                        <enumeration value="APST0003"><!-- Awaiting correction --></enumeration>
                        <enumeration value="APST0004"><!-- Awaiting checking --></enumeration>
                        <enumeration value="APST0005"><!-- Further information requested --></enumeration>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                        <enumeration value="APST0007"><!-- Processed successfully --></enumeration>
                        <enumeration value="APST0008"><!-- Processing failed --></enumeration>
                        <enumeration value="APST0009"><!-- Synchronize objects --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="file_rec_num" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_reject_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APRJ0001"><!-- Application approved --></enumeration>
                        <enumeration value="APRJ0002"><!-- Application rejected --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>


            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CCTGORDN"><!-- Ordinary customer --></enumeration>
                        <enumeration value="CCTGPRVG"><!-- Privileged customer --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="RSCBAFLT"><!-- Affiliate --></enumeration>
                        <enumeration value="RSCBEMPL"><!-- Employee --></enumeration>
                        <enumeration value="RSCBEXTR"><!-- External --></enumeration>
                        <enumeration value="RSCBINSD"><!-- Insider --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_scheme" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="resident" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="nationality" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="credit_rating" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="CRDR0001"><!-- Category I --></enumeration>
                        <enumeration value="CRDR0002"><!-- Category II --></enumeration>
                        <enumeration value="CRDR0003"><!-- Category III --></enumeration>
                        <enumeration value="CRDR0004"><!-- Category IV --></enumeration>
                        <enumeration value="CRDR0005"><!-- Category V --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_risk" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="MOLR0001"><!-- Low --></enumeration>
                        <enumeration value="MOLR0002"><!-- High --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
                        <enumeration value="MLRS0001"><!-- No reasons --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>

        <attribute name="id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="sec_word">
        <sequence>
        </sequence>
        <attribute name="language" type="string" default="LANGENG"></attribute>

        <attribute name="id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>


    <complexType name="notification">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDIGNR"><!-- Ignore --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="notification_event" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="delivery_channel" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="delivery_address" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_active" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="terminal">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDIGNR"><!-- Ignore --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_number" minOccurs="0" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="16"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="TRMT0001"><!-- Imprinter --></enumeration>
                        <enumeration value="TRMT0002"><!-- ATM --></enumeration>
                        <enumeration value="TRMT0003"><!-- POS --></enumeration>
                        <enumeration value="TRMT0004"><!-- ePOS --></enumeration>
                        <enumeration value="TRMT0005"><!-- Mobile --></enumeration>
                        <enumeration value="TRMT0006"><!-- Internet --></enumeration>
                        <enumeration value="TRMT0007"><!-- Mobile POS --></enumeration>
                        <enumeration value="TRMT0008"><!-- Info-kiosk --></enumeration>
                        <enumeration value="TRMT0009"><!-- Transponder --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="standard_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="version_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="mcc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="4"></minLength>
                        <maxLength value="4"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_template" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="plastic_number" minOccurs="0" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <minLength value="16"></minLength>
                        <maxLength value="19"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_input_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F221000A"><!-- PAN auto-entry via contactless magnetic stripe --></enumeration>
                        <enumeration value="F221000B"><!-- Magnetic stripe reader and key entry capability --></enumeration>
                        <enumeration value="F221000C"><!-- Magnetic stripe reader, ICC, and key entry capability --></enumeration>
                        <enumeration value="F221000D"><!-- Magnetic stripe reader and ICC capability --></enumeration>
                        <enumeration value="F221000E"><!-- ICC and key entry capability --></enumeration>
                        <enumeration value="F221000M"><!-- PAN auto-entry via contactless M/Chip --></enumeration>
                        <enumeration value="F221000V"><!-- Other capability --></enumeration>
                        <enumeration value="F2210000"><!-- Unknown; data not available --></enumeration>
                        <enumeration value="F2210001"><!-- Manual; no terminal --></enumeration>
                        <enumeration value="F2210002"><!-- Magnetic stripe reader capability --></enumeration>
                        <enumeration value="F2210003"><!-- Barcode reader --></enumeration>
                        <enumeration value="F2210004"><!-- Optical character reader (OCR) capability --></enumeration>
                        <enumeration value="F2210005"><!-- Integrated circuit card (ICC) capability --></enumeration>
                        <enumeration value="F2210006"><!-- Key entry-only capability --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_auth_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F2220000"><!-- No electronic authentication capability --></enumeration>
                        <enumeration value="F2220001"><!-- PIN entry capability --></enumeration>
                        <enumeration value="F2220002"><!-- Electronic signature analysis capability --></enumeration>
                        <enumeration value="F2220005"><!-- Electronic authentication capability is inoperative --></enumeration>
                        <enumeration value="F2220006"><!-- Other --></enumeration>
                        <enumeration value="F2220009"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_capture_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F2230000"><!-- No capture capability --></enumeration>
                        <enumeration value="F2230001"><!-- Card capture capability --></enumeration>
                        <enumeration value="F2230002"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="term_operating_env" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F2240000"><!-- No terminal used --></enumeration>
                        <enumeration value="F2240001"><!-- On card acceptor premises; attended terminal --></enumeration>
                        <enumeration value="F2240002"><!-- On card acceptor premises; unattended terminal --></enumeration>
                        <enumeration value="F2240003"><!-- Off card acceptor premises; attended --></enumeration>
                        <enumeration value="F2240004"><!-- Off card acceptor premises; unattended --></enumeration>
                        <enumeration value="F2240005"><!-- On cardholder premises; unattended --></enumeration>
                        <enumeration value="F2240006"><!-- Off cardholder premises; unattended --></enumeration>
                        <enumeration value="F2240007"><!-- Private use (Future use) --></enumeration>
                        <enumeration value="F2240009"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_data_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F2250000"><!-- Cardholder present --></enumeration>
                        <enumeration value="F2250001"><!-- Cardholder not present (unspecified) --></enumeration>
                        <enumeration value="F2250002"><!-- Cardholder not present (mail/facsimile transaction) --></enumeration>
                        <enumeration value="F2250003"><!-- Cardholder not present (phone order or from automated response unit [ARU]) --></enumeration>
                        <enumeration value="F2250004"><!-- Cardholder not present (standing order/recurring transaction) --></enumeration>
                        <enumeration value="F2250005"><!-- Cardholder not present (electronic order [PC, Internet, mobile phone or PDA]) --></enumeration>
                        <enumeration value="F2250009"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F2260000"><!-- Card present --></enumeration>
                        <enumeration value="F2260001"><!-- Card not present --></enumeration>
                        <enumeration value="F2260009"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_input_mode" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F227000A"><!-- PAN auto-entry via contactless magnetic stripe --></enumeration>
                        <enumeration value="F227000B"><!-- Magnetic stripe reader input; track data captured and passed unaltered --></enumeration>
                        <enumeration value="F227000C"><!-- Online chip --></enumeration>
                        <enumeration value="F227000F"><!-- Offline chip --></enumeration>
                        <enumeration value="F227000M"><!-- PAN auto-entry via contactless M/Chip --></enumeration>
                        <enumeration value="F227000N"><!-- Contactless input, PayPass mapping service applied --></enumeration>
                        <enumeration value="F227000S"><!-- Electronic commerce --></enumeration>
                        <enumeration value="F2270000"><!-- Unspecified; data unavailable --></enumeration>
                        <enumeration value="F2270001"><!-- Manual input; no terminal --></enumeration>
                        <enumeration value="F2270002"><!-- Magnetic stripe reader input --></enumeration>
                        <enumeration value="F2270003"><!-- Barcode reader --></enumeration>
                        <enumeration value="F2270005"><!-- Secured electronic commerce, 3D-security --></enumeration>
                        <enumeration value="F2270006"><!-- Key entered input --></enumeration>
                        <enumeration value="F2270007"><!-- Electronic commerce, channel encryption --></enumeration>
                        <enumeration value="F2270009"><!-- Electronic commerce, cardholder does not participate in security programm --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_auth_method" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F228000S"><!-- Other systematic verification --></enumeration>
                        <enumeration value="F2280000"><!-- Not authenticated --></enumeration>
                        <enumeration value="F2280001"><!-- PIN --></enumeration>
                        <enumeration value="F2280002"><!-- Electronic signature analysis --></enumeration>
                        <enumeration value="F2280005"><!-- Manual signature verification --></enumeration>
                        <enumeration value="F2280006"><!-- Other manual verification (such as driver's license number) --></enumeration>
                        <enumeration value="F2280009"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="crdh_auth_entity" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F2290000"><!-- Not authenticated --></enumeration>
                        <enumeration value="F2290001"><!-- ICC - offline PIN --></enumeration>
                        <enumeration value="F2290002"><!-- Card acceptance device (CAD) --></enumeration>
                        <enumeration value="F2290003"><!-- Authorizing agent - online PIN --></enumeration>
                        <enumeration value="F2290004"><!-- Merchant/card acceptor - signature --></enumeration>
                        <enumeration value="F2290005"><!-- Other --></enumeration>
                        <enumeration value="F2290006"><!-- Merchant is suspicious --></enumeration>
                        <enumeration value="F2290009"><!-- Unknown; data unavailable --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_data_output_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F22A000S"><!-- Other --></enumeration>
                        <enumeration value="F22A0000"><!-- Unknown; data unavailable --></enumeration>
                        <enumeration value="F22A0001"><!-- None --></enumeration>
                        <enumeration value="F22A0002"><!-- Magnetic stripe write --></enumeration>
                        <enumeration value="F22A0003"><!-- ICC --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="term_data_output_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F22B0000"><!-- Unknown; data unavailable --></enumeration>
                        <enumeration value="F22B0001"><!-- None --></enumeration>
                        <enumeration value="F22B0002"><!-- Printing capability only --></enumeration>
                        <enumeration value="F22B0003"><!-- Display capability only --></enumeration>
                        <enumeration value="F22B0004"><!-- Printing and display capability --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_capture_cap" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F22C000A"><!-- PIN capture capability 10 characters maximum --></enumeration>
                        <enumeration value="F22C000B"><!-- PIN capture capability 11 characters maximum --></enumeration>
                        <enumeration value="F22C000C"><!-- PIN capture capability 12 characters maximum --></enumeration>
                        <enumeration value="F22C0000"><!-- No PIN capture capability --></enumeration>
                        <enumeration value="F22C0001"><!-- Unknown; data unavailable --></enumeration>
                        <enumeration value="F22C0002"><!-- Reserved --></enumeration>
                        <enumeration value="F22C0003"><!-- Reserved --></enumeration>
                        <enumeration value="F22C0004"><!-- PIN capture capability 4 characters maximum --></enumeration>
                        <enumeration value="F22C0005"><!-- PIN capture capability 5 characters maximum --></enumeration>
                        <enumeration value="F22C0006"><!-- PIN capture capability 6 characters maximum --></enumeration>
                        <enumeration value="F22C0007"><!-- PIN capture capability 7 characters maximum --></enumeration>
                        <enumeration value="F22C0008"><!-- PIN capture capability 8 characters maximum --></enumeration>
                        <enumeration value="F22C0009"><!-- PIN capture capability 9 characters maximum --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cat_level" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="F22D0000"><!-- Transaction is not CAT transaction --></enumeration>
                        <enumeration value="F22D0001"><!-- Authomated dispensing machine with PIN capture possibility --></enumeration>
                        <enumeration value="F22D0002"><!-- Self-service terminal --></enumeration>
                        <enumeration value="F22D0003"><!-- Terminal with payment amount restriction --></enumeration>
                        <enumeration value="F22D0004"><!-- Purchasing of good in flight --></enumeration>
                        <enumeration value="F22D0005"><!-- Reserved for future usage --></enumeration>
                        <enumeration value="F22D0006"><!-- Electronic commerce terminal --></enumeration>
                        <enumeration value="F22D0007"><!-- Transponder transaction --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="TRMS0001"><!-- Active --></enumeration>
                        <enumeration value="TRMS0002"><!-- Inactive --></enumeration>
                        <enumeration value="TRMS0009"><!-- Terminal closed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="device_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="gmt_offset" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="13"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_mac" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="cash_dispenser_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_possibility" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="use_card_possibility" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="cash_in_present" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="available_network" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="available_operation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="available_currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_quantity" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="mcc_template_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>

            <element name="instalment_support" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="terminal_profile" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="acq_check" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_num">
        <sequence>
            <element name="attribute_value_num" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"></element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_char">
        <sequence>
            <element name="attribute_value_char" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"></element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="attribute_date">
        <sequence>
            <element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"></element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"></element>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="-99999999"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="shift">
        <sequence>
            <element name="shift_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CSHTENDM"><!-- End of month --></enumeration>
                        <enumeration value="CSHTMDAY"><!-- Shift to exact day of month --></enumeration>
                        <enumeration value="CSHTPERD"><!-- Shift by period --></enumeration>
                        <enumeration value="CSHTWDAY"><!-- Shift to exact day of week --></enumeration>
                        <enumeration value="CSHTWRKD"><!-- Shift to certain workday --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_priority" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_sign" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="1" /> <!-- Forward -->
                        <enumeration value="-1" /> <!-- Backward -->
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                        <enumeration value="LNGT0006"><!-- Minute --></enumeration>
                        <enumeration value="LNGT0007"><!-- Second --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="ACST[A-Z0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>

    </complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>

        <attribute name="id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <element name="applications" type="tns:applications"></element>
    <element name="application" type="tns:application"></element>

    <complexType name="applications">
        <sequence maxOccurs="unbounded" minOccurs="1">
            <element name="application" type="tns:application"></element>
        </sequence>
    </complexType>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"></maxLength>
        </restriction>
    </simpleType>
</schema>