back/ru.bpc.sv.custom/CommonConfig/clob/app_flow.xsd_source.2016.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sv.bpc.in/SVAP" xmlns:tns="http://sv.bpc.in/SVAP" elementFormDefault="qualified">
<complexType name="application">
    <sequence>
        <element name="application_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="long">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999999999999999"/>
                </restriction>
            </simpleType>
        </element>
        <element name="application_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
        <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>
        <element name="application_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="APTPACQA"><!-- Acquiring application --></enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="application_flow_id" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>
        <element name="application_status" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="operator_id" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
        <element name="institution_id" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>
        <element name="agent_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </element>
        <element name="agent_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </element>
        <element name="application_reject_code" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="APRJ0001"> <!-- Application approved -->
                    </enumeration>
                    <enumeration value="APRJ0002"> <!-- Application rejected -->
                    </enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="supervisor_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
        <element name="customer_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>
        <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>
        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="customer">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
           <simpleType>
               <restriction base="string">
                   <minLength value="5"/>
                   <maxLength value="8"/>
                   <enumeration value="CMMDEXPR"> <!-- Except or proceed --></enumeration>
               </restriction>
           </simpleType>
        </element>
        <element name="customer_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
        <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="1"/>
        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="contract">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDEXUP"> <!-- Except or update --></enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="product_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"></minInclusive>
                    <maxInclusive value="99999999"></maxInclusive>
                </restriction>
            </simpleType>
        </element>
        <element name="product_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"></minLength>
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </element>
        <element name="contract_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="0"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>
        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

<complexType name="error">
    <sequence>
        <element name="error_code" minOccurs="1" maxOccurs="1">
           <simpleType>
               <restriction base="string">
                   <maxLength value="200"/>
               </restriction>
           </simpleType>
        </element>
        <element name="error_desc" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>
        <element name="error_element" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
        <element name="error_details" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<element name="application" type="tns:application"/>

<simpleType name="entity_name">
    <restriction base="string">
        <maxLength value="200"/>
    </restriction>
</simpleType>

<simpleType name="entity_desc">
    <restriction base="string">
        <maxLength value="2000"/>
    </restriction>
</simpleType>

</schema>