spec/spec/Reconciliation/host_reconciliation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://bpc.ru/sv/SVXP/reconciliation"
           xmlns="http://bpc.ru/sv/SVXP/reconciliation"
           elementFormDefault="qualified">
    <xs:element name="reconciliation" type="HostReconciliation"/>

    <xs:complexType name="HostReconciliation">
        <xs:sequence>
            <xs:element name="file_type" type="FileType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="start_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="end_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="inst_id" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="recon_type" type="ReconType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="operation" type="HostOperationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HostOperationType">
        <xs:sequence>
            <xs:element name="oper_type" type="OperType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="msg_type" type="MessageType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="host_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oper_date" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            <xs:element name="oper_amount" type="AmountType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="oper_surcharge_amount" type="AmountType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="status" type="StatusType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="arn" type="RefnumType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="is_reversal" type="ReversalType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="mcc" type="MccType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_number" type="MerchNumberType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_street" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_city" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_region" type="CountryType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_country" type="CountryType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_postcode" type="PostcodeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminal_type" type="TerminalType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminal_number" type="TermNumberType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="card_number" type="HpanType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="card_seq_number" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="card_expir_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="acq_inst_id" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oper_cashback_amount" type="AmountType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="service_code" type="String12" minOccurs="0" maxOccurs="1"/>
            <xs:element name="approval_code" type="String24" minOccurs="0" maxOccurs="1"/>
            <xs:element name="rrn" type="String48" minOccurs="0" maxOccurs="1"/>
            <xs:element name="trn" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="original_id" type="String120" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc" type="Pdc" minOccurs="0" maxOccurs="1"/>
            <xs:element name="emv_data" type="EmvData" minOccurs="0" maxOccurs="1"/>
            <xs:element name="forw_inst_code" type="String44" minOccurs="0" maxOccurs="1"/>
            <xs:element name="receiv_inst_code" type="String44" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sttl_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oper_reason" type="String8" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Pdc">
        <xs:sequence>
            <xs:element name="pdc_1" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_2" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_3" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_4" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_5" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_6" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_7" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_8" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_9" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_10" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_11" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pdc_12" type="String32" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmvData">
        <xs:sequence>
            <xs:element name="tag_5f2a" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_5f34" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_71" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_72" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_82" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_84" type="String128" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_8a" type="String128" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_91" type="String128" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_95" type="String40" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9a" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9c" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f02" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f03" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f06" type="String256" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f09" type="String16" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f10" type="String256" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f18" type="String32" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f1a" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f1e" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f26" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f27" type="String8" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f28" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f29" type="String64" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f33" type="String24" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f34" type="String24" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f35" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f36" type="String128" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f37" type="String128" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f41" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tag_9f53" type="String128" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AmountType">
        <xs:sequence>
            <xs:element name="amount_value" type="AmountValueType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="currency" type="CountryType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="amount_type" type="AmountArticleType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="FileType">
        <xs:restriction base="xs:string">
            <xs:pattern value="FLTP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IntIdType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0000"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReconType">
        <xs:restriction base="xs:string">
            <xs:pattern value="RCNT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OperType">
        <xs:restriction base="xs:string">
            <xs:pattern value="OPTP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MessageType">
        <xs:restriction base="xs:string">
            <xs:pattern value="MSGT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SttlType">
        <xs:restriction base="xs:string">
            <xs:pattern value="STTT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RefnumType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:pattern value="OPST[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReversalType">
        <xs:restriction base="xs:int">
            <xs:pattern value="0|1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MerchNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MccType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0000"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PostcodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TerminalType">
        <xs:restriction base="xs:string">
            <xs:pattern value="TRMT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TermNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HpanType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AuthCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountValueType">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999999999999999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountArticleType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{6,8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String8">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String12">
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String16">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String24">
        <xs:restriction base="xs:string">
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String32">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String44">
        <xs:restriction base="xs:string">
            <xs:maxLength value="44"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String48">
        <xs:restriction base="xs:string">
            <xs:maxLength value="48"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String64">
        <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String120">
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String128">
        <xs:restriction base="xs:string">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String40">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String256">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
