SVWeb/web/WebContent/META-INF/svng/AggrMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.bpcbt.com/sv/aggregation/message/v1/"
		xmlns:tns="http://www.bpcbt.com/sv/aggregation/message/v1/"
		elementFormDefault="qualified">

	<complexType name="AggrRequest">
		<sequence>
			<element name="sessionId" type="long"/>
			<element name="instId" type="long"/>
			<element name="aggrType" type="long" minOccurs="0"/>
			<element name="aggrId" type="long" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="AggrResponse">
		<sequence>
			<element name="result" type="boolean"/>
			<element name="description" type="string" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="aggrRequest" type="tns:AggrRequest"/>
	<element name="aggrResponse" type="tns:AggrResponse"/>
</schema>