SVWeb/web/WebContent/META-INF/svng/Bins.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://bpc.ru/sv/SVXP/bin"
		   xmlns="http://bpc.ru/sv/SVXP/bin"
		   elementFormDefault="qualified">
	<xs:simpleType name="PanLowHigh">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{16,24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FourLengthInt">
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="bins">
		<xs:sequence>
			<xs:element name="bin" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pan_low" type="PanLowHigh"/>
						<xs:element name="pan_high" type="PanLowHigh"/>
						<xs:element name="pan_length" type="FourLengthInt"/>
						<xs:element name="priority" type="FourLengthInt" minOccurs="0"/>
						<xs:element name="card_type_id" type="FourLengthInt" minOccurs="0"/>
						<xs:element name="country" type="CountryCode" minOccurs="0"/>
						<xs:element name="iss_network_id" type="FourLengthInt"/>
						<xs:element name="iss_inst_id" type="FourLengthInt" minOccurs="0"/>
						<xs:element name="card_network_id" type="FourLengthInt" minOccurs="0"/>
						<xs:element name="card_inst_id" type="FourLengthInt" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
