SVWeb/web/WebContent/META-INF/svng/CancelMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.bpcbt.com/sv/cancel/message/v1/"
		   xmlns="http://www.bpcbt.com/sv/cancel/message/v1/"
		   elementFormDefault="qualified" version="1.4.59">
	<xs:complexType name="CancelNotification">
		<xs:sequence>
			<xs:element name="reason" type="xs:string" minOccurs="0"/>
			<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CancelNotificationRequest" type="CancelNotification"/>
</xs:schema>