SVWeb/web/WebContent/META-INF/svng/ConfigMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.bpcbt.com/sv/config/message/v1/"
		   xmlns="http://www.bpcbt.com/sv/config/message/v1/"
		   elementFormDefault="qualified">

	<xs:complexType name="Config">
		<xs:sequence>
			<xs:element name="filename" type="xs:string"/>
			<xs:element name="encoding" type="xs:string"/>
			<xs:element name="config" type="xs:anyType" minOccurs="0"/>
			<xs:element name="absPath" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FileList">
		<xs:sequence>
			<xs:element name="file" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Void">
	</xs:complexType>

	<xs:complexType name="SaveResult">
		<xs:sequence>
			<xs:element name="result" type="xs:boolean"/>
			<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Remap">
		<xs:sequence>
			<xs:element name="confDir" type="xs:string"/>
			<xs:element name="confDirExt" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RemapResult">
		<xs:sequence>
			<xs:element name="result" type="xs:string"/>
			<xs:element name="filesList" type="FileList"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Fault">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="getFilesRequest" type="Void"/>
	<xs:element name="getFilesResponse" type="FileList"/>

	<xs:element name="getConfigRequest" type="Config"/>
	<xs:element name="getConfigResponse" type="Config"/>

	<xs:element name="saveConfigRequest" type="Config"/>
	<xs:element name="saveConfigResponse" type="SaveResult"/>

	<xs:element name="remapConfigsRequest" type="Remap"/>
	<xs:element name="remapConfigsResponse" type="RemapResult"/>
	<xs:element name="fault" type="Fault"/>
</xs:schema>