SVWeb/web/WebContent/META-INF/svng/ConfigService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="config_wsdl"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 targetNamespace="http://www.bpcbt.com/sv/config/service/v1/"
			 xmlns:tns="http://www.bpcbt.com/sv/config/service/v1/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:msg="http://www.bpcbt.com/sv/config/message/v1/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bpcbt.com/sv/config/message/v1/" schemaLocation="ConfigMessages.xsd"/>
		</schema>
	</types>

	<message name="GetFilesRequest">
		<part name="request" element="msg:getFilesRequest"/>
	</message>
	<message name="GetFilesResponse">
		<part name="response" element="msg:getFilesResponse"/>
	</message>

	<message name="GetConfigRequest">
		<part name="request" element="msg:getConfigRequest"/>
	</message>
	<message name="GetConfigResponse">
		<part name="response" element="msg:getConfigResponse"/>
	</message>

	<message name="SaveConfigRequest">
		<part name="request" element="msg:saveConfigRequest"/>
	</message>
	<message name="SaveConfigResponse">
		<part name="error" element="msg:saveConfigResponse"/>
	</message>

	<message name="RemapConfigsRequest">
		<part name="request" element="msg:remapConfigsRequest"/>
	</message>
	<message name="RemapConfigsResponse">
		<part name="error" element="msg:remapConfigsResponse"/>
	</message>

	<message name="Fault">
		<part name="fault" element="msg:fault"/>
	</message>

	<portType name="ConfigPortType">
		<operation name="getFiles">
			<input name="GetFilesRequest" message="tns:GetFilesRequest"/>
			<output name="GetFilesResponse" message="tns:GetFilesResponse"/>
		</operation>
		<operation name="getConfig">
			<input name="GetConfigRequest" message="tns:GetConfigRequest"/>
			<output name="GetConfigResponse" message="tns:GetConfigResponse"/>
		</operation>
		<operation name="saveConfig">
			<input name="SaveConfigRequest" message="tns:SaveConfigRequest"/>
			<output name="SaveConfigResponse" message="tns:SaveConfigResponse"/>
		</operation>
		<operation name="remapConfigs">
			<input name="RemapConfigsRequest" message="tns:RemapConfigsRequest"/>
			<output name="RemapConfigsResponse" message="tns:RemapConfigsResponse"/>
			<fault name="Fault" message="tns:Fault" />
		</operation>
	</portType>

	<binding name="ConfigBinding" type="tns:ConfigPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getFiles">
			<soap:operation soapAction="http://www.bpcbt.com/sv/config/service/v1/getFiles"/>
			<input name="GetFilesRequest">
				<soap:body use="literal"/>
			</input>
			<output name="GetFilesResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getConfig">
			<soap:operation soapAction="http://www.bpcbt.com/sv/config/service/v1/getConfig"/>
			<input name="GetConfigRequest">
				<soap:body use="literal"/>
			</input>
			<output name="GetConfigResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="saveConfig">
			<soap:operation soapAction="http://www.bpcbt.com/sv/config/service/v1/saveConfig"/>
			<input name="SaveConfigRequest">
				<soap:body use="literal"/>
			</input>
			<output name="SaveConfigResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="remapConfigs">
			<soap:operation soapAction="http://www.bpcbt.com/sv/config/service/v1/remapConfigs"/>
			<input name="RemapConfigsRequest">
				<soap:body use="literal"/>
			</input>
			<output name="RemapConfigsResponse">
				<soap:body use="literal"/>
			</output>
			<fault name="Fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="ConfigService">
		<port name="ConfigPort" binding="tns:ConfigBinding">
			<soap:address location="http://localhost:7001/config"/>
		</port>
	</service>
</definitions>
