SVWeb/web/WebContent/META-INF/svng/CupMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.bpcbt.com/sv/cup/message/v1/"
		   xmlns="http://www.bpcbt.com/sv/cup/message/v1/"
		   xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
		   jxb:version="1.0"
		   elementFormDefault="qualified">

	<xs:import schemaLocation="Svxp.xsd" namespace="http://bpc.ru/sv/SVXP/clearing"/>

	<xs:complexType name="FileLoadResponse">
		<xs:annotation>
			<xs:documentation>Class for file loading response to SV2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="totalRecords" type="xs:long">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Total number of loaded records</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalPackages" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Total number of sent records</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="FileLoadRequest">
		<xs:annotation>
			<xs:documentation>Class for file loading request to SV2</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SimpleFileLoadRequest">
				<xs:sequence>
					<xs:element type="xs:string" name="queue">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Queue name for sending data</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SimpleFileLoadRequest">
		<xs:annotation>
			<xs:documentation>Class for saving file to module database request</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element type="xs:long" name="sessionId">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>SV2 load process session ID</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="filename">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Name of file to load</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="fileEncoding">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Encoding of file</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="fileDir">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Input file directory</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="outDir">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Output file directory</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="errorDir">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Error file directory</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:boolean" name="issuer">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Is issuer file or acquirer</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="FileUnloadRequest">
		<xs:sequence>
			<xs:element type="xs:long" name="sessionId">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>SV2 unload clearing process session ID</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="filename">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Name of file for saving outgoing clearing</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="fileEncoding">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Encoding of file</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="outDir">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Output file directory</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ClearingFileLoadRequest" type="FileLoadRequest"/>
	<xs:element name="ClearingFileLoadResponse" type="FileLoadResponse"/>

	<xs:element name="ClearingFileUnloadRequest" type="FileLoadRequest"/>
	<xs:element name="ClearingFileUnloadResponse" type="FileLoadResponse"/>

	<xs:element name="BinFileLoadRequest" type="FileLoadRequest"/>
	<xs:element name="BinFileLoadResponse" type="FileLoadResponse"/>

	<xs:element name="RejectFileLoadRequest" type="FileLoadRequest"/>
	<xs:element name="RejectFileLoadResponse" type="FileLoadResponse"/>

	<xs:element name="DisputeFileLoadRequest" type="SimpleFileLoadRequest"/>
	<xs:element name="DisputeFileLoadResponse" type="FileLoadResponse"/>

	<xs:element name="SettlementFileLoadRequest" type="FileLoadRequest"/>
	<xs:element name="SettlementFileLoadResponse" type="FileLoadResponse"/>
</xs:schema>