SVWeb/web/WebContent/META-INF/svng/CupService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="sv_cup_wsdl"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 targetNamespace="http://www.bpcbt.com/sv/cup/service/v1/"
			 xmlns:tns="http://www.bpcbt.com/sv/cup/service/v1/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:msg="http://www.bpcbt.com/sv/cup/message/v1/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bpcbt.com/sv/cup/message/v1/" schemaLocation="CupMessages.xsd"/>
		</schema>
	</types>

	<message name="StartClearingLoadRequest">
		<part name="request" element="msg:ClearingFileLoadRequest"/>
	</message>
	<message name="StartClearingLoadResponse">
		<part name="request" element="msg:ClearingFileLoadResponse"/>
	</message>

	<message name="StartBinsLoadRequest">
		<part name="request" element="msg:BinFileLoadRequest"/>
	</message>
	<message name="StartBinsLoadResponse">
		<part name="request" element="msg:BinFileLoadResponse"/>
	</message>

	<message name="StartSettlementsLoadRequest">
		<part name="request" element="msg:SettlementFileLoadRequest"/>
	</message>
	<message name="StartSettlementsLoadResponse">
		<part name="request" element="msg:SettlementFileLoadResponse"/>
	</message>

	<message name="StartRejectsLoadRequest">
		<part name="request" element="msg:RejectFileLoadRequest"/>
	</message>
	<message name="StartRejectsLoadResponse">
		<part name="request" element="msg:RejectFileLoadResponse"/>
	</message>

	<message name="StartDisputesLoadRequest">
		<part name="request" element="msg:DisputeFileLoadRequest"/>
	</message>
	<message name="StartDisputesLoadResponse">
		<part name="request" element="msg:DisputeFileLoadResponse"/>
	</message>

	<message name="StartClearingUnloadRequest">
		<part name="request" element="msg:ClearingFileUnloadRequest"/>
	</message>
	<message name="StartClearingUnloadResponse">
		<part name="request" element="msg:ClearingFileUnloadResponse"/>
	</message>

	<portType name="CupPortType">
		<operation name="StartClearingLoad">
			<documentation>Method for starting clearing file loading</documentation>
			<input name="StartClearingLoadRequest" message="tns:StartClearingLoadRequest"/>
			<output name="StartClearingLoadResponse" message="tns:StartClearingLoadResponse"/>
		</operation>
		<operation name="StartBinsLoad">
			<documentation>Method for starting bin file loading</documentation>
			<input name="StartBinsLoadRequest" message="tns:StartBinsLoadRequest"/>
			<output name="StartBinsLoadResponse" message="tns:StartBinsLoadResponse"/>
		</operation>
		<operation name="StartSettlementsLoad">
			<documentation>Method for starting settlement file loading</documentation>
			<input name="StartSettlementsLoadRequest" message="tns:StartSettlementsLoadRequest"/>
			<output name="StartSettlementsLoadResponse" message="tns:StartSettlementsLoadResponse"/>
		</operation>
		<operation name="StartRejectsLoad">
			<documentation>Method for starting reject file loading</documentation>
			<input name="StartRejectsLoadRequest" message="tns:StartRejectsLoadRequest"/>
			<output name="StartRejectsLoadResponse" message="tns:StartRejectsLoadResponse"/>
		</operation>
		<operation name="StartDisputesLoad">
			<documentation>Method for starting disputes file loading</documentation>
			<input name="StartDisputesLoadRequest" message="tns:StartDisputesLoadRequest"/>
			<output name="StartDisputesLoadResponse" message="tns:StartDisputesLoadResponse"/>
		</operation>
		<operation name="StartClearingUnload">
			<documentation>Method for starting clearing unload process</documentation>
			<input name="StartClearingUnloadRequest" message="tns:StartClearingUnloadRequest"/>
			<output name="StartClearingUnloadResponse" message="tns:StartClearingUnloadResponse"/>
		</operation>
	</portType>

	<binding name="CupBinding" type="tns:CupPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartClearingLoad">
			<documentation>Method for starting clearing file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/cup/service/v1/StartClearingLoad"/>
			<input name="StartClearingLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartClearingLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartBinsLoad">
			<documentation>Method for starting bin file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/cup/service/v1/StartBinsLoad"/>
			<input name="StartBinsLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartBinsLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartSettlementsLoad">
			<documentation>Method for starting settlement file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/cup/service/v1/StartSettlementsLoad"/>
			<input name="StartSettlementsLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartSettlementsLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartRejectsLoad">
			<documentation>Method for starting reject file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/cup/service/v1/StartRejectsLoad"/>
			<input name="StartRejectsLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartRejectsLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartDisputesLoad">
			<documentation>Method for starting dispute file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/cup/service/v1/StartDisputesLoad"/>
			<input name="StartDisputesLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartDisputesLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartClearingUnload">
			<documentation>Method for starting clearing unload process</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/cup/service/v1/StartClearingUnload"/>
			<input name="StartClearingUnloadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartClearingUnloadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="CupService">
		<port name="CupPort" binding="tns:CupBinding">
			<soap:address location="http://localhost:7001/CUP"/>
		</port>
	</service>
</definitions>
