SVWeb/web/WebContent/META-INF/svng/DinersService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="svng_dci_wsdl"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 targetNamespace="http://www.bpcbt.com/sv/diners/service/v1/"
			 xmlns:tns="http://www.bpcbt.com/sv/diners/service/v1/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:msg="http://www.bpcbt.com/sv/diners/message/v1/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bpcbt.com/sv/diners/message/v1/" schemaLocation="DinersMessages.xsd"/>
		</schema>
	</types>

	<message name="StartClearingLoadRequest">
		<part name="request" element="msg:ClearingFileLoadRequest"/>
	</message>
	<message name="StartClearingLoadResponse">
		<part name="request" element="msg:ClearingFileLoadResponse"/>
	</message>

	<message name="StartBinsLoadRequest">
		<part name="request" element="msg:BinFileLoadRequest"/>
	</message>
	<message name="StartBinsLoadResponse">
		<part name="request" element="msg:BinFileLoadResponse"/>
	</message>

	<message name="StartClearingUnloadRequest">
		<part name="request" element="msg:ClearingFileUnloadRequest"/>
	</message>
	<message name="StartClearingUnloadResponse">
		<part name="request" element="msg:ClearingFileUnloadResponse"/>
	</message>

	<portType name="DinersPortType">
		<operation name="StartClearingLoad">
			<documentation>Method for starting clearing file loading</documentation>
			<input name="StartClearingLoadRequest" message="tns:StartClearingLoadRequest"/>
			<output name="StartClearingLoadResponse" message="tns:StartClearingLoadResponse"/>
		</operation>
		<operation name="StartBinsLoad">
			<documentation>Method for starting bin file loading</documentation>
			<input name="StartBinsLoadRequest" message="tns:StartBinsLoadRequest"/>
			<output name="StartBinsLoadResponse" message="tns:StartBinsLoadResponse"/>
		</operation>
		<operation name="StartClearingUnload">
			<documentation>Method for starting clearing unload process</documentation>
			<input name="StartClearingUnloadRequest" message="tns:StartClearingUnloadRequest"/>
			<output name="StartClearingUnloadResponse" message="tns:StartClearingUnloadResponse"/>
		</operation>
	</portType>

	<binding name="DinersBinding" type="tns:DinersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartClearingLoad">
			<documentation>Method for starting clearing file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/diners/service/v1/StartClearingLoad"/>
			<input name="StartClearingLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartClearingLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartBinsLoad">
			<documentation>Method for starting bin file loading</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/diners/service/v1/StartBinsLoad"/>
			<input name="StartBinsLoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartBinsLoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="StartClearingUnload">
			<documentation>Method for starting clearing unload process</documentation>
			<soap:operation soapAction="http://www.bpcbt.com/sv/diners/service/v1/StartClearingUnload"/>
			<input name="StartClearingUnloadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="StartClearingUnloadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="DinersService">
		<port name="DinersPort" binding="tns:DinersBinding">
			<soap:address location="http://localhost:7200/DCI"/>
		</port>
	</service>
</definitions>
