SVWeb/web/WebContent/META-INF/svng/InitMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.bpcbt.com/prototype/interchange/message/v1/"
		   xmlns="http://www.bpcbt.com/prototype/interchange/message/v1/"
		   elementFormDefault="qualified">

	<xs:complexType name="InitRequest">
		<xs:sequence>
			<xs:element name="data" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InitResponse">
		<xs:sequence>
			<xs:element name="result" type="xs:boolean"/>
			<xs:element name="data" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="initRequest" type="InitRequest"/>
	<xs:element name="initResponse" type="InitResponse"/>
</xs:schema>