SVWeb/web/WebContent/META-INF/svng/InterchangeMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.bpcbt.com/sv/interchange/message/v1/"
		xmlns:tns="http://www.bpcbt.com/sv/interchange/message/v1/"
		elementFormDefault="qualified">

	<complexType name="CalculationRequest">
		<sequence>
			<element name="sessionId" type="long"/>
			<element name="instId" type="long"/>
			<element name="status" type="string" minOccurs="0"/>
			<element name="operType" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CalculationResponse">
		<sequence>
			<element name="succeed" type="long"/>
			<element name="failed" type="long"/>
			<element name="error" type="string" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="RollbackRequest">
		<sequence>
			<element name="sessionId" type="long"/>
			<element name="rollback" type="boolean"/>
		</sequence>
	</complexType>

	<complexType name="AmountResponse">
		<sequence>
			<element name="total" type="long"/>
			<element name="error" type="string" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="LoadRequest">
		<sequence>
			<element name="sessionId" type="long"/>
			<element name="dataType">
				<simpleType>
					<restriction base="string">
						<enumeration value="OPERATIONS"/>
						<enumeration value="CURRENCY_RATES"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="LoadResponse">
		<sequence>
			<element name="result" type="boolean"/>
			<element name="error" type="string" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="loadRequest" type="tns:LoadRequest"/>
	<element name="loadResponse" type="tns:LoadResponse"/>

	<element name="calculationRequest" type="tns:CalculationRequest"/>
	<element name="calculationResponse" type="tns:CalculationResponse"/>

	<element name="rollbackRequest" type="tns:RollbackRequest"/>
	<element name="rollbackResponse" type="tns:CalculationResponse"/>

	<element name="unloadRequest" type="tns:LoadRequest"/>
	<element name="unloadResponse" type="tns:AmountResponse"/>
</schema>