SVWeb/web/WebContent/META-INF/svng/InterchangeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="sv_interchange_wsdl"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 targetNamespace="http://www.bpcbt.com/sv/interchange/service/v1/"
			 xmlns:tns="http://www.bpcbt.com/sv/interchange/service/v1/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:msg="http://www.bpcbt.com/sv/interchange/message/v1/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bpcbt.com/sv/interchange/message/v1/" schemaLocation="InterchangeMessages.xsd"/>
		</schema>
	</types>

	<message name="CalculationRequest">
		<part name="request" element="msg:calculationRequest"/>
	</message>
	<message name="CalculationResponse">
		<part name="response" element="msg:calculationResponse"/>
	</message>

	<message name="RollbackRequest">
		<part name="request" element="msg:rollbackRequest"/>
	</message>
	<message name="RollbackResponse">
		<part name="response" element="msg:rollbackResponse"/>
	</message>

	<message name="UnloadRequest">
		<part name="request" element="msg:unloadRequest"/>
	</message>
	<message name="UnloadResponse">
		<part name="response" element="msg:unloadResponse"/>
	</message>

	<message name="LoadRequest">
		<part name="request" element="msg:loadRequest"/>
	</message>
	<message name="LoadResponse">
		<part name="response" element="msg:loadResponse"/>
	</message>

	<portType name="InterchangePortType">
		<operation name="Calculate">
			<input name="CalculateRequest" message="tns:CalculationRequest"/>
			<output name="CalculateResponse" message="tns:CalculationResponse"/>
		</operation>
		<operation name="Rollback">
			<input name="RollbackRequest" message="tns:RollbackRequest"/>
			<output name="RollbackResponse" message="tns:RollbackResponse"/>
		</operation>
		<operation name="Unload">
			<input name="UnloadRequest" message="tns:UnloadRequest"/>
			<output name="UnloadResponse" message="tns:UnloadResponse"/>
		</operation>
		<operation name="Load">
			<input name="LoadRequest" message="tns:LoadRequest"/>
			<output name="LoadResponse" message="tns:LoadResponse"/>
		</operation>
	</portType>

	<binding name="InterchangeBinding" type="tns:InterchangePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Calculate">
			<soap:operation soapAction="http://www.bpcbt.com/sv/interchange/service/v1/calculate"/>
			<input name="CalculateRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="CalculateResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Rollback">
			<soap:operation soapAction="http://www.bpcbt.com/sv/interchange/service/v1/rollback"/>
			<input name="RollbackRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="RollbackResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Unload">
			<soap:operation soapAction="http://www.bpcbt.com/sv/interchange/service/v1/unload"/>
			<input name="UnloadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="UnloadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Load">
			<soap:operation soapAction="http://www.bpcbt.com/sv/interchange/service/v1/init"/>
			<input name="LoadRequest">
				<soap:body use="literal" parts="request"/>
			</input>
			<output name="LoadResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="InterchangeService">
		<port name="InterchangePort" binding="tns:InterchangeBinding">
			<soap:address location="http://localhost:7001/interchange"/>
		</port>
	</service>
</definitions>
