SVWeb/web/WebContent/META-INF/svng/IpmSave.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IpmSaveManageServiceService" targetNamespace="save.ipm.ws.mastercard.svng.bpcbt.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="save.ipm.ws.mastercard.svng.bpcbt.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:ns1="save.ipm.ws.mastercard.svng.bpcbt.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="trace.mastercard.svng.bpcbt.com" version="1.0">

  <xs:import namespace="save.ipm.ws.mastercard.svng.bpcbt.com"/>

  <xs:complexType name="traceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="entityType" type="xs:string"/>
      <xs:element name="level" type="ns1:TraceLevelType"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="objectId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="trace.mastercard.svng.bpcbt.com" xmlns:tns="save.ipm.ws.mastercard.svng.bpcbt.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="save.ipm.ws.mastercard.svng.bpcbt.com" version="1.0">

  <xs:import namespace="trace.mastercard.svng.bpcbt.com"/>

  <xs:element name="cancel" type="tns:cancel"/>

  <xs:element name="cancelResponse" type="tns:cancelResponse"/>

  <xs:element name="ipmSaverParametersHolder" type="tns:ipmSaverParametersHolder"/>

  <xs:element name="ipmSaverRunInfo" type="tns:ipmSaverRunInfo"/>

  <xs:element name="run" type="tns:run"/>

  <xs:element name="runResponse" type="tns:runResponse"/>

  <xs:element name="status" type="tns:status"/>

  <xs:element name="statusResponse" type="tns:statusResponse"/>

  <xs:complexType name="status">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="statusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ipmSaverRunInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ipmSaverRunInfo">
    <xs:sequence>
      <xs:element name="containerId" type="xs:long"/>
      <xs:element name="currentPhase" type="xs:int"/>
      <xs:element name="estimatedCount" type="xs:long"/>
      <xs:element name="exceptedCount" type="xs:long"/>
      <xs:element minOccurs="0" name="fatalException" type="tns:throwable"/>
      <xs:element name="phasesTotal" type="xs:int"/>
      <xs:element name="processState" type="tns:ServiceResult"/>
      <xs:element name="processedCount" type="xs:long"/>
      <xs:element name="rejectedCount" type="xs:long"/>
      <xs:element name="sessionId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="traceRecords" nillable="true" type="ns1:traceRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="stackTraceElement">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="cancel">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="cancelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ipmSaverRunInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="run">
    <xs:sequence>
      <xs:element name="parameters" type="tns:ipmSaverParametersHolder"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ipmSaverParametersHolder">
    <xs:sequence>
      <xs:element name="containerBindId" type="xs:long"/>
      <xs:element name="containerId" type="xs:long"/>
      <xs:element name="fileInfo" type="tns:ipmSaverFileInfo"/>
      <xs:element name="params" type="tns:ipmSaverParams"/>
      <xs:element name="processId" type="xs:int"/>
      <xs:element name="sessionId" type="xs:long"/>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ipmSaverFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="directoryUri" type="xs:string"/>
      <xs:element name="sourceBlocked" type="xs:boolean"/>
      <xs:element name="sourceRdw" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ipmSaverParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="parentSessionId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ServiceResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ServiceResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRSR0000"/>
      <xs:enumeration value="PRSR0001"/>
      <xs:enumeration value="PRSR0002"/>
      <xs:enumeration value="PRSR0003"/>
      <xs:enumeration value="PRSR0004"/>
      <xs:enumeration value="PRSR0005"/>
      <xs:enumeration value="STANDBY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TraceLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OFF"/>
      <xs:enumeration value="FATAL"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="WARN"/>
      <xs:enumeration value="INFO"/>
      <xs:enumeration value="DEBUG"/>
      <xs:enumeration value="ALL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="cancel">
    <wsdl:part name="parameters" element="tns:cancel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelResponse">
    <wsdl:part name="parameters" element="tns:cancelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="statusResponse">
    <wsdl:part name="parameters" element="tns:statusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="runResponse">
    <wsdl:part name="parameters" element="tns:runResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="status">
    <wsdl:part name="parameters" element="tns:status">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="run">
    <wsdl:part name="parameters" element="tns:run">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ipmSaveManageService">
    <wsdl:operation name="status">
      <wsdl:input name="status" message="tns:status">
    </wsdl:input>
      <wsdl:output name="statusResponse" message="tns:statusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input name="cancel" message="tns:cancel">
    </wsdl:input>
      <wsdl:output name="cancelResponse" message="tns:cancelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run">
      <wsdl:input name="run" message="tns:run">
    </wsdl:input>
      <wsdl:output name="runResponse" message="tns:runResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IpmSaveManageServiceServiceSoapBinding" type="tns:ipmSaveManageService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="status">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="status">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="statusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="run">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="run">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="runResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IpmSaveManageServiceService">
    <wsdl:port name="ipmSaveManageServicePort" binding="tns:IpmSaveManageServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ipmSaveManageServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
