SVWeb/web/WebContent/META-INF/svng/JcbDataAccessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="JcbDataAccessServiceService" targetNamespace="http://www.bpcbt.com/svxp/modules/jcb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.bpcbt.com/svxp/modules/jcb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.bpcbt.com/svxp/modules/jcb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.bpcbt.com/svxp/modules/jcb" version="1.0">

            <xs:element name="GetJcbClearingOperationRequest" type="tns:GetJcbClearingOperationRequest"/>

            <xs:element name="GetJcbClearingOperationRequestResponse" type="tns:GetJcbClearingOperationRequestResponse"/>

            <xs:element name="GetJcbModuleSessionRequest" type="tns:GetJcbModuleSessionRequest"/>

            <xs:element name="GetJcbModuleSessionRequestResponse" type="tns:GetJcbModuleSessionRequestResponse"/>

            <xs:element name="GetJcbModuleSessionTraceRequest" type="tns:GetJcbModuleSessionTraceRequest"/>

            <xs:element name="GetJcbModuleSessionTraceRequestResponse" type="tns:GetJcbModuleSessionTraceRequestResponse"/>

            <xs:element name="JcbClearingOperation" type="tns:jcbClearingOperation"/>

            <xs:element name="JcbClearingOperationRequest" type="tns:jcbDataAccessRequest"/>

            <xs:element name="JcbClearingOperationResponce" type="tns:jcbDataAccessResponse"/>

            <xs:element name="jcbInterchange" type="tns:jcbInterchangeOperation"/>

            <xs:element name="jcbModuleSessionRequest" type="tns:jcbModuleSessionRequest"/>

            <xs:element name="jcbModuleSessionResponse" type="tns:jcbModuleSessionResponse"/>

            <xs:element name="jcbModuleSessionTraceRequest" type="tns:jcbModuleSessionTraceRequest"/>

            <xs:element name="jcbModuleSessionTraceResponse" type="tns:jcbModuleSessionTraceResponse"/>

            <xs:element name="moduleSession" type="tns:moduleSession"/>

            <xs:element name="moduleSessionTrace" type="tns:moduleSessionTrace"/>

            <xs:complexType name="GetJcbClearingOperationRequest">
                <xs:sequence>
                    <xs:element name="GetJcbClearingOperationRequest" type="tns:jcbDataAccessRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbDataAccessRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                    <xs:element name="firstResult" type="xs:long"/>
                    <xs:element name="maxResults" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="acqInstId" type="xs:int"/>
                    <xs:element minOccurs="0" name="issCardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="operType" type="xs:string"/>
                    <xs:element minOccurs="0" name="operDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="operDateTo" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GetJcbClearingOperationRequestResponse">
                <xs:sequence>
                    <xs:element name="GetJcbClearingOperationResponse" type="tns:jcbDataAccessResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbDataAccessResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="operations">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="tns:jcbClearingOperation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbClearingOperation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="sessionId" type="xs:long"/>
                    <xs:element minOccurs="0" name="operType" type="xs:string"/>
                    <xs:element minOccurs="0" name="operDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="networkRefnum" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="mcc" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantName" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantStreet" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantCity" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantRegion" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantCountry" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantPostcode" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="acqInstId" type="xs:int"/>
                    <xs:element minOccurs="0" name="issCardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="operAmount" type="xs:long"/>
                    <xs:element minOccurs="0" name="operCurrency" type="xs:string"/>
                    <xs:element minOccurs="0" name="jcbInterchangeOperation" type="tns:jcbInterchangeOperation"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbInterchangeOperation">
                <xs:sequence>
                    <xs:element name="mti" type="xs:int"/>
                    <xs:element minOccurs="0" name="p002" type="xs:string"/>
                    <xs:element minOccurs="0" name="p003" type="xs:string"/>
                    <xs:element minOccurs="0" name="p004" type="xs:long"/>
                    <xs:element minOccurs="0" name="p005" type="xs:long"/>
                    <xs:element minOccurs="0" name="p006" type="xs:long"/>
                    <xs:element minOccurs="0" name="p009" type="xs:int"/>
                    <xs:element minOccurs="0" name="p010" type="xs:int"/>
                    <xs:element minOccurs="0" name="p012" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="p014" type="xs:string"/>
                    <xs:element minOccurs="0" name="p016" type="xs:int"/>
                    <xs:element minOccurs="0" name="P022_01" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_02" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_03" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_04" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_05" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_06" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_07" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_08" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_09" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_10" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_11" type="xs:string"/>
                    <xs:element minOccurs="0" name="P022_12" type="xs:string"/>
                    <xs:element minOccurs="0" name="p023" type="xs:int"/>
                    <xs:element minOccurs="0" name="p024" type="xs:int"/>
                    <xs:element minOccurs="0" name="p026" type="xs:string"/>
                    <xs:element minOccurs="0" name="P031_1" type="xs:string"/>
                    <xs:element minOccurs="0" name="P031_2" type="xs:string"/>
                    <xs:element minOccurs="0" name="P031_3" type="xs:string"/>
                    <xs:element minOccurs="0" name="P031_4" type="xs:long"/>
                    <xs:element minOccurs="0" name="p032" type="xs:string"/>
                    <xs:element minOccurs="0" name="p033" type="xs:string"/>
                    <xs:element minOccurs="0" name="p037" type="xs:string"/>
                    <xs:element minOccurs="0" name="p038" type="xs:string"/>
                    <xs:element minOccurs="0" name="p040" type="xs:int"/>
                    <xs:element minOccurs="0" name="p041" type="xs:string"/>
                    <xs:element minOccurs="0" name="p042" type="xs:string"/>
                    <xs:element minOccurs="0" name="P043_01" type="xs:string"/>
                    <xs:element minOccurs="0" name="P043_02" type="xs:string"/>
                    <xs:element minOccurs="0" name="P043_03" type="xs:string"/>
                    <xs:element minOccurs="0" name="P043_04" type="xs:string"/>
                    <xs:element minOccurs="0" name="P043_05" type="xs:string"/>
                    <xs:element minOccurs="0" name="P043_06" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3001" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3002_1" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3002_2" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3003" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3005" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3007_1" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3007_2" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3008" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3009" type="xs:int"/>
                    <xs:element minOccurs="0" name="P048_3011" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3012" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3013" type="xs:string"/>
                    <xs:element minOccurs="0" name="P048_3901_1" type="xs:int"/>
                    <xs:element minOccurs="0" name="P048_3901_2" type="xs:int"/>
                    <xs:element minOccurs="0" name="P048_3901_3" type="xs:int"/>
                    <xs:element minOccurs="0" name="P048_3901_4" type="xs:int"/>
                    <xs:element minOccurs="0" name="P048_3902" type="xs:long"/>
                    <xs:element minOccurs="0" name="P048_3903" type="xs:int"/>
                    <xs:element minOccurs="0" name="p049" type="xs:string"/>
                    <xs:element minOccurs="0" name="p050" type="xs:int"/>
                    <xs:element minOccurs="0" name="p051" type="xs:int"/>
                    <xs:element minOccurs="0" name="p054" type="xs:string"/>
                    <xs:element minOccurs="0" name="p055" type="xs:string"/>
                    <xs:element minOccurs="0" name="p062" type="xs:string"/>
                    <xs:element minOccurs="0" name="s071" type="xs:int"/>
                    <xs:element minOccurs="0" name="s093" type="xs:string"/>
                    <xs:element minOccurs="0" name="s094" type="xs:string"/>
                    <xs:element minOccurs="0" name="s100" type="xs:string"/>
                    <xs:element minOccurs="0" name="s123" type="xs:string"/>
                    <xs:element minOccurs="0" name="s124" type="xs:string"/>
                    <xs:element minOccurs="0" name="s125" type="xs:string"/>
                    <xs:element minOccurs="0" name="s126" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GetJcbModuleSessionRequest">
                <xs:sequence>
                    <xs:element name="GetJcbModuleSessionRequest" type="tns:jcbModuleSessionRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbModuleSessionRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdFrom" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="createdTo" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="fileName" type="xs:string"/>
                    <xs:element minOccurs="0" name="process" type="xs:string"/>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GetJcbModuleSessionRequestResponse">
                <xs:sequence>
                    <xs:element name="GetJcbModuleSessionResponse" type="tns:jcbModuleSessionResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbModuleSessionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sessions">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="session" type="tns:moduleSession"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="moduleSession">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="SessionId" type="xs:string"/>
                    <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="fileName" type="xs:string"/>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="succeed" type="xs:long"/>
                    <xs:element minOccurs="0" name="total" type="xs:long"/>
                    <xs:element minOccurs="0" name="process" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GetJcbModuleSessionTraceRequest">
                <xs:sequence>
                    <xs:element name="GetJcbModuleSessionTraceRequest" type="tns:jcbModuleSessionTraceRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbModuleSessionTraceRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GetJcbModuleSessionTraceRequestResponse">
                <xs:sequence>
                    <xs:element name="GetJcbModuleSessionTraceResponse" type="tns:jcbModuleSessionTraceResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="jcbModuleSessionTraceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="traces">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="trace" type="tns:moduleSessionTrace"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="moduleSessionTrace">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="logLevel" type="xs:string"/>
                    <xs:element minOccurs="0" name="logger" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetJcbModuleSessionRequest">
        <wsdl:part name="parameters" element="tns:GetJcbModuleSessionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetJcbClearingOperationRequestResponse">
        <wsdl:part name="parameters" element="tns:GetJcbClearingOperationRequestResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetJcbModuleSessionTraceRequestResponse">
        <wsdl:part name="parameters" element="tns:GetJcbModuleSessionTraceRequestResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetJcbModuleSessionRequestResponse">
        <wsdl:part name="parameters" element="tns:GetJcbModuleSessionRequestResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetJcbClearingOperationRequest">
        <wsdl:part name="parameters" element="tns:GetJcbClearingOperationRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetJcbModuleSessionTraceRequest">
        <wsdl:part name="parameters" element="tns:GetJcbModuleSessionTraceRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="JcbDataAccessService">
        <wsdl:operation name="GetJcbClearingOperationRequest">
            <wsdl:input name="GetJcbClearingOperationRequest" message="tns:GetJcbClearingOperationRequest">
            </wsdl:input>
            <wsdl:output name="GetJcbClearingOperationRequestResponse" message="tns:GetJcbClearingOperationRequestResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetJcbModuleSessionRequest">
            <wsdl:input name="GetJcbModuleSessionRequest" message="tns:GetJcbModuleSessionRequest">
            </wsdl:input>
            <wsdl:output name="GetJcbModuleSessionRequestResponse" message="tns:GetJcbModuleSessionRequestResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetJcbModuleSessionTraceRequest">
            <wsdl:input name="GetJcbModuleSessionTraceRequest" message="tns:GetJcbModuleSessionTraceRequest">
            </wsdl:input>
            <wsdl:output name="GetJcbModuleSessionTraceRequestResponse" message="tns:GetJcbModuleSessionTraceRequestResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JcbDataAccessServiceServiceSoapBinding" type="tns:JcbDataAccessService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetJcbClearingOperationRequest">
            <soap:operation soapAction="GetJcbClearingOperation" style="document"/>
            <wsdl:input name="GetJcbClearingOperationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetJcbClearingOperationRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetJcbModuleSessionRequest">
            <soap:operation soapAction="GetJcbModuleSession" style="document"/>
            <wsdl:input name="GetJcbModuleSessionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetJcbModuleSessionRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetJcbModuleSessionTraceRequest">
            <soap:operation soapAction="GetJcbModuleSessionTrace" style="document"/>
            <wsdl:input name="GetJcbModuleSessionTraceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetJcbModuleSessionTraceRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JcbDataAccessServiceService">
        <wsdl:port name="JcbDataAccessServicePort" binding="tns:JcbDataAccessServiceServiceSoapBinding">
            <soap:address location="http://localhost:9090/JcbDataAccessServicePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
