SVWeb/web/WebContent/META-INF/svng/JcbMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.bpcbt.com/sv/jcb/message/v1/"
           xmlns="http://www.bpcbt.com/sv/jcb/message/v1/"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="1.0"
           elementFormDefault="qualified">

    <xs:complexType name="SimpleFileLoadRequest">
        <xs:annotation>
            <xs:documentation>Class for saving file to module database request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:long" name="sessionId">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>SV2 load process session ID</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="filename">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Name of file to load</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="fileEncoding">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Encoding of file</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="fileDir">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Input file directory</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="outDir">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Output file directory</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="errorDir">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Error file directory</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="instId">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Institute id for uploading (optional)</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="queue">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property>
                            <jxb:javadoc>Queue name for sending data</jxb:javadoc>
                        </jxb:property>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ClearingFileLoadRequest" type="SimpleFileLoadRequest"/>
    <xs:element name="BinFileLoadRequest" type="SimpleFileLoadRequest"/>
    <xs:element name="StartStopDataLoadRequest" type="SimpleFileLoadRequest"/>
    <xs:element name="StartMerchantDataUnloadRequest" type="SimpleFileLoadRequest"/>
    <xs:element name="ClearingFileUnloadRequest" type="SimpleFileLoadRequest"/>
</xs:schema>