SVWeb/web/WebContent/META-INF/svng/JcbService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="sv_jcb_wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.bpcbt.com/sv/jcb/service/v1/"
             xmlns:tns="http://www.bpcbt.com/sv/jcb/service/v1/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:msg="http://www.bpcbt.com/sv/jcb/message/v1/">

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bpcbt.com/sv/jcb/message/v1/" schemaLocation="JcbMessages.xsd"/>
        </schema>
    </types>

    <message name="StartClearingLoadRequest">
        <part name="request" element="msg:ClearingFileLoadRequest"/>
    </message>

    <message name="StartBinsLoadRequest">
        <part name="request" element="msg:BinFileLoadRequest"/>
    </message>

    <message name="StartStopDataLoadRequest">
        <part name="request" element="msg:StartStopDataLoadRequest"/>
    </message>

    <message name="StartMerchantDataUnloadRequest">
        <part name="request" element="msg:StartMerchantDataUnloadRequest"/>
    </message>

    <message name="StartClearingUnloadRequest">
        <part name="request" element="msg:ClearingFileUnloadRequest"/>
    </message>

    <portType name="JcbPortType">
        <operation name="StartClearingLoad">
            <documentation>Method for starting clearing file loading</documentation>
            <input name="StartClearingLoadRequest" message="tns:StartClearingLoadRequest"/>
        </operation>
        <operation name="StartBinsLoad">
            <documentation>Method for starting bin file loading</documentation>
            <input name="StartBinsLoadRequest" message="tns:StartBinsLoadRequest"/>
        </operation>
        <operation name="StartStopDataLoad">
            <documentation>Method for starting Stop Data file loading</documentation>
            <input name="StartStopDataLoadRequest" message="tns:StartStopDataLoadRequest"/>
        </operation>
        <operation name="StartMerchantDataUnload">
            <documentation>Method for starting Stop Data file loading</documentation>
            <input name="StartMerchantDataUnloadRequest" message="tns:StartMerchantDataUnloadRequest"/>
        </operation>
        <operation name="StartClearingUnload">
            <documentation>Method for starting clearing unload process</documentation>
            <input name="StartClearingUnloadRequest" message="tns:StartClearingUnloadRequest"/>
        </operation>
    </portType>

    <binding name="JcbBinding" type="tns:JcbPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StartClearingLoad">
            <documentation>Method for starting clearing file loading</documentation>
            <soap:operation soapAction="http://www.bpcbt.com/sv/jcb/service/v1/StartClearingLoad"/>
            <input name="StartClearingLoadRequest">
                <soap:body use="literal" parts="request"/>
            </input>
        </operation>
        <operation name="StartBinsLoad">
            <documentation>Method for starting bin file loading</documentation>
            <soap:operation soapAction="http://www.bpcbt.com/sv/jcb/service/v1/StartBinsLoad"/>
            <input name="StartBinsLoadRequest">
                <soap:body use="literal" parts="request"/>
            </input>
        </operation>
        <operation name="StartStopDataLoad">
            <documentation>Method for starting Stop Data file loading</documentation>
            <soap:operation soapAction="http://www.bpcbt.com/sv/jcb/service/v1/StartStopDataLoad"/>
            <input name="StartStopDataLoadRequest">
                <soap:body use="literal" parts="request"/>
            </input>
        </operation>
        <operation name="StartMerchantDataUnload">
            <documentation>Method for starting Merchant Data File unload process</documentation>
            <soap:operation soapAction="http://www.bpcbt.com/sv/jcb/service/v1/StartMerchantDataUnload"/>
            <input name="StartMerchantDataUnloadRequest">
                <soap:body use="literal" parts="request"/>
            </input>
        </operation>
        <operation name="StartClearingUnload">
            <documentation>Method for starting clearing unload process</documentation>
            <soap:operation soapAction="http://www.bpcbt.com/sv/jcb/service/v1/StartClearingUnload"/>
            <input name="StartClearingUnloadRequest">
                <soap:body use="literal" parts="request"/>
            </input>
        </operation>
    </binding>

    <service name="JcbService">
        <port name="JcbPort" binding="tns:JcbBinding">
            <soap:address location="http://localhost:7001/JCB"/>
        </port>
    </service>
</definitions>
