SVWeb/web/WebContent/META-INF/svng/MergeMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.bpcbt.com/sv/merge/message/v1/"
		   xmlns="http://www.bpcbt.com/sv/merge/message/v1/"
		   elementFormDefault="qualified">

	<xs:complexType name="MergeRequest">
		<xs:sequence>
			<xs:element name="session_id" type="xs:long" minOccurs="1"/>
			<xs:element name="in_file" type="xs:string" minOccurs="1"/>
			<xs:element name="out_file" type="xs:string" minOccurs="1"/>
			<xs:element name="queue" type="xs:string" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResultResponse">
		<xs:sequence>
			<xs:element name="session_id" type="xs:long" minOccurs="1"/>
			<xs:element name="result" type="xs:boolean" minOccurs="1"/>
			<xs:element name="out_file" type="xs:string"/>
			<xs:element name="error" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="mergeRequest" type="MergeRequest"/>
	<xs:element name="resultResponse" type="ResultResponse"/>
</xs:schema>