SVWeb/web/WebContent/META-INF/svng/NationalSwitchRecon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://bpc.ru/sv/SVXP/reconciliation"
           xmlns="http://bpc.ru/sv/SVXP/reconciliation"
           elementFormDefault="qualified">
    <xs:element name="settlement" type="NationalSwitchRecon"/>

    <xs:complexType name="NationalSwitchRecon">
        <xs:sequence>
            <xs:element name="file_id" type="LongIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="file_type" type="FileType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="inst_id" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="operation" type="SettleOperationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SettleOperationType">
        <xs:sequence>
            <xs:element name="oper_type" type="OperType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="msg_type" type="MessageType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oper_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="host_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oper_amount" type="Amount" minOccurs="0" maxOccurs="1"/>
            <xs:element name="originator_refnum" type="RefnumType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="network_refnum" type="RefnumType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="is_reversal" type="ReversalType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_number" type="MerchNumberType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="mcc" type="MccType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_name" type="MerchNameType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_street" type="MerchNameType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_city" type="MerchNameType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_region" type="MerchNameType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_country" type="CountryType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="merchant_postcode" type="PostcodeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminal_type" type="TerminalType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="terminal_number" type="TermNumberType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="card_number" type="CardNumberType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="card_seq_number" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="card_expir_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="auth_code" type="AuthCodeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="iss_inst_id" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="acq_inst_id" type="IntIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oper_reason" type="OperReason" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sttl_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="transaction" type="Transaction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Transaction">
        <xs:sequence>
            <xs:element name="transaction_id" type="LongIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="transaction_type" type="TransType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="posting_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="debit_entry" type="Entry" minOccurs="0" maxOccurs="1"/>
            <xs:element name="credit_entry" type="Entry" minOccurs="0" maxOccurs="1"/>
            <xs:element name="conversion_rate" type="xs:float" minOccurs="0" maxOccurs="1"/>
            <xs:element name="amount_purpose" type="AmountPurposeType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="FileType">
        <xs:restriction base="xs:string">
            <xs:pattern value="FLTP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IntIdType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0000"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LongIdType">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9999999999999999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OperType">
        <xs:restriction base="xs:string">
            <xs:pattern value="OPTP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MessageType">
        <xs:restriction base="xs:string">
            <xs:pattern value="MSGT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RefnumType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReversalType">
        <xs:restriction base="xs:int">
            <xs:pattern value="0|1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MerchNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MccType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0000"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MerchNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PostcodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TerminalType">
        <xs:restriction base="xs:string">
            <xs:pattern value="TRMT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TermNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CardNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="19"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AuthCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OperReason">
        <xs:restriction base="xs:string">
            <xs:pattern value="FETP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountValueType">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999999999999999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountArticleType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{6,8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransType">
        <xs:restriction base="xs:string">
            <xs:pattern value="TRNT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Entry">
        <xs:sequence>
            <xs:element name="entry_id" type="LongIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="account" type="Account" minOccurs="1" maxOccurs="1"/>
            <xs:element name="amount" type="Amount" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Account">
        <xs:sequence>
            <xs:element name="account_number" type="AccountNumberType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="currency" type="CountryType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Amount">
        <xs:sequence>
            <xs:element name="amount_value" type="AmountValueType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="currency" type="CountryType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="AccountNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountPurposeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="AMPR[A-Z0-9]{4}|FETP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>