SVWeb/web/WebContent/META-INF/svng/nbc_fast.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://fastwebservice.nbc.org.kh/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  targetNamespace="http://fastwebservice.nbc.org.kh/"
                  name="NBCInterface">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://fastwebservice.nbc.org.kh/"
                   elementFormDefault="unqualified"
                   targetNamespace="http://fastwebservice.nbc.org.kh/"
                   version="1.0">
            <xs:element name="getAccountInquiry" type="tns:getAccountInquiry"/>
            <xs:element name="getAccountInquiryResponse" type="tns:getAccountInquiryResponse"/>
            <xs:element name="getIncomingTransaction" type="tns:getIncomingTransaction"/>
            <xs:element name="getIncomingTransactionResponse" type="tns:getIncomingTransactionResponse"/>
            <xs:element name="getOutgoingTransaction" type="tns:getOutgoingTransaction"/>
            <xs:element name="getOutgoingTransactionByPmtInfId" type="tns:getOutgoingTransactionByPmtInfId"/>
            <xs:element name="getOutgoingTransactionByPmtInfIdResponse" type="tns:getOutgoingTransactionByPmtInfIdResponse"/>
            <xs:element name="getOutgoingTransactionResponse" type="tns:getOutgoingTransactionResponse"/>
            <xs:element name="makeAcknowledgment" type="tns:makeAcknowledgment"/>
            <xs:element name="makeAcknowledgmentResponse" type="tns:makeAcknowledgmentResponse"/>
            <xs:element name="makeFullFundTransfer" type="tns:makeFullFundTransfer"/>
            <xs:element name="makeFullFundTransferResponse" type="tns:makeFullFundTransferResponse"/>
            <xs:element name="makeHalfFundTransfer" type="tns:makeHalfFundTransfer"/>
            <xs:element name="makeHalfFundTransferResponse" type="tns:makeHalfFundTransferResponse"/>
            <xs:element name="makeReverseTransaction" type="tns:makeReverseTransaction"/>
            <xs:element name="makeReverseTransactionResponse" type="tns:makeReverseTransactionResponse"/>

            <xs:complexType name="makeHalfFundTransfer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="iso_message" type="xs:string"/>
                    <xs:element minOccurs="0" name="import_file_name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeHalfFundTransferResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getOutgoingTransaction">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="payer_participant_code" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getOutgoingTransactionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeFullFundTransfer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="iso_message" type="xs:string"/>
                    <xs:element minOccurs="0" name="import_file_name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeFullFundTransferResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getOutgoingTransactionByPmtInfId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="payer_participant_code" type="xs:string"/>
                    <xs:element minOccurs="0" name="instruction_ref" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getOutgoingTransactionByPmtInfIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAccountInquiry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="participant_code" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAccountInquiryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeReverseTransaction">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="content_message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeReverseTransactionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getIncomingTransaction">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="payee_participant_code" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getIncomingTransactionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeAcknowledgment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cm_user_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="cm_password" type="xs:string"/>
                    <xs:element minOccurs="0" name="content_message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="makeAcknowledgmentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getAccountInquiryResponse">
        <wsdl:part element="tns:getAccountInquiryResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutgoingTransactionByPmtInfIdResponse">
        <wsdl:part element="tns:getOutgoingTransactionByPmtInfIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutgoingTransactionResponse">
        <wsdl:part element="tns:getOutgoingTransactionResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeAcknowledgment">
        <wsdl:part element="tns:makeAcknowledgment" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIncomingTransactionResponse">
        <wsdl:part element="tns:getIncomingTransactionResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeReverseTransactionResponse">
        <wsdl:part element="tns:makeReverseTransactionResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeHalfFundTransfer">
        <wsdl:part element="tns:makeHalfFundTransfer" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutgoingTransaction">
        <wsdl:part element="tns:getOutgoingTransaction" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeFullFundTransfer">
        <wsdl:part element="tns:makeFullFundTransfer" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutgoingTransactionByPmtInfId">
        <wsdl:part element="tns:getOutgoingTransactionByPmtInfId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccountInquiry">
        <wsdl:part element="tns:getAccountInquiry" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeReverseTransaction">
        <wsdl:part element="tns:makeReverseTransaction" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeFullFundTransferResponse">
        <wsdl:part element="tns:makeFullFundTransferResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeAcknowledgmentResponse">
        <wsdl:part element="tns:makeAcknowledgmentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeHalfFundTransferResponse">
        <wsdl:part element="tns:makeHalfFundTransferResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIncomingTransaction">
        <wsdl:part element="tns:getIncomingTransaction" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="NBCInterface">
        <wsdl:operation name="makeHalfFundTransfer">
            <wsdl:input message="tns:makeHalfFundTransfer" name="makeHalfFundTransfer">
            </wsdl:input>
            <wsdl:output message="tns:makeHalfFundTransferResponse" name="makeHalfFundTransferResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutgoingTransaction">
            <wsdl:input message="tns:getOutgoingTransaction" name="getOutgoingTransaction">
            </wsdl:input>
            <wsdl:output message="tns:getOutgoingTransactionResponse" name="getOutgoingTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeFullFundTransfer">
            <wsdl:input message="tns:makeFullFundTransfer" name="makeFullFundTransfer">
            </wsdl:input>
            <wsdl:output message="tns:makeFullFundTransferResponse" name="makeFullFundTransferResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutgoingTransactionByPmtInfId">
            <wsdl:input message="tns:getOutgoingTransactionByPmtInfId" name="getOutgoingTransactionByPmtInfId">
            </wsdl:input>
            <wsdl:output message="tns:getOutgoingTransactionByPmtInfIdResponse" name="getOutgoingTransactionByPmtInfIdResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountInquiry">
            <wsdl:input message="tns:getAccountInquiry" name="getAccountInquiry">
            </wsdl:input>
            <wsdl:output message="tns:getAccountInquiryResponse" name="getAccountInquiryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeReverseTransaction">
            <wsdl:input message="tns:makeReverseTransaction" name="makeReverseTransaction">
            </wsdl:input>
            <wsdl:output message="tns:makeReverseTransactionResponse" name="makeReverseTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncomingTransaction">
            <wsdl:input message="tns:getIncomingTransaction" name="getIncomingTransaction">
            </wsdl:input>
            <wsdl:output message="tns:getIncomingTransactionResponse" name="getIncomingTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeAcknowledgment">
            <wsdl:input message="tns:makeAcknowledgment" name="makeAcknowledgment">
            </wsdl:input>
            <wsdl:output message="tns:makeAcknowledgmentResponse" name="makeAcknowledgmentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="NBCInterfaceSoapBinding" type="tns:NBCInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="makeHalfFundTransfer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="makeHalfFundTransfer">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="makeHalfFundTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutgoingTransaction">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOutgoingTransaction">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOutgoingTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeFullFundTransfer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="makeFullFundTransfer">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="makeFullFundTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutgoingTransactionByPmtInfId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOutgoingTransactionByPmtInfId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOutgoingTransactionByPmtInfIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountInquiry">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAccountInquiry">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccountInquiryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeReverseTransaction">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="makeReverseTransaction">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="makeReverseTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncomingTransaction">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getIncomingTransaction">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getIncomingTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeAcknowledgment">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="makeAcknowledgment">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="makeAcknowledgmentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="NBCInterface">
        <wsdl:port binding="tns:NBCInterfaceSoapBinding" name="NBCInterfacePort">
            <soap:address location="http://localhost:8080/FASTWebService/NBCInterface"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>