SVWeb/web/WebContent/META-INF/svng/NotificationMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.bpcbt.com/sv/notification/message/v1/"
		   xmlns="http://www.bpcbt.com/sv/notification/message/v1/"
		   elementFormDefault="qualified" version="1.4.59">

	<xs:complexType name="AmountNotification">
		<xs:sequence>
			<xs:element name="totalRecords" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FileLoadedNotification">
		<xs:sequence>
			<xs:element name="totalRecords" type="xs:long"/>
			<xs:element name="totalPackages" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ReadyToUnloadNotificationRequest" type="AmountNotification"/>
	<xs:element name="FileSavedNotificationRequest" type="AmountNotification"/>
	<xs:element name="FileLoadedNotificationRequest" type="FileLoadedNotification"/>

</xs:schema>