SVWeb/web/WebContent/META-INF/svng/NotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="sv_cup_notification_wsdl"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 targetNamespace="http://www.bpcbt.com/sv/notification/service/v1/"
			 xmlns:tns="http://www.bpcbt.com/sv/notification/service/v1/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:msg="http://www.bpcbt.com/sv/notification/message/v1/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bpcbt.com/sv/notification/message/v1/" schemaLocation="NotificationMessages.xsd"/>
		</schema>
	</types>

	<message name="ReadyToUnloadNotificationRequest">
		<part name="request" element="msg:ReadyToUnloadNotificationRequest"/>
	</message>

	<message name="FileSavedNotificationRequest">
		<part name="response" element="msg:FileSavedNotificationRequest"/>
	</message>

	<message name="FileLoadedNotificationRequest">
		<part name="request" element="msg:FileLoadedNotificationRequest"/>
	</message>

	<portType name="NotificationPortType">
		<operation name="ReadyToUnloadNotification">
			<input name="ReadyToUnloadNotificationRequest" message="tns:ReadyToUnloadNotificationRequest"/>
		</operation>
		<operation name="FileSavedNotification">
			<input name="FileSavedNotificationRequest" message="tns:FileSavedNotificationRequest"/>
		</operation>
		<operation name="FileLoadedNotification">
			<input name="FileLoadedNotificationRequest" message="tns:FileLoadedNotificationRequest"/>
		</operation>
	</portType>

	<binding name="NotificationBinding" type="tns:NotificationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ReadyToUnloadNotification">
			<soap:operation soapAction="http://www.bpcbt.com/sv/notification/service/v1/ReadyToUnloadNotification"/>
			<input name="ReadyToUnloadNotificationRequest">
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="FileSavedNotification">
			<soap:operation soapAction="http://www.bpcbt.com/sv/notification/service/v1/FileSavedNotification"/>
			<input name="FileSavedNotificationRequest">
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="FileLoadedNotification">
			<soap:operation soapAction="http://www.bpcbt.com/sv/notification/service/v1/FileLoadedNotification"/>
			<input name="FileLoadedNotificationRequest">
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>

	<service name="NotificationService">
		<port name="NotificationPort" binding="tns:NotificationBinding">
			<soap:address location="http://localhost:7001/CUP"/>
		</port>
	</service>
</definitions>
