SVWeb/web/WebContent/META-INF/svng/ServiceProviderReconciliation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://bpc.ru/sv/SVXP/reconciliation"
           xmlns="http://bpc.ru/sv/SVXP/reconciliation"
           elementFormDefault="qualified">
    <xs:element name="reconciliation" type="SrvpReconciliation"/>

    <xs:complexType name="SrvpReconciliation">
        <xs:sequence>
            <xs:element name="file_type" type="FileType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="start_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="end_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="inst_id" type="InstIdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="recon_type" type="ReconType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="payment_order" type="PaymentOrderType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentOrderType">
        <xs:sequence>
            <xs:element name="order_id" type="IdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="payment_order_number" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="order_date" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            <xs:element name="order_amount" type="AmountType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="customer_number" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="purpose_number" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="purpose_id" type="IdType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="provider_number" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="order_status" type="OrderStatusType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AmountType">
        <xs:sequence>
            <xs:element name="amount_value" type="AmountValueType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="currency" type="CurrencyType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="amount_type" type="AmountArticleType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParameterType">
        <xs:sequence>
            <xs:element name="param_name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="param_value" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="FileType">
        <xs:restriction base="xs:string">
            <xs:pattern value="FLTP[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="InstIdType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0000"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReconType">
        <xs:restriction base="xs:string">
            <xs:pattern value="RCNT[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IdType">
        <xs:restriction base="xs:long">
            <xs:pattern value="\d{8,16}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrderStatusType">
        <xs:restriction base="xs:string">
            <xs:pattern value="POSA[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountValueType">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999999999999999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountArticleType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{6,8}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
