SVWeb/web/WebContent/META-INF/svng/sv_sync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sv_sync"
                  targetNamespace="urn:com:bpcbt:sv:sv_sync"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="urn:com:bpcbt:sv:sv_sync"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:com:bpcbt:sv:sv_sync"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing">
            <xsd:import namespace="urn:com:bpcbt:sv:sv_sync" schemaLocation="sv_sync.xsd"/>
            <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="postingRequest">
        <wsdl:part name="parameters" element="tns:posting-request"/>
    </wsdl:message>
    <wsdl:message name="postingResponse">
        <wsdl:part name="parameters" element="tns:posting-response"/>
    </wsdl:message>

    <wsdl:message name="cardsRequest">
        <wsdl:part name="parameters" element="tns:cards-request"/>
    </wsdl:message>
    <wsdl:message name="cardsResponse">
        <wsdl:part name="parameters" element="tns:cards-response"/>
    </wsdl:message>

    <wsdl:message name="cardStatusesRequest">
        <wsdl:part name="parameters" element="tns:card-statuses-request"/>
    </wsdl:message>
    <wsdl:message name="cardStatusesResponse">
        <wsdl:part name="parameters" element="tns:card-statuses-response"/>
    </wsdl:message>

    <wsdl:message name="balanceRequest">
        <wsdl:part name="parameters" element="tns:balance-request"/>
    </wsdl:message>
    <wsdl:message name="balanceResponse">
        <wsdl:part name="parameters" element="tns:balance-response"/>
    </wsdl:message>

    <wsdl:message name="merchantRequest">
        <wsdl:part name="parameters" element="tns:merchant-request"/>
    </wsdl:message>
    <wsdl:message name="merchantResponse">
        <wsdl:part name="parameters" element="tns:merchant-response"/>
    </wsdl:message>

    <wsdl:message name="terminalRequest">
        <wsdl:part name="parameters" element="tns:terminal-request"/>
    </wsdl:message>
    <wsdl:message name="terminalResponse">
        <wsdl:part name="parameters" element="tns:terminal-response"/>
    </wsdl:message>

    <wsdl:message name="convRateRequest">
        <wsdl:part name="parameters" element="tns:conv-rate-request"/>
    </wsdl:message>
    <wsdl:message name="convRateResponse">
        <wsdl:part name="parameters" element="tns:conv-rate-response"/>
    </wsdl:message>

    <wsdl:message name="notificationsRequest">
        <wsdl:part name="parameters" element="tns:notifications-request"/>
    </wsdl:message>
    <wsdl:message name="notificationsResponse">
        <wsdl:part name="parameters" element="tns:notifications-response"/>
    </wsdl:message>

    <wsdl:message name="productRequest">
        <wsdl:part name="parameters" element="tns:product-request"/>
    </wsdl:message>
    <wsdl:message name="productResponse">
        <wsdl:part name="parameters" element="tns:product-response"/>
    </wsdl:message>

    <wsdl:message name="rejectRequest">
        <wsdl:part name="parameters" element="tns:reject-request"/>
    </wsdl:message>
    <wsdl:message name="rejectResponse">
        <wsdl:part name="parameters" element="tns:reject-response"/>
    </wsdl:message>

    <wsdl:message name="personsRequest">
        <wsdl:part name="parameters" element="tns:persons-request"/>
    </wsdl:message>
    <wsdl:message name="personsResponse">
        <wsdl:part name="parameters" element="tns:persons-response"/>
    </wsdl:message>

    <wsdl:message name="companiesRequest">
        <wsdl:part name="parameters" element="tns:companies-request"/>
    </wsdl:message>
    <wsdl:message name="companiesResponse">
        <wsdl:part name="parameters" element="tns:companies-response"/>
    </wsdl:message>

    <wsdl:message name="cancellationRequest">
        <wsdl:part name="parameters" element="tns:cancellation-request"/>
    </wsdl:message>

    <wsdl:message name="wsaHeader">
        <wsdl:part name="MessageID" element="wsa:MessageID"/>
        <wsdl:part name="RelatesTo" element="wsa:RelatesTo"/>
        <wsdl:part name="From" element="wsa:From"/>
        <wsdl:part name="ReplyTo" element="wsa:ReplyTo"/>
        <wsdl:part name="FaultTo" element="wsa:FaultTo"/>
        <wsdl:part name="To" element="wsa:To"/>
        <wsdl:part name="Action" element="wsa:Action"/>
    </wsdl:message>
    
    <wsdl:portType name="svsyncAsync">
        <wsdl:operation name="getPosting">
            <wsdl:input name="postingRequest" message="tns:postingRequest"/>
            <wsdl:output name="postingResponse"  message="tns:postingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPostingResult">
            <wsdl:input name="postingResponse"  message="tns:postingResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getCards">
            <wsdl:input name="cardsRequest" message="tns:cardsRequest"/>
            <wsdl:output name="cardsResponse"  message="tns:cardsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCardsResult">
            <wsdl:input name="cardsResponse"  message="tns:cardsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getCardStatuses">
            <wsdl:input name="cardStatusesRequest" message="tns:cardStatusesRequest"/>
            <wsdl:output name="cardStatusesResponse"  message="tns:cardStatusesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCardStatusesResult">
            <wsdl:input name="cardStatusesResponse"  message="tns:cardStatusesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getBalance">
            <wsdl:input name="balanceRequest" message="tns:balanceRequest"/>
            <wsdl:output name="balanceResponse"  message="tns:balanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBalanceResult">
            <wsdl:input name="balanceResponse"  message="tns:balanceResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getMerchant">
            <wsdl:input name="merchantRequest" message="tns:merchantRequest"/>
            <wsdl:output name="merchantResponse"  message="tns:merchantResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMerchantResult">
            <wsdl:input name="merchantResponse"  message="tns:merchantResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getTerminal">
            <wsdl:input name="terminalRequest" message="tns:terminalRequest"/>
            <wsdl:output name="terminalResponse"  message="tns:terminalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTerminalResult">
            <wsdl:input name="terminalResponse"  message="tns:terminalResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getConvRate">
            <wsdl:input name="convRateRequest" message="tns:convRateRequest"/>
            <wsdl:output name="convRateResponse"  message="tns:convRateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConvRateResult">
            <wsdl:input name="convRateResponse"  message="tns:convRateResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getNotifications">
            <wsdl:input name="notificationsRequest" message="tns:notificationsRequest"/>
            <wsdl:output name="notificationsResponse"  message="tns:notificationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNotificationsResult">
            <wsdl:input name="notificationsResponse"  message="tns:notificationsResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getProduct">
            <wsdl:input name="productRequest" message="tns:productRequest"/>
            <wsdl:output name="productResponse"  message="tns:productResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProductResult">
            <wsdl:input name="productResponse"  message="tns:productResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getReject">
            <wsdl:input name="rejectRequest" message="tns:rejectRequest"/>
            <wsdl:output name="rejectResponse"  message="tns:rejectResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRejectResult">
            <wsdl:input name="rejectResponse"  message="tns:rejectResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getPersons">
            <wsdl:input name="personsRequest" message="tns:personsRequest"/>
            <wsdl:output name="personsResponse"  message="tns:personsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPersonsResult">
            <wsdl:input name="personsResponse"  message="tns:personsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getCompanies">
            <wsdl:input name="companiesRequest" message="tns:companiesRequest"/>
            <wsdl:output name="companiesResponse"  message="tns:companiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCompaniesResult">
            <wsdl:input name="companiesResponse"  message="tns:companiesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="cancel">
            <wsdl:input name="cancellationRequest" message="tns:cancellationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
 
    <wsdl:binding name="svsyncAsyncSOAPBinding" type="tns:svsyncAsync">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="getPosting">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_posting"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPostingResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_posting_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getCards">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_cards"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCardsResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_cards_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="getCardStatuses">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_card_statuses"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCardStatusesResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_card_statuses_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getBalance">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_balance"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBalanceResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_balance_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="getMerchant">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_merchant"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMerchantResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_merchant_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="getTerminal">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_terminal"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTerminalResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_terminal_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="getConvRate">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_conv_rate"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConvRateResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_conv_rate_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="getNotifications">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_notifications"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotificationsResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_notifications_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="getProduct">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_product"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_product_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getReject">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_reject"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRejectResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_reject_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getPersons">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_persons"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPersonsResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_persons_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getCompanies">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_companies"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompaniesResult">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:get_companies_response"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header use="literal" message="tns:wsaHeader" part="Action"/>
                <soap:header use="literal" message="tns:wsaHeader" part="To"/>
                <soap:header use="literal" message="tns:wsaHeader" part="FaultTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="ReplyTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="From"/>
                <soap:header use="literal" message="tns:wsaHeader" part="RelatesTo"/>
                <soap:header use="literal" message="tns:wsaHeader" part="MessageID"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="cancel">
            <soap:operation style="document" soapAction="urn:com:bpcbt:sv:sv_sync:cancel"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="svsyncService">
        <wsdl:port name="svsyncPort" binding="tns:svsyncAsyncSOAPBinding">
            <soap:address location="http://localhost:9000/sv_sync"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
