SVWeb/web/WebContent/META-INF/svng/sv_sync.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="urn:com:bpcbt:sv:sv_sync" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" 
            targetNamespace="urn:com:bpcbt:sv:sv_sync">
    <xsd:complexType name="syncRequestFileType">
        <xsd:sequence>
            <!-- File name -->
            <xsd:element type="xsd:string" name="name" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="syncRequestFileListType">
        <xsd:sequence>
            <!-- Request files item -->
            <xsd:element type="tns:syncRequestFileType" name="file" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="syncResultFileType">
        <xsd:sequence>
            <!-- Rejected file name -->
            <xsd:element type="xsd:string" name="name" minOccurs="1" maxOccurs="1"/>
            <!-- Error code -->
            <xsd:element type="xsd:int" name="exitCode" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="syncResultFileListType">
        <xsd:sequence>
            <!-- Rejected files item -->
            <xsd:element type="tns:syncResultFileType" name="file" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="syncResultType">
        <xsd:sequence>
            <!-- Result code -->
            <xsd:element type="xsd:int" name="code" minOccurs="1" maxOccurs="1"/>
            <!-- Extended error code -->
            <xsd:element type="xsd:int" name="extendedCode" minOccurs="0" maxOccurs="1"/>
            <!-- Result code description -->
            <xsd:element type="xsd:string" name="description" minOccurs="0" maxOccurs="1"/>
            <!-- Result files list -->
            <xsd:element type="tns:syncResultFileListType" name="resultFiles" minOccurs="0" maxOccurs="1"/>
            <!-- Rejected files list -->
            <xsd:element type="tns:syncResultFileListType" name="rejectedFiles" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>  

    <xsd:complexType name="syncRequestHeadType">
        <xsd:sequence>
            <!-- Session id -->
            <xsd:element type="xsd:string" name="sessionId" minOccurs="1" maxOccurs="1"/>
            <xsd:element type="xsd:boolean" name="exception" minOccurs="0" maxOccurs="1"/>
            <!-- Request files list -->
            <xsd:element type="tns:syncRequestFileListType" name="requestFiles" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="syncResponseHeadType">
        <xsd:sequence>
            <!-- Session id -->
            <xsd:element type="xsd:string" name="sessionId" minOccurs="1" maxOccurs="1"/>
            <!-- Result -->
            <xsd:element type="tns:syncResultType" name="result" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="posting-request">
        <xsd:complexType>
            <xsd:sequence>
                <!-- Header -->
                <xsd:element type="tns:syncRequestHeadType" name="head"/>
                <!-- Settlement date and time -->
                <xsd:element type="xsd:dateTime" name="sttlDateTime" minOccurs="0" maxOccurs="1"/>
                <!-- Network indicator -->
                <xsd:element type="xsd:int" name="nwIndicator" minOccurs="0" maxOccurs="1"/>
                <!-- Owning institute -->
                <xsd:element type="xsd:int" name="institute" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="card-statuses-request">
        <xsd:complexType>
            <xsd:sequence>
                <!-- Header -->
                <xsd:element type="tns:syncRequestHeadType" name="head"/>
                <!-- Network indicator -->
                <xsd:element type="xsd:int" name="nwIndicator" minOccurs="0" maxOccurs="1"/>
                <!-- Owning institute -->
                <xsd:element type="xsd:int" name="institute" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element type="tns:syncResponseHeadType" name="posting-response"/>

    <xsd:element type="tns:syncResponseHeadType" name="card-statuses-response"/>

    <xsd:element type="tns:syncRequestHeadType" name="cards-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="cards-response"/>
    
    <xsd:element type="tns:syncRequestHeadType" name="balance-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="balance-response"/>
    
    <xsd:element type="tns:syncRequestHeadType" name="merchant-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="merchant-response"/>
    
    <xsd:element type="tns:syncRequestHeadType" name="terminal-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="terminal-response"/>
    
    <xsd:element type="tns:syncRequestHeadType" name="notifications-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="notifications-response"/>
    
    <xsd:element type="tns:syncRequestHeadType" name="product-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="product-response"/>

    <xsd:element type="tns:syncRequestHeadType" name="reject-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="reject-response"/>

    <xsd:element type="tns:syncRequestHeadType" name="persons-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="persons-response"/>

    <xsd:element type="tns:syncRequestHeadType" name="companies-request"/>
    <xsd:element type="tns:syncResponseHeadType" name="companies-response"/>

    <xsd:element type="tns:syncRequestHeadType" name="cancellation-request"/>
    
    <xsd:element name="conv-rate-request">
        <xsd:complexType>
            <xsd:sequence>
                <!-- Header -->
                <xsd:element type="tns:syncRequestHeadType" name="head"/>
                <!-- Institute number -->
                <xsd:element name="institute" minOccurs="0" maxOccurs="1">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[0-9]{4}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element type="tns:syncResponseHeadType" name="conv-rate-response"/>
</xsd:schema>