SVWeb/web/WebContent/META-INF/clearing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc.ru/SVXP/clearing/"
	xmlns:tns="http://bpc.ru/SVXP/clearing/" elementFormDefault="qualified">
	<simpleType name="account_number">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="20" />
		</restriction>
	</simpleType>
	<simpleType name="amount_value">
		<restriction base="long">
			<minInclusive value="1" />
			<maxInclusive value="9999999999999999" />
		</restriction>
	</simpleType>
	<simpleType name="currency">
		<restriction base="string">
			<minLength value="3" />
			<maxLength value="3" />
			<enumeration value="643" /> <!-- Russian Ruble(RUB) -->
			<enumeration value="840" /> <!-- US Dollar(USD) -->
			<enumeration value="975" /> <!-- Bulgarian Lev(BGN) -->
			<enumeration value="978" /> <!-- Euro(EUR) -->
		</restriction>
	</simpleType>
	<simpleType name="dict">
		<restriction base="string">
			<minLength value="5" />
			<maxLength value="8" />
		</restriction>
	</simpleType>
	<complexType name="clearing">
		<sequence>
			<element name="file_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="file_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="original_file_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="start_date" type="date" minOccurs="0"
				maxOccurs="1" />

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1" />

			<element name="inst_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1000" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>

			<element name="operation" type="tns:operation" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="operation_result">
		<sequence>
			<element name="oper_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="operation">
		<sequence>

			<element name="oper_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="oper_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="msg_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="sttl_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="oper_date" type="dateTime" minOccurs="0"
				maxOccurs="1" />

			<element name="host_date" type="dateTime" minOccurs="0"
				maxOccurs="1" />

			<element name="oper_amount" type="tns:amount" minOccurs="0"
				maxOccurs="1" />

			<element name="oper_request_amount" type="tns:amount"
				minOccurs="0" maxOccurs="1" />

			<element name="originator_refnum" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="12" />
						<maxLength value="36" />
					</restriction>
				</simpleType>
			</element>

			<element name="network_refnum" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="12" />
						<maxLength value="36" />
					</restriction>
				</simpleType>
			</element>

			<element name="acq_inst_bin" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="12" />
					</restriction>
				</simpleType>
			</element>

			<element name="response_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="oper_reason" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="status" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>
			
			<element name="status_reason" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="is_reversal" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1000" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="15" />
						<maxLength value="15" />
					</restriction>
				</simpleType>
			</element>

			<element name="mcc" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="4" />
						<maxLength value="4" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_street" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_city" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_region" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2" />
						<maxLength value="3" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_country" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3" />
						<maxLength value="3" />
					</restriction>
				</simpleType>
			</element>

			<element name="merchant_postcode" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="6" />
						<maxLength value="10" />
					</restriction>
				</simpleType>
			</element>

			<element name="terminal_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="terminal_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="16" />
					</restriction>
				</simpleType>
			</element>

			<element name="payment_order" type="tns:payment_order"
				minOccurs="0" maxOccurs="1" />

			<element name="transaction" type="tns:transaction" minOccurs="0"
				maxOccurs="unbounded" />

			<element name="document" type="tns:document" minOccurs="0"
				maxOccurs="1" />

			<element name="issuer" type="tns:participant" minOccurs="0"
				maxOccurs="1" />

			<element name="acquirer" type="tns:participant" minOccurs="0"
				maxOccurs="1" />

			<element name="destination" type="tns:participant" minOccurs="0"
				maxOccurs="1" />

			<element name="aggregator" type="tns:participant" minOccurs="0"
				maxOccurs="1" />

			<element name="service_provider" type="tns:participant"
				minOccurs="0" maxOccurs="1" />

			<element name="participant" type="tns:participant" minOccurs="0"
				maxOccurs="unbounded" />

			<element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded" />

		</sequence>
	</complexType>

	<complexType name="participant">
		<sequence>
			<element name="participant_type" type="tns:dict" minOccurs="0"
				maxOccurs="1" />

			<element name="client_id_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">

						<minLength value="8" />
						<maxLength value="8" />
						<enumeration value="CITPACCT" /> <!-- Идентификация по счету -->
						<enumeration value="CITPCARD" /> <!-- Идентификация по карте -->
						<enumeration value="CITPCNTR" /> <!-- Идентификация по номеру договора -->
						<enumeration value="CITPCUST" /> <!-- Идентификация по номеру клиента -->
						<enumeration value="CITPEMAI" /> <!-- Идентификация по e-mail -->
						<enumeration value="CITPMBPH" /> <!-- Идентификация по номеру мобильного телефона -->
						<enumeration value="CITPNONE" /> <!-- Нет идентификации -->
						<enumeration value="CITPUNKN" /> <!-- Неизвестная идентификация -->
						<enumeration value="CITPXCRD" /> <!-- Привязанная карта стороннего банка -->
					</restriction>
				</simpleType>
			</element>

			<element name="client_id_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="card_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="16" />
						<maxLength value="19" />
					</restriction>
				</simpleType>
			</element>

			<element name="card_seq_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>

			<element name="card_expir_date" type="date" minOccurs="0"
				maxOccurs="1" />

			<element name="inst_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1000" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>

			<element name="network_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1000" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>

			<element name="auth_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="6" />
						<maxLength value="6" />
					</restriction>
				</simpleType>
			</element>

			<element name="account_number" type="tns:account_number"
				minOccurs="0" maxOccurs="1" />
			<element name="account_amount" type="tns:amount_value"
				minOccurs="0" maxOccurs="1" />
			<element name="account_currency" type="tns:currency"
				minOccurs="0" maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="payment_order">
		<sequence>

			<element name="payment_order_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="payment_order_status" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="payment_order_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="purpose_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0" />
						<maxInclusive value="99999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="purpose_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="amount" type="tns:amount" minOccurs="0"
				maxOccurs="1" />
			<element name="payment_parameter" type="tns:payment_parameter"
				minOccurs="0" maxOccurs="unbounded"></element>
			<element name="participant_type" type="tns:dict" minOccurs="0"
				maxOccurs="1" />
			<element name="document" type="tns:document" minOccurs="0"
				maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="payment_parameter">
		<sequence>
			<element name="payment_parameter_name" minOccurs="1"
				maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="200"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_parameter_value" minOccurs="1"
				maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="2000"></maxLength>
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>

	<complexType name="transaction">
		<sequence>

			<element name="transaction_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="transaction_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
						<enumeration value="TRNT0001" /> <!-- Зачисление клиенту по операции -->
						<enumeration value="TRNT0002" /> <!-- Перевод между счетами клиентов -->
						<enumeration value="TRNT0003" /> <!-- Требование по комиссии с клиента -->
						<enumeration value="TRNT0004" /> <!-- Урегулирование комиссии -->
						<enumeration value="TRNT0005" /> <!-- Холдирование по счету клиента -->
						<enumeration value="TRNT0006" /> <!-- Внешний перевод на транзит -->
					</restriction>
				</simpleType>
			</element>

			<element name="posting_date" type="dateTime" minOccurs="0"
				maxOccurs="1" />

			<element name="debit_entry" type="tns:entry" minOccurs="0"
				maxOccurs="1" />

			<element name="credit_entry" type="tns:entry" minOccurs="0"
				maxOccurs="1" />

			<element name="document" type="tns:document" minOccurs="0"
				maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="entry">
		<sequence>

			<element name="entry_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="account" type="tns:account" minOccurs="1"
				maxOccurs="1" />

			<element name="amount" type="tns:amount" minOccurs="1"
				maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="account">
		<sequence>
			<element name="account_number" type="tns:account_number"
				minOccurs="1" maxOccurs="1" />
			<element name="currency" type="tns:currency" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="amount">
		<sequence>
			<element name="amount_value" type="tns:amount_value"
				minOccurs="1" maxOccurs="1" />
			<element name="currency" type="tns:currency" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="document">
		<sequence>

			<element name="document_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1" />
						<maxInclusive value="9999999999999999" />
					</restriction>
				</simpleType>
			</element>

			<element name="document_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="document_date" type="date" minOccurs="1"
				maxOccurs="1" />

			<element name="document_number" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>

			<element name="document_content" type="tns:document_content"
				minOccurs="0" maxOccurs="unbounded" />

		</sequence>
	</complexType>

	<complexType name="document_content">
		<sequence>

			<element name="content_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
						<enumeration value="DCCT0001" /> <!-- Основной документ -->
						<enumeration value="DCCT0002" /> <!-- ЕЦП клиента -->
						<enumeration value="DCCT0003" /> <!-- Отметка о регистрации -->
						<enumeration value="DCCT0004" /> <!-- ЕЦП оператора отметки о регистрации -->
						<enumeration value="DCCT0005" /> <!-- Отметка об исполнении -->
						<enumeration value="DCCT0006" /> <!-- ЕЦП оператора отметки об исполнении -->
					</restriction>
				</simpleType>
			</element>

			<element name="content" type="string" minOccurs="1"
				maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="note">
		<sequence>
			<element name="note_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8" />
						<maxLength value="8" />
					</restriction>
				</simpleType>
			</element>

			<element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded" />

		</sequence>
	</complexType>

	<complexType name="note_content">
		<sequence>

			<element name="note_header" type="string" minOccurs="0" maxOccurs="1" />

			<element name="note_text" type="string" minOccurs="0" maxOccurs="1" />

		</sequence>

		<attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"></minLength>
                    <maxLength value="8"></maxLength>
                    <enumeration value="LANGENG"><!-- English --></enumeration>
                    <enumeration value="LANGRUS"><!-- Russian --></enumeration>
                    <enumeration value="LANGBUL"><!-- Bulgarian --></enumeration>
                </restriction>
            </simpleType>
        </attribute>

	</complexType>
	
	<element name="clearing" type="tns:clearing" />
</schema>