SVWeb/web/WebContent/META-INF/instagentWS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpc.ru/sv/instagentWS/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" name="Instagent" targetNamespace="http://bpc.ru/sv/instagentWS/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://bpc.ru/sv/instagentWS/" schemaLocation="instagentWS.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc.ru/sv/instagentWS/">
			<xsd:complexType name="FaultType">
				<xsd:sequence>
					<xsd:element name="text" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="InstagentException" type="tns:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InstagentException">
		<wsdl:part element="tns:InstagentException" name="fault"/>
	</wsdl:message>
	<wsdl:message name="getAgentsRequest">
		<wsdl:part element="tns:getAgentsRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="getAgentsResponse">
		<wsdl:part element="tns:getAgentsResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="getInstitutionsRequest">
		<wsdl:part element="tns:getInstitutionsRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="getInstitutionsResponse">
		<wsdl:part element="tns:getInstitutionsResponse" name="response"/>
	</wsdl:message>
	<wsdl:portType name="Instagent">
		<wsdl:operation name="getAgents">
			<wsdl:input message="tns:getAgentsRequest"/>
			<wsdl:output message="tns:getAgentsResponse"/>
			<wsdl:fault message="tns:InstagentException" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="getInstitutions">
			<wsdl:input message="tns:getInstitutionsRequest"/>
			<wsdl:output message="tns:getInstitutionsResponse"/>
			<wsdl:fault message="tns:InstagentException" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InstagentSOAP" type="tns:Instagent">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAgents">
			<soap:operation soapAction="http://bpc.ru/sv/instagentWS/getAgents"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getInstitutions">
			<soap:operation soapAction="http://bpc.ru/sv/instagentWS/getInstitutions"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Instagent">
		<wsdl:port binding="tns:InstagentSOAP" name="InstagentSOAP">
			<soap:address location="http://localhost:7001/sv/Instagent"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>