SVWeb/web/WebContent/META-INF/instagentWS.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bpc.ru/sv/instagentWS/"
		elementFormDefault="qualified" targetNamespace="http://bpc.ru/sv/instagentWS/">
	<element name="getAgentsResponse" type="tns:getAgentsResponseType"/>
	<complexType name="getAgentsResponseType">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="agent" type="tns:agentType"/>
		</sequence>
	</complexType>

	<element name="getAgentsRequest" type="tns:getAgentsRequestType"/>
	<complexType name="getAgentsRequestType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="lang" type="tns:language"/>
		</sequence>
	</complexType>

	<element name="getInstitutionsResponse" type="tns:getInstitutionsResponseType"/>
	<complexType name="getInstitutionsResponseType">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="institution" type="tns:institutionType"/>
		</sequence>
	</complexType>

	<element name="getInstitutionsRequest" type="tns:getInstitutionsRequestType"/>
	<complexType name="getInstitutionsRequestType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="lang" type="tns:language"/>
		</sequence>
	</complexType>

	<complexType name="agentType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="id" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="instId" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="seqnum" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="parentId" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="agentType" type="tns:dictEntryType"/>
			<element maxOccurs="1" minOccurs="1" name="isDefault" type="boolean"/>
			<element maxOccurs="1" minOccurs="1" name="agentNumber" type="string"/>
			<element maxOccurs="unbounded" minOccurs="1" name="name" type="tns:langNameType"/>
			<element maxOccurs="unbounded" minOccurs="0" name="contact" type="tns:contactType"/>
		</sequence>
	</complexType>

	<complexType name="institutionType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="id" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="seqnum" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="parentId" type="string"/>
			<element maxOccurs="unbounded" minOccurs="0" name="network" type="tns:networkType"/>
			<element maxOccurs="1" minOccurs="0" name="instType" type="tns:dictEntryType"/>
			<element maxOccurs="unbounded" minOccurs="1" name="name" type="tns:langNameType"/>
			<element maxOccurs="unbounded" minOccurs="0" name="description" type="tns:langNameType"/>
		</sequence>
	</complexType>

	<complexType name="networkType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="id" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="seqnum" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="instId" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="binTableScanPriority" type="string"/>
			<element maxOccurs="unbounded" minOccurs="1" name="name" type="tns:langNameType"/>
		</sequence>
	</complexType>

	<complexType name="langNameType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="lang" type="tns:language"/>
			<element maxOccurs="1" minOccurs="1" name="name" type="string"/>
		</sequence>
	</complexType>

	<complexType name="dictEntryType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="code" type="tns:symbolCodeType"/>
			<element maxOccurs="unbounded" minOccurs="1" name="name" type="tns:langNameType"/>
		</sequence>
	</complexType>

	<complexType name="contactType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="contactType" type="tns:symbolCodeType"/>
			<element maxOccurs="unbounded" minOccurs="1" name="contactData" type="tns:contactDataType"/>
		</sequence>
	</complexType>

	<complexType name="contactDataType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="communMethod" type="tns:symbolCodeType"/>
			<element maxOccurs="1" minOccurs="1" name="communAddress" type="string"/>
		</sequence>
	</complexType>

	<simpleType name="symbolCodeType">
		<restriction base="string">
			<minLength value="5"/>
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="language">
		<restriction base="tns:symbolCodeType">
			<pattern value="LANG([A-Z])+"/>
		</restriction>
	</simpleType>
</schema>