SVWeb/web/WebContent/META-INF/svACS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bpc.ru/ACS/integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ACS"
	targetNamespace="http://bpc.ru/ACS/integration">
	<wsdl:types>

		<xsd:schema targetNamespace="http://bpc.ru/ACS/integration"
			xmlns:tns1="http://bpc.ru/ACS">


			<xsd:element name="Fault" type="tns:fault" />

			<xsd:complexType name="fault">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="generateCavvRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth_res_code" type="xsd:string" 
							minOccurs="1" maxOccurs="1"/>
						<xsd:element name="sec_factor_auth_code" type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
						<xsd:element name="key_indicator" type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
						<xsd:element name="card_number" type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
						<xsd:element name="unpredictable_number" type="xsd:long"
							minOccurs="1" maxOccurs="1"/>	
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="generateCavvResponse" type="xsd:string"></xsd:element>
			
			<xsd:element name="isCardInvolvedRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="card_number" type="xsd:string" 
							minOccurs="1" maxOccurs="1"/>
						<xsd:element name="eff_date" type="xsd:date"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isCardInvolvedResponse" type="xsd:int"></xsd:element>
			
			<xsd:element name="getTelNumberRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="card_number" type="xsd:string" 
							minOccurs="1" maxOccurs="1"/>
						<xsd:element name="otp" type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTelNumberResponse" type="xsd:string"></xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="tns:Fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateCavvRequest">
		<wsdl:part name="input" element="tns:generateCavvRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateCavvResponse">
		<wsdl:part name="output" element="tns:generateCavvResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="isCardInvolvedRequest">
		<wsdl:part name="input" element="tns:isCardInvolvedRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="isCardInvolvedResponse">
		<wsdl:part name="output" element="tns:isCardInvolvedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTelNumberRequest">
		<wsdl:part name="input" element="tns:getTelNumberRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTelNumberResponse">
		<wsdl:part name="output" element="tns:getTelNumberResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SvACSWS">
		<wsdl:operation name="generateCavv">
			<wsdl:input message="tns:generateCavvRequest"/>
			<wsdl:output message="tns:generateCavvResponse"/>
			<wsdl:fault name="fault" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="isCardInvolved">
			<wsdl:input message="tns:isCardInvolvedRequest"/>
			<wsdl:output message="tns:isCardInvolvedResponse"/>
			<wsdl:fault name="fault" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getTelNumber">
			<wsdl:input message="tns:getTelNumberRequest"/>
			<wsdl:output message="tns:getTelNumberResponse"/>
			<wsdl:fault name="fault" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SoapBinding" type="tns:SvACSWS">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http">
		</soap:binding>
		
		<wsdl:operation name="generateCavv">
			<soap:operation
				soapAction="http://bpc.ru/ACS/integration/generateCavv">
			</soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="isCardInvolved">
			<soap:operation
				soapAction="http://bpc.ru/ACS/integration/isCardInvolved">
			</soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getTelNumber">
			<soap:operation
				soapAction="http://bpc.ru/ACS/integration/getTelNumber">
			</soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="SvACSWS">
		<wsdl:port binding="tns:SoapBinding" name="SvACSWSSOAP">
			<soap:address location="http://localhost:7001/sv/SvACSWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
