SVWeb/web/WebContent/META-INF/svap_payment_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://sv.bpc.in/SVAP/pmo"
		xmlns:tns="http://sv.bpc.in/SVAP/pmo"
		elementFormDefault="qualified">
	<complexType name="application">
		<sequence>
			<element name="application_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="application_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="APTPPMNO"/><!-- Payment order application -->
					</restriction>
				</simpleType>
			</element>

			<element name="application_flow_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="application_status" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="APST0001"/><!-- Just created -->
						<enumeration value="APST0002"/><!-- Awaiting confirmation -->
						<enumeration value="APST0003"/><!-- Awaiting correction -->
						<enumeration value="APST0004"/><!-- Awaiting checking -->
						<enumeration value="APST0005"/><!-- Further information requested -->
						<enumeration value="APST0006"/><!-- Awaiting processing -->
						<enumeration value="APST0007"/><!-- Processed successfully -->
						<enumeration value="APST0008"/><!-- Processing failed -->
						<enumeration value="APST0009"/><!-- Synchronize objects -->
					</restriction>
				</simpleType>
			</element>

			<element name="operator_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="institution_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="agent_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="99999999"/>
					</restriction>
				</simpleType>
			</element>

			<choice minOccurs="1" maxOccurs="1">
			    <sequence>
					<element name="payment_purpose" type="tns:payment_purpose" minOccurs="1" maxOccurs="1"/>

					<element name="customer" type="tns:customer" minOccurs="0" maxOccurs="1"/>
				</sequence>

				<element name="payment_host" type="tns:payment_host" minOccurs="1" maxOccurs="1"/>
			</choice>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="payment_purpose">
		<sequence>
			<element name="command" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="CMMDCREX"/><!-- Create or except -->
						<enumeration value="CMMDCRPR"/><!-- Create or proceed -->
						<enumeration value="CMMDCRUP"/><!-- Create or update -->
						<enumeration value="CMMDEXPR"/><!-- Except or proceed -->
						<enumeration value="CMMDEXRE"/><!-- Except or remove -->
						<enumeration value="CMMDEXUP"/><!-- Except or update -->
						<enumeration value="CMMDIGNR"/><!-- Ignore -->
						<enumeration value="CMMDPRRE"/><!-- Proceed or remove -->
					</restriction>
				</simpleType>
			</element>

			<element name="object_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="operation_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="OPTP0060"/><!-- Service provider payment -->
					</restriction>
				</simpleType>
			</element>

			<element name="mcc" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="4"/>
					</restriction>
				</simpleType>
			</element>

			<element name="terminal_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="99999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_service" type="tns:payment_service" minOccurs="0" maxOccurs="1"/>

			<element name="service_provider" type="tns:service_provider" minOccurs="0" maxOccurs="1"/>

			<element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="payment_service">
		<sequence>
			<element name="command" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="CMMDCREX"/><!-- Create or except -->
						<enumeration value="CMMDCRPR"/><!-- Create or proceed -->
						<enumeration value="CMMDCRUP"/><!-- Create or update -->
						<enumeration value="CMMDEXPR"/><!-- Except or proceed -->
						<enumeration value="CMMDEXRE"/><!-- Except or remove -->
						<enumeration value="CMMDEXUP"/><!-- Except or update -->
					</restriction>
				</simpleType>
			</element>

			<element name="object_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="label" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tns:entity_name">
							<attribute name="language" type="string" default="LANGENG"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>

			<element name="short_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="description" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tns:entity_desc">
							<attribute name="language" type="string" default="LANGENG"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>

			<element name="direction" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<enumeration value="-1"/><!-- from customer -->
						<enumeration value="1"/><!-- to customer -->
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="service_provider">
		<sequence>
			<element name="command" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="CMMDCREX"/><!-- Create or except -->
						<enumeration value="CMMDCRPR"/><!-- Create or proceed -->
						<enumeration value="CMMDCRUP"/><!-- Create or update -->
						<enumeration value="CMMDEXPR"/><!-- Except or proceed -->
						<enumeration value="CMMDEXRE"/><!-- Except or remove -->
						<enumeration value="CMMDEXUP"/><!-- Except or update -->
					</restriction>
				</simpleType>
			</element>

			<element name="object_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="label" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tns:entity_name">
							<attribute name="language" type="string" default="LANGENG"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>

			<element name="short_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="provider_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="description" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tns:entity_desc">
							<attribute name="language" type="string" default="LANGENG"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>

			<element name="region_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="11"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="customer">
		<sequence>
			<element name="customer_number" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="resident" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<maxInclusive value="1"/>
					</restriction>
				</simpleType>
			</element>

			<element name="customer_relation" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="8"/>
						<enumeration value="RSCBAFLT"/><!-- Affiliate -->
						<enumeration value="RSCBEMPL"/><!-- Employee -->
						<enumeration value="RSCBEXTR"/><!-- External -->
						<enumeration value="RSCBINSD"/><!-- Insider -->
					</restriction>
				</simpleType>
			</element>

			<element name="nationality" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

			<element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"/>

			<element name="company" type="tns:company" minOccurs="1" maxOccurs="1"/>

			<element name="contact" type="tns:contact" minOccurs="1" maxOccurs="unbounded"/>

			<element name="address" type="tns:address" minOccurs="1" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="company">
		<sequence>
			<element name="company_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="incorp_form" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="8"/>
						<enumeration value="INCF0041"/><!-- Unitary enterprise, based on operational management -->
						<enumeration value="INCF0042"/><!-- Unitary enterprise, based on the right of business -->
						<enumeration value="INCF0047"/><!-- Public corporation -->
						<enumeration value="INCF0051"/><!-- General partnership -->
						<enumeration value="INCF0064"/><!-- Limited partnership -->
						<enumeration value="INCF0065"/><!-- Limited liability company -->
						<enumeration value="INCF0066"/><!-- Additional liability -->
						<enumeration value="INCF0067"/><!-- Closed joint stock company -->
						<enumeration value="INCF0071"/><!-- Private institution -->
						<enumeration value="INCF0072"/><!-- State-financed organization -->
						<enumeration value="INCF0073"/><!-- Autonomous institution -->
						<enumeration value="INCF0076"/><!-- Gardening, horticulture or country house non-profit partnership -->
						<enumeration value="INCF0077"/><!-- Union of the peasant farm -->
						<enumeration value="INCF0078"/><!-- Authorities of public initiative -->
						<enumeration value="INCF0080"/><!-- Territorial public self-government -->
						<enumeration value="INCF0082"/><!-- State corporation -->
						<enumeration value="INCF0083"/><!-- Social and religious organizations (associations) -->
						<enumeration value="INCF0084"/><!-- Public movement -->
						<enumeration value="INCF0085"/><!-- Consumers' cooperative -->
						<enumeration value="INCF0088"/><!-- Fund -->
						<enumeration value="INCF0089"/><!-- Other non-profit organizations -->
						<enumeration value="INCF0091"/><!-- Individual businessman -->
						<enumeration value="INCF0093"/><!-- Association of legal entities (association or union) -->
						<enumeration value="INCF0094"/><!-- Homeowners -->
						<enumeration value="INCF0096"/><!-- Non-profit partnership -->
						<enumeration value="INCF0097"/><!-- Autonomous non-profit organization -->
					</restriction>
				</simpleType>
			</element>

			<element name="presence_on_location" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
						<maxInclusive value="1"/>
					</restriction>
				</simpleType>
			</element>

			<element name="authorized_capital" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="1"/>
						<maxInclusive value="999999999999999999.9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="authorized_capital_currency" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

			<element name="company_name" type="tns:company_name" minOccurs="1" maxOccurs="unbounded"/>

			<element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="company_name">
		<sequence>
			<element name="company_short_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="company_full_name" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>
		<attribute name="language" type="string" default="LANGENG"/>
	</complexType>

	<complexType name="identity_card">
		<sequence>
			<element name="id_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="IDTP0001"><!-- Passport --></enumeration>
						<enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
						<enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
						<enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
						<enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
						<enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
						<enumeration value="IDTP0010"><!-- Taxpayer Identification Number --></enumeration>
						<enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
						<enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
						<enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
						<enumeration value="IDTP0014"><!-- License --></enumeration>
						<enumeration value="IDTP0020"><!-- Driver license --></enumeration>
						<enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
						<enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
						<enumeration value="IDTP0045"><!-- National ID --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="id_series" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="id_number" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="id_issuer" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="id_desc" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

	</complexType>

	<complexType name="contact">
		<sequence>
			<element name="contact_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"/>
						<maxLength value="8"/>
						<enumeration value="CNTTCALL"/><!-- Call-center -->
						<enumeration value="CNTTCEOC"/><!-- CEO contact -->
						<enumeration value="CNTTCFEO"/><!-- CFO contact -->
						<enumeration value="CNTTPRMC"/><!-- Primary contact -->
						<enumeration value="CNTTSCNC"/><!-- Secondary contact -->
					</restriction>
				</simpleType>
			</element>

			<element name="preferred_lang" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="LANGENG"/><!-- English -->
						<enumeration value="LANGRUS"/><!-- Russian -->
					</restriction>
				</simpleType>
			</element>

			<element name="job_title" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="JTTLDRCT"/><!-- Director -->
						<enumeration value="JTTLHDDP"/><!-- Head of department -->
						<enumeration value="JTTLMNGR"/><!-- Manager -->
						<enumeration value="JTTLOFMN"/><!-- Office manager -->
						<enumeration value="JTTLCHFA"><!-- Chief accountant --></enumeration>
						<enumeration value="JTTLACNT"><!-- Accountant --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>

			<element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

	</complexType>

	<complexType name="contact_data">
		<sequence>
			<element name="commun_method" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="CMNM0001"/><!-- Mobile phone -->
						<enumeration value="CMNM0002"/><!-- E-mail -->
						<enumeration value="CMNM0003"/><!-- Post -->
						<enumeration value="CMNM0004"/><!-- Fax -->
						<enumeration value="CMNM0005"/><!-- Skype -->
						<enumeration value="CMNM0006"/><!-- AOL Aim -->
						<enumeration value="CMNM0007"/><!-- Windows Live Messenger -->
						<enumeration value="CMNM0008"/><!-- ICQ -->
						<enumeration value="CMNM0009"/><!-- Yahoo! Messenger -->
						<enumeration value="CMNM0010"/><!-- Jabber -->
					</restriction>
				</simpleType>
			</element>

			<element name="commun_address" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>

	</complexType>

	<complexType name="person">
		<sequence>
			<element name="person_title" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="PTTLDCTR"/><!-- Dr -->
						<enumeration value="PTTLMRSS"/><!-- Mrs -->
						<enumeration value="PTTLMSTR"/><!-- Mr -->
					</restriction>
				</simpleType>
			</element>

			<element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="2"/>

			<element name="suffix" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
						<enumeration value="PSFXSENR"/><!-- Sr. -->
						<enumeration value="PSFXJUNR"/><!-- Jr. -->
						<enumeration value="PSFXFRST"/><!-- I -->
						<enumeration value="PSFXSCND"/><!-- II -->
						<enumeration value="PSFXTHRD"/><!-- III -->
						<enumeration value="PSFXFRTH"/><!-- IV -->
					</restriction>
				</simpleType>
			</element>

			<element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="place_of_birth" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="gender" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="GNDRFEML"/><!-- Female -->
						<enumeration value="GNDRMALE"/><!-- Male -->
					</restriction>
				</simpleType>
			</element>

			<element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="1"/>

		</sequence>

	</complexType>

	<complexType name="person_name">
		<sequence>
			<element name="surname" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"/>
						<maxLength value="200"/>
						<pattern value="\S.*"/> <!-- Surname can't start with any whitespace symbol -->
					</restriction>
				</simpleType>
			</element>

			<element name="first_name" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"/>
						<maxLength value="200"/>
						<pattern value="\S.*"/> <!-- First name can't start with any whitespace symbol -->
					</restriction>
				</simpleType>
			</element>

			<element name="second_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"/>
						<maxLength value="200"/>
						<pattern value="\S.*"/> <!-- Second name can't start with any whitespace symbol -->
					</restriction>
				</simpleType>
			</element>

		</sequence>

		<attribute name="language" use="required">
			<simpleType>
				<restriction base="string">
					<minLength value="5"/>
					<maxLength value="8"/>
					<enumeration value="LANGENG"><!-- English --></enumeration>
					<enumeration value="LANGRUS"><!-- Russian --></enumeration>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="address">
		<sequence>
			<element name="address_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="ADTPBSNA"/><!-- Business address -->
						<enumeration value="ADTPHOME"/><!-- Home address -->
						<enumeration value="ADTPLGLA"/><!-- Legal address -->
					</restriction>
				</simpleType>
			</element>

			<element name="country" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

			<element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>

			<element name="house" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="apartment" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="postal_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>

			<element name="place_code" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>

	</complexType>

	<complexType name="address_name">
		<sequence>
			<element name="region" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="city" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="street" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>
		<attribute name="language" type="string" default="LANGENG"/>

	</complexType>

	<complexType name="contract">
		<sequence>
			<element name="contract_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"/>
						<maxLength value="8"/>
					</restriction>
				</simpleType>
			</element>

			<element name="product_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="99999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="contract_number" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="0"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>

			<element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

	</complexType>

	<complexType name="service">
		<sequence>
			<element name="service_object" type="tns:service_object" minOccurs="0" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="service_object">
		<sequence>
			<element name="attribute_char" type="tns:attribute_char" minOccurs="0" maxOccurs="unbounded"/>

			<element name="attribute_date" type="tns:attribute_date" minOccurs="0" maxOccurs="unbounded"/>

			<element name="attribute_num" type="tns:attribute_num" minOccurs="0" maxOccurs="unbounded"/>

			<element name="attribute_fee" type="tns:attribute_fee" minOccurs="0" maxOccurs="unbounded"/>

			<element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>

			<element name="attribute_cycle" type="tns:attribute_cycle" minOccurs="0" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>

		<attribute name="ref_id" use="required">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="attribute_num">
		<sequence>
			<element name="attribute_value_num" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
					</restriction>
				</simpleType>
			</element>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="mod_condition" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="attribute_char">
		<sequence>
			<element name="attribute_value_char" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="0"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="mod_condition" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="attribute_date">
		<sequence>
			<element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="mod_condition" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="attribute_fee">
		<sequence>
			<element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"/>
						<maxLength value="8"/>
						<enumeration value="FEEM0001"/><!-- Percentage value -->
						<enumeration value="FEEM0002"/><!-- Fixed value -->
						<enumeration value="FEEM0003"/><!-- Minimum between percent and fixed value -->
						<enumeration value="FEEM0004"/><!-- Maximum between percent and fixed value -->
						<enumeration value="FEEM0005"/><!-- Sum of percent and fixed value -->
					</restriction>
				</simpleType>
			</element>

			<element name="fee_base_calc" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"/>
						<maxLength value="8"/>
						<enumeration value="FEEB0001"/><!-- Incoming amount -->
						<enumeration value="FEEB0002"/><!-- Difference between incoming amount and lower threshold -->
						<enumeration value="FEEB0003"/><!-- Lower threshold -->
						<enumeration value="FEEB0004"/><!-- Tired basis -->
						<enumeration value="FEEB0005"/><!-- Previous period turnover -->
					</restriction>
				</simpleType>
			</element>

			<element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_percent_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_min_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_max_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="currency" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="cycle_length_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="LNGT0001"><!-- Hour --></enumeration>
						<enumeration value="LNGT0002"><!-- Day --></enumeration>
						<enumeration value="LNGT0003"><!-- Week --></enumeration>
						<enumeration value="LNGT0004"><!-- Month --></enumeration>
						<enumeration value="LNGT0005"><!-- Year --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_condition" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="length_type_algorithm" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"/>
						<maxLength value="8"/>
						<enumeration value="NDYR0001"><!-- The actual quantity --></enumeration>
						<enumeration value="NDYR0002"><!-- 365 days --></enumeration>
						<enumeration value="NDYR0003"><!-- 360 days --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_tier" type="tns:fee_tier" minOccurs="0" maxOccurs="unbounded"/>

			<element name="cycle" type="tns:cycle" minOccurs="0" maxOccurs="1"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

		<attribute name="value">
			<simpleType>
				<restriction base="integer">
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="fee_tier">
		<sequence>
			<element name="sum_threshold" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="count_threshold" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_percent_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_min_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="fee_max_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>

	<complexType name="cycle">
		<sequence>
			<element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
			</element>

			<element name="cycle_length_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="LNGT0001"><!-- Hour --></enumeration>
						<enumeration value="LNGT0002"><!-- Day --></enumeration>
						<enumeration value="LNGT0003"><!-- Week --></enumeration>
						<enumeration value="LNGT0004"><!-- Month --></enumeration>
						<enumeration value="LNGT0005"><!-- Year --></enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="cycle_length" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="99999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="cycle_workdays_only" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
						<maxInclusive value="1"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>

	<complexType name="attribute_limit">
		<sequence>
			<element name="limit_count_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="0"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="limit_sum_value" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<minInclusive value="-1"/>
						<maxInclusive value="9999999999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="limit_check_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
					</restriction>
				</simpleType>
			</element>

			<element name="currency" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

                        <element name="counter_algorithm" minOccurs="0" maxOccurs="1">
                            <simpleType>
                                <restriction base="string">
                                    <minLength value="5"/>
                                    <maxLength value="8"/>
                                </restriction>
                            </simpleType>
                        </element>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="mod_condition" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

			<element name="length_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="LNGT0001"/><!-- Hour -->
						<enumeration value="LNGT0002"/><!-- Day -->
						<enumeration value="LNGT0003"/><!-- Week -->
						<enumeration value="LNGT0004"/><!-- Month -->
						<enumeration value="LNGT0005"/><!-- Year -->
						<enumeration value="LNGT0006"/><!-- Minute -->
						<enumeration value="LNGT0007"/><!-- Second -->
					</restriction>
				</simpleType>
			</element>

			<element name="length" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="99999999"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="attribute_cycle">
		<sequence>
			<element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="cycle_length_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="LNGT0001"/><!-- Hour -->
						<enumeration value="LNGT0002"/><!-- Day -->
						<enumeration value="LNGT0003"/><!-- Week -->
						<enumeration value="LNGT0004"/><!-- Month -->
						<enumeration value="LNGT0005"/><!-- Year -->
						<enumeration value="LNGT0006"/><!-- Minute -->
						<enumeration value="LNGT0007"/><!-- Second -->
					</restriction>
				</simpleType>
			</element>

			<element name="cycle_length" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="99999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="mod_condition" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="mod_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="account">
		<sequence>

			<element name="account_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>

			<element name="account_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
					</restriction>
				</simpleType>
			</element>

			<element name="account_status" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<pattern value="ACST[A-Z0-9]{1,4}"/>
					</restriction>
				</simpleType>
			</element>

			<element name="currency" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_order" type="tns:payment_order" minOccurs="0" maxOccurs="unbounded"/>

			<element name="account_object" type="tns:account_object" minOccurs="0" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="payment_order">
		<sequence>
			<element name="payment_purpose_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
					</restriction>
				</simpleType>
			</element>

			<element name="payment_amount" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="float">
						<maxInclusive value="9999999999999999999999.9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="currency" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>

            <element name="label" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_name">
                            <attribute name="language" type="string" default="LANGENG"/>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="description" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_desc">
                            <attribute name="language" type="string" default="LANGENG"/>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>

			<element name="payment_date" type="date" minOccurs="0" maxOccurs="1"/>

			<element name="is_payment_order_template" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
					</restriction>
				</simpleType>
			</element>

			<element name="event_type" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="8"/>
						<maxLength value="8"/>
					</restriction>
				</simpleType>
			</element>

            <element name="template_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="attempt_count" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

			<element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"/>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="account_object">
		<sequence>
			<element name="account_link_flag" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
						<maxInclusive value="1"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

		<attribute name="ref_id" use="required">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<complexType name="payment_parameter">
		<sequence>
			<element name="command" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="CMMDCREX"/><!-- Create or except -->
						<enumeration value="CMMDCRPR"/><!-- Create or proceed -->
						<enumeration value="CMMDCRUP"/><!-- Create or update -->
						<enumeration value="CMMDEXPR"/><!-- Except or proceed -->
						<enumeration value="CMMDEXRE"/><!-- Except or remove -->
						<enumeration value="CMMDEXUP"/><!-- Except or update -->
					</restriction>
				</simpleType>
			</element>

			<element name="object_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_parameter_name" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="data_type" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="DTTPCHAR"/>
						<enumeration value="DTTPNMBR"/>
						<enumeration value="DTTPDATE"/>
					</restriction>
				</simpleType>
			</element>

			<element name="lov_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="pattern" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="label" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tns:entity_name">
							<attribute name="language" type="string" default="LANGENG"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>

			<element name="description" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tns:entity_desc">
							<attribute name="language" type="string" default="LANGENG"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>

			<element name="payment_parameter_value" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="400"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="payment_host">
		<sequence>
			<element name="command" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="CMMDCREX"/><!-- Create or except -->
						<enumeration value="CMMDEXUP"/><!-- Except or update -->
					</restriction>
				</simpleType>
			</element>

			<element name="host_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_provider" type="tns:payment_provider" minOccurs="1" maxOccurs="1"/>

			<element name="execution_type" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="POETOFFL"/>
						<enumeration value="POETONLN"/>
						<enumeration value="POETECCM"/>
					</restriction>
				</simpleType>
			</element>

			<element name="priority" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="provider_host_status" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="5"/>
						<maxLength value="8"/>
						<enumeration value="PHST0100"/>
						<enumeration value="PHST0200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="payment_provider">
		<sequence>
			<element name="object_id" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="provider_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="error">
		<sequence>
			<element name="error_code" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error_desc" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error_element" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="error_details" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>

		<attribute name="id">
			<simpleType>
				<restriction base="string">
					<maxLength value="200"/>
				</restriction>
			</simpleType>
		</attribute>

	</complexType>

	<element name="applications" type="tns:applications"/>
	<element name="application" type="tns:application"/>

	<complexType name="applications">
		<sequence maxOccurs="unbounded" minOccurs="1">
			<element name="application" type="tns:application"/>
		</sequence>
	</complexType>

	<simpleType name="entity_name">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="entity_desc">
		<restriction base="string">
			<maxLength value="2000"/>
		</restriction>
	</simpleType>
</schema>