SVWeb/web/WebContent/META-INF/svap_questionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP/qst"
        xmlns:tns="http://sv.bpc.in/SVAP/qst"
        elementFormDefault="qualified">

    <element name="application" type="tns:applicationType"/>

    <complexType name="applicationType">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPQSTN"><!-- Questionary application --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1000"/>
                        <maxInclusive value="9999"/>
                        <enumeration value="2401"><!-- Questionary generation --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APST0001"><!-- Application created --></enumeration>
                        <enumeration value="APST0002"><!-- Awaiting confirming --></enumeration>
                        <enumeration value="APST0003"><!-- Need correction --></enumeration>
                        <enumeration value="APST0004"><!-- Awaiting checking --></enumeration>
                        <enumeration value="APST0005"><!-- Awaiting additional data --></enumeration>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                        <enumeration value="APST0007"><!-- Successfuly processed --></enumeration>
                        <enumeration value="APST0008"><!-- Processing failed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1000"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="questionary" type="tns:questionary" minOccurs="1" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>


        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="questionary">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="survey_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="object_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="questionary_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="QRST[A-Z0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="questionary_parameter" type="tns:questionary_parameter" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="questionary_parameter">
       <sequence>
           <element name="parameter_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="50"/>
                    </restriction>
               </simpleType>
           </element>

           <element name="parameter_value" minOccurs="1" maxOccurs="1">
               <simpleType>
                   <restriction base="string">
                       <maxLength value="200"/>
                   </restriction>
               </simpleType>
           </element>

           <element name="sequence_number" minOccurs="0" maxOccurs="1">
               <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
               </simpleType>
           </element>
       </sequence>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

</schema>
