SVWeb/web/WebContent/META-INF/svap_institution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP/ins"
        xmlns:tns="http://sv.bpc.in/SVAP/ins"
        elementFormDefault="qualified">

    <complexType name="application">
        <sequence>
            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPINSA"/><!-- Institution application -->
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APST0001"/><!-- Just created -->
                        <enumeration value="APST0002"/><!-- Awaiting confirmation -->
                        <enumeration value="APST0006"/><!-- Awaiting processing -->
                        <enumeration value="APST0007"/><!-- Processed successfully -->
                        <enumeration value="APST0008"/><!-- Processing failed -->
                    </restriction>
                </simpleType>
            </element>

            <element name="operator_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                        <enumeration value="9998"/><!-- Unidentified institution -->
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ENTTCOMP"/><!-- Company -->
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="institution" type="tns:institution" minOccurs="1" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="institution">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="inst_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="INTPNETW"/><!-- Network institution -->
                        <enumeration value="INTPPRCN"/><!-- Processing center -->
                        <enumeration value="INTPSRVP"/><!-- Service provider -->
                    </restriction>
                </simpleType>
            </element>

            <element name="parent_institution_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="network_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent" type="tns:agent" minOccurs="0" maxOccurs="unbounded"/>

            <element name="customer" type="tns:customer" minOccurs="0" maxOccurs="1"/>

            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>

            <element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>

            <element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="agent">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_agent_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>


            <element name="agent_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="AGTPHEAD"/><!-- Headquarters -->
                        <enumeration value="AGTPQWER"/><!-- Ag type 1 -->
                    </restriction>
                </simpleType>
            </element>

            <element name="parent_agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_default" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                        <enumeration value="CMMDIGNR"/><!-- Ignore -->
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CCTGORDN"/><!-- Ordinary customer -->
                        <enumeration value="CCTGPRVG"/><!-- Privileged customer -->
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                        <enumeration value="RSCBAFLT"/><!-- Affiliate -->
                        <enumeration value="RSCBEXTR"/><!-- External -->
                    </restriction>
                </simpleType>
            </element>

            <element name="account_scheme" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="contract" type="tns:contract" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXPR"/><!-- Except or proceed -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CNTPINST"/><!-- Contract type "Institution servicing" -->
                    </restriction>
                </simpleType>
            </element>

            <element name="product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXPR"/><!-- Except or proceed -->
                        <enumeration value="CMMDEXRE"/><!-- Except or remove -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <pattern value="ACTP[A-F0-9]{1,4}"/> <!-- Account types -->
                    </restriction>
                </simpleType>
            </element>

            <element name="account_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ACSTACTV"/><!-- Active -->
                        <enumeration value="ACSTCLSD"/><!-- Closed -->
                        <enumeration value="ACSTCRED"/><!-- Credits only -->
                        <enumeration value="ACSTPEND"/><!-- Pending -->
                        <enumeration value="ACSTCOLL"/><!-- In collection -->
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="contact">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRPR"/><!-- Create or proceed -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXPR"/><!-- Except or proceed -->
                        <enumeration value="CMMDEXRE"/><!-- Except or remove -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CNTTCALL"/><!-- Call-center -->
                        <enumeration value="CNTTCEOC"/><!-- CEO contact -->
                        <enumeration value="CNTTCFEO"/><!-- CFO contact -->
                        <enumeration value="CNTTPRMC"/><!-- Primary contact -->
                        <enumeration value="CNTTSCNC"/><!-- Secondary contact -->
                    </restriction>
                </simpleType>
            </element>

            <element name="job_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="JTTLDRCT"/><!-- Director -->
                        <enumeration value="JTTLHDDP"/><!-- Head of department -->
                        <enumeration value="JTTLMNGR"/><!-- Manager -->
                        <enumeration value="JTTLOFMN"/><!-- Office manager -->
                        <enumeration value="JTTLCHFA"><!-- Chief accountant --></enumeration>
                        <enumeration value="JTTLACNT"><!-- Accountant --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="preferred_lang" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LANGENG"/><!-- English -->
                        <enumeration value="LANGRUS"/><!-- Russian -->
                    </restriction>
                </simpleType>
            </element>

            <element name="person" type="tns:person" minOccurs="0" maxOccurs="1"/>

            <element name="contact_data" type="tns:contact_data" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="person">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRPR"/><!-- Create or proceed -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXPR"/><!-- Except or proceed -->
                        <enumeration value="CMMDEXRE"/><!-- Except or remove -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="person_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="PTTLDCTR"/><!-- Dr -->
                        <enumeration value="PTTLMRSS"/><!-- Mrs -->
                        <enumeration value="PTTLMSTR"/><!-- Mr -->
                    </restriction>
                </simpleType>
            </element>

            <element name="person_name" type="tns:person_name" minOccurs="1" maxOccurs="2"/>

            <element name="suffix" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                        <enumeration value="PSFXSENR"/><!-- Sr. -->
                        <enumeration value="PSFXJUNR"/><!-- Jr. -->
                        <enumeration value="PSFXFRST"/><!-- I -->
                        <enumeration value="PSFXSCND"/><!-- II -->
                        <enumeration value="PSFXTHRD"/><!-- III -->
                    </restriction>
                </simpleType>
            </element>

            <element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="place_of_birth" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="gender" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="GNDRFEML"/><!-- Female -->
                        <enumeration value="GNDRMALE"/><!-- Male -->
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="person_name">
        <sequence>
            <element name="surname" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="200"/>
                        <pattern value="\S.*"/> <!-- Surname can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="first_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="200"/>
                        <pattern value="\S.*"/> <!-- First name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>

            <element name="second_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"/>
                        <maxLength value="200"/>
                        <pattern value="\S.*"/> <!-- Second name can't start with any whitespace symbol -->
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="LANGENG"><!-- English --></enumeration>
                    <enumeration value="LANGRUS"><!-- Russian --></enumeration>
                    <enumeration value="LANGHUN"><!-- Hungarian --></enumeration>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="contact_data">
        <sequence>
            <element name="commun_method" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMNM0001"/><!-- Mobile phone -->
                        <enumeration value="CMNM0002"/><!-- E-mail -->
                        <enumeration value="CMNM0003"/><!-- Post -->
                        <enumeration value="CMNM0004"/><!-- Fax -->
                        <enumeration value="CMNM0005"/><!-- Skype -->
                        <enumeration value="CMNM0006"/><!-- AOL Aim -->
                        <enumeration value="CMNM0007"/><!-- Windows Live Messenger -->
                        <enumeration value="CMNM0008"/><!-- ICQ -->
                        <enumeration value="CMNM0009"/><!-- Yahoo! Messenger -->
                        <enumeration value="CMNM0010"/><!-- Jabber -->
                        <enumeration value="CMNM0011"/><!-- Telex -->
                        <enumeration value="CMNM0012"/><!-- Landline phone -->
                    </restriction>
                </simpleType>
            </element>

            <element name="commun_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="address">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRPR"/><!-- Create or proceed -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXPR"/><!-- Except or proceed -->
                        <enumeration value="CMMDEXRE"/><!-- Except or remove -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="address_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="ADTPBSNA"/><!-- Business address -->
                        <enumeration value="ADTPLGLA"/><!-- Legal address -->
                        <enumeration value="ADTPSTDL"/><!-- Statement delivery address -->
                    </restriction>
                </simpleType>
            </element>

            <element name="country" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="address_name" type="tns:address_name" minOccurs="1" maxOccurs="unbounded"/>

            <element name="house" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="apartment" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="postal_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="place_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="region_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="latitude" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                    </restriction>
                </simpleType>
            </element>

            <element name="longitude" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="address_name">
        <sequence>
            <element name="region" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="city" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="street" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="language" type="string" default="LANGENG"/>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="service">
        <sequence>
            <element name="service_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="service_object" type="tns:service_object" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value" use="required">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="service_object">
        <sequence>
            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="attribute_num" type="tns:attribute_num" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_char" type="tns:attribute_char" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_date" type="tns:attribute_date" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_fee" type="tns:attribute_fee" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>

            <element name="attribute_cycle" type="tns:attribute_cycle" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="ref_id" use="required">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="LANGENG"><!-- English --></enumeration>
                    <enumeration value="LANGRUS"><!-- Russian --></enumeration>
                    <enumeration value="LANGHUN"><!-- Hungarian --></enumeration>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_num">
        <sequence>
            <element name="attribute_value_num" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_char">
        <sequence>
            <element name="attribute_value_char" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_date">
        <sequence>
            <element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_fee">
        <sequence>
            <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FEEM0001"/><!-- Percentage value -->
                        <enumeration value="FEEM0002"/><!-- Fixed value -->
                        <enumeration value="FEEM0003"/><!-- Minimum between percent and fixed value -->
                        <enumeration value="FEEM0004"/><!-- Maximum between percent and fixed value -->
                        <enumeration value="FEEM0005"/><!-- Sum of percent and fixed value -->
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_base_calc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="FEEB0001"/><!-- Incoming amount -->
                        <enumeration value="FEEB0002"/><!-- Difference between incoming amount and lower threshold -->
                        <enumeration value="FEEB0003"/><!-- Lower threshold -->
                        <enumeration value="FEEB0004"/><!-- Tired basis -->
                        <enumeration value="FEEB0005"/><!-- Previous period turnover -->
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_min_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_max_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="cycle_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="length_type_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="NDYR0001"><!-- The actual quantity --></enumeration>
                        <enumeration value="NDYR0002"><!-- 365 days --></enumeration>
                        <enumeration value="NDYR0003"><!-- 360 days --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_tier" type="tns:fee_tier" minOccurs="0" maxOccurs="unbounded"/>

            <element name="cycle" type="tns:cycle" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="value">
            <simpleType>
                <restriction base="integer">
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="fee_tier">
        <sequence>
            <element name="sum_threshold" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="count_threshold" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_min_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="fee_max_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="cycle">
        <sequence>
            <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <element name="cycle_length_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_workdays_only" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    </complexType>

    <complexType name="attribute_limit">
        <sequence>
            <element name="limit_count_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_sum_value" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <minInclusive value="-1"/>
                        <maxInclusive value="9999999999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="limit_check_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="counter_algorithm" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

            <element name="length_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"/><!-- Hour -->
                        <enumeration value="LNGT0002"/><!-- Day -->
                        <enumeration value="LNGT0003"/><!-- Week -->
                        <enumeration value="LNGT0004"/><!-- Month -->
                        <enumeration value="LNGT0005"/><!-- Year -->
                        <enumeration value="LNGT0006"/><!-- Minute -->
                        <enumeration value="LNGT0007"/><!-- Second -->
                    </restriction>
                </simpleType>
            </element>

            <element name="length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="attribute_cycle">
        <sequence>
            <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="cycle_length_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="LNGT0001"/><!-- Hour -->
                        <enumeration value="LNGT0002"/><!-- Day -->
                        <enumeration value="LNGT0003"/><!-- Week -->
                        <enumeration value="LNGT0004"/><!-- Month -->
                        <enumeration value="LNGT0005"/><!-- Year -->
                        <enumeration value="LNGT0006"/><!-- Minute -->
                        <enumeration value="LNGT0007"/><!-- Second -->
                    </restriction>
                </simpleType>
            </element>

            <element name="cycle_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="shift" type="tns:shift" minOccurs="0" maxOccurs="unbounded"/>

            <element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="mod_condition" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="mod_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="value">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </attribute>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="shift">
        <sequence>
            <element name="shift_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CSHTENDM"><!-- End of month --></enumeration>
                        <enumeration value="CSHTMDAY"><!-- Shift to exact day of month --></enumeration>
                        <enumeration value="CSHTPERD"><!-- Shift by period --></enumeration>
                        <enumeration value="CSHTWDAY"><!-- Shift to exact day of week --></enumeration>
                        <enumeration value="CSHTWRKD"><!-- Shift to certain workday --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_priority" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_sign" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <enumeration value="1"/> <!-- Forward -->
                        <enumeration value="-1"/> <!-- Backward -->
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                        <enumeration value="LNGT0002"><!-- Day --></enumeration>
                        <enumeration value="LNGT0003"><!-- Week --></enumeration>
                        <enumeration value="LNGT0004"><!-- Month --></enumeration>
                        <enumeration value="LNGT0005"><!-- Year --></enumeration>
                        <enumeration value="LNGT0006"><!-- Minute --></enumeration>
                        <enumeration value="LNGT0007"><!-- Second --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            <element name="shift_length" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <element name="applications" type="tns:applications"/>
    <element name="application" type="tns:application"/>

    <complexType name="applications">
        <sequence maxOccurs="unbounded" minOccurs="1">
            <element name="application" type="tns:application"/>
        </sequence>
    </complexType>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"/>
        </restriction>
    </simpleType>
</schema>
