SVWeb/web/WebContent/META-INF/svxp_atm_downtime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVXP" 
        xmlns:tns="http://sv.bpc.in/SVXP" 
        elementFormDefault="qualified">

	<complexType name="downtimes">
        <sequence>
            <element name="downtime" type="tns:downtime" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
	
	<complexType name="downtime">
        <sequence>
		
			<element name="terminal_id" minOccurs="1" maxOccurs="1">
				<simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
			</element>
			
			<element name="dateform" type="dateTime" minOccurs="1" maxOccurs="1"/>
			
			<element name="dateto" type="dateTime" minOccurs="1" maxOccurs="1"/>
			
			<element name="downtime_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="99"/>
                        <enumeration value="0"/> <!-- ATM offline (both Cash In and Dispensers not available) -->
                        <enumeration value="1"/> <!-- Dispensers not available -->
                        <enumeration value="2"/> <!-- Cash In not available-->
                    </restriction>
                </simpleType>
            </element>
            
                </sequence>
    </complexType>
    
       
    <element name="downtimes" type="tns:downtimes"/>
    
</schema>  