back/ru.bpc.sv.impl.db/Source/Issuing/IssuingApplication/app_flow.xsd_source.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP"
        xmlns:tns="http://sv.bpc.in/SVAP"
        elementFormDefault="qualified">
    <complexType name="application">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APTPISSA"><!-- Issuer applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="appl_prioritized" minOccurs="0" maxOccurs="1" type="boolean"/>

            <element name="operator_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_reject_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="APRJ0001"><!-- Application approved --></enumeration>
                        <enumeration value="APRJ0002"><!-- Application rejected --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="supervisor_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"/>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="referral_program" type="tns:referral_program" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="referral_program">
        <sequence>
            <element name="referrer_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="referral_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card" type="tns:card" minOccurs="0" maxOccurs="unbounded"/>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="card">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="delivery_agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="26"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_count" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                    </restriction>
                </simpleType>
            </element>

            <element name="category" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_blank_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_delivery_channel" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_delivery_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CRDSPERS"><!-- In personalization bureau --></enumeration>
                        <enumeration value="CRDSSNBR"><!-- Sent to branch --></enumeration>
                        <enumeration value="CRDSSNCH"><!-- Sent to cardholder --></enumeration>
                        <enumeration value="CRDSDLBN"><!-- Delivered to branch --></enumeration>
                        <enumeration value="CRDSDLCH"><!-- Delivered to cardholder --></enumeration>
                        <enumeration value="CRDSRTRN"><!-- Returned to branch by cardholder --></enumeration>
                        <enumeration value="CRDSMISS"><!-- Missing --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="start_date_rule" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="SDRLOEDT"><!-- Previous expiry date --></enumeration>
                        <enumeration value="SDRLOEMN"><!-- Start of previous expiry month --></enumeration>
                        <enumeration value="SDRLOSDT"><!-- Previous start date --></enumeration>
                        <enumeration value="SDRLSYSD"><!-- Reissue date --></enumeration>
                        <enumeration value="SDRLSDDL"><!-- Reissue date with delay --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="expiration_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

            <element name="expiration_date_rule" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="EDRLOEDT"><!-- Calculate from previous expiration date --></enumeration>
                        <enumeration value="EDRLOEXP"><!-- Set equal previous expiration date --></enumeration>
                        <enumeration value="EDRLSTDT"><!-- Calculate from start date --></enumeration>
                        <enumeration value="EDRLOETH"><!-- Set old expire date if it is more than threshold --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_request" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="PNRQDONT"><!-- Don't generate --></enumeration>
                        <enumeration value="PNRQGENR"><!-- Generate --></enumeration>
                        <enumeration value="PNRQINHR"><!-- Inherit --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="perso_priority" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                        <enumeration value="PRSP0100"><!-- Express --></enumeration>
                        <enumeration value="PRSP0500"><!-- Normal --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossing_request" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="pin_mailer_request" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="reissue_card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="26"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="reissue_expiration_date" type="date" minOccurs="0" maxOccurs="1">
            </element>

            <choice minOccurs="1"  maxOccurs="1">
                <element name="reissue_reason" minOccurs="0" maxOccurs="1">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="8"/>
                            <maxLength value="8"/>
                        </restriction>
                    </simpleType>
                </element>

               <element name="reissue_command" minOccurs="0" maxOccurs="1">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="5"/>
                            <maxLength value="8"/>
                            <enumeration value="RCMDRENW"><!-- Renewal --></enumeration>
                            <enumeration value="RCMDOLDN"><!-- Reissue with old number --></enumeration>
                            <enumeration value="RCMDNOTR"><!-- Reissue is not required --></enumeration>
                            <enumeration value="RCMDNEWN"><!-- Reissue with new number --></enumeration>
                        </restriction>
                    </simpleType>
                </element>
            </choice>

            <element name="clone_optional_services" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_cvv_cvc" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                    </restriction>
                </simpleType>
            </element>

            <element name="icc_card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <maxInclusive value="999999999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder" type="tns:cardholder" minOccurs="1" maxOccurs="unbounded"/>

            <element name="pin_block" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="16"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossed_line_additional" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="supplementary_info_1" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="inherit_pin_offset" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="cardholder">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="cardholder_photo_file_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="255"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="cardholder_sign_file_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="255"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="sec_word" type="tns:sec_word" minOccurs="0" maxOccurs="unbounded"/>

            <element name="notification" type="tns:notification" minOccurs="0" maxOccurs="unbounded"/>

            <element name="embossed_surname" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossed_first_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossed_second_name" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="embossed_title" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="resident" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="nationality" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="marital_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="sec_word">
        <sequence>
            <element name="secret_question" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="secret_answer" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="notification">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"/><!-- Create or except -->
                        <enumeration value="CMMDCRUP"/><!-- Create or update -->
                        <enumeration value="CMMDEXRE"/><!-- Except or remove -->
                        <enumeration value="CMMDEXUP"/><!-- Except or update -->
                    </restriction>
                </simpleType>
            </element>

            <element name="notification_event" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="delivery_channel" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="contact_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                        <enumeration value="CNTTPRMC"><!-- Primary contact --></enumeration>
                        <enumeration value="CNTTSCNC"><!-- Secondary contact --></enumeration>
                        <enumeration value="CNTTNTFC"><!-- Notification contact --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="delivery_address" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="is_active" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"/>
                    </restriction>
                </simpleType>
            </element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <element name="application" type="tns:application"/>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"/>
        </restriction>
    </simpleType>
</schema>
