back/ru.bpc.sv.impl.db/Source/Issuing/IssuingApplication/app_flow.xsd_source.1017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--suppress CheckTagEmptyBody -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://sv.bpc.in/SVAP/iss"
        xmlns:tns="http://sv.bpc.in/SVAP/iss"
        elementFormDefault="qualified">

    <element name="application" type="tns:applicationType"/>

    <complexType name="applicationType">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPISSA"><!-- Issuer applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0001"><!-- Application created --></enumeration>
                        <enumeration value="APST0002"><!-- Awaiting confirming --></enumeration>
                        <enumeration value="APST0003"><!-- Need correction --></enumeration>
                        <enumeration value="APST0004"><!-- Awaiting checking --></enumeration>
                        <enumeration value="APST0005"><!-- Awaiting additional data --></enumeration>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                        <enumeration value="APST0007"><!-- Successfuly processed --></enumeration>
                        <enumeration value="APST0008"><!-- Processing failed --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="appl_prioritized" minOccurs="0" maxOccurs="1" type="boolean"/>

            <element name="operator_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="ENTTPERS"><!-- Person --></enumeration>
                        <enumeration value="ENTTCOMP"><!-- Company --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="customer_relation" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="RSCBAFLT"><!-- Affiliate --></enumeration>
                        <enumeration value="RSCBEMPL"><!-- Employee --></enumeration>
                        <enumeration value="RSCBEXTR"><!-- External --></enumeration>
                        <enumeration value="RSCBINSD"><!-- Insider --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="money_laundry_reason" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="MLRS0001"><!-- No reasons --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="1"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="referral_program" type="tns:referral_program" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="referral_program">
        <sequence>
            <element name="referrer_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="referral_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CNTPPRCR"><!-- Personal cards --></enumeration>
                        <enumeration value="CNTPBANK"><!-- Banking service --></enumeration>
                        <enumeration value="CNTPBNKC"><!-- Banking service of corporate customers --></enumeration>
                        <enumeration value="CNTPSLPR"><!-- Salary project --></enumeration>
                        <enumeration value="CNTPINIC"><!-- Instant issuing cards --></enumeration>
                        <enumeration value="CNTPSRVP"><!-- Service provider settlement --></enumeration>
                        <enumeration value="CNTPCUSR"><!-- Customer serviceing --></enumeration>
                        <enumeration value="CNTPCRCR"><!-- Corporate card Issuings --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="2"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account" type="tns:account" minOccurs="0" maxOccurs="999"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>    

    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="account_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_order" type="tns:payment_order" minOccurs="0" maxOccurs="unbounded"></element>
            
            <element name="cst_acc_agent_id" type="string" minOccurs="0" maxOccurs="1"/>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="payment_order">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="8"/>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_order_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_purpose_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"/>
                        <maxInclusive value="99999999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="label" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_name">
                            <attribute name="language" type="string" default="LANGENG"/>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="description" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <simpleContent>
                        <extension base="tns:entity_desc">
                            <attribute name="language" type="string" default="LANGENG"/>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="payment_amount" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999.9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"/>
                        <maxLength value="3"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_amount_algo" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_date" type="date" minOccurs="0" maxOccurs="1"/>
            
            <element name="posting_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="is_payment_order_template" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"/>
                        <maxInclusive value="1"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="event_type" minOccurs="0" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="template_status" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="attempt_count" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="payment_parameter">
        <sequence>
            <element name="payment_parameter_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_parameter_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="400"></maxLength>
                    </restriction>
                </simpleType>
            </element>
        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

	<simpleType name="entity_name">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="entity_desc">
		<restriction base="string">
			<maxLength value="2000"/>
		</restriction>
	</simpleType>
	
</schema>