back/ru.bpc.sv.impl.db/Source/Issuing/IssuingApplication/app_flow.xsd_source.1012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://sv.bpc.in/SVAP" 
        xmlns:tns="http://sv.bpc.in/SVAP" 
        elementFormDefault="qualified">
    <complexType name="application">
        <sequence>
            <element name="application_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="long">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999999999999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="application_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APTPISSA"><!-- Issuer applications --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_flow_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="application_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="appl_prioritized" minOccurs="0" maxOccurs="1" type="boolean"/>

            <element name="operator_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="institution_id" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="agent_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="application_reject_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="APRJ0001"><!-- Application approved --></enumeration>
                        <enumeration value="APRJ0002"><!-- Application rejected --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="supervisor_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="customer">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXPR"><!-- Except or process --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="customer_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="unbounded"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="referral_program" type="tns:referral_program" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="referral_program">
        <sequence>
            <element name="referrer_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="referral_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="contract">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXPR"><!-- Except or process --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="product_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="1"></minInclusive>
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="contract_number" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="0"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="card" type="tns:card" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="card">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDEXUP"><!-- Update or except --></enumeration>
                    </restriction>
                </simpleType>
            </element>
            
            <element name="card_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>            

            <element name="card_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="26"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="card_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

           <element name="card_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8"></maxLength>
						<enumeration value="CSTS0000"><!-- Valid card--></enumeration>
						<enumeration value="CSTS0001"><!-- Call issuer--></enumeration>
						<enumeration value="CSTS0002"><!-- Warm card--></enumeration>
						<enumeration value="CSTS0003"><!-- Do not honor--></enumeration>
						<enumeration value="CSTS0004"><!-- Honor with ID--></enumeration>
						<enumeration value="CSTS0005"><!-- Not permitted--></enumeration>
						<enumeration value="CSTS0006"><!-- Lost card, capture--></enumeration>
						<enumeration value="CSTS0007"><!-- Stolen card, capture--></enumeration>
						<enumeration value="CSTS0008"><!-- Call security, capture--></enumeration>
						<enumeration value="CSTS0009"><!-- Invalid card, capture--></enumeration>
						<enumeration value="CSTS0010"><!-- Pick up card, special condition--></enumeration>
						<enumeration value="CSTS0011"><!-- Call acquirer security--></enumeration>
						<enumeration value="CSTS0012"><!-- Card is not activated--></enumeration>
						<enumeration value="CSTS0013"><!-- PIN attempts exceeded--></enumeration>
						<enumeration value="CSTS0014"><!-- Forced PIN change--></enumeration>
						<enumeration value="CSTS0015"><!-- Credit debts--></enumeration>
						<enumeration value="CSTS0017"><!-- PIN activation--></enumeration>
						<enumeration value="CSTS0018"><!-- Personification waiting--></enumeration>
						<enumeration value="CSTS0019"><!-- Fraud prevention--></enumeration>
						<enumeration value="CSTS0020"><!-- Temporary blocked by client--></enumeration>
						<enumeration value="CSTS0021"><!-- Permanent blocked by client--></enumeration>
						<enumeration value="CSTS0022"><!-- Expiry of the card--></enumeration>		
						<enumeration value="CSTS0023"><!-- Temporary blocked by bank--></enumeration>		
						<enumeration value="CSTS0024"><!-- Temporary blocked by bank on client request--></enumeration>		
						<enumeration value="CSTS0025"><!-- Permanent blocked by bank--></enumeration>								
                    </restriction>
                </simpleType>
           </element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="account">
        <sequence>
            <element name="command" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="32"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="account_status" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <pattern value="ACST[A-Z0-9]{1,4}"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_order" type="tns:payment_order" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

            <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>
	
    <complexType name="payment_order">
        <sequence>
            <element name="command" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"></minLength>
                        <maxLength value="8"></maxLength>
                        <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                        <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                        <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                        <enumeration value="CMMDEXPR"><!-- Except or update --></enumeration>
                        <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                        <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_order_number" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_purpose_id" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <maxInclusive value="99999999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_amount" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="float">
                        <maxInclusive value="9999999999999999999999.9999"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="currency" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="3"></minLength>
                        <maxLength value="3"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_amount_algo" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_date" type="date" minOccurs="0" maxOccurs="1"></element>

            <element name="is_payment_order_template" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                        <maxInclusive value="1"></maxInclusive>
                    </restriction>
                </simpleType>
            </element>

            <element name="event_type" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"></minLength>
                        <maxLength value="8"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_parameter" type="tns:payment_parameter" minOccurs="0" maxOccurs="unbounded"></element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"></element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="payment_parameter">
        <sequence>
            <element name="payment_parameter_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="payment_parameter_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="400"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="error">
        <sequence>
            <element name="error_code" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_desc" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_element" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"></maxLength>
                    </restriction>
                </simpleType>
            </element>

            <element name="error_details" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000"></maxLength>
                    </restriction>
                </simpleType>
            </element>

        </sequence>
    
        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"></maxLength>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

    <element name="application" type="tns:application"></element>

    <simpleType name="entity_name">
        <restriction base="string">
            <maxLength value="200"></maxLength>
        </restriction>
    </simpleType>

    <simpleType name="entity_desc">
        <restriction base="string">
            <maxLength value="2000"></maxLength>
        </restriction>
    </simpleType>

    <complexType name="flexible_field">
        <sequence>
            <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>