back/ru.bpc.sv.impl.db/Source/Issuing/IssuingApplication/app_flow.xsd_source.1009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sv.bpc.in/SVAP" xmlns:tns="http://sv.bpc.in/SVAP" elementFormDefault="qualified">

<element name="application" type="tns:applicationType"/>

<complexType name="applicationType">
    <sequence>
        <element name="application_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="long">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="application_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="application_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="application_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="APTPISSA"><!-- Issuer applications --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="application_flow_id" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="application_status" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="APST0006"><!-- Awaiting processing --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="appl_prioritized" minOccurs="0" maxOccurs="1" type="boolean"/>

        <element name="operator_id" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="institution_id" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="agent_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="agent_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="application_reject_code" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="APRJ0001"><!-- Application approved --></enumeration>
                    <enumeration value="APRJ0002"><!-- Application rejected --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="supervisor_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="customer_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="ENTTCOMP"><!-- Company --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="customer" type="tns:customer" minOccurs="1" maxOccurs="1"/>

        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="customer">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="customer_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="customer_ext_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="ENTTAGNT"><!-- Company --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="contract" type="tns:contract" minOccurs="1" maxOccurs="1"/>

        <element name="company" type="tns:company" minOccurs="1" maxOccurs="1"/>

        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

        <element name="referral_program" type="tns:referral_program" minOccurs="0" maxOccurs="1"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

    <complexType name="referral_program">
        <sequence>
            <element name="referrer_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="referral_code" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>

        <attribute name="id">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </attribute>

    </complexType>

<complexType name="contract">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="contract_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="CNTPINIC"><!-- Instant issuing cards --></enumeration>
                    <enumeration value="CNTPPRPD"><!-- Prepaid cards --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="product_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="product_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="contract_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="0"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="card" type="tns:card" minOccurs="1" maxOccurs="unbounded"/>

        <element name="service" type="tns:service" minOccurs="0" maxOccurs="999"/>

        <element name="account" type="tns:account" minOccurs="0" maxOccurs="999"/>

        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="company">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="embossed_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="incorp_form" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="8"/>
                    <enumeration value="INCF0041"><!-- Unitary enterprise, based on operational management --></enumeration>
                    <enumeration value="INCF0042"><!-- Unitary enterprise, based on the right of business --></enumeration>
                    <enumeration value="INCF0047"><!-- Public corporation --></enumeration>
                    <enumeration value="INCF0051"><!-- General partnership --></enumeration>
                    <enumeration value="INCF0064"><!-- Limited partnership --></enumeration>
                    <enumeration value="INCF0065"><!-- Limited liability company --></enumeration>
                    <enumeration value="INCF0066"><!-- Additional liability --></enumeration>
                    <enumeration value="INCF0067"><!-- Closed joint stock company --></enumeration>
                    <enumeration value="INCF0071"><!-- Private institution --></enumeration>
                    <enumeration value="INCF0072"><!-- State-financed organization --></enumeration>
                    <enumeration value="INCF0073"><!-- Autonomous institution --></enumeration>
                    <enumeration value="INCF0076"><!-- Gardening, horticulture or country house non-profit partnership --></enumeration>
                    <enumeration value="INCF0077"><!-- Union of the peasant farm --></enumeration>
                    <enumeration value="INCF0078"><!-- Authorities of public initiative --></enumeration>
                    <enumeration value="INCF0080"><!-- Territorial public self-government --></enumeration>
                    <enumeration value="INCF0082"><!-- State corporation --></enumeration>
                    <enumeration value="INCF0083"><!-- Social and religious organizations (associations) --></enumeration>
                    <enumeration value="INCF0084"><!-- Public movement --></enumeration>
                    <enumeration value="INCF0085"><!-- Consumers' cooperative --></enumeration>
                    <enumeration value="INCF0088"><!-- Fund --></enumeration>
                    <enumeration value="INCF0089"><!-- Other non-profit organizations --></enumeration>
                    <enumeration value="INCF0091"><!-- Individual businessman --></enumeration>
                    <enumeration value="INCF0093"><!-- Association of legal entities (association or union) --></enumeration>
                    <enumeration value="INCF0094"><!-- Homeowners --></enumeration>
                    <enumeration value="INCF0096"><!-- Non-profit partnership --></enumeration>
                    <enumeration value="INCF0097"><!-- Autonomous non-profit organization --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="presence_on_location" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="1"/>
                </restriction>
            </simpleType>
        </element>

        <element name="authorized_capital" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="1"/>
                    <maxInclusive value="999999999999999999.9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="authorized_capital_currency" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="3"/>
                    <maxLength value="3"/>
                </restriction>
            </simpleType>
        </element>

        <element name="company_name" type="tns:company_name" minOccurs="0" maxOccurs="2"/>

        <element name="identity_card" type="tns:identity_card" minOccurs="0" maxOccurs="3"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="company_name">
    <sequence>
        <element name="company_short_name" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="company_full_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>
    </sequence>

    <attribute name="language" use="required">
        <simpleType>
            <restriction base="string">
                <minLength value="5"/>
                <maxLength value="8"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="identity_card">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                    <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                    <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                    <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                    <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="id_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="IDTP0001"><!-- Passport --></enumeration>
                    <enumeration value="IDTP0002"><!-- Foreign passport --></enumeration>
                    <enumeration value="IDTP0003"><!-- Military certificate --></enumeration>
                    <enumeration value="IDTP0004"><!-- Sailor certificate --></enumeration>
                    <enumeration value="IDTP0005"><!-- Army officer certificate --></enumeration>
                    <enumeration value="IDTP0006"><!-- Citizen temporary certificate --></enumeration>
                    <enumeration value="IDTP0010"><!-- Taxpayer Identification Number --></enumeration>
                    <enumeration value="IDTP0011"><!-- Main state registration number --></enumeration>
                    <enumeration value="IDTP0012"><!-- Bank Identification Code --></enumeration>
                    <enumeration value="IDTP0013"><!-- Foreign Organization Code --></enumeration>
                    <enumeration value="IDTP0014"><!-- License --></enumeration>
                    <enumeration value="IDTP0020"><!-- Driver license --></enumeration>
                    <enumeration value="IDTP0030"><!-- Social insurance --></enumeration>
                    <enumeration value="IDTP0040"><!-- Passport (Foreign citizen) --></enumeration>
                    <enumeration value="IDTP0041"><!-- Migratory card (Foreign citizen) --></enumeration>
                    <enumeration value="IDTP0042"><!-- Permanent resident card (Foreign citizen) --></enumeration>
                    <enumeration value="IDTP0043"><!-- Temporary residence permit (Foreign citizen) --></enumeration>
                    <enumeration value="IDTP0044"><!-- Visa (Foreign citizen) --></enumeration>
                    <enumeration value="IDTP0045"><!-- National ID --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="id_series" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="id_number" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="3"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

		<element name="country" minOccurs="0" maxOccurs="1">
			<simpleType>
				<restriction base="string">
					<minLength value="3"/>
					<maxLength value="3"/>
				</restriction>
			</simpleType>
		</element>

        <element name="id_issuer" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="id_issue_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="id_expire_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="id_desc" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="card">
    <sequence>
        <element name="command" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="delivery_agent_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="card_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="card_count" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="batch_card_count" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                </restriction>
            </simpleType>
        </element> 

        <element name="category" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>

        <element name="card_blank_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="card_delivery_channel" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>

        <element name="card_delivery_status" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="CRDSPERS"><!-- In personalization bureau --></enumeration>
                    <enumeration value="CRDSSNBR"><!-- Sent to branch --></enumeration>
                    <enumeration value="CRDSSNCH"><!-- Sent to cardholder --></enumeration>
                    <enumeration value="CRDSDLBN"><!-- Delivered to branch --></enumeration>
                    <enumeration value="CRDSDLCH"><!-- Delivered to cardholder --></enumeration>
                    <enumeration value="CRDSRTRN"><!-- Returned to branch by cardholder --></enumeration>
                    <enumeration value="CRDSMISS"><!-- Missing --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="start_date_rule" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="0"/>
                    <maxLength value="8"/>
                    <enumeration value="SDRLOEDT"><!-- Previous expiry date --></enumeration>
                    <enumeration value="SDRLOEMN"><!-- Start of previous expiry month --></enumeration>
                    <enumeration value="SDRLOSDT"><!-- Previous start date --></enumeration>
                    <enumeration value="SDRLSYSD"><!-- Reissue date --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="expiration_date" type="dateTime" minOccurs="0" maxOccurs="1"/>

        <element name="expiration_date_rule" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="0"/>
                    <maxLength value="8"/>
                    <enumeration value="EDRLOEDT"><!-- Calculate from previous expiration date --></enumeration>
                    <enumeration value="EDRLOEXP"><!-- Set equal previous expiration date --></enumeration>
                    <enumeration value="EDRLSTDT"><!-- Calculate from previous start date --></enumeration>
                    <enumeration value="EDRLOETH"><!-- Set old expire date if it is more than threshold --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="card_iss_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="perso_priority" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="0"/>
                    <maxLength value="8"/>
                    <enumeration value="PRSP0100"><!-- Express --></enumeration>
                    <enumeration value="PRSP0500"><!-- Normal --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="sec_word" type="tns:sec_word" minOccurs="0" maxOccurs="0"/>

        <element name="sequential_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                </restriction>
            </simpleType>
        </element>

        <element name="card_status" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="CSTS0000"><!-- Valid card --></enumeration>
                    <enumeration value="CSTS0001"><!-- Call issuer --></enumeration>
                    <enumeration value="CSTS0002"><!-- Warm card --></enumeration>
                    <enumeration value="CSTS0003"><!-- Do not honor --></enumeration>
                    <enumeration value="CSTS0004"><!-- Honor with ID --></enumeration>
                    <enumeration value="CSTS0005"><!-- Not permitted --></enumeration>
                    <enumeration value="CSTS0006"><!-- Lost card, capture --></enumeration>
                    <enumeration value="CSTS0007"><!-- Stolen card, capture --></enumeration>
                    <enumeration value="CSTS0008"><!-- Call security, capture --></enumeration>
                    <enumeration value="CSTS0009"><!-- Invalid card, capture --></enumeration>
                    <enumeration value="CSTS0010"><!-- Pick up card, special condition --></enumeration>
                    <enumeration value="CSTS0011"><!-- Call acquirer security --></enumeration>
                    <enumeration value="CSTS0012"><!-- Card is not activated --></enumeration>
                    <enumeration value="CSTS0013"><!-- PIN attempts exceeded --></enumeration>
                    <enumeration value="CSTS0014"><!-- Forced PIN change --></enumeration>
                    <enumeration value="CSTS0015"><!-- Credit debts --></enumeration>
                    <enumeration value="CSTS0017"><!-- PIN activation --></enumeration>
                    <enumeration value="CSTS0018"><!-- Personification waiting --></enumeration>
                    <enumeration value="CSTS0019"><!-- Fraud prevention --></enumeration>
                    <enumeration value="CSTS0020"><!-- Temporary blocked by client --></enumeration>
                    <enumeration value="CSTS0021"><!-- Permanent blocked by client --></enumeration>
                    <enumeration value="CSTS0022"><!-- Expiry of the card --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="card_state" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="CSTE0100"><!-- Personalization required --></enumeration>
                    <enumeration value="CSTE0200"><!-- Issued --></enumeration>
                    <enumeration value="CSTE0300"><!-- Closed --></enumeration>
                    <enumeration value="CSTE0400"><!-- Delivered to branch --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="cardholder_name" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="service">
    <sequence>
        <element name="service_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="service_object" type="tns:service_object" minOccurs="1" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="1"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="service_object">
    <sequence>
        <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="attribute_char" type="tns:attribute_char" minOccurs="0" maxOccurs="unbounded"/>

        <element name="attribute_num" type="tns:attribute_num" minOccurs="0" maxOccurs="unbounded"/>

        <element name="attribute_date" type="tns:attribute_date" minOccurs="0" maxOccurs="unbounded"/>

        <element name="attribute_fee" type="tns:attribute_fee" minOccurs="0" maxOccurs="unbounded"/>

        <element name="attribute_cycle" type="tns:attribute_cycle" minOccurs="0" maxOccurs="unbounded"/>

        <element name="attribute_limit" type="tns:attribute_limit" minOccurs="0" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="ref_id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="attribute_char">
    <sequence>
        <element name="attribute_value_char" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="mod_condition" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>
        
        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="-99999999"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>

</complexType>

<complexType name="attribute_num">
    <sequence>
        <element name="attribute_value_num" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="long">
                </restriction>
            </simpleType>
        </element>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="mod_condition" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="-99999999"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="attribute_date">
    <sequence>
        <element name="attribute_value_date" type="date" minOccurs="1" maxOccurs="1"/>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

        <element name="mod_condition" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="-99999999"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="attribute_fee">
    <sequence>
        <element name="fee_rate_calc" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="FEEM0001"><!-- Percentage value --></enumeration>
                    <enumeration value="FEEM0002"><!-- Fixed value --></enumeration>
                    <enumeration value="FEEM0003"><!-- Minimum between percent and fixed value --></enumeration>
                    <enumeration value="FEEM0004"><!-- Maximum between percent and fixed value --></enumeration>
                    <enumeration value="FEEM0005"><!-- Sum of percent and fixed value --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="long">
                </restriction>
            </simpleType>
        </element>

        <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="long">
                </restriction>
            </simpleType>
        </element>

        <element name="fee_min_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="fee_max_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="currency" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="3"/>
                    <maxLength value="3"/>
                </restriction>
            </simpleType>
        </element>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="cycle_length_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                    <enumeration value="LNGT0002"><!-- Day --></enumeration>
                    <enumeration value="LNGT0003"><!-- Week --></enumeration>
                    <enumeration value="LNGT0004"><!-- Month --></enumeration>
                    <enumeration value="LNGT0005"><!-- Year --></enumeration>
                </restriction>
            </simpleType>
        </element>
        
        <element name="mod_condition" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="length_type_algorithm" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="NDYR0001"><!-- The actual quantity --></enumeration>
                    <enumeration value="NDYR0002"><!-- 365 days --></enumeration>
                    <enumeration value="NDYR0003"><!-- 360 days --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="fee_tier" type="tns:fee_tier" minOccurs="0" maxOccurs="unbounded"/>

        <element name="cycle" type="tns:cycle" minOccurs="0" maxOccurs="1"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="-99999999"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="fee_tier">
    <sequence>
        <element name="sum_threshold" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>
            
        <element name="count_threshold" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>          

        <element name="fee_fixed_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="fee_percent_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="fee_min_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="fee_max_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>
            
    </sequence>
</complexType>

<complexType name="cycle">
    <sequence>
        <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="cycle_length_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                    <enumeration value="LNGT0002"><!-- Day --></enumeration>
                    <enumeration value="LNGT0003"><!-- Week --></enumeration>
                    <enumeration value="LNGT0004"><!-- Month --></enumeration>
                    <enumeration value="LNGT0005"><!-- Year --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="cycle_length" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </element>
        
        <element name="cycle_workdays_only" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="1"/>
                </restriction>
            </simpleType>
        </element>

    </sequence>
</complexType>

<complexType name="attribute_cycle">
    <sequence>
        <element name="cycle_start_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="cycle_length_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                    <enumeration value="LNGT0002"><!-- Day --></enumeration>
                    <enumeration value="LNGT0003"><!-- Week --></enumeration>
                    <enumeration value="LNGT0004"><!-- Month --></enumeration>
                    <enumeration value="LNGT0005"><!-- Year --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="cycle_length" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="99999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="shift" type="tns:shift" minOccurs="0" maxOccurs="unbounded"/>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="mod_condition" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="-99999999"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="shift">
    <sequence>
        <element name="shift_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <enumeration value="CSHTENDM"><!-- End of month --></enumeration>
                    <enumeration value="CSHTMDAY"><!-- Shift to exact day of month --></enumeration>
                    <enumeration value="CSHTPERD"><!-- Shift by period --></enumeration>
                    <enumeration value="CSHTWDAY"><!-- Shift to exact day of week --></enumeration>
                    <enumeration value="CSHTWRKD"><!-- Shift to certain workday --></enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="shift_priority" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>
        <element name="shift_sign" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <enumeration value="1"/> <!-- Forward -->
                    <enumeration value="-1"/> <!-- Backward -->
                </restriction>
            </simpleType>
        </element>
        <element name="shift_length_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <enumeration value="LNGT0001"><!-- Hour --></enumeration>
                    <enumeration value="LNGT0002"><!-- Day --></enumeration>
                    <enumeration value="LNGT0003"><!-- Week --></enumeration>
                    <enumeration value="LNGT0004"><!-- Month --></enumeration>
                    <enumeration value="LNGT0005"><!-- Year --></enumeration>
                    <enumeration value="LNGT0006"><!-- Minute --></enumeration>
                    <enumeration value="LNGT0007"><!-- Second --></enumeration>
                </restriction>
            </simpleType>
        </element>
        <element name="shift_length" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>
    </sequence>
</complexType>

<complexType name="attribute_limit">
    <sequence>
        <element name="limit_count_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="long">
                    <minInclusive value="0"/>
                    <maxInclusive value="9999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="limit_sum_value" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="float">
                    <minInclusive value="-1"/>
                    <maxInclusive value="9999999999999999999999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="limit_check_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="LCHT0001"><!-- One of the thresholds is exceeded(sum or count) --></enumeration>
                    <enumeration value="LCHT0002"><!-- Both thresholds are exceeded (sum and count) --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="currency" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="3"/>
                    <maxLength value="3"/>
                </restriction>
            </simpleType>
        </element>
        
        <element name="counter_algorithm" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>

        <element name="start_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="end_date" type="date" minOccurs="0" maxOccurs="1">
        </element>

        <element name="mod_condition" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_name" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="mod_id" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>

    <attribute name="value" use="required">
        <simpleType>
            <restriction base="int">
                <minInclusive value="-99999999"/>
                <maxInclusive value="99999999"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <minLength value="2"/>
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="sec_word">
    <sequence>
        <element name="secret_question" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                    <enumeration value="SEQUW001"><!-- What was your childhood nickname?  --></enumeration>
                    <enumeration value="SEQUW002"><!-- In what city or town did your mother and father meet?  --></enumeration>
                    <enumeration value="SEQUW003"><!-- What was the name of your elementary / primary school? --></enumeration>
                    <enumeration value="SEQUW004"><!-- What is the name of the company of your first job? --></enumeration>
                    <enumeration value="SEQUWORD"><!-- Any security word --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="secret_answer" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

    </sequence>
    
    <attribute name="language" type="string" default="LANGENG"/>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="account">
    <sequence>
        <element name="command" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                    <enumeration value="CMMDCREX"><!-- Create or except --></enumeration>
                    <enumeration value="CMMDCRPR"><!-- Create or proceed --></enumeration>
                    <enumeration value="CMMDCRUP"><!-- Create or update --></enumeration>
                    <enumeration value="CMMDEXPR"><!-- Except or proceed --></enumeration>
                    <enumeration value="CMMDEXRE"><!-- Except or remove --></enumeration>
                    <enumeration value="CMMDEXUP"><!-- Except or update --></enumeration>
                    <enumeration value="CMMDPRRE"><!-- Proceed or remove --></enumeration>
                </restriction>
            </simpleType>
        </element>

        <element name="account_number" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
        </element>

        <element name="currency" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="3"/>
                    <maxLength value="3"/>
                </restriction>
            </simpleType>
        </element>

        <element name="account_type" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>

        <element name="account_status" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <pattern value="ACST[A-Z0-9]{1,4}"/>
                </restriction>
            </simpleType>
        </element>

        <element name="account_count" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </element>

        <element name="account_object" type="tns:account_object" minOccurs="0" maxOccurs="unbounded"/>

        <element name="flexible_field" type="tns:flexible_field" minOccurs="0" maxOccurs="unbounded"/>

        <element name="note" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>

        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>

    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="account_object">
    <sequence>
        <element name="account_link_flag" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="1"/>
                </restriction>
            </simpleType>
        </element>

        <element name="is_pos_default" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="1"/>
                </restriction>
            </simpleType>
        </element>

        <element name="is_atm_default" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="1"/>
                </restriction>
            </simpleType>
        </element>
        
        <element name="account_object_property" type="tns:account_object_property" minOccurs="0" maxOccurs="unbounded"/>
        
        <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
 
    <attribute name="ref_id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="account_object_property">
    <sequence>
        <element name="link_property_type" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>
        <element name="link_property" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <minLength value="8"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </element>
        <element name="link_property_flag" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="0"/>
                    <maxInclusive value="1"/>
                </restriction>
            </simpleType>
        </element>
     </sequence>                
</complexType>

    <complexType name="note">
        <sequence>
            <element name="note_type" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <minLength value="8"/>
                        <maxLength value="8"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_content" type="tns:note_content" minOccurs="1" maxOccurs="unbounded"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="note_content">
        <sequence>
            <element name="note_header" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="note_text" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4000"/>
                    </restriction>
                </simpleType>
            </element>

            <element name="start_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="end_date" type="date" minOccurs="0" maxOccurs="1"/>

            <element name="error" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>

        <attribute name="language" use="required">
            <simpleType>
                <restriction base="string">
                    <minLength value="5"/>
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

<complexType name="error">
    <sequence>
        <element name="error_code" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error_desc" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error_element" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
            </simpleType>
        </element>

        <element name="error_details" minOccurs="0" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="2000"/>
                </restriction>
            </simpleType>
        </element>

    </sequence>

    <attribute name="id">
        <simpleType>
            <restriction base="string">
                <maxLength value="200"/>
            </restriction>
        </simpleType>
    </attribute>
</complexType>

<complexType name="flexible_field">
   <sequence>
       <element name="flexible_field_name" minOccurs="1" maxOccurs="1">
            <simpleType>
                <restriction base="string">
                    <maxLength value="200"/>
                </restriction>
           </simpleType>
       </element>

       <element name="flexible_field_value" minOccurs="1" maxOccurs="1">
           <simpleType>
               <restriction base="string">
                   <maxLength value="200"/>
               </restriction>
           </simpleType>
       </element>
    </sequence>
</complexType>

<simpleType name="entity_name">
    <restriction base="string">
        <maxLength value="200"/>
    </restriction>
</simpleType>

<simpleType name="entity_desc">
    <restriction base="string">
        <maxLength value="2000"/>
    </restriction>
</simpleType>

</schema>


