spec/spec/SVWS/IntegrationPlatform/info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlDefaultAttributeValue -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc.ru/SVXP"
		xmlns:tns="http://bpc.ru/SVXP" elementFormDefault="qualified">

	<complexType name="balance">
		<sequence>
			<element name="balance_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<union memberTypes="tns:balance_type tns:dictionary_article" />
				</simpleType>
			</element>
			<element name="amount" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="currency" type="tns:currency" maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="accounts">
		<sequence>
			<element name="account" type="tns:account" maxOccurs="unbounded" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="account">
		<sequence>
			<element name="account_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="account_number" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="account_type" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="account_type_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="currency" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="currency_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="status" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="status_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="aval_balance" minOccurs="1" maxOccurs="1" type="decimal"/>
			<element name="hold_balance" minOccurs="1" maxOccurs="1" type="decimal"/>
			<element name="agent_id" minOccurs="1" maxOccurs="1" type="long"/>
			<element name="agent_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="open_date" minOccurs="1" maxOccurs="1" type="dateTime"/>
			<element name="close_date" minOccurs="0" maxOccurs="1" type="dateTime"/>
			<element name="owner_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="request_balance" minOccurs="0" maxOccurs="1" type="decimal"/>
		</sequence>
	</complexType>

	<complexType name="account_payment_details">
		<sequence>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="recipient_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="bank_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="bic" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="tin" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="corr_account" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="bank_address" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<simpleType name="balance_type">
		<restriction base="string">
			<minLength value="5"/>
			<maxLength value="8"/>
			<enumeration value="BLTP0001"><!-- Ledger --></enumeration>
			<enumeration value="BLTP0003"><!-- Fees --></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="currency">
		<restriction base="string"><!-- 3 digit ISO currency code -->
			<minLength value="3"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="dictionary_article">
		<restriction base="string">
			<minLength value="5"/>
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="auth_code">
		<restriction base="string">
			<minLength value="6" />
			<maxLength value="6" />
		</restriction>
	</simpleType>

	<element name="card" type="tns:card"/>
	<complexType name="card">
		<sequence>
			<!-- Mandatory fields -->
			<element name="id" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="card_instance_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="card_mask" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="seq_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="expir_date" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="person_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="category" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="network_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="network_name" type="string" minOccurs="1" maxOccurs="1"/>
			<!-- Optional fields -->
			<element name="card_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="category_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="card_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="state" type="string" minOccurs="0" maxOccurs="1" />
			<element name="state_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="delivery_status" type="string" minOccurs="0" maxOccurs="1" />
			<element name="delivery_status_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="bin_currency" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="currency_name" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="aval_balance" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="hold_balance" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="customer_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="customer_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
			<element name="account_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="account_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="product_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="product_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="creation_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="embossed_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="cardholder_name" type="tns:cardholder_name" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="cards" type="tns:cards"/>
	<complexType name="cards">
		<sequence>
			<element name="card" type="tns:card" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="customer_ntf_settings" type="tns:customer_ntf_settings"/>

	<element name="customer_ntfs_settings" type="tns:customer_ntfs_settings"/>

	<complexType name="customer_ntfs_settings">
		<sequence>
			<element name="customer_ntf_settings" type="tns:customer_ntf_settings" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="customer_ntf_settings">
		<sequence>
			<element name="entity_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="entity_type_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="object_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="event_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="event_type_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="channel_id" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="channel_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="delivery_address" type="string" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="service_term">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="type" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="simple" type="tns:simple_service_term" maxOccurs="1" minOccurs="0"/>
			<element name="limit" type="tns:limit" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="fee" type="tns:fee" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="cycle" type="string" maxOccurs="1" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="flexible_parameter">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="data_type" type="tns:data_type" maxOccurs="1" minOccurs="1"/>
			<element name="value_char" type="string" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="value_number" type="decimal" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="value_date" type="dateTime" maxOccurs="1" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="limit">
		<sequence>
			<element name="type" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="currency" type="string" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="sum_value" type="decimal" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="sum_limit" type="decimal" maxOccurs="1" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>


	<simpleType name="data_type">
		<restriction base="tns:dictionary_article">
			<enumeration value="DTTPCHAR"/>
			<enumeration value="DTTPNMBR"/>
			<enumeration value="DTTPDATE"/>
		</restriction>
	</simpleType>

	<complexType name="simple_service_term">
		<sequence>
			<element name="data_type" type="tns:data_type" maxOccurs="1" minOccurs="1"/>
			<element name="value_char" type="string" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="value_number" type="decimal" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="value_date" type="dateTime" maxOccurs="1" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="fee">
		<sequence>
			<element name="type" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="currency" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="value" type="decimal" maxOccurs="1" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="statuses" type="tns:statuses"/>

	<complexType name="statuses">
		<sequence>
			<element name="status" type="string"
					 maxOccurs="unbounded" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="operation" type="tns:operation"/>

	<element name="operations" type="tns:operations"/>

	<complexType name="operation">
		<sequence>
			<element name="id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>
			<element name="original_id" type="string" maxOccurs="1" nillable="true" minOccurs="0"/>
			<element name="card_mask" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="card_seq_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="is_reversal" type="boolean" minOccurs="0" maxOccurs="1"/>
			<element name="oper_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="oper_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="oper_type_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="oper_amount" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="oper_currency" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="currency_name" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="mcc" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_address" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="balance" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="currency" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="account_amount" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="account_currency" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="host_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="originator_refnum" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="external_auth_id" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="resp_code" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="is_advice" maxOccurs="1" minOccurs="0">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
						<maxInclusive value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="cat_level" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="card_data_input_cap" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="crdh_auth_cap" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="card_capture_cap" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="terminal_operating_env" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="crdh_presence" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="card_presence" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="card_data_input_mode" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="crdh_auth_method" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="crdh_auth_entity" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="card_data_output_cap" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="terminal_output_cap" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="pin_capture_cap" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="pin_presence" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="terminal_number" type="tns:dictionary_article" maxOccurs="1" minOccurs="0"/>
			<element name="auth_code" type="tns:auth_code" maxOccurs="1" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="participant">
		<sequence>

			<element name="client_id_type" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="tns:dictionary_article">
						<enumeration value="CITPACCT" /><!-- Identification by account -->
						<enumeration value="CITPCARD" /><!-- Identification by card number -->
						<enumeration value="CITPCNTR" /><!-- Identification by contract number -->
						<enumeration value="CITPCUST" /><!-- Identification by customer number -->
						<enumeration value="CITPEMAI" /><!-- Identification by e-mail -->
						<enumeration value="CITPMBPH" /><!-- Identification by mobile phone number -->
						<enumeration value="CITPNONE" /><!-- No identification -->
						<enumeration value="CITPUNKN" /><!-- Unknown identification -->
						<enumeration value="CITPXCRD" /><!-- Identification by linked card -->
					</restriction>
				</simpleType>
			</element>
			<element name="client_id_value" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2" />
						<maxLength value="200" />
					</restriction>
				</simpleType>
			</element>
			<element name="card_number" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="16" />
						<maxLength value="19" />
					</restriction>
				</simpleType>
			</element>
			<element name="card_seq_number" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>
			<element name="card_expir_date" type="date" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="inst_id" type="tns:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="network_id" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1000" />
						<maxInclusive value="9999" />
					</restriction>
				</simpleType>
			</element>
			<element name="auth_code" type="tns:auth_code" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="account_number" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="account_type" type="tns:dictionary_article" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="account_currency" type="tns:currency" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="account_amount" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="aval_bal_before" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="aval_bal_after" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="payment_order">
		<sequence>

			<element name="payment_order_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_order_status" type="tns:dictionary_article" nillable="true" minOccurs="0" maxOccurs="1"/>

			<element name="payment_parameter" type="tns:payment_parameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>

			<element name="document" type="tns:document" nillable="true" minOccurs="0" maxOccurs="1"/>

		</sequence>
	</complexType>

	<complexType name="payment_parameter">
		<sequence>
			<element name="payment_parameter_name" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="payment_parameter_value" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>


	<complexType name="amount">
		<sequence>
			<element name="amount_value" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="currency" type="tns:currency" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="document">
		<sequence>

			<element name="document_id" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="long">
						<minInclusive value="1"/>
						<maxInclusive value="9999999999999999"/>
					</restriction>
				</simpleType>
			</element>

			<element name="document_type" type="tns:dictionary_article" minOccurs="1" maxOccurs="1">
			</element>

			<element name="document_date" type="date" minOccurs="1" maxOccurs="1"/>

			<element name="document_number" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="2"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>

			<element name="document_content" type="tns:document_content" nillable="true" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>
	</complexType>

	<complexType name="document_content">
		<sequence>

			<element name="content_type" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="tns:dictionary_article">
						<enumeration value="DCCT0001"/> <!-- Main document -->
						<enumeration value="DCCT0002"/> <!-- Digital signature of client -->
						<enumeration value="DCCT0003"/> <!-- Registration mark -->
						<enumeration value="DCCT0004"/> <!-- Registration mark operator's digital signature -->
						<enumeration value="DCCT0005"/> <!-- Execution mark -->
						<enumeration value="DCCT0006"/> <!-- Execution mark operator's digital signature -->
					</restriction>
				</simpleType>
			</element>

			<element name="content" type="string" minOccurs="1" maxOccurs="1"/>

		</sequence>
	</complexType>

	<complexType name="operations">
		<sequence>
			<element name="operation" type="tns:operation" maxOccurs="unbounded" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="service_terms">
		<sequence>
			<element name="service_term" type="tns:service_term"
					 maxOccurs="unbounded" nillable="true" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="flexible_parameters">
		<sequence>
			<element name="flexible_parameter"
					 type="tns:flexible_parameter" maxOccurs="unbounded" nillable="true" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<element name="invoice" type="tns:invoice"/>

	<complexType name="invoice">
		<sequence>
			<element name="account_number" type="string"/>
			<element name="currency" type="tns:currency"/>
			<element name="serial_number" type="int"/>
			<element name="invoice_type" type="tns:dictionary_article"/>
			<element name="exceed_limit" type="decimal"/>
			<element name="total_amount_due" type="decimal"/>
			<element name="own_funds" type="decimal"/>
			<element name="min_amount_due" type="decimal"/>
			<element name="start_date" type="date"/>
			<element name="invoice_date" type="date"/>
			<element name="grace_date" type="date"/>
			<element name="due_date" type="date"/>
			<element name="penalty_date" type="date"/>
			<element name="aging_period" type="int"/>
			<element name="is_tad_paid" type="int"/>
			<element name="is_mad_paid" type="int"/>
			<element name="statement_date" type="date"/>
			<element name="customer_name" type="string"/>
			<element name="customer_address" type="string"/>
			<element name="invoice_begin_date" type="date"/>
			<element name="invoice_end_date" type="date"/>
			<element name="total_income" type="decimal"/>
			<element name="total_expenses" type="decimal"/>
			<element name="interest_amount" type="decimal"/>
			<element name="fee_amount" type="decimal"/>
			<element name="overdue_amount" type="decimal"/>
			<element name="overdue_interest_amount" type="decimal"/>
			<element name="penalty_fee_amount" type="decimal"/>
			<element name="incoming_debt" type="decimal"/>
			<element name="outgoing_debt" type="decimal"/>
			<element name="operations_total" type="tns:operations_total" maxOccurs="1" minOccurs="0"/>
			<element name="operations_details" type="tns:operations_details" maxOccurs="1" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="operations_total">
		<sequence>
			<element name="operation_total" type="tns:operation_total" maxOccurs="unbounded" minOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="operation_total">
		<sequence>
			<element name="operation_type" type="string"/>
			<element name="operation_currency" type="string"/>
			<element name="total_operation_count" type="int"/>
			<element name="total_operation_amount" type="decimal"/>
		</sequence>
	</complexType>

	<complexType name="operations_details">
		<sequence>
			<element name="operation_details" type="tns:operation_details" maxOccurs="unbounded" minOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="operation_details">
		<sequence>
			<element name="oper_date" type="date"/>
			<element name="oper_type" type="string"/>
			<element name="income" type="decimal"/>
			<element name="expenses" type="decimal"/>
			<element name="credit" type="decimal"/>
			<element name="repayment" type="decimal"/>
			<element name="percent" type="decimal"/>
			<element name="operation_description" type="string"/>
		</sequence>
	</complexType>

	<element name="transaction" type="tns:transaction"/>

	<complexType name="transaction">
		<sequence>
			<element name="object_id" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="original_id" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="transaction_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="description" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="transaction_type" type="tns:dictionary_article" minOccurs="1" maxOccurs="1"/>
			<element name="transaction_type_description" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="oper_type" type="tns:dictionary_article" minOccurs="1" maxOccurs="1"/>
			<element name="oper_type_description" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="amount_purpose" type="tns:dictionary_article" minOccurs="1" maxOccurs="1"/>
			<element name="amount_purpose_description" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="oper_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="posting_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_name" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>
			<element name="merchant_street" minOccurs="0"
					 maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>
			<element name="merchant_city" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>
			<element name="merchant_country" minOccurs="0"
					 maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="3"/>
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>
			<element name="currency" type="tns:currency" minOccurs="1" maxOccurs="1"/>
			<element name="amount" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="aval_bal" type="decimal" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="transactions" type="tns:transactions"/>

	<complexType name="transactions">
		<sequence>
			<element name="transaction" type="tns:transaction" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="report" type="tns:statement"/>

	<complexType name="statement">
		<sequence>
			<element name="customer_account" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="currency" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="customer_name" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="customer_address" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="start_date" type="date" maxOccurs="1" minOccurs="1"/>
			<element name="invoice_date" type="date" maxOccurs="1" minOccurs="1"/>
			<element name="grace_end_date" type="date" maxOccurs="1" minOccurs="1"/>
			<element name="credit_limit" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="available_balance" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="ledger_balance" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="beginning_balance" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="ending_balance" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="total_income" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="total_expence" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="total_payment" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="total_interest" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="total_penalty" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="total_amount_due" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="min_amount_due" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="due_date" type="date" maxOccurs="1" minOccurs="1"/>
			<element name="overdue" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="overdue_interest" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="operations" type="tns:statement_operations" maxOccurs="1" minOccurs="1"/>
			<element name="summary_income" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="summary_expence" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="summary_overdraft" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="summary_repayment" type="decimal" maxOccurs="1" minOccurs="1"/>
			<element name="summary_interest" type="decimal" maxOccurs="1" minOccurs="1"/>

			<element name="declared_payment_amount" type="decimal" maxOccurs="1" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="statement_operations">
		<sequence>
			<element name="operation" type="tns:statement_operation" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="statement_operation">
		<sequence>
			<element name="oper_type" type="tns:dictionary_article" maxOccurs="1" minOccurs="1"/>
			<element name="oper_description" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="card_mask" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="posting_date" type="date" maxOccurs="1" minOccurs="0"/>
			<element name="oper_date" type="date" maxOccurs="1" minOccurs="0"/>
			<element name="oper_amount" type="decimal" maxOccurs="1" minOccurs="0"/>
			<element name="oper_currency" type="tns:currency" maxOccurs="1" minOccurs="0"/>
			<element name="credit_oper_amount" type="decimal" maxOccurs="1" minOccurs="0"/>
			<element name="debit_oper_amount" type="decimal" maxOccurs="1" minOccurs="0"/>
			<element name="overdraft_amount" type="decimal" maxOccurs="1" minOccurs="0"/>
			<element name="repayment_amount" type="decimal" maxOccurs="1" minOccurs="0"/>
			<element name="interest_amount" type="decimal" maxOccurs="1" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="customer" type="tns:customer"/>

	<complexType name="customer">
		<sequence>
			<element name="id" type="long"/>

			<element name="customer_number" minOccurs="1"
					 maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>

			<element name="entity_type" minOccurs="1"
					 maxOccurs="1" >
				<simpleType>
					<restriction base="tns:dictionary_article">
						<enumeration value="ENTTPERS"><!-- Person -->
						</enumeration>
						<enumeration value="ENTTAGNT"><!-- Agent -->
						</enumeration>
						<enumeration value="ENTTCOMP"><!-- Company -->
						</enumeration>
					</restriction>
				</simpleType>
			</element>

			<element name="inst_id" type="tns:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>

			<element name="inst_name" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="contract_number" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>

			<element name="contract_name" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="person" nillable="true" minOccurs="0" maxOccurs="1" type="tns:person"/>

			<element name="company" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:company"/>

			<element name="document" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:customer_document"/>

			<element name="address" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:address"/>

			<element name="contact" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:contact"/>

			<element name="product_type" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="status" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="tns:dictionary_article">
						<enumeration value="PRDS0100"/> <!--Active -->
						<enumeration value="PRDS0200"/> <!--inactive -->
					</restriction>
				</simpleType>
			</element>

			<element name="customer_name" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="nationality" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="category" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="relation" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="resident" nillable="true" minOccurs="0" maxOccurs="1" type="boolean"/>

			<element name="credit_rating" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="money_laundry_risk" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="money_laundry_reason" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

		</sequence>

	</complexType>

	<complexType name="person">
		<sequence>
			<element name="person_id" type="long"/>

			<element name="title" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="first_name" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="second_name" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="surname" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="suffix" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="gender" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="birthday" nillable="true" minOccurs="0" maxOccurs="1" type="date"/>

			<element name="place_of_birth" nillable="true" minOccurs="0" maxOccurs="1" type="date"/>

		</sequence>
	</complexType>

	<complexType name="company">
		<sequence>
			<element name="id" type="long"/>

			<element name="embossed_name" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="label" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>

			<element name="description" nillable="true" minOccurs="0" maxOccurs="1" type="string"/>
		</sequence>
	</complexType>

	<complexType name="address">
		<sequence>
			<element name="address_type" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="address_type_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="country" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="country_name" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="postal_code" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="region" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="city" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="street" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="house" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="apartment" minOccurs="0" maxOccurs="1" type="string"/>
		</sequence>
	</complexType>

	<complexType name="contact">
		<sequence>
			<element name="contact_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="contact_type_name" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="commun_method" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="commun_method_name" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="commun_address" minOccurs="0" maxOccurs="1" type="string"/>
		</sequence>
	</complexType>

	<complexType name="customer_document">
		<sequence>
			<element name="id_type" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="id_type_name" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="id_series" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="id_number" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="id_issue_date" minOccurs="0" maxOccurs="1" type="date"/>
			<element name="id_expire_date" minOccurs="0" maxOccurs="1" type="date"/>
			<element name="id_issuer" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="comments" minOccurs="0" maxOccurs="1" type="string"/>

		</sequence>
	</complexType>

	<element name="addresses" type="tns:addresses"/>

	<complexType name="addresses">
		<sequence>
			<element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<element name="companies" type="tns:companies"/>

	<complexType name="companies">
		<sequence>
			<element name="company" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:company"/>
		</sequence>
	</complexType>

	<element name="customer_documents" type="tns:customer_documents"/>

	<complexType name="customer_documents">
		<sequence>
			<element name="customerDocument" minOccurs="0" maxOccurs="unbounded" type="tns:customer_document"/>
		</sequence>
	</complexType>

	<element name="contacts" type="tns:contacts"/>

	<complexType name="contacts">
		<sequence>
			<element name="contact" minOccurs="0" maxOccurs="unbounded" type="tns:contact"/>
		</sequence>
	</complexType>

	<element name="flex_fields" type="tns:flex_fields"/>

	<complexType name="flex_fields">
		<sequence>
			<element name="flex_filed" minOccurs="0" maxOccurs="unbounded" type="tns:flex_field"/>
		</sequence>
	</complexType>

	<complexType name="flex_field">
		<sequence>
			<element name="id" minOccurs="1" maxOccurs="1" type="int"/>
			<element name="entity_type" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="object_type" minOccurs="1" maxOccurs="1" type="string"/>
			<element name="default_number_value" minOccurs="0" maxOccurs="1" type="decimal"/>
			<element name="default_char_value" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="default_date_value" minOccurs="0" maxOccurs="1" type="date"/>
			<element name="default_lov_value" minOccurs="0" maxOccurs="1" type="string"/>
			<element name="user_defined" minOccurs="0" maxOccurs="1" type="boolean"/>
			<element name="inst_id" type="tns:institution_id" minOccurs="0" maxOccurs="1"/>
			<element name="inst_name" minOccurs="0" maxOccurs="1" type="string"/>
		</sequence>
	</complexType>


	<element name="card_details" type="tns:card_details"/>

	<complexType name="card_details">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1" />
			<element name="instance_id" type="long" minOccurs="1" maxOccurs="1" />
			<element name="card_number" type="string" minOccurs="0" maxOccurs="1" />
			<element name="card_mask" type="string" minOccurs="1" maxOccurs="1" />
			<element name="seq_number" type="string" minOccurs="1" maxOccurs="1" />
			<element name="expir_date" type="string" minOccurs="1" maxOccurs="1" />
			<element name="person_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="card_type_id" type="long" minOccurs="1" maxOccurs="1" />
			<element name="name_card_type" type="string" minOccurs="1" maxOccurs="1" />
			<element name="network_id" type="long" minOccurs="1" maxOccurs="1" />
			<element name="network_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="category" type="string" minOccurs="1" maxOccurs="1" />
			<element name="category_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="status" type="string" minOccurs="1" maxOccurs="1" />
			<element name="status_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="state" type="string" minOccurs="1" maxOccurs="1" />
			<element name="state_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="iss_date" type="date" minOccurs="0" maxOccurs="1" />
			<element name="agent_id" type="long" minOccurs="1" maxOccurs="1" />
			<element name="agent_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="is_virtual" type="boolean" minOccurs="1" maxOccurs="1" />
			<element name="counter_invalid_pin" type="long" minOccurs="1" maxOccurs="1" />
			<element name="state_change_reason" type="string" maxOccurs="1" minOccurs="0" />
			<element name="state_change_reason_description" type="string" minOccurs="0" maxOccurs="1" />
			<element name="state_change_date" type="date" minOccurs="0" maxOccurs="1" />
			<element name="state_change_user" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_state" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_state_description" type="string" minOccurs="0" maxOccurs="1" />
			<element name="status_change_reason" type="string" minOccurs="0" maxOccurs="1" />
			<element name="status_change_reason_description" type="string" minOccurs="0" maxOccurs="1" />
			<element name="status_change_date" type="date" minOccurs="0" maxOccurs="1" />
			<element name="status_change_user" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_status" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_status_description" type="string" minOccurs="0" maxOccurs="1" />
			<element name="agent_number" type="string" minOccurs="0" maxOccurs="1" />
			<element name="product_number" type="string" minOccurs="0" maxOccurs="1" />
            <element name="product_id" type="long" minOccurs="0" maxOccurs="1" />
            <element name="product_name" type="string" minOccurs="0" maxOccurs="1" />
			<element name="delivery_method" type="string" minOccurs="0" maxOccurs="1" />
			<element name="delivery_method_description" type="string" minOccurs="0" maxOccurs="1" />
			<element name="last_application_date" type="date" minOccurs="0" maxOccurs="1" />
			<element name="last_application_user" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_card_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_card_number" type="string" minOccurs="0" maxOccurs="1" />
			<element name="prev_card_mask" type="string" minOccurs="0" maxOccurs="1" />
			<element name="reissue_reason" type="string" minOccurs="0" maxOccurs="1" />
			<element name="reissue_reason_description" type="string" minOccurs="0" maxOccurs="1" />
			<element name="replace_card_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="replace_card_number" type="string" minOccurs="0" maxOccurs="1" />
			<element name="replace_card_mask" type="string" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<element name="customer_details" type="tns:customer_details"/>

	<complexType name="customer_details">
		<sequence>
			<element name="customer_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="customer_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="entity_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="entity_type_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="category" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="category_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="credit_rating" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="credit_rating_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="resident" type="boolean" minOccurs="0" maxOccurs="1"/>
			<element name="nationality" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="country_code" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="country_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="relation" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="relation_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="firs_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="second_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="surname" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="gender" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="birthday" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="place_birth" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="short_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="full_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="incorp_form" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="incorp_form_name" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="objects_limits" type="tns:objects_limits" />

	<complexType name="objects_limits">
		<sequence>
			<element name="object_limits" type="tns:object_limits" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="object_limits">
		<sequence>
			<element name="entity_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="object_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="limit_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="limit_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="limit_currency" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="count_value" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="sum_value" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="sum_limit" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="count_limit" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="last_reset_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="next_date" type="date" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="card_auth_schemes" type="tns:card_auth_schemes"/>

	<complexType name="card_auth_schemes">
		<sequence>
			<element name="card_auth_schemes" type="tns:card_auth_scheme" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="card_auth_scheme">
		<sequence>
			<element name="scheme_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="auth_scheme_code" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="start_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="end_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="is_active" type="boolean" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="cardholder" type="tns:cardholder"/>

	<complexType name="cardholder">
		<sequence>
			<element name="surname" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="first_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="second_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="gender" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="birthday" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="cardholder_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="cardholder_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="document" type="tns:cardholder_document" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<element name="cardholder_name" type="tns:cardholder_name"/>
	<complexType name="cardholder_name">
		<sequence>
			<element name="first_name" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="last_name" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="cardholder_document">
		<sequence>
			<element name="type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="type_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="series" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="issuer" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="issue_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="expire_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<element name="description" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="service_providers" type="tns:service_providers"/>

	<complexType name="service_providers">
		<sequence>
			<element name="service_providers" type="tns:service_provider" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="service_provider">
		<sequence>
			<element name="purpose_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="purpose_id" type="long" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="rate" type="tns:rate"/>
	<complexType name="rate">
		<sequence>
			<element name="rate" type="decimal" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="object_cycle">
		<sequence>
			<element name="cycle_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="cycle_type_description" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="prev_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="next_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="cycle_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="cycle_description" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="entity_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="entity_description" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="object_cycles">
		<sequence>
			<element name="object_cycles" minOccurs="0" maxOccurs="unbounded" type="tns:object_cycle"/>
		</sequence>
	</complexType>

	<complexType name="account_detail">
		<sequence>
			<element name="account_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="account_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="account_type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="account_type_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="currency" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="available_balance" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="account_open_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="last_application_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="last_application_user" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status_change_reason" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="status_change_reason_description" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="status_change_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="status_change_user" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="agent_id" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="agent_name" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="agent_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="product_number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="prev_status" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="prev_status_description" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="account_details">
		<sequence>
			<element name="account_details" minOccurs="0"
					 maxOccurs="unbounded" type="tns:account_detail"/>
		</sequence>
	</complexType>

	<complexType name="account_balance">
		<sequence>
			<element name="balance_type" type="string" nillable="true" minOccurs="0"
					 maxOccurs="1">
			</element>
			<element name="balance_type_description" type="string"
					 nillable="true" minOccurs="0" maxOccurs="1">
			</element>
			<element name="amount" type="string" nillable="true" minOccurs="0"
					 maxOccurs="1">
			</element>
			<element name="currency" type="string" nillable="true" minOccurs="0"
					 maxOccurs="1">
			</element>
			<element name="amount_acc_currency" type="string"
					 nillable="true" minOccurs="0" maxOccurs="1">
			</element>
			<element name="account_currency" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="account_balances">
		<sequence>
			<element name="account_balances" nillable="true" minOccurs="0"
					 maxOccurs="unbounded" type="tns:account_balance"/>
		</sequence>
	</complexType>

	<complexType name="card_feature">
		<sequence>
			<element name="card_feature" type="string" nillable="true" minOccurs="0"
					 maxOccurs="1">
			</element>
			<element name="feature_description" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="card_features">
		<sequence>
			<element name="card_features" nillable="true" minOccurs="0"
					 maxOccurs="unbounded" type="tns:card_feature"/>
		</sequence>
	</complexType>

	<element name="credit_account" type="tns:credit_account"/>
	<complexType name="credit_account">
		<sequence>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="repaymentAccountNumber" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="closingDate" type="date"/>
			<element maxOccurs="1" minOccurs="1" name="fullLoanDebtAmount" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="creditAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="interestRate" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="interestAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="surchargeRate" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="surchargeAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="fullRepaymentAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="creditRepaymentAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="interestRepaymentAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="surchargeRepaymentAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="fullRemainingAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="creditRemainingAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="interestRemainingAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="surchargeRemainingAmount" type="string"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="nextDueDate" type="date"/>
			<element maxOccurs="1" nillable="true" minOccurs="0" name="nextDueAmount" type="string"/>
		</sequence>
	</complexType>


	<element name="customer_info" type="tns:customer_info"/>
	<complexType name="customer_info">
		<sequence>
			<element name="name" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="msisdn" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="auth" type="tns:auth"/>
	<complexType name="auth">
		<sequence>
			<element name="inst_id" type="tns:institution_id" maxOccurs="1" minOccurs="1"/>
			<element name="customer_id" type="long" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_by_person_data">
		<sequence>
			<element name="id" type="long" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="card_number_by_phone">
		<sequence>
			<choice minOccurs="1" maxOccurs="1">
				<element name="card_number" type="string" minOccurs="1" maxOccurs="1"/>
				<element name="card_mask" type="string" minOccurs="1" maxOccurs="1"/>
			</choice>
		</sequence>
	</complexType>

	<complexType name="contract_list_request">
		<sequence>
			<element name="customer_id" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="customer_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
			<choice minOccurs="0" maxOccurs="1">
				<element name="card_number" type="string" nillable="true" minOccurs="1" maxOccurs="1"/>
				<element name="card_id" type="string" nillable="true" minOccurs="1" maxOccurs="1"/>
			</choice>
			<choice minOccurs="0" maxOccurs="1">
				<element name="account_number" type="string" nillable="true" minOccurs="1" maxOccurs="1"/>
				<element name="account_id" type="long" nillable="true" minOccurs="1" maxOccurs="1"/>
			</choice>
			<element name="seq_number" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="expiry_date" type="date" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="instance_id" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="contract_item">
		<sequence>
			<element name="contract_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="contract_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="product" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="start_date" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="end_date" type="date" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="contract_list_response">
		<sequence>
			<element name="contract" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:contract_item"/>
		</sequence>
	</complexType>

	<complexType name="remote_banking_activity_request">
		<sequence>
			<element name="customer_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="merchant_stat_response" type="tns:merchant_stat_response"/>
	<complexType name="merchant_stat_response">
		<sequence>
			<element name="customer_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="date_stat" type="tns:date_stat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<element name="products_by_inst_and_customer" type="tns:products_by_inst_and_customer"/>
	<complexType name="products_by_inst_and_customer">
		<sequence>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
			<element name="customer_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="product" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:product_item"/>
		</sequence>
	</complexType>
	<complexType name="product_item">
		<sequence>
			<element name="id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="description" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="product" type="tns:product_item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<element name="transactions_by_inst_and_customer" type="tns:transactions_by_inst_and_customer"/>
	<complexType name="transactions_by_inst_and_customer">
		<sequence>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
			<element name="customer_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="transaction" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns:transaction_item"/>
		</sequence>
	</complexType>

	<complexType name="transaction_item">
		<sequence>
			<element name="transaction_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="date_time" type="dateTime" minOccurs="1" maxOccurs="1"/>
			<element name="response_code" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="masked_pan" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="account_number" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="card_type" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="terminal" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="amount" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="currency" type="tns:currency" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="debit_credit_sign" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="is_reversal" type="boolean" nillable="true" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="currencies">
		<sequence>
			<element name="currency" type="tns:currency" minOccurs="1" maxOccurs="1"/>
			<element name="amount_sum" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="fee_sum" type="decimal" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="date_stat">
		<sequence>
			<element name="date" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="currencies" type="tns:currencies" minOccurs="1" maxOccurs="unbounded"/>
			<element name="trxn_count_total" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="trxn_count_pay" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="trxn_count_trf" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="trxn_count_dep" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="trxn_count_cash" type="int" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_by_card">
		<sequence>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
			<element name="customer" type="tns:customer_item" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_item">
		<sequence>
			<element name="customer_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="customer_number" type="string" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="fin_overview">
		<sequence>
			<element name="cardholder_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="cardholder_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="accounts" type="tns:fin_overview_accounts" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="fin_overview_accounts">
		<sequence>
			<element name="account" type="tns:fin_overview_account" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="fin_overview_account">
		<sequence>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="account_id" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="currency" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="amount_due" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="total_amount_due" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="due_date" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="fees" type="tns:fin_overview_fees" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="fin_overview_fees">
		<sequence>
			<element name="fee" type="tns:fin_overview_fee" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="fin_overview_fee">
		<sequence>
			<element name="fee_amount" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="fee_currency" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="fee_type" type="string" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="credit_card_payments">
		<sequence>
			<element name="account" type="tns:crd_pmnt_account" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="crd_pmnt_account">
		<sequence>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="account_id" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="total_amount_due" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="minimum_amount_due" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="due_date" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="currency" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="payments" type="tns:crd_pmnt_payments" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="crd_pmnt_payments">
		<sequence>
			<element name="payment" type="tns:crd_pmnt_payment" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="crd_pmnt_payment">
		<sequence>
			<element name="amount" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="currency" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="ref_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="payment_date" type="date" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_by_card">
		<sequence>
			<element name="customer" type="tns:customer_info_customer" minOccurs="1" maxOccurs="1"/>
			<element name="card" type="tns:customer_info_card" minOccurs="1" maxOccurs="1"/>
			<element name="accounts" type="tns:customer_info_accounts" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_customer">
		<sequence>
			<element name="customer_name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="customer_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="customer_phone_number" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<element name="customer_document" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="addresses" type="tns:customer_info_addresses" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="national_id" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="branch_code" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_addresses">
		<sequence>
			<element name="address" type="tns:customer_info_address" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_address">
		<sequence>
			<element name="address_type" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="postal_code" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="country" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="region" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="city" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="street" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="house" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="apartment" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_card">
		<sequence>
			<element name="card_id" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="card_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="card_seq_number" nillable="true" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
						<maxInclusive value="9999"/>
					</restriction>
				</simpleType>
			</element>
			<element name="card_expiry_date" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="client_tariff" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_accounts">
		<sequence>
			<element name="account" type="tns:customer_info_account" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="customer_info_account">
		<sequence>
			<element name="account_id" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="currency" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="credit_limit" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="interest_rate" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="repayment_debt_operation_response">
		<sequence>
			<element name="response_code" type="tns:response_code" minOccurs="1" maxOccurs="1"/>
			<element name="error" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="payment_information_response">
		<sequence>
			<element name="short_card_mask" type="tns:short_card_mask" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="number_id" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="customer_id" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="cardholder_name" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="account_number" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="currency" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="tad" type="decimal" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="last_payment_flag" type="int" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="due_date" type="date" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="daily_mad" type="decimal" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="customer_name" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="payment_information_request">
		<sequence>
			<element name="short_card_mask" type="tns:short_card_mask" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="type_id" type="tns:type_id" default="IDTP0045" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="series_id" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="account_number" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="inst_id" type="tns:institution_id" nillable="true" minOccurs="0" maxOccurs="1" />
			<element name="number_id" type="string" nillable="true" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<simpleType name="short_card_mask">
		<annotation>
			<documentation>The last four digits of the customer card number</documentation>
		</annotation>
		<restriction base="string">
			<length value="4" />
		</restriction>
	</simpleType>

	<simpleType name="type_id">
		<restriction base="string">
			<enumeration value="IDTP0045" />
		</restriction>
	</simpleType>


	<simpleType name="external_auth_id">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="new_count">
		<restriction base="int">
			<minInclusive value="0"/>
			<maxInclusive value="9999"/>
		</restriction>
	</simpleType>


	<simpleType name="acceleration_type">
		<restriction base="string">
			<minLength value="8"/>
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="check_mad_aging_unpaid">
		<restriction base="int">
			<minInclusive value="0"/>
			<maxInclusive value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="response_code">
		<restriction base="string">
			<enumeration value="OK"/>
			<enumeration value="ERROR"/>
		</restriction>
	</simpleType>

	<complexType name="sorting">
		<sequence>
			<element name="field" type="tns:sorting_field" minOccurs="1" maxOccurs="1" />
			<element name="direction" type="tns:sorting_direction" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<simpleType name="sorting_field">
		<restriction base="string">
			<enumeration value="ID"/>
			<enumeration value="OPERATION_TYPE"/>
			<enumeration value="OPERATION_DATE"/>
			<enumeration value="STATUS"/>
			<enumeration value="TERMINAL_NUMBER"/>
		</restriction>
	</simpleType>

	<simpleType name="sorting_direction">
		<restriction base="string">
			<enumeration value="ASC"/>
			<enumeration value="DESC"/>
		</restriction>
	</simpleType>

	<complexType name="dpp_installments_request">
		<sequence>
			<element name="dpp_amount" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="account" type="tns:dpp_account_choice" minOccurs="1" maxOccurs="1"/>
			<element name="calc_algorithm" type="tns:dpp_calc_algorithm" nillable="true" minOccurs="1" maxOccurs="1"/>
			<choice minOccurs="1" maxOccurs="1">
				<element name="installment_count" type="int" nillable="true" minOccurs="1" maxOccurs="1"/>
				<element name="installment_amount" type="decimal" nillable="true" minOccurs="1" maxOccurs="1"/>
			</choice>
			<element name="fee_id" type="long" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="first_installment_date" type="date" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="inst_id" type="tns:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_installments_response">
		<sequence>
			<element name="dpp" type="tns:dpp_program" minOccurs="0" maxOccurs="1"/>
			<element name="installments" type="tns:installments" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_account_choice">
		<sequence>
			<choice minOccurs="1" maxOccurs="1">
				<element name="account_id" type="long" nillable="true" minOccurs="1" maxOccurs="1"/>
				<element name="account_number" type="string" nillable="true" minOccurs="1" maxOccurs="1"/>
			</choice>
		</sequence>
	</complexType>

	<complexType name="dpp_program">
		<sequence>
			<element name="account" type="tns:dpp_account" minOccurs="0" maxOccurs="1"/>
			<element name="dpp_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="status" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
			<element name="posting_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="min_early_repayment" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="acceleration_reason" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
			<element name="entities" type="tns:dpp_entities" minOccurs="0" maxOccurs="1"/>
			<element name="installment_plan" type="tns:installment_plan" minOccurs="0" maxOccurs="1"/>
			<element name="cancel_parameters" type="tns:cancel_params" minOccurs="0" maxOccurs="1"/>
			<element name="cycles" type="tns:dpp_cycles" minOccurs="0" maxOccurs="1"/>
			<element name="fees" type="tns:dpp_fees" minOccurs="0" maxOccurs="1"/>
			<element name="operation" type="tns:dpp_operation" minOccurs="0" maxOccurs="1"/>
			<element name="macros" type="tns:dpp_macros" minOccurs="0" maxOccurs="1"/>
			<element name="algorithms" type="tns:algorithms" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_account">
		<sequence>
			<element name="account_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="installments">
		<sequence>
			<element name="installment" type="tns:installment" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="dpp_entities">
		<sequence>
			<element name="inst_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="account_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="card_uid" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="product_id" type="long" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="installment_plan">
		<sequence>
			<element name="installment_count" type="int" minOccurs="0" maxOccurs="1"/>
			<element name="installment_amount" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="interest_rate" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="dpp_amount" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="dpp_currency" type="tns:currency" minOccurs="0" maxOccurs="1"/>
			<element name="dpp_limit" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="fixed_installment" type="int" minOccurs="0" maxOccurs="1"/>
			<element name="installment_period" type="int" minOccurs="0" maxOccurs="1"/>
			<element name="fixed_amount" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="first_installment_date" type="date" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="cancel_params">
		<sequence>
			<element name="cancel_m_type_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="cancel_m_intr_type_id" type="long" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_cycles">
		<sequence>
			<element name="main_cycle_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="first_cycle_id" type="long" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_fees">
		<sequence>
			<element name="fee_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="acceleration_fee_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="cancel_fee_id" type="long" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_operation">
		<sequence>
			<element name="oper_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="reg_oper_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="oper_type" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
			<element name="oper_date" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="oper_amount" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="oper_currency" type="tns:currency" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dpp_macros">
		<sequence>
			<element name="macros_type_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="macros_intr_type_id" type="long" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="cardholder_ext_request">
		<sequence>
			<element name="cardholder_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="cardholder_number" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="200"/>
					</restriction>
				</simpleType>
			</element>
			<element name="inst_id" type="tns:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="lang" type="tns:language" nillable="true" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="cardholder_ext">
		<complexContent>
			<extension base="tns:cardholder">
				<sequence>
					<element name="address" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
					<element name="contact" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="algorithms">
		<sequence>
			<element name="calculation_algorithm" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
			<element name="rate_algorithm" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="installment">
		<sequence>
			<element name="id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="installment_number" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="installment_date" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="amount" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="interest" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="repayment" type="decimal" minOccurs="0" maxOccurs="1"/>
			<element name="is_posted" type="boolean" minOccurs="0" maxOccurs="1"/>
			<element name="macros_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="need_acceleration" type="boolean" minOccurs="0" maxOccurs="1"/>
			<element name="acceleration_type" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
			<element name="period_days_count" type="int" minOccurs="0" maxOccurs="1"/>
			<element name="fee_id" type="long" minOccurs="0" maxOccurs="1"/>
			<element name="acceleration_reason" type="tns:dictionary_article" minOccurs="0" maxOccurs="1"/>
			<element name="period_percent_rate" type="decimal" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="unbilled_debts_request">
		<sequence>
			<choice minOccurs="1" maxOccurs="1">
				<element name="account_id" type="long" minOccurs="1" maxOccurs="1"/>
				<group ref="tns:account_group" minOccurs="1" maxOccurs="1"/>
			</choice>
		</sequence>
	</complexType>

	<complexType name="unbilled_debts_response">
		<sequence>
			<element name="debt" type="tns:unbilled_debt" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<group name="account_group">
		<sequence>
			<element name="account_number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="inst_id" type="tns:institution_id" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</group>

	<complexType name="unbilled_debt">
		<sequence>
			<element name="debt_id" type="long" minOccurs="1" maxOccurs="1"/>
			<element name="card_id" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="card_mask" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="sttl_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="oper_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="oper_type_desc" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="terminal_type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="terminal_type_desc" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_name" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="merchant_number" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="oper_date" type="dateTime" minOccurs="1" maxOccurs="1"/>
			<element name="posting_date" type="dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="oper_amount" type="decimal" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="oper_currency" type="tns:currency" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="debt_amount" type="decimal" minOccurs="1" maxOccurs="1"/>
			<element name="debt_currency" type="tns:currency" minOccurs="1" maxOccurs="1"/>
			<element name="mcc" type="string" nillable="true" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<simpleType name="dpp_calc_algorithm">
		<restriction base="tns:dictionary_article">
			<pattern value="DPPA[A-Z0-9]{1,4}"/>
		</restriction>
	</simpleType>

	<simpleType name="institution_id">
		<restriction base="int">
			<minInclusive value="1000"/>
			<maxInclusive value="9999"/>
		</restriction>
	</simpleType>

	<simpleType name="language">
		<restriction base="tns:dictionary_article">
			<pattern value="LANG[A-Z0-9]{1,4}"/>
		</restriction>
	</simpleType>

	<simpleType name="max_count">
		<restriction base="string">
			<pattern value="[0-9]+"/>
			<pattern value="UNLIMITED"/>
		</restriction>
	</simpleType>

	<simpleType name="medium_id">
		<restriction base="long">
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="short_id">
		<restriction base="int">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="account_number">
		<restriction base="string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dict_value">
		<restriction base="string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="name">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="card_number">
		<restriction base="string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>

	<simpleType name="expir_date">
		<restriction base="string">
			<maxLength value="7"/>
		</restriction>
	</simpleType>
</schema>
