spec/spec/SVWS/IntegrationPlatform/info.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://bpc.ru/SVXP/integration"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="info"
                  targetNamespace="http://bpc.ru/SVXP/integration">
    <wsdl:types>
            <xsd:schema targetNamespace="http://bpc.ru/SVXP/integration" xmlns:tns1="http://bpc.ru/SVXP">
            <xsd:import namespace="http://bpc.ru/SVXP" schemaLocation="info.xsd"/>

            <xsd:complexType name="fault">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string" maxOccurs="1" nillable="true" minOccurs="0"/>
                    <xsd:element name="description" type="xsd:string" maxOccurs="1" nillable="true" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="Fault" type="tns:fault"/>

            <xsd:element name="authRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="card_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="keyword" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authResponse" type="tns1:auth"/>

            <xsd:element name="getCustomerInfoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="customer_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCustomerInfoResponse" type="tns1:customer_info"/>

            <xsd:element name="getCardsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:sequence>
                                <xsd:element name="customer_id" type="tns1:medium_id" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                            <xsd:sequence>
                                <xsd:element name="customer_number" type="tns1:name" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                            <xsd:sequence>
                                <xsd:element name="cardholder_number" type="tns1:name" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                            <xsd:sequence>
                                <xsd:element name="card_mask" type="tns1:card_number" nillable="true" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="account_number" type="tns1:account_number" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="account_id" type="tns1:medium_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="state" type="tns1:dict_value" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="status" type="tns1:dict_value" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="get_balance" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="card_type" type="tns1:dict_value" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="card_type_id" type="tns1:medium_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="product_id" type="tns1:short_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="expir_date" type="tns1:expir_date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:choice minOccurs="0" maxOccurs="1">
                            <xsd:sequence>
                                <xsd:element name="creation_date" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                            <xsd:sequence>
                                <xsd:element name="registration_date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="registration_time" type="xsd:time" nillable="true" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:choice>
                        <xsd:element name="card_status" type="tns1:dict_value" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="embossed_name" type="tns1:name" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="cardholder_name" type="tns1:cardholder_name" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCardsResponse" type="tns1:cards"/>

            <xsd:element name="getOperationsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="uid" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="card_id" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="card_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="account_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="account_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="customer_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="customer_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="start_date" type="xsd:date" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="end_date" type="xsd:date" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="statuses" type="tns1:statuses" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="oper_type" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="msg_type" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="match_status" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="merchant_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="merchant_name" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOperationsResponse" type="tns1:operations"/>

            <xsd:element name="getCustomerNtfSettingsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="customer_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="customer_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="account_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="account_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="card_id" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="card_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCustomerNtfSettingsResponse" type="tns1:customer_ntfs_settings"/>

            <xsd:element name="generatePinBlockRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pin" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="card_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="key" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="format" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="generatePinBlockResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pin_block" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getInvoiceRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="account_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="invoice_age" type="xsd:long" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="include_oper_details" type="xsd:boolean" maxOccurs="1" nillable="true" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getInvoiceResponse" type="tns1:invoice"/>

            <xsd:element name="getPostedTransactionsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="account_number" type="xsd:string" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="object_id" type="xsd:string" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="date_from" type="xsd:dateTime" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="date_to" type="xsd:dateTime" maxOccurs="1" nillable="true" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPostedTransactionsResponse" type="tns1:transactions"/>

            <xsd:element name="getCreditStatementRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="account_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" maxOccurs="1" nillable="true" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCreditStatementResponse" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="report" type="tns1:statement" maxOccurs="1" minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getAccountsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="customer_number" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="customer_id" type="xsd:long" nillable="true" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="card_number" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="card_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="status" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="account_type" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="balance_type" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAccountsResponse" type="tns1:accounts"/>

            <xsd:element name="getAddressesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="customer_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                            <xsd:element name="customer_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAddressesResponse" type="tns1:addresses"/>

            <xsd:element name="getAccountPaymentDetailsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="account_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAccountPaymentDetailsResponse" type="tns1:account_payment_details"/>

            <xsd:element name="getCardDetailsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="instance_id" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="card_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="seq_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="expir_date" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="card_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="card_type_id" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCardDetailsResponse" type="tns1:card_details"/>

            <xsd:element name="getCustomerDetailsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="customer_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="customer_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCustomerDetailsResponse" type="tns1:customer_details"/>

            <xsd:element name="getRateForInstRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="rate_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="src_currency" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="dst_currency" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="eff_date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getRateForInstResponse" type="tns1:rate"/>

            <xsd:element name="getDocumentsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="customer_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                            <xsd:element name="customer_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="get_only_actual" type="xsd:boolean" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getDocumentsResponse" type="tns1:customer_documents"/>

            <xsd:element name="getContactsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="customer_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                            <xsd:element name="customer_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="get_only_actual" type="xsd:boolean" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getContactsResponse" type="tns1:contacts"/>

            <xsd:element name="getFlexFieldsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entity_type" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="object_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFlexFieldsResponse" type="tns1:flex_fields"/>

            <xsd:element name="getObjectLimitsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="customer_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="customer_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="account_id" type="xsd:long" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="account_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            </xsd:choice>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                                <xsd:element name="card_id" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="card_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" nillable="true" minOccurs="0"/>
                            </xsd:choice>
                        </xsd:choice>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getObjectLimitsResponse" type="tns1:objects_limits"/>

            <xsd:element name="setAuthSchemeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AuthSchemeCode" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="StartDate" type="xsd:dateTime" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="EndDate" type="xsd:dateTime" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="CardNumber" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            <xsd:element name="CardId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCardAuthSchemesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="card_id" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                            <xsd:element name="card_number" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="only_active" type="xsd:boolean" maxOccurs="1" nillable="true" minOccurs="0"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCardAuthSchemesResponse" type="tns1:card_auth_schemes"/>

            <xsd:element name="getCardholderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="card_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="card_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCardholderResponse" type="tns1:cardholder"/>

            <xsd:element name="getServiceProvidersRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getServiceProvidersResponse" type="tns1:service_providers"/>

            <xsd:element name="getObjectCyclesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entity_type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="object_id" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getObjectCyclesResponse" type="tns1:object_cycles"/>

            <xsd:element name="getAccountDetailsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="account_id" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="account_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAccountDetailsResponse" type="tns1:account_details"/>

            <xsd:element name="getAccountBalancesResponse" type="tns1:account_balances"/>
            <xsd:element name="getAccountBalancesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="account_id" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="account_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCardFeaturesResponse" type="tns1:card_features"/>
            <xsd:element name="getCardFeaturesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element name="card_id" type="xsd:string" maxOccurs="1" nillable="true" minOccurs="0"/>
                            <xsd:element name="card_number" type="xsd:string" maxOccurs="1" nillable="true" minOccurs="0"/>
                            <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCreditAccountResponse" type="tns1:credit_account"/>
            <xsd:element name="getCreditAccountRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice maxOccurs="1" minOccurs="1">
                            <xsd:element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
                            <xsd:sequence>
                                <xsd:element name="accountNumber" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                                <xsd:element name="instId" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:choice>
                        <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
                        <xsd:element maxOccurs="1" nillable="true" minOccurs="0" name="effDate" type="xsd:date"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCustomerByPersonDataResponse" type="tns1:customer_by_person_data"/>
            <xsd:element name="getCustomerByPersonDataRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inst_id" type="tns1:institution_id" maxOccurs="1" minOccurs="1"/>
                        <xsd:element name="commun_method" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="commun_address" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="id_type" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="id_series" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="id_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="max_count" type="tns1:max_count" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCardByPhoneResponse" type="tns1:card_number_by_phone"/>
            <xsd:element name="getCardByPhoneRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="commun_address" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="card_mask" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getContractListResponse" type="tns1:contract_list_response"/>
            <xsd:element name="getContractListRequest" type="tns1:contract_list_request"/>

            <xsd:element name="getRemoteBankingActivityResponse" type="xsd:boolean"/>
            <xsd:element name="getRemoteBankingActivityRequest" type="tns1:remote_banking_activity_request"/>

            <xsd:element name="getMerchantStatResponse" type="tns1:merchant_stat_response"/>
            <xsd:element name="getMerchantStatRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="customer_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="start_date" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="end_date" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getProductsResponse" type="tns1:products_by_inst_and_customer"/>
            <xsd:element name="getProductsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="customer_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getTransactionsResponse" type="tns1:transactions_by_inst_and_customer"/>
            <xsd:element name="getTransactionsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inst_id" type="tns1:institution_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="customer_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="card_type_id" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="masked_pan" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="account_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="transaction_date_from" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="transaction_date_to" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="transaction_type" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="response_code" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="transactions_sorting" type="tns1:sorting" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="transaction_direction_sorting" type="tns1:sorting_direction" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCustomerByCardRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="card_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCustomerByCardResponse" type="tns1:customer_by_card"/>

            <xsd:element name="getFinancialOverviewRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="card_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="account_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFinancialOverviewResponse" type="tns1:fin_overview"/>

            <xsd:element name="getCreditCardPaymentsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="card_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="account_number" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCreditCardPaymentsResponse" type="tns1:credit_card_payments"/>

            <xsd:element name="getCustomerInfoByCardRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="card_number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="lang" type="tns1:language" nillable="true" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="inst_id" type="tns1:institution_id" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCustomerInfoByCardResponse" type="tns1:customer_info_by_card"/>

            <xsd:element name="repaymentDebtOperationResponse" type="tns1:repayment_debt_operation_response"/>
            <xsd:element name="repaymentDebtOperationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="external_auth_id" type="tns1:external_auth_id" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="new_count" type="tns1:new_count" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="payment_amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="acceleration_type" type="tns1:acceleration_type" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="check_mad_aging_unpaid" type="tns1:check_mad_aging_unpaid" nillable="true" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getPaymentInformationRequest" type="tns1:payment_information_request" />
            <xsd:element name="getPaymentInformationResponse" type="tns1:payment_information_response" />

            <xsd:element name="getDppInstallmentsRequest" type="tns1:dpp_installments_request" />
            <xsd:element name="getDppInstallmentsResponse" type="tns1:dpp_installments_response" />

	        <xsd:element name="getCardholderExtRequest"  type="tns1:cardholder_ext_request"/>
	        <xsd:element name="getCardholderExtResponse" type="tns1:cardholder_ext"/>

            <xsd:element name="getUnbilledDebtsRequest"  type="tns1:unbilled_debts_request"/>
            <xsd:element name="getUnbilledDebtsResponse" type="tns1:unbilled_debts_response"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="authRequest">
        <wsdl:part element="tns:authRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="authResponse">
        <wsdl:part element="tns:authResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="getCustomerInfoRequest">
        <wsdl:part element="tns:getCustomerInfoRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="getCustomerInfoResponse">
        <wsdl:part element="tns:getCustomerInfoResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="getCardsRequest">
        <wsdl:part element="tns:getCardsRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="getCardsResponse">
        <wsdl:part element="tns:getCardsResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="getOperationsRequest">
        <wsdl:part name="input" element="tns:getOperationsRequest"/>
    </wsdl:message>
    <wsdl:message name="getOperationsResponse">
        <wsdl:part name="output" element="tns:getOperationsResponse"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="tns:Fault"/>
    </wsdl:message>
    <wsdl:message name="generatePinBlockRequest">
        <wsdl:part name="input" element="tns:generatePinBlockRequest"/>
    </wsdl:message>
    <wsdl:message name="generatePinBlockResponse">
        <wsdl:part name="output" element="tns:generatePinBlockResponse"/>
    </wsdl:message>
    <wsdl:message name="getInvoiceRequest">
        <wsdl:part name="input" element="tns:getInvoiceRequest"/>
    </wsdl:message>
    <wsdl:message name="getInvoiceResponse">
        <wsdl:part name="output" element="tns:getInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getCustomerNtfSettingsRequest">
        <wsdl:part name="input" element="tns:getCustomerNtfSettingsRequest"/>
    </wsdl:message>
    <wsdl:message name="getCustomerNtfSettingsResponse">
        <wsdl:part name="output" element="tns:getCustomerNtfSettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="getPostedTransactionsRequest">
        <wsdl:part name="input" element="tns:getPostedTransactionsRequest"/>
    </wsdl:message>
    <wsdl:message name="getPostedTransactionsResponse">
        <wsdl:part name="output" element="tns:getPostedTransactionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getCreditStatementRequest">
        <wsdl:part name="input" element="tns:getCreditStatementRequest"/>
    </wsdl:message>
    <wsdl:message name="getCreditStatementResponse">
        <wsdl:part name="output" element="tns:getCreditStatementResponse"/>
    </wsdl:message>
    <wsdl:message name="getCardDetailsRequest">
        <wsdl:part name="input" element="tns:getCardDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="getCardDetailsResponse">
        <wsdl:part name="output" element="tns:getCardDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getCustomerDetailsRequest">
        <wsdl:part name="input" element="tns:getCustomerDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="getCustomerDetailsResponse">
        <wsdl:part name="output" element="tns:getCustomerDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getRateForInstRequest">
        <wsdl:part name="input" element="tns:getRateForInstRequest"/>
    </wsdl:message>
    <wsdl:message name="getRateForInstResponse">
        <wsdl:part name="output" element="tns:getRateForInstResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccountPaymentDetailsRequest">
        <wsdl:part name="input" element="tns:getAccountPaymentDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="getAccountPaymentDetailsResponse">
        <wsdl:part name="output" element="tns:getAccountPaymentDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccountsRequest">
        <wsdl:part name="input" element="tns:getAccountsRequest"/>
    </wsdl:message>
    <wsdl:message name="getAccountsResponse">
        <wsdl:part name="output" element="tns:getAccountsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAddressesRequest">
        <wsdl:part name="input" element="tns:getAddressesRequest"/>
    </wsdl:message>
    <wsdl:message name="getAddressesResponse">
        <wsdl:part name="output" element="tns:getAddressesResponse"/>
    </wsdl:message>
    <wsdl:message name="getDocumentsRequest">
        <wsdl:part name="input" element="tns:getDocumentsRequest"/>
    </wsdl:message>
    <wsdl:message name="getDocumentsResponse">
        <wsdl:part name="output" element="tns:getDocumentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getContactsRequest">
        <wsdl:part name="input" element="tns:getContactsRequest"/>
    </wsdl:message>
    <wsdl:message name="getContactsResponse">
        <wsdl:part name="output" element="tns:getContactsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFlexFieldsRequest">
        <wsdl:part name="input" element="tns:getFlexFieldsRequest"/>
    </wsdl:message>
    <wsdl:message name="getFlexFieldsResponse">
        <wsdl:part name="output" element="tns:getFlexFieldsResponse"/>
    </wsdl:message>
    <wsdl:message name="getObjectLimitsRequest">
        <wsdl:part name="input" element="tns:getObjectLimitsRequest"/>
    </wsdl:message>
    <wsdl:message name="getObjectLimitsResponse">
        <wsdl:part name="output" element="tns:getObjectLimitsResponse"/>
    </wsdl:message>
    <wsdl:message name="setAuthSchemeRequest">
        <wsdl:part name="input" element="tns:setAuthSchemeRequest"/>
    </wsdl:message>
    <wsdl:message name="setAuthSchemeResponse"/>
    <wsdl:message name="getCardAuthSchemesRequest">
        <wsdl:part name="input" element="tns:getCardAuthSchemesRequest"/>
    </wsdl:message>
    <wsdl:message name="getCardAuthSchemesResponse">
        <wsdl:part name="output" element="tns:getCardAuthSchemesResponse"/>
    </wsdl:message>
    <wsdl:message name="getCardholderRequest">
        <wsdl:part name="input" element="tns:getCardholderRequest"/>
    </wsdl:message>
    <wsdl:message name="getCardholderResponse">
        <wsdl:part name="output" element="tns:getCardholderResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceProvidersRequest">
        <wsdl:part name="input" element="tns:getServiceProvidersRequest"/>
    </wsdl:message>
    <wsdl:message name="getServiceProvidersResponse">
        <wsdl:part name="output" element="tns:getServiceProvidersResponse"/>
    </wsdl:message>
    <wsdl:message name="getObjectCyclesRequest">
        <wsdl:part name="parameters" element="tns:getObjectCyclesRequest"/>
    </wsdl:message>
    <wsdl:message name="getObjectCyclesResponse">
        <wsdl:part name="parameters" element="tns:getObjectCyclesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetailsRequest">
        <wsdl:part name="parameters" element="tns:getAccountDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetailsResponse">
        <wsdl:part name="parameters" element="tns:getAccountDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccountBalancesRequest">
        <wsdl:part name="parameters" element="tns:getAccountBalancesRequest"/>
    </wsdl:message>
    <wsdl:message name="getAccountBalancesResponse">
        <wsdl:part name="parameters" element="tns:getAccountBalancesResponse"/>
    </wsdl:message>
    <wsdl:message name="getCardFeaturesRequest">
        <wsdl:part name="parameters" element="tns:getCardFeaturesRequest"/>
    </wsdl:message>
    <wsdl:message name="getCardFeaturesResponse">
        <wsdl:part name="parameters" element="tns:getCardFeaturesResponse"/>
    </wsdl:message>
    <wsdl:message name="getCreditAccountRequest">
        <wsdl:part element="tns:getCreditAccountRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCreditAccountResponse">
        <wsdl:part element="tns:getCreditAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCustomerByPersonDataRequest">
        <wsdl:part name="parameters" element="tns:getCustomerByPersonDataRequest"/>
    </wsdl:message>
    <wsdl:message name="getCustomerByPersonDataResponse">
        <wsdl:part name="parameters" element="tns:getCustomerByPersonDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getCardByPhoneRequest">
        <wsdl:part name="parameters" element="tns:getCardByPhoneRequest"/>
    </wsdl:message>
    <wsdl:message name="getCardByPhoneResponse">
        <wsdl:part name="parameters" element="tns:getCardByPhoneResponse"/>
    </wsdl:message>
    <wsdl:message name="getContractListRequest">
        <wsdl:part name="parameters" element="tns:getContractListRequest"/>
    </wsdl:message>
    <wsdl:message name="getContractListResponse">
        <wsdl:part name="parameters" element="tns:getContractListResponse"/>
    </wsdl:message>
    <wsdl:message name="getMerchantStatRequest">
        <wsdl:part name="parameters" element="tns:getMerchantStatRequest"/>
    </wsdl:message>
    <wsdl:message name="getMerchantStatResponse">
        <wsdl:part name="parameters" element="tns:getMerchantStatResponse"/>
    </wsdl:message>
    <wsdl:message name="getRemoteBankingActivityRequest">
        <wsdl:part name="parameters" element="tns:getRemoteBankingActivityRequest"/>
    </wsdl:message>
    <wsdl:message name="getRemoteBankingActivityResponse">
        <wsdl:part name="parameters" element="tns:getRemoteBankingActivityResponse"/>
    </wsdl:message>
    <wsdl:message name="getProductsRequest">
        <wsdl:part name="input" element="tns:getProductsRequest"/>
    </wsdl:message>
    <wsdl:message name="getProductsResponse">
        <wsdl:part name="output" element="tns:getProductsResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransactionsRequest">
        <wsdl:part name="input" element="tns:getTransactionsRequest"/>
    </wsdl:message>
    <wsdl:message name="getTransactionsResponse">
        <wsdl:part name="output" element="tns:getTransactionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getCustomerByCardRequest">
        <wsdl:part name="input" element="tns:getCustomerByCardRequest"/>
    </wsdl:message>
    <wsdl:message name="getCustomerByCardResponse">
        <wsdl:part name="output" element="tns:getCustomerByCardResponse"/>
    </wsdl:message>
    <wsdl:message name="getFinancialOverviewRequest">
        <wsdl:part name="input" element="tns:getFinancialOverviewRequest"/>
    </wsdl:message>
    <wsdl:message name="getFinancialOverviewResponse">
        <wsdl:part name="output" element="tns:getFinancialOverviewResponse"/>
    </wsdl:message>
    <wsdl:message name="getCreditCardPaymentsRequest">
        <wsdl:part name="input" element="tns:getCreditCardPaymentsRequest"/>
    </wsdl:message>
    <wsdl:message name="getCreditCardPaymentsResponse">
        <wsdl:part name="output" element="tns:getCreditCardPaymentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getCustomerInfoByCardRequest">
        <wsdl:part name="input" element="tns:getCustomerInfoByCardRequest"/>
    </wsdl:message>
    <wsdl:message name="getCustomerInfoByCardResponse">
        <wsdl:part name="output" element="tns:getCustomerInfoByCardResponse"/>
    </wsdl:message>
    <wsdl:message name="repaymentDebtOperationRequest">
        <wsdl:part name="input" element="tns:repaymentDebtOperationRequest" />
    </wsdl:message>
    <wsdl:message name="repaymentDebtOperationResponse">
        <wsdl:part name="output" element="tns:repaymentDebtOperationResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaymentInformationRequest">
        <wsdl:part name="input" element="tns:getPaymentInformationRequest" />
    </wsdl:message>
    <wsdl:message name="getPaymentInformationResponse">
        <wsdl:part name="output" element="tns:getPaymentInformationResponse" />
    </wsdl:message>
    <wsdl:message name="getDppInstallmentsRequest">
        <wsdl:part name="input" element="tns:getDppInstallmentsRequest" />
    </wsdl:message>
    <wsdl:message name="getDppInstallmentsResponse">
        <wsdl:part name="output" element="tns:getDppInstallmentsResponse" />
    </wsdl:message>
	<wsdl:message name="getCardholderExtRequest">
		<wsdl:part name="input" element="tns:getCardholderExtRequest" />
	</wsdl:message>
	<wsdl:message name="getCardholderExtResponse">
		<wsdl:part name="output" element="tns:getCardholderExtResponse" />
	</wsdl:message>
    <wsdl:message name="getUnbilledDebtsRequest">
        <wsdl:part name="input" element="tns:getUnbilledDebtsRequest" />
    </wsdl:message>
    <wsdl:message name="getUnbilledDebtsResponse">
        <wsdl:part name="output" element="tns:getUnbilledDebtsResponse" />
    </wsdl:message>

    <wsdl:portType name="InfoWS">
        <wsdl:operation name="auth">
            <wsdl:input message="tns:authRequest"/>
            <wsdl:output message="tns:authResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerInfo">
            <wsdl:input message="tns:getCustomerInfoRequest"/>
            <wsdl:output message="tns:getCustomerInfoResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCards">
            <wsdl:input message="tns:getCardsRequest"/>
            <wsdl:output message="tns:getCardsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getOperations">
            <wsdl:input message="tns:getOperationsRequest"/>
            <wsdl:output message="tns:getOperationsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="generatePinBlock">
            <wsdl:input message="tns:generatePinBlockRequest"/>
            <wsdl:output message="tns:generatePinBlockResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getInvoice">
            <wsdl:input message="tns:getInvoiceRequest"/>
            <wsdl:output message="tns:getInvoiceResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getRateForInst">
            <wsdl:input message="tns:getRateForInstRequest"/>
            <wsdl:output message="tns:getRateForInstResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getPostedTransactions">
            <wsdl:input message="tns:getPostedTransactionsRequest"/>
            <wsdl:output message="tns:getPostedTransactionsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCreditStatement">
            <wsdl:input message="tns:getCreditStatementRequest"/>
            <wsdl:output message="tns:getCreditStatementResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAccounts">
            <wsdl:input message="tns:getAccountsRequest"/>
            <wsdl:output message="tns:getAccountsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountPaymentDetails">
            <wsdl:input message="tns:getAccountPaymentDetailsRequest"/>
            <wsdl:output message="tns:getAccountPaymentDetailsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAddresses">
            <wsdl:input message="tns:getAddressesRequest"/>
            <wsdl:output message="tns:getAddressesResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getDocuments">
            <wsdl:input message="tns:getDocumentsRequest"/>
            <wsdl:output message="tns:getDocumentsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getContacts">
            <wsdl:input message="tns:getContactsRequest"/>
            <wsdl:output message="tns:getContactsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getFlexFields">
            <wsdl:input message="tns:getFlexFieldsRequest"/>
            <wsdl:output message="tns:getFlexFieldsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCardDetails">
            <wsdl:input message="tns:getCardDetailsRequest"/>
            <wsdl:output message="tns:getCardDetailsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerDetails">
            <wsdl:input message="tns:getCustomerDetailsRequest"/>
            <wsdl:output message="tns:getCustomerDetailsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerNtfSettings">
            <wsdl:input message="tns:getCustomerNtfSettingsRequest"/>
            <wsdl:output message="tns:getCustomerNtfSettingsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getObjectLimits">
            <wsdl:input message="tns:getObjectLimitsRequest"/>
            <wsdl:output message="tns:getObjectLimitsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="setAuthScheme">
            <wsdl:input message="tns:setAuthSchemeRequest"/>
            <wsdl:output message="tns:setAuthSchemeResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCardAuthSchemes">
            <wsdl:input message="tns:getCardAuthSchemesRequest"/>
            <wsdl:output message="tns:getCardAuthSchemesResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCardholder">
            <wsdl:input message="tns:getCardholderRequest"/>
            <wsdl:output message="tns:getCardholderResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <wsdl:input message="tns:getServiceProvidersRequest"/>
            <wsdl:output message="tns:getServiceProvidersResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getObjectCycles">
            <wsdl:input message="tns:getObjectCyclesRequest"/>
            <wsdl:output message="tns:getObjectCyclesResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetails">
            <wsdl:input message="tns:getAccountDetailsRequest"/>
            <wsdl:output message="tns:getAccountDetailsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountBalances">
            <wsdl:input message="tns:getAccountBalancesRequest"/>
            <wsdl:output message="tns:getAccountBalancesResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCardFeatures">
            <wsdl:input message="tns:getCardFeaturesRequest"/>
            <wsdl:output message="tns:getCardFeaturesResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCreditAccount">
            <wsdl:input message="tns:getCreditAccountRequest"/>
            <wsdl:output message="tns:getCreditAccountResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerByPersonData">
            <wsdl:input message="tns:getCustomerByPersonDataRequest"/>
            <wsdl:output message="tns:getCustomerByPersonDataResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCardByPhone">
            <wsdl:input message="tns:getCardByPhoneRequest"/>
            <wsdl:output message="tns:getCardByPhoneResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getContractList">
            <wsdl:input message="tns:getContractListRequest"/>
            <wsdl:output message="tns:getContractListResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getRemoteBankingActivity">
            <wsdl:input message="tns:getRemoteBankingActivityRequest"/>
            <wsdl:output message="tns:getRemoteBankingActivityResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getMerchantStat">
            <wsdl:input message="tns:getMerchantStatRequest"/>
            <wsdl:output message="tns:getMerchantStatResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getProducts">
            <wsdl:input message="tns:getProductsRequest"/>
            <wsdl:output message="tns:getProductsResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getTransactions">
            <wsdl:input message="tns:getTransactionsRequest"/>
            <wsdl:output message="tns:getTransactionsResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerByCard">
            <wsdl:input message="tns:getCustomerByCardRequest"/>
            <wsdl:output message="tns:getCustomerByCardResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getFinancialOverview">
            <wsdl:input message="tns:getFinancialOverviewRequest"/>
            <wsdl:output message="tns:getFinancialOverviewResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCreditCardPayments">
            <wsdl:input message="tns:getCreditCardPaymentsRequest"/>
            <wsdl:output message="tns:getCreditCardPaymentsResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerInfoByCard">
            <wsdl:input message="tns:getCustomerInfoByCardRequest"/>
            <wsdl:output message="tns:getCustomerInfoByCardResponse"/>
            <wsdl:fault name="fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="repaymentDebtOperation">
            <wsdl:input message="tns:repaymentDebtOperationRequest"/>
            <wsdl:output message="tns:repaymentDebtOperationResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="paymentInformation">
            <wsdl:input message="tns:getPaymentInformationRequest"/>
            <wsdl:output message="tns:getPaymentInformationResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="getDppInstallments">
            <wsdl:input message="tns:getDppInstallmentsRequest"/>
            <wsdl:output message="tns:getDppInstallmentsResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
	    <wsdl:operation name="getCardholderExt">
		    <wsdl:input message="tns:getCardholderExtRequest"/>
		    <wsdl:output message="tns:getCardholderExtResponse"/>
		    <wsdl:fault message="tns:Fault" name="fault"/>
	    </wsdl:operation>
        <wsdl:operation name="getUnbilledDebts">
            <wsdl:input message="tns:getUnbilledDebtsRequest"/>
            <wsdl:output message="tns:getUnbilledDebtsResponse"/>
            <wsdl:fault message="tns:Fault" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SoapBinding" type="tns:InfoWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="auth">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/auth"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerInfo">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCustomerInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCards">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCards"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOperations">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getOperations"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generatePinBlock">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/generatePinBlock"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInvoice">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getInvoice"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPostedTransactions">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getPostedTransactions"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCreditStatement">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCreditStatement"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccounts">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getAccounts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountPaymentDetails">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getAccountPaymentDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAddresses">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getAddresses"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocuments">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getDocuments"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getContacts">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getContacts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFlexFields">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getFlexFields"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRateForInst">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getRateForInst"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCardDetails">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCardDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerDetails">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCustomerDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerNtfSettings">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCustomerNtfSettings"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getObjectLimits">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getObjectLimits"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAuthScheme">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/setAuthScheme"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCardAuthSchemes">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCardAuthSchemes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCardholder">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCardholder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getServiceProviders"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getObjectCycles">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getObjectCycles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetails">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getAccountDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountBalances">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getAccountBalances"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCardFeatures">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCardFeatures"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCreditAccount">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCreditAccount"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerByPersonData">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCustomerByPersonData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCardByPhone">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCardByPhone"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getContractList">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getContractList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRemoteBankingActivity">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getRemoteBankingActivity"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMerchantStat">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getMerchantStat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getProducts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTransactions">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getTransactions"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerByCard">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCustomerByCard"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFinancialOverview">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getFinancialOverview"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCreditCardPayments">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCreditCardPayments"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerInfoByCard">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCustomerInfoByCard"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="repaymentDebtOperation">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/repaymentDebtOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="paymentInformation">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/paymentInformation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDppInstallments">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getDppInstallments"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
	    <wsdl:operation name="getCardholderExt">
		    <soap:operation soapAction="http://bpc.ru/SVXP/integration/getCardholderExt"/>
		    <wsdl:input>
			    <soap:body use="literal"/>
		    </wsdl:input>
		    <wsdl:output>
			    <soap:body use="literal"/>
		    </wsdl:output>
		    <wsdl:fault name="fault">
			    <soap:fault use="literal" name="fault"/>
		    </wsdl:fault>
	    </wsdl:operation>
        <wsdl:operation name="getUnbilledDebts">
            <soap:operation soapAction="http://bpc.ru/SVXP/integration/getUnbilledDebts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="InfoWS">
        <wsdl:port binding="tns:SoapBinding" name="InfoWSSOAP">
            <soap:address location="http://localhost:7001/sv/InfoWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
